<div class="in">
	<div class="left">
			<?php e($html->link('privacy policy',array('controller'=>'static_pages','action'=>'page','privacy_policy')))?>
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;  
			<?php e($html->link('terms of use',array('controller'=>'static_pages','action'=>'page','terms_of_use')))?>
	</div>
	<div class="right">&copy;copyright <?php echo date('Y'); ?> www.guletcharterdirect.co.uk</div>
	<div class="clr"></div>
</div>