		<div class="adminrightinner">
                        <form id="Projectform" enctype="multipart/form-data" method="post" action="<?php echo SITE_URL ?>project/admin_changeproposalstatus/<?php echo($this->data['Proposal']['id']);?>" accept-charset="utf-8">
			   <?php echo($this->Form->hidden('Proposal.id'));?>
			<div class="tablewapper2 AdminForm">	
				<table border="0" class="Admin2Table" width="100%">		
					<tr>

              
                                              <td>Proposal Current Status</td> 
						<td>



<?php  

    if($this->data['Proposal']['ispublic'] == 'Y') {
    echo("Public");
   }else{
   echo("Private");
   }
 ?>



                                             </td>		
					</tr>
					<tr>
						<td valign="middle" class="Padleft26">Change Project Status</td>
						<td>

								<select class="form-control active" name="data[Proposal][ispublic]" id="project_start_date" value="<?php echo($this->data['Proposal']['ispublic']);?>">
									
									<?php if($this->data[Proposal][ispublic] =='N'){?>
									<option disabled selected>Private</option>
									<?php }else{?>
									<option >Private</option>
									<?php }?>
									<?php if($this->data[Proposal][ispublic] =='Y'){?>
									<option disabled selected>Public</option>
									<?php }else{?>
									<option >Public</option>
									<?php }?>



								</select>

                                                      </td>
					</tr>
                                         <tr></tr>
                                         <tr><td>Please Enter these to make Public: Y</br>Please Enter these to make Private: N</td></tr>
                                              

				</table>
			</div>
			<div class="buttonwapper">
				<div><input type="submit" value="Submit" class="submit_button" /></div>
				<div class="cancel_button"><?php echo $this->Html->link("Cancel", "/admin/project/admin_proposalreview/", array("title"=>"", "escape"=>false)); ?></div>
			</div>
			</form>	
		</div>