	
	<div class="fieldset" style="display: block;">
    <div class="adminrightinner" style="padding:0px;">

            <div class="tablewapper2">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="Admin2Table">	
                    <tr class="head">
                        <td width="5%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">Id</td>
                        <td  width="10%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">Date</td>
                        <td  width="25%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">Project Title</td>
                        <td  width="15%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">URL for GUILD Consultant</td>
                        <td  width="15%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">URL for Outsider Proposal Creation</td>
                        <td  width="20%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">Status</td>

                        <td width="10%" align="center" valign="middle" class="Bdrrightbot Padtopbot6">Action</td>
                    </tr>
                    <?php 
                    if(!empty($projects) && count($projects)>0)
                    { 
                        foreach($projects as $msg)
                        {    
                     $project_url = $msg['Project']['project_url'];
                     if($msg['Project']['user_id'] !=''){
                        ?>
                        <tr>
                            <td width="5%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;"><?php echo $msg['Project']['id']; ?></td>
                            <td width="10%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;"><?php echo ($msg['Project']['created']); ?></td>

                            <td  width="25%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6"><?php echo($this->Html->link($msg['Project']['title'],SITE_URL.'project/index/'.$project_url,array('escape'=>true, ))); ?></td>

                             <td  width="15%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">
                            <?php 
                              $link = SITE_URL."project/index/".$project_url;
                              echo($this->Html->link("URL for consultant",$link,array('escape'=>false,'target'=>_blank)));?></td>

                           <td  width="15%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6"><?php 
                              $link = SITE_URL."project/index1/".$project_url;
                              echo($this->Html->link("Public URL",$link,array('escape'=>false,'target'=>_blank)));?></td> 



                             
                                 
<td width="20%" align="center" valign="middle" class="Bdrrightbot Padtopbot6"> 
<?php  

    if($msg['Project']['status'] == 0) {
    echo("Project created by Client");
   }else if($msg['Project']['status'] == 1){
    echo("Project posted by Client");
   }else if($msg['Project']['status'] == 2){
    echo("Client Partner call scheduled");
   }else if($msg['Project']['status'] == 3){
    echo("Project submitted for Client approval");
   }else if($msg['Project']['status'] == 4){
    echo("Project approved by Client");
   }else if($msg['Project']['status'] == 5){
    echo("$500 Deposit Done");
   }else if($msg['Project']['status'] == 6){
    echo("Proposal submitted");
   }else if($msg['Project']['status'] == 7){
    echo("Proposal approved by Client");
   }else if($msg['Project']['status'] == 8){
    echo("Project started");
   }else{
   echo("Project completed");
   }
 ?>
</td>    
                                                   
                            <td width="10%" align="center" valign="middle" class="Bdrbot ActionIcon">
                             <?php echo($this->Admin->getActionImage(array('edit' => array('controller' => 'project', 'action' => 'project_adminedit')),$msg['Project']['id'])); ?>
                              <?php echo($this->Admin->getActionImage(array('delete' => array('controller' => 'project', 'action' => 'deleteproject', 'token' => 'delete')), $msg['Project']['id'])); ?>
                              <a href="<?php echo(SITE_URL);?>project/admin_changeprojectstatus/<?php echo($msg['Project']['id']);?>"><img src="<?php echo(SITE_URL);?>img/admin/change_password.jpg" class="viewstatusimg1" title="change project status" alt="change project status" height="18" width="18"></a>
                              </td>
                            
                        </tr>	
                   <?php
                        }}
                    }else{ ?>
                   <tr>
                        <td colspan="3" width="15%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">Record not found</td>           
                    </tr>
                   <?php } ?>   
                </table>
            </div>
            <?php
     //   }
        ?>

    </div>
</div>
<div class="clr"></div>
<?php //echo $this->element('admin/admin_paging', array("paging_model_name" => "NewsLetter", "total_title" => "NewsLetter")); ?>	 