  <link rel="stylesheet" href="<?php echo(SITE_URL)?>js/chosen/chosen.css">
  <link rel="stylesheet" href="<?php echo(SITE_URL)?>css/project.css">
  
  <div id="inner-content-wrapper">
  	<div id="inner-content-box" class="pagewidth" style="margin-top:60px; margin-bottom:30px;">
  		<div style="display: block; height: 60px; margin-bottom: 20px; border-bottom: 1px solid rgb(188, 188, 188);">
			<div style="float: left;">
				<h1 style="font-size: 20px; border: 0px;">Post a project</h1>
				<sub class="MGSub">Free & confidential</sub> 
			</div>
			<div style="float: right;">
				<table class="step3">
				    <tr>
				        <td><span>1</span></td>
				        <td>Create</td>
				        <td><span>2</span></td>
				        <td>Preview</td>
				        <td><span style="background-color: #F13031;">3</span></td>
				        <td style="color: #F13031;">Post</td>
				    </tr>
				</table>
			</div>
			<br/>	
		</div>
						
        <div id="" style="background:url('<?php echo(SITE_URL)?>img/media/home-banner4A.jpg') 0 0 no-repeat;border:0px; min-height: 500px;">
        <form id="Appyform" enctype="multipart/form-data" method="post" action="<?php echo SITE_URL ?>project/choose/<?php echo($projectId);?>" accept-charset="utf-8">
        	<?php echo($this->Form->hidden('Project.id',array('value'=>$projectId)));?>
            <div id="spotlight1" class="pagewidth1">
                <div id="find-mentor1">
                <h1>Consult leading business experts.</h1>
                <div id="text-box1">
                    <div id="enter-keywords">
                    	<div id="enter-text1">
	                       <select id="Multi-select" data-placeholder="Enter key areas of expertise" multiple class="chosen-select" style="width:664px; min-height: 300px;" tabindex="18">
					            <option value=""></option>
								<?php foreach ($keywords as $key) {?>
										<option value="<?php echo($key['Topic']['autocomplete_text'])?>"><?php echo($key['Topic']['autocomplete_text'])?></option>
								<?php }?>
					          </select>
				          </div>
				          
                    </div>
                    <?php echo($this->Form->hidden('Project.select',array('value'=>'', 'id'=>'hiddenSelect')));?>
                    <div id="search">
                        <input class="searchSubmit" type="submit" value="Search" id="apply"/>
                    </div>       
                </div>
                </div>  
            </div>
        </form>
        	<div style="margin-top: 40px; border-bottom: 1px solid #c7c7c7; border-top: 1px solid #c7c7c7; background-color: #f2f1f1;">
	        	<div style="padding-top: 10px; padding-left: 10px;">
		        	<p style="font-weight: bold; line-height: 140%; padding-bottom: 8px; font-size: 15px;"> Send your project requirements to up to 5 relevant consultants </p>
			        <p>	
			        	<span style="font-weight: bold;">A.</span> Enter multiple areas of expertise above to narrow your search<br/>
			        	<span style="font-weight: bold;">B.</span> On the search results page, check the consultants you want to send your requirements to (maximum 5)</span><br/>
			        	<span style="font-weight: bold;">C.</span> Next, you can make your project searchable by other consultants by making it "Public" (Optional step)</span><br/>
			        	<span style="font-weight: bold;">D.</span> Review and post</span>
			        </p>
		        </div>
	        </div>
	        
	        <div id="Apply" style="float: right; margin-top: 180px;">
				<input id="applyNext1" class="mgButton" type="submit" value="Next" disabled="disabled">
			</div>
		
        </div>
    </div>
</div>

	<script type="text/javascript">
 	var URL = '<?php echo(SITE_URL); ?>fronts/search';

 	jQuery(document).ready(function(){

 		var username = jQuery('#username');

 		username.autocomplete({
	 		minLength    : 1,
	 		source        : URL
 		});

 	});
 
  </script>
  
  <script src="<?php echo(SITE_URL);?>js/chosen/chosen.jquery.js" type="text/javascript"></script>
  <script src="<?php echo(SITE_URL);?>js/chosen/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">

     jQuery('#Multi-select').chosen();

     jQuery('#apply').click(function(){
     var myValues = jQuery('#Multi-select').chosen().val();

     jQuery('#hiddenSelect').val(myValues);

     jQuery('#Appyform').submit();
     
 	});

  </script>
  
  
  <style>
/** //file:app/webroot/css/autocomplete.css **/
/** search container **/
.users{
	width:640px;
	margin:0 auto;
	max-height:180px;
	overflow:auto;
}
#content p{
	width:300px;
	margin:0 auto;
	text-align:center;
	max-height:180px;
	overflow:auto;
}
#username{
	border:1px solid silver;
	clear:none;
	width:400px;
	max-height:180px;
	overflow:auto;
}
.input{
	clear:none;
	float:left;
}
.submit{
	clear:none;
	float:right;
	padding:20px 0;
}
/* Styling the markup generated by the autocomplete jQuery UI widget */

ul.ui-autocomplete{
	width:200px;
	background-color:white;
	border:1px solid gray;
	margin-left:-3px !important;
	margin-right:1px !important;
	margin-top:-4px;
	font-family:Helvetica, Arial,sans-serif;max-height:180px;
	overflow:hidden;
	max-height:160px;
}
ul.ui-autocomplete li{
	list-style:none;
	border-top:1px solid white;
	border-left:1px solid white;
	margin:0;
	max-height:180px;
	overflow:auto;
}
ul.ui-autocomplete li:first-child{
	border-top:none;
}
ul.ui-autocomplete li:last-child{
	border-bottom:none;
}
ul.ui-autocomplete li a{
	border:none !important;
	text-decoration:none !important;
	padding:2px;
	display:block;
	color:black;
}
ul.ui-autocomplete li img{
	margin-right:4px;
}
ul.ui-autocomplete li span{
}
#ui-active-menuitem{
	background-color:#efefef;
	cursor:pointer;
}
</style>
  
<script type="text/javascript" src="http://j.maxmind.com/app/geoip.js"></script>
<script type="text/javascript">
	var conntry_code 		= geoip_country_code();
	var geoip_city 	 		= geoip_city();	
	var geoip_region_name 	= geoip_region_name();	
	jQuery(document).ready(function(){
		jQuery.ajax({
			url:SITE_URL+'fronts/getStateCode',
			type:'post',
			dataType:'json',
			data:'state_name='+geoip_region_name,
			success:function(res){
				if(res.value !=''){
					state_name = res.value;	
					if(conntry_code =='US'){
						jQuery(".newyork").val(geoip_city+', '+state_name);
					}else{
						jQuery(".newyork").val('International');
					}					
				}else{
					if(conntry_code =='US'){
						jQuery(".newyork").val(geoip_city+', '+geoip_region_name);
					}else{
						jQuery(".newyork").val('International');
					}
				}
			}
		});
		
	});
</script>
  