<div id="inner-content-wrapper" class="page-content">
    <div id="inner-content-box" class="container">
        <div class="Profile_page_container">
            <div id="pro-creation">
            </div>

            <div id="Apply" class="btn-inline">
               <a href="javascript:javascript:history.go(-1);" class="reset" style="" id="previewlink" style="margin-right:10px;">Cancel</a>
                
                <input id="closeButton" value="Send invoice" class="btn-red submitProfile" type="submit" style="margin-right:14px;" onclick="send_invoice();"/>
            </div>
           </br>
            <div class="mentor_details">
                <iframe src="<?php echo (SITE_URL);?>/project/invoicepdf4" width="100%" height="800px;"></iframe>

                <iframe src="<?php echo (SITE_URL);?>/project/invoicepdf3" width="0px" height="0px" ></iframe>
                <iframe src="<?php echo (SITE_URL);?>/project/invoicepdf1" width="0px" height="0px" ></iframe>




            </div>
            <div id="Apply" class="btn-inline">
               <a href="javascript:javascript:history.go(-1);" class="reset" style="" id="previewlink" style="margin-right:10px;">Cancel</a>
                
                <input id="closeButton" value="Send invoice" class="btn-red submitProfile" type="submit" style="margin-right:14px;" onclick="send_invoice();"/>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade invoice-modal" id="send-invoice" tabindex="-1" role="dialog" aria-labelledby="send-invoice">
    <div class="modal-dialog" role="document">        
        <div class="modal-content">
            <!--<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Invoice</h5>
            </div> -->
            <div class="modal-body text-center">
                <p>Your invoice has been successfully sent.</p>
            </div>

        </div>
    </div>
</div>

<!-- js link -->
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery_validate_min_js.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/parallax.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jssor.slider-22.0.15.mini.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/slick.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/quill.min.js"></script>
<script type="text/javascript">
    function send_invoice(){
        var id = "1";
    	jQuery.ajax({
    		url:SITE_URL+'/project/sendinvoice',
    		type:'post',
            dataType:'json',
    		data:'id='+id,
    		success:function(res){
                jQuery("#send-invoice").modal('show');
                setTimeout(function(){
                    window.location.href = res;
                }, 1000);
    		}
    	});
    }
</script>