<div id="inner-content-wrapper" class="page-content">
    <div id="inner-content-box" class="container">
        <div class="Profile_page_container">
            <div id="pro-creation">
            </div>


<?php 
                            $sending= $this->Session->read('sending');
                            $this->Session->delete('sending');
?>

            <div id="Apply" style="float: right; margin-bottom:20px;">
             <a href="<?php echo($sending);?>">Back to project page</a>
            </div>

            <div class="mentor_details" style="margin-top:0px; float:none; margin-bottom: 35px;">
                <iframe src="<?php echo (SITE_URL);?>/project/invoicepdf3" width="0px" height="0px"></iframe>
                <iframe src="<?php echo (SITE_URL);?>/project/invoicepdf4" width="100%" height="800px;"></iframe>
                  
            </div>
            <div id="Apply" style="float: right; margin-bottom:20px;">
                <input id="closeButton" value="Back to project page" class="btn-red submitProfile" type="submit" style="margin-bottom:10px; margin-left: 10px;" onclick="window.location.href='<?php echo($sending);?>'">
            </div>
        </div>
    </div>
</div>

