<div class="container create-section pad0">
	<div style="margin-top:130px;margin-bottom:150px;">
               <?php if($this->data['Project']['status'] == 3 || $this->data['Project']['status'] == 4 || $this->data['Project']['status'] == 5 || $this->data['Project']['status'] == 6 || $this->data['Project']['status'] == 7 || $this->data['Project']['status'] == 8) {?>
		<div class="progresbar" style="margin: 0 0 30px;">
			<div class="col-sm-8 col-sm-offset-2">
				<ul>
					<li class="active">
						<span>1</span>
						<div class="title">
							<p>Requirement Submitted</p>
						</div>
					</li>
					<li>
						<span>2</span>
						<div class="title">
							<p>Project approved</p>
						</div>
					</li>
					<li>
						<span>3</span>
						<div class="title">
							<p>Proposal accepted</p>
						</div>
					</li>
					<li>
						<span>4</span>
						<div class="title">
							<p>Project started</p>
						</div>
					</li>
					<li>
						<span>5</span>
						<div class="title">
							<p>Project completed</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
                <?php }?>
                <?php 
                  $fname =  $this->Session->read('FirstName');
                  $lname =  $this->Session->read('LastName');
                  $email =  $this->Session->read('Email');
                  /**$this->Session->delete('FirstName');
                  $this->Session->delete('LastName');
                  $this->Session->delete('Email');**/
                  $url = "https://calendly.com/guild/guild-client-partner-call?name=".$fname."%20".$lname."&email=".$email;

                ?>
		<center><h2 class="project-heading">Schedule Client Partner Call</h2></center>
		<!-- Calendly inline widget begin -->
		<div class="calendly-inline-widget" data-url="<?php echo($url);?>" style="min-width:320px;height:580px;"></div>
                 
		<!-- Calendly inline widget end -->
	</div>

<div id="loader" ><img src="<?php echo(SITE_URL)?>sanchit/images/spinner.gif"></div> 
<style>
#loader {

    position: absolute;
    color: #000;
    top: 47%;
    left: 47%;
    z-index: 999;
	height:100px;
	width:100px;

}
</style>
<script async>
$(window).on('load',function(){
$('#loader').hide(); 
});
</script>




	<!-- js link -->
	<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
       

</div>