<div class="breadcrumb clearfix">
    <a href="<?php echo SITE_URL; ?>/admin/users/dashboard" style="color:#555"><?php __('Home');?></a> &raquo
    <?php echo $html->getCrumbs('&raquo'); ?>
</div>
<div class="clear"></div>
