<?php echo($this->Html->script(array('fancybox/jquery.fancybox-1.3.4.pack', 'fancybox/jquery.mousewheel-3.0.4.pack'), false)); ?>
<?php //echo($this->Html->css(array('jquery.fancybox-1.3.4')), false); ?>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.addAttribute').fancybox();
    });		
</script>
<div class="fieldset">
	<h3 class="legend">
		Search Results
		<div class="total" style="float:right"> Total Members : <?php echo(count($data)); ?>
		</div>
	</h3>
 <div class="adminrightinner" style="padding:0px;">
<?php echo($this->Form->create('User', array('name' => 'Admin', 'url' => array('admin' => true,'controller' => 'members', 'action' => 'admin_featured')))); ?>   
	   <input type="hidden" name="pageAction" id="pageAction"/>	 
       <?php
	   if(!empty($data)){
	   
	$exPaginator->options = array('url' => $this->passedArgs);
       $this->Paginator->options(array('url' => $this->passedArgs));?> 
	   
	<div class="tablewapper2">
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="Admin2Table">	
		<tr class="head">	
              <td width="10%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">Status</td>
              
		<td width="30%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">Name</td>
		<td width="30%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">Emai</td>
		<td width="30%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">Created Date</td>
		
	 </tr>	
	 <?php
           $count = 0;
	   foreach($data as $value){		 
	 ?>
         <input type="hidden" name="data[User][Featured_member][<?php echo($count)?>][user_id]" value="<?php echo($value['User']['id']);?>" id="0member_id" />
	 <tr>	
		<td align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">
		<?php
			if($value['User']['id'] == $featuredDataResult[0]['FeaturedMentor']['user_id']){
				echo $this->Html->link($this->Html->image("active.png", array("title" => "Featured Mentor", "alt" => "Featured Mentor", "border" => 0)),array('controller'=>'members','action'=>'deactivate_featured',$value['User']['id']),array('escape'=>false));
			      echo($this->Form->input("Featured_member][".$count."][order]", array('div'=>false,'label'=>false, "style"=>"width:20px;", 'value'=>$featuredDataResult[0]['FeaturedMentor']['order'])));
                     } elseif($value['User']['id'] == $featuredDataResult[1]['FeaturedMentor']['user_id']){
                           echo $this->Html->link($this->Html->image("active.png", array("title" => "Featured Mentor", "alt" => "Featured Mentor", "border" => 0)),array('controller'=>'members','action'=>'deactivate_featured',$value['User']['id']),array('escape'=>false));
			      echo($this->Form->input("Featured_member][".$count."][order]", array('div'=>false,'label'=>false, "style"=>"width:20px;", 'value'=>$featuredDataResult[1]['FeaturedMentor']['order'])));
                     } elseif($value['User']['id'] == $featuredDataResult[2]['FeaturedMentor']['user_id']){
                           echo $this->Html->link($this->Html->image("active.png", array("title" => "Featured Mentor", "alt" => "Featured Mentor", "border" => 0)),array('controller'=>'members','action'=>'deactivate_featured',$value['User']['id']),array('escape'=>false));
			      echo($this->Form->input("Featured_member][".$count."][order]", array('div'=>false,'label'=>false, "style"=>"width:20px;", 'value'=>$featuredDataResult[2]['FeaturedMentor']['order'])));
                     } elseif($value['User']['id'] == $featuredDataResult[3]['FeaturedMentor']['user_id']){
                           echo $this->Html->link($this->Html->image("active.png", array("title" => "Featured Mentor", "alt" => "Featured Mentor", "border" => 0)),array('controller'=>'members','action'=>'deactivate_featured',$value['User']['id']),array('escape'=>false));
			      echo($this->Form->input("Featured_member][".$count."][order]", array('div'=>false,'label'=>false, "style"=>"width:20px;", 'value'=>$featuredDataResult[3]['FeaturedMentor']['order'])));
                     } elseif($value['User']['id'] == $featuredDataResult[4]['FeaturedMentor']['user_id']){
                           echo $this->Html->link($this->Html->image("active.png", array("title" => "Featured Mentor", "alt" => "Featured Mentor", "border" => 0)),array('controller'=>'members','action'=>'deactivate_featured',$value['User']['id']),array('escape'=>false));
			      echo($this->Form->input("Featured_member][".$count."][order]", array('div'=>false,'label'=>false, "style"=>"width:20px;", 'value'=>$featuredDataResult[4]['FeaturedMentor']['order'])));
                     } elseif($value['User']['id'] == $featuredDataResult[5]['FeaturedMentor']['user_id']){
                           echo $this->Html->link($this->Html->image("active.png", array("title" => "Featured Mentor", "alt" => "Featured Mentor", "border" => 0)),array('controller'=>'members','action'=>'deactivate_featured',$value['User']['id']),array('escape'=>false));
			      echo($this->Form->input("Featured_member][".$count."][order]", array('div'=>false,'label'=>false, "style"=>"width:20px;", 'value'=>$featuredDataResult[5]['FeaturedMentor']['order'])));
                     } elseif($value['User']['id'] == $featuredDataResult[6]['FeaturedMentor']['user_id']){
                           echo $this->Html->link($this->Html->image("active.png", array("title" => "Featured Mentor", "alt" => "Featured Mentor", "border" => 0)),array('controller'=>'members','action'=>'deactivate_featured',$value['User']['id']),array('escape'=>false));
			      echo($this->Form->input("Featured_member][".$count."][order]", array('div'=>false,'label'=>false, "style"=>"width:20px;", 'value'=>$featuredDataResult[6]['FeaturedMentor']['order'])));
                     } elseif($value['User']['id'] == $featuredDataResult[7]['FeaturedMentor']['user_id']){
                           echo $this->Html->link($this->Html->image("active.png", array("title" => "Featured Mentor", "alt" => "Featured Mentor", "border" => 0)),array('controller'=>'members','action'=>'deactivate_featured',$value['User']['id']),array('escape'=>false));
			      echo($this->Form->input("Featured_member][".$count."][order]", array('div'=>false,'label'=>false, "style"=>"width:20px;", 'value'=>$featuredDataResult[7]['FeaturedMentor']['order'])));
                      
                      }else{
				echo $this->Html->link($this->Html->image("deactive.png", array("title" => "No featured Member", "alt" => "No featured Member", "border" => 0)),array('controller'=>'members','action'=>'featured',$value['User']['id']),array('escape'=>false));
				echo($this->Form->input("Featured_member][".$count."][order]", array('div'=>false,'label'=>false, "style"=>"width:20px;", 'value'=>$featuredDataResult['FeaturedMentor']['order'])));
			}
		?>
		</td>	

		<td align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">
		<?php echo(ucwords($value['UserReference']['first_name']).' '.$value['UserReference']['last_name']);?></td>
		<td align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">
			<?php echo($value['User']['username']);?>
		</td>
		<td align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">
			<?php echo($value['User']['created']);?>
		</td>

	 </tr>	
	 <?php
          $count++;
	  }
	 ?>
	 </table>
	 </div>
</br>
 <div><input type="submit" value="Submit" class="submit_button" /></div>
	 <?php
           echo($this->Form->end());
	 }
	 ?>
		
</div>
</div>
<div class="clr"></div> 
<?php //echo $this->Element('Admin/admin_paging', array("paging_model_name" => "FeaturedMentor", "total_title" => "User")); ?>