<div id="inner-content-wrapper" class="page-content">
    <div id="inner-content-box" class="container">
        <div class="Profile_page_container">
            <div id="pro-creation">
                <h1 style="text-align:center;margin-top:-30px;">CASE STUDY PDF</h1>
                <hr/>
            </div>
            <div class="mentor_details">  
            	<iframe src="<?php echo SITE_URL;?>members/preview_pdf/" width="100%" height="800px;"></iframe>
               <iframe src="<?php echo SITE_URL;?>members/preview_pdf1/" width="0px" height="0px"></iframe>
			</div>
        </div>
        
         <div id="Apply" style="float: right; margin-top:30px;">
         	<input id="closeButton" value="Close" class="submitProfile" type="submit" style="margin-bottom:10px; margin-left: 10px;" onclick="close_window();">
    	</div>
    
    </div>
    

</div>
 
<script type="text/javascript">
 function close_window() {

	var ww = window.open(window.location, '_self'); 
	ww.close();
  }
</script>

<!-- js link -->
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery_validate_min_js.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/parallax.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jssor.slider-22.0.15.mini.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/slick.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/quill.min.js"></script>