<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<?php 

$this->layout= 'defaultnew';
?>

<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
       <div id="content-submit">           
			<?php echo $this->data['StaticPage']['description'];?>

	  </div>
     </div>
</div>