

                                  <?php
					$socialCount=0;
					$linkedinURL = '';
  
					while(count($this->data['Social'])>$socialCount)
					{
					
					if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'http'))!==false)
						{
							$link=$this->data['Social'][$socialCount]['social_name'];
						}
						else
						{
							$link="https://".$this->data['Social'][$socialCount]['social_name'];
						}
						
						$icon = $this->General->getIcon($this->data['Social'][$socialCount]['social_name']);
						if($icon == 'media/linkedin.png')
							$linkedinURL = $link;

						$socialCount++;
						}
				     ?>
<div id="inner-content-wrapper">
    <div id="inner-content-box" >
 <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
  <script type="IN/MemberProfile" data-id="<?php echo($linkedinURL);?>" data-format="inline" data-width="550"></script>
</div>
</div>