<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
             <?php if($this->Session->check('invited_member') && $this->Session->read('invited_member') != '')
                  {
                    $invited_visitor = $this->Session->read('invited_member');
              }?>
<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
       <div id="content-submit">           
			<?php echo $this->data['StaticPage']['description'];?>
			<div id ="app-button" style="margin-bottom: 80px;">	
               <?php if($this->Session->read('Auth.User.id') == '' && $invited_visitor !='' ) {?>
                  <input type="button" value="Send Invitation" onclick='javascript:claimProfile();'>
            <?php }elseif($this->Session->read('Auth.User.id') ==''){?>
                  <input type="button" value="Send Invitation" onclick='javascript:loginpopup();'>
                <?php }else{?>
                    <input type="button" value="Send Invitation" onclick='javascript:invitation_popup();'>               	
	         <?php }?>	
				<?php  echo($this->Html->link('Cancel',array('controller'=>'users','action'=>'my_account'),array('class'=>'backRes'))); ?>
				
			</div>
	  </div>
     </div>
</div>