<div class="fieldset">
    <div class="adminrightinner" style="padding:0px;">

            <div class="tablewapper2">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="Admin2Table">	
                    <tr class="head">
                        <td width="5%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">Id</td>
                        <td  width="65%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">Autocomplete expertise</td>
                        <td align="center" valign="middle" class="Bdrrightbot Padtopbot6">Action</td>
                    </tr>
                    <?php 
                    if(!empty($data) && count($data)>0)
                    { 
                        foreach($data as $msg)
                        {    
                        
                        ?>
                        <tr>
                            <td width="5%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;"><?php echo $msg['Topic']['id']; ?></td>
                            <td  width="65%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6"><?php echo $msg['Topic']['autocomplete_text']; ?>  </td>
                            <td align="center" valign="middle" class="Bdrbot ActionIcon"><?php e($admin->getActionImage(array('edit'=>array('controller'=>'reports', 'action'=>'editautocompletetext'),'delete' => array('controller' => 'reports', 'action' => 'deleteautocompletetext', 'token' => 'delete')), $msg['Topic']['id'])); ?></td>  
                        </tr>	
                   <?php
                        }
                    }else{ ?>
                   <tr>
                        <td colspan="3" width="15%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">Record not found</td>           
                    </tr>
                   <?php } ?>   
                </table>
            </div>
            <?php
     //   }
        ?>

    </div>
</div>
<div class="clr"></div>
<?php //echo $this->element('admin/admin_paging', array("paging_model_name" => "NewsLetter", "total_title" => "NewsLetter")); ?>	 