	<div class="adminrightinner">
		<?php echo($this->Form->create($modelName, array('url' => array('controller' => $controllerName, 'action' => 'admin_searchvariableedit'))));?>
		<?php echo($this->Form->input('id'));?>
		<div class="tablewapper2 AdminForm"><?php echo($this->Element('Setting/admin_searchvariableedit'));?></div>
		<div class="buttonwapper">
			<div><input type="submit" value="Submit" class="submit_button" /></div>
			<div class="cancel_button"><?php echo $this->Html->link("Cancel", "/settings/admin_searchvariables/", array("title"=>"", "escape"=>false)); ?></div>
		</div>
		<?php  echo($this->Form->end());	?>	
	</div>

