.jssora05l,
.jssora05r {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('../images/portfolio/a17.png') no-repeat;
    overflow: hidden
}
.jssora05l {
    background-position: -10px -40px
}
.jssora05r {
    background-position: -70px -40px
}
.jssora05l:hover {
    background-position: -130px -40px
}
.jssora05r:hover {
    background-position: -190px -40px
}
.jssora05l.jssora05ldn {
    background-position: -250px -40px
}
.jssora05r.jssora05rdn {
    background-position: -310px -40px
}
.jssora05l.jssora05lds {
    background-position: -10px -40px;
    opacity: .3;
    pointer-events: none
}
.jssora05r.jssora05rds {
    background-position: -70px -40px;
    opacity: .3;
    pointer-events: none
}
.jssort01 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px
}
.jssort01 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none
}
.jssort01 .w {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.jssort01 .c {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
    box-sizing: content-box;
    background: url('../images/portfolio/t01.png') -800px -800px no-repeat;
    _background: none
}
.jssort01 .pav .c {
    top: 2px;
    _top: 0;
    left: 2px;
    _left: 0;
    width: 68px;
    height: 68px;
    border: #000 0 solid;
    _border: #fff 2px solid;
    background-position: 50% 50%
}
.jssort01 .p:hover .c {
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border: #fff 1px solid;
    background-position: 50% 50%
}
.jssort01 .p.pdn .c {
    background-position: 50% 50%;
    width: 68px;
    height: 68px;
    border: #000 2px solid
}
* html .jssort01 .c,
* html .jssort01 .pdn .c,
* html .jssort01 .pav .c {
    width: 72px;
    height: 72px
}
.jssort01{
    position:absolute;
    left:0px;
    bottom:0px;
    width:800px;
    height:100px;
}
.jssora05l{
    top:158px;
    left:8px;
    width:40px;
    height:40px;
}
.jssora05r{
    top:158px;
    right:8px;
    width:40px;
    height:40px;
}
.loading-slider{
    position: absolute; 
    top: 0px; 
    left: 0px;
}
.filter-slider{
    filter: alpha(opacity=70); 
    opacity: 0.7; 
    position: absolute; 
    display: block; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%;
}
.filter1-slider{
    position:absolute;
    display:block;
    //background:url('images/portfolio/loading.gif') no-repeat center center;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
.sliders{
    cursor: default; 
    position: relative; 
    top: 0px; 
    left: 0px; 
    width: 800px; 
    height: 356px; 
    overflow: hidden;
}
#jssor_1{

}