<?php e($html->css(array('regist_popup'))); ?>
<?php if(isset($status) && $status=='1'): ?>
<div id="registerationFm" style="width:88%; margin:40px 0 0 25px;">
		<table style="padding:0px;padding-top:50px 0 0 40px;border:0px solid red;width:100%;">
			<tr>
				<td style="float:left;">
				You have subscribed to Mentors Guild newsletter.		
				</td>
			</tr>
		</table>
</div>
<div style="clear:both;"></div>
<?php endif;?>

<?php if(isset($status) && $status=='2'): ?>
<div id="registerationFm" style="width:88%; margin:40px 0 0 25px;">
		<table style="padding:0px;padding-top:10px;border:0px solid red;width:100%;">
			<tr>
				<td style="float:left;">
				You have unsubscribed to Mentors Guild newsletter.		
				</td>
			</tr>
		</table>
</div>
<div style="clear:both;"></div>
<?php endif;?>