        <?php 
					  	$urlk1 = ($this->data['User']['url_key']);
						$displink=SITE_URL.strtolower($urlk1); 

			  $modeTypeFaceToFace=$modeTypePhone=$modeTypeVideo='FALSE' ;
			  $modeValue1=$modeValue2=$modeValue3='';
			  if(isset($this->data['Communication'][0]['mode_type']) && $this->data['Communication'][0]['mode_type'] != '')
			  {
			  		
					if($this->data['Communication'][0]['mode_type']=='face_to_face')
				{
						$modeTypeFaceToFace='TRUE';
			  			$modeValue1=$this->data['Communication'][0]['mode'];
					}
					else if($this->data['Communication'][0]['mode_type']=='phone')
						{
						  $modeTypePhone='TRUE';
			  			  $modeValue2=$this->data['Communication'][0]['mode'];
			  			}
			  			
			  			else
			  			{
			  			   $modeTypeVideo='TRUE';
			  			   $modeValue3=$this->data['Communication'][0]['mode'];
					 }
					
	
				
			}
			  if(isset($this->data['Communication'][1]['mode_type']) && $this->data['Communication'][1]['mode_type'] != '')
			  {
			  		
					if($this->data['Communication'][1]['mode_type']=='face_to_face')
				{
						$modeTypeFaceToFace='TRUE';
			  			$modeValue1=$this->data['Communication'][1]['mode'];
					}
					else if($this->data['Communication'][1]['mode_type']=='phone')
						{
						   $modeTypePhone='TRUE';
			  		       $modeValue2=$this->data['Communication'][1]['mode'];
			  			}
			  			
			  			else
			  			{
			  			   $modeTypeVideo='TRUE';
			  			   $modeValue3=$this->data['Communication'][1]['mode'];
					 }
					
		
				
			}
			 if(isset($this->data['Communication'][2]['mode_type']) && $this->data['Communication'][2]['mode_type'] != '')
			  {
			  		if($this->data['Communication'][2]['mode_type']=='face_to_face')
					{
						$modeTypeFaceToFace='TRUE';
			  			$modeValue1=$this->data['Communication'][2]['mode'];
					}
						else if($this->data['Communication'][2]['mode_type']=='phone')
						{
						   $modeTypePhone='TRUE';
			  		       $modeValue2=$this->data['Communication'][2]['mode'];
			  			}
			  			
			  			else
			  			{
			  			   $modeTypeVideo='TRUE';
			  			   $modeValue3=$this->data['Communication'][2]['mode'];
					 }
					
					
			  }
			
			
				 ?>
 
   <div id="proposal-page">
        <div class="container">
            <div class="col-md-12 pp-page consultant_request">
                <div class="pp-profile">
                    <h5 class="consultant_request_heading">
                        Request a free consultation
                    </h5>
                    <div class="pp-pic">
        <?php
        $flag = 0; $defaultQuestion=0;
        if (isset($this->data['UserImage'][0]['image_name']) && $this->data['UserImage'][0]['image_name'] != '') {
            $file = file_exists(WWW_ROOT . 'img' . '/' . MENTORS_IMAGE_PATH . '/' . $this->data['User']['id'] . '/' . $this->data['UserImage'][0]['image_name']);
            if ($file == 0) {
                $flag++;
            }
        } else {
            $flag++;
        }
        if ($flag == 0) {
            echo($this->Html->link($this->Html->image(MENTORS_IMAGE_PATH . '/' . $this->data['User']['id'] . '/' . $this->data['UserImage'][0]['image_name'],array('alt' => $this->data['UserReference']['first_name'],'class'=>'thumb')),$displink,array('escape'=>false,'style'=>'border: 0px;')));
      } else {
            echo($this->Html->image('media/profile.png',array('alt'=>$this->data['UserReference']['first_name'],'class'=>'thumb')));
        }
      ?> 
                    </div>
                    <div class="pp-rightside">
                        <h5>
                            <?php echo($this->Html->link(ucwords($this->data['UserReference']['first_name']).' '.($this->data['UserReference']['last_name']),$displink,array('escape'=>false)));?>
                            <span class="gg-img">
                                <img src="<?php echo(SITE_URL)?>yogesh_new1/images/gurantee.png" alt="">
                            </span>
                            </a>
                        </h5>
                        <ul class="list-unstyled">
                            <li>
                                      <?php if($cityData['City']['city_name'] != '') {
                                         $citylink = str_replace(" ","-",$cityData['City']['city_name']);
                                         $keyword = "browse-all";
                                         $state= $cityData['City']['state']; }?>
                                <a href="<?php echo(SITE_URL.'browse/search_result/all-industries/all-categories/'.$keyword.'/'.$state.'/'.$citylink);?>" >
                                <?php echo $cityData['City']['city_name'].', '.$cityData['City']['state'];?>
                                </a>
                            </li>
                            <li class="dashTo">|</li>
                            <li>
                             <?php
				$disp="guild.im/".strtolower($this->data['User']['url_key']);
				$completelink=SITE_URL.strtolower($this->data['User']['url_key']);
				$displink=SITE_URL.strtolower($this->data['User']['url_key']);?>
				
				 <a href="<?php echo($displink);?>"><?php echo($disp);?></a>
                            </li>
                        </ul>
                        <label class="ll-data">Change Leader ><?php echo $this->data['UserReference']['linkedin_headline'];?></label>
 

                    <?php if($modeTypePhone=='TRUE' && ($this->Session->read('Auth.User.id') == $this->data['User']['id'] && $this->data['User']['role_id']==2)) {
		     if(trim($modeValue2)!=''){  ?>

                        <a class="btn btn-default get-started cc-button">
                            <i class="fa fa-phone" aria-hidden="true"></i> <?php echo $modeValue2; ?>
                        </a>

                   <?php }}else{
                    	    if(trim($modeValue2)!='' && $this->data['User']['extension'] !='') { ?>
                        <a class="btn btn-default get-started cc-button" href="tel:1-866-511-1898 x<?php echo $this->data['User']['extension']; ?>">
                            <i class="fa fa-phone" aria-hidden="true"></i> 1-866-511-1898 x<?php echo $this->data['User']['extension']; ?>
                        </a>
                    <?php } else{?>  
                        <a class="btn btn-default get-started cc-button" href="tel:1-866-511-1898 x1111">
                            <i class="fa fa-phone" aria-hidden="true"></i> 1-866-511-1898 x1111
                        </a>    

                   <?php }}?>

                    </div>
                    <div class="cc-request-form">
                      <form id="mentorshipForm" method="post" action="<?php echo SITE_URL;?>fronts/consultation_request/<?php echo($this->data['User']['url_key']);?>">
                        <div class="form-group">
      
     

                            <label>What do you need solved?</label>
                            <textarea class="form-control" rows="4" name="data[Mentorship][mentee_need]" id="input_text"></textarea>
                        </div>
                      </form>
                    <?php if($this->Session->read('Auth.User.id') == '') {?>
                        <div class="e-button pull-right" id="oldButtonDiv" style="margin-right:0%;">
                            <label>
                                <a href="<?php echo(SITE_URL)?>">
                                    Cancel
                                </a>
                            </label>
                            <button class="banner-getstarted btn btn-default get-started" id="openButton">
                                Send
                            </button>
                        </div>

                        <div class="col-md-10 col-md-offset-1 crPages" id="regDivText" style="display: none;">
                            <div class="g-heading text-center">
                                <img src="<?php echo(SITE_URL)?>yogesh_new1/images/arrow.png">
					<label>Almost done! Enter your contact information so we can get in touch.</label></br>
                                        <label>Already have a GUILD caccount? <a href="javascript:void(0);" data-toggle="modal" data-target="#signin-Modal" title="Login">Please login here</a></label> 
                            </div>





            
                            <!--guest register-->
							
							<div class="col-md-12" style="position:relative;height: 160px;">
                            <div class="col-md-7 pad0 crPage" id="guest-container" style="position:absolute;left:0;right:0;margin:0 auto">
                                
                                <div class="col-md-12 mpad0">
                                    <div class="apply-form">
                                        <form id="visitormentorshipForm" method="post" action="<?php echo SITE_URL;?>fronts/new_consultation_request/<?php echo($this->data['User']['url_key']);?>">
                                            <div class="form-group width49" style="width: 50%;float: left;padding-right:10px;">
                                                <input type="email" class="form-control" name="data[Mentorship][firstname]" placeholder="First Name" id="userfname">
                                            </div>
                                            <div class="form-group width49" style="width: 50%;float: left;padding-left:0 10px">
                                                <input type="email" class="form-control" name="data[Mentorship][lastname]" placeholder="Last Name" id="userlname">
                                            </div>
                                            <div class="form-group width49">
                                                <input type="email" class="form-control " name="data[Mentorship][email]" placeholder="Email" id="useremail" onchange="return ChangeUsername();">
                                                <span id="Emailalready" class="errormsg" style="display:inline; float:left; display:none;"><?php echo $error; ?></span>
                                            </div>

                                            <div class="form-group width49">
                                             <input name="data[Mentorship][mentee_need]" type="hidden" value="" id="myanswer">
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
							</div>
                        </div>

                        <div class="e-button pull-right" style="display:none;" id="visitorsendbutton">
                            <label>
                                <a href="<?php echo(SITE_URL)?>">
                                    Cancel
                                </a>
                            </label>
                            <button class="banner-getstarted btn btn-default get-started" id="visitorsendsubmit">
                                Send
                            </button>
                        </div>
<?php } else {?>
                        <div class="e-button pull-right visible">
                            <label>
                                <a href="<?php echo(SITE_URL)?>">
                                    Cancel
                                </a>
                            </label>
                            <button class="banner-getstarted btn btn-default get-started" id="loginsendbutton">
                                Send
                            </button>
                        </div>
<?php }?>


                    </div>
                    <div class="dd-notes">

                    </div>
                 </div>
            </div>
        </div>
    </div>
	<style>
	.pull-right
	{
		margin-right:25.5%
	}
	.g-heading img {
    margin-top: -5px !important;
}
	</style>
	<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/bootstrap.min.js"></script>
    <script>
        $('.share-datas').on("click", function() {
            if ($(this).parent().find("ul").hasClass("inactive")) {
                $(".share-section ul").removeClass("inactive").addClass("active");
                $(".share-section ul").removeClass("hide");
            } else {
                $(".share-section ul").addClass("inactive").removeClass("active");
                $(".share-section ul").addClass("hide");
            }
        });
    </script>

<script type="text/javascript">
    //validation    
    $(document).ready(function(){


        $("#loginsendbutton").click(function(){
            var flag = 0;


                if($.trim($("#input_text").val()) == '') {
                    $('#input_text').css('border-color','#F00');
                    $('#input_text').focus();                
                    flag++;
                }else {
                    $('#input_text').css('border-color','');                 
                }

            if(flag==0){
                $("#mentorshipForm").submit();
                return true;

            }else{              
                return false;
            }
        });



    		$("#openButton").click(function() {

    			document.getElementById('oldButtonDiv').style.display = 'none';
    			document.getElementById('regDivText').style.display = 'block';
    			document.getElementById('visitorsendbutton').style.display = 'block';

    			$('html, body').animate({
    		        scrollTop: $("#mentorshipForm").offset().top
    		    }, 1000);
    		});


			$("#visitorsendsubmit").click(function() {
                            var flag = 0;
				
		  var answer = $.trim($("#input_text").val());

		      if($.trim($("#input_text").val()) == '') {
                    $('#input_text').css('border-color','#F00');
                    $('#input_text').focus();                
                    flag++;
                    }else {
                    $('#input_text').css('border-color','');                 
                    }
		      if($.trim($("#userfname").val()) == '') {
                    $('#userfname').css('border-color','#F00');
                    $('#userfname').focus();                
                    flag++;
                    }else {
                    $('#userfname').css('border-color','');                 
                    }
		      if($.trim($("#userlname").val()) == '') {
                    $('#userlname').css('border-color','#F00');
                    $('#userlname').focus();                
                    flag++;
                    }else {
                    $('#userlname').css('border-color','');                 
                    }
		      if($.trim($("#useremail").val()) == '') {
                    $('#useremail').css('border-color','#F00');
                    $('#useremail').focus();                
                    flag++;
                    }else {
                    $('#useremail').css('border-color','');                 
                    }

    			if(flag > 0) {
    				return false;
    			} else {
				$("#myanswer").val(answer);
				



                     var username=jQuery.trim(jQuery('#useremail').val());

			$.ajax({
			url:SITE_URL+'/members/checkUsername',
			type:'post',
                        dataType:'json',
			data:'email='+username,
			success:function(res)
			 {
				if(res.value){

                          $('#useremail').css('border-color','#F00');jQuery('#Emailalready').html('This email address has been already registered, Please use your login details to complete your project submission.');
                          $('#Emailalready').show();
                          }
                           else
                          {
                          $('#useremail').css('border-color','');jQuery('#Emailalready').hide();
                          $("#visitormentorshipForm").submit();
                          }
			 }

			});


                     }
    		});
    		
    });

         function linkedinclick(){

            var flag = 0;
            var count = $("#count").val();
            var mentor_id = <?php echo($this->data['User']['id']);?>;

            var mentorshipneed = $("#input_text").val();

                if($.trim($("#input_text").val()) == '') {
                    $('#input_text').css('border-color','#F00');
                    $('#input_text').focus();                
                    flag++;
                }else {
                    $('#input_text').css('border-color','');                 
                }


    			if(flag > 0) {
    				return false;
    			} else {
    			       $.ajax({
    						url:SITE_URL+'fronts/consultation_request_ajax',
    						type:'post',
    						dataType:'json',
    						data: '&mentorshipneed=' + mentorshipneed + '&mentor_id=' + mentor_id,
    						success:function(id){
    							window.location.href = SITE_URL+'linkedin/OAuth2.php';
    						}
    					});	
    			       
    			   		return false;
    			}

             }

</script>

<script type="text/javascript">

       function ChangeUsername(){
          var username=jQuery.trim(jQuery('#useremail').val());

			$.ajax({
			url:SITE_URL+'/members/checkUsername',
			type:'post',
                        dataType:'json',
			data:'email='+username,
			success:function(res)
			 {
				if(res.value){

                          jQuery('#useremail').css('border-color','#F00');jQuery('#Emailalready').html('This email address has been already registered, Plese use your login details to complete your project submission.');
                          jQuery('#Emailalready').show();
                          }
                           else
                          {
                          jQuery('#useremail').css('border-color','');jQuery('#Emailalready').hide();
                          }
			 }

			});


        }

</script>
