<div id="inner-content-wrapper" class="comman-page-boby directory-result-page">
	<?php $noOfUSers = count($dUsersFinal);?>
	<div id="inner-content-box" class="pagewidth">
		<div class="container">
			<div id="user-account">
				<div class="account-form">
					<div class="heading" id="financial-management">
						<p>
							<span><?php
								
								$dirCount = count($dUsersFinal);
								
								if($keyword == ''){
								echo "Browse other experts";
								}else{
									echo "$keyword";
								}
							?></span>
							<span style="float: right; font-weight: normal;"> <?php echo($dirCount." experts");?></span>
						</p>
					</div>

<p>

						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-6 account-form-col">
								<div class="column first">
									<div class="subheading careerHOME login-user-pro">
										<span class="name"><?php echo($particulardmember['DirectoryUser']['last_name'].', '.$particulardmember['DirectoryUser']['first_name']); ?></span>
										<input class="expButton1 careerBTN" type="button" value="View Profile" onclick="window.open('<?php echo(trim($this->General->addhttp($particulardmember['DirectoryUser']['linkedin_url'])));?>')">
										<span title="Open" class="darrow" onclick="showonlyone('box<?php echo($particulardmember['DirectoryUser']['id']);?>');"></span>
										<div class="openCONTENT" id="box<?php echo($particulardmember['DirectoryUser']['id']);?>">
											<span title="Close" class="darrowTOP" onclick="showonlyone('box<?php echo($particulardmember['DirectoryUser']['id']);?>');"></span>
											<table>
												<?php if($particulardmember['DirectoryUser']['sendEmail'] == 1){?>
												<tr>
													<td class="table-img"><img src="<?php echo(SITE_URL);?>images/email.png"></td>
													<td>I want to consult <?php echo($particulardmember['DirectoryUser']['first_name']."  ".$particulardmember['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL."fronts/consult/".$particulardmember['DirectoryUser']['id']);?>">Email</a></td>
												</tr>
												<?php }?>
												<tr>
													<td class="table-img"><img src="<?php echo(SITE_URL);?>images/user.png"></td>
													<td>I am <?php echo($particulardmember['DirectoryUser']['first_name']."  ".$particulardmember['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL.'fronts/claim_profile/'.$particulardmember['DirectoryUser']['id']);?>"> Claim your free profile</a></td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>


</p>


					<?php $counter = 0;
					$oneThirdUser = ceil($noOfUSers/3);
					$twoThirdUser = $oneThirdUser + $oneThirdUser;?>
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-6 account-form-col">
							<div class="column first">
								<?php foreach ($dUsersFinal as $key=>$value){?>
								<div class="subheading careerHOME">
									<span class="name"><?php echo($value['DirectoryUser']['last_name'].', '.$value['DirectoryUser']['first_name']); ?></span>
									<input class="expButton1 careerBTN" type="button" value="View Profile" onclick="window.open('<?php echo(trim($this->General->addhttp($value['DirectoryUser']['linkedin_url'])));?>')">
									<span title="Open" class="darrow" onclick="showonlyone('box<?php echo($value['DirectoryUser']['id']);?>');"></span>
									<div class="openCONTENT" id="box<?php echo($value['DirectoryUser']['id']);?>">
										<span title="Close" class="darrowTOP" onclick="showonlyone('box<?php echo($value['DirectoryUser']['id']);?>');"></span>
										<table>
											<?php if($value['DirectoryUser']['sendEmail'] == 1){?>
											<tr>
												<td class="table-img"><img src="<?php echo(SITE_URL);?>images/email.png"></td>
												<td>I want to consult <?php echo($value['DirectoryUser']['first_name']."  ".$value['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL."fronts/consult/".$value['DirectoryUser']['id']);?>">Email</a></td>
											</tr>
											<?php }?>
											<tr>
												<td class="table-img"><img src="<?php echo(SITE_URL);?>images/user.png"></td>
												<td>I am <?php echo($value['DirectoryUser']['first_name']."  ".$value['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL.'fronts/claim_profile/'.$value['DirectoryUser']['id']);?>"> Claim your free profile</a></td>
											</tr>
										</table>
									</div>
								</div>
								<?php $counter++;  if($counter == $oneThirdUser) {
										break;
								}?>
								<?php }?>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6 account-form-col">
							<div class="column last">
								<div class="clear"></div>
								<?php while( $counter < $noOfUSers){?>
								<div class="subheading careerHOME">
									<span class="name"><?php echo($dUsersFinal[$counter]['DirectoryUser']['last_name'].', '.$dUsersFinal[$counter]['DirectoryUser']['first_name']); ?></span>
									<input class="expButton1 careerBTN" type="button" value="View Profile" onclick="window.open('<?php echo(trim($this->General->addhttp($dUsersFinal[$counter]['DirectoryUser']['linkedin_url'])));?>')">
									<span title="Open" class="darrow" onclick="showonlyone('box<?php echo($dUsersFinal[$counter]['DirectoryUser']['id']);?>');"></span>
									<div class="openCONTENT" id="box<?php echo($dUsersFinal[$counter]['DirectoryUser']['id']);?>">
										<span title="Close" class="darrowTOP" onclick="showonlyone('box<?php echo($dUsersFinal[$counter]['DirectoryUser']['id']);?>');"></span>
										<table>
											<?php if($dUsersFinal[$counter]['DirectoryUser']['sendEmail'] == 1){?>
											<tr>
												<td class="table-img"><img src="<?php echo(SITE_URL);?>images/email.png"></td>
												<td>I want to consult <?php echo($dUsersFinal[$counter]['DirectoryUser']['first_name']."  ".$dUsersFinal[$counter]['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL."fronts/consult/".$dUsersFinal[$counter]['DirectoryUser']['id']);?>">Email</a></td>
											</tr>
											<?php }?>
											<tr>
												<td class="table-img"><img src="<?php echo(SITE_URL);?>images/user.png"></td>
												<td>I am <?php echo($dUsersFinal[$counter]['DirectoryUser']['first_name']."  ".$dUsersFinal[$counter]['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL.'fronts/claim_profile/'.$dUsersFinal[$counter]['DirectoryUser']['id']);?>"> Claim your free profile</a></td>
											</tr>
										</table>
									</div>
								</div>
								<?php $counter++;  if($counter == $twoThirdUser) {
										break;
								}?>
								<?php }?>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6 account-form-col">
							<div class="column last">
								<div class="clear"></div>
								<?php while( $counter < $noOfUSers){?>
								<div class="subheading careerHOME">
									<span class="name"><?php echo($dUsersFinal[$counter]['DirectoryUser']['last_name'].', '.$dUsersFinal[$counter]['DirectoryUser']['first_name']); ?></span>
									<input class="expButton1 careerBTN" type="button" value="View Profile" onclick="window.open('<?php echo(trim($this->General->addhttp($dUsersFinal[$counter]['DirectoryUser']['linkedin_url'])));?>')">
									<span title="Open" class="darrow" onclick="showonlyone('box<?php echo($dUsersFinal[$counter]['DirectoryUser']['id']);?>');"></span>
									<div class="openCONTENT" id="box<?php echo($dUsersFinal[$counter]['DirectoryUser']['id']);?>">
										<span title="Close" class="darrowTOP" onclick="showonlyone('box<?php echo($dUsersFinal[$counter]['DirectoryUser']['id']);?>');"></span>
										<table>
											<?php if($dUsersFinal[$counter]['DirectoryUser']['sendEmail'] == 1){?>
											<tr>
												<td class="table-img"><img src="<?php echo(SITE_URL);?>images/email.png"></td>
												<td>I want to consult <?php echo($dUsersFinal[$counter]['DirectoryUser']['first_name']."  ".$dUsersFinal[$counter]['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL."fronts/consult/".$dUsersFinal[$counter]['DirectoryUser']['id']);?>">Email</a></td>
											</tr>
											<?php }?>
											<tr>
												<td class="table-img"><img src="<?php echo(SITE_URL);?>images/user.png"></td>
												<td>I am <?php echo($dUsersFinal[$counter]['DirectoryUser']['first_name']."  ".$dUsersFinal[$counter]['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL.'fronts/claim_profile/'.$dUsersFinal[$counter]['DirectoryUser']['id']);?>"> Claim your free profile</a></td>
											</tr>
										</table>
									</div>
								</div>
								<?php $counter++;  ?>
								<?php }?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
function showonlyone(thechosenone) {
jQuery('.openCONTENT').each(function(index) {
if (jQuery(this).attr("id") == thechosenone) {
	jQuery(this).toggle(300); }
else {
	jQuery(this).hide(600); }
});
}
jQuery(document).mouseup(function (e) {
	var container = jQuery(".openCONTENT");
	if (!container.is(e.target) && container.has(e.target).length === 0){
		container.hide();
	}
	});
</script>