          <?php
        echo($this->Html->css(array('front1')));
        echo($this->Html->meta('icon'));
        ?>
	
	     <?php echo($this->Html->script(array('jquery/jquery','ui/jquery-ui-1.8.2.custom.min','Placeholders')));?>

<style>

#ankit {

    width: 912px;
    height: 200px;
    border-radius: 8px;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}
#spotlight-wrapper {
    background: url(../img/media/home-banner.jpg) repeat-x;
    height: 550px;
    margin: 70px 0 0;
}

#text-box2{background:url("../img/media/gradiant-new.png") repeat-x 0 -2px;height:40px;padding:5px;width:840px;}
#text-box2 input[type=text]{border:medium none;border-radius:0 0px 0px 0;color:#444444;float:right;font-size:15px;background:none;width:183px;overflow:hidden;height:20px;}
#text-box2 #enter-keywords #enter-text:hover,
#text-box2 #enter-keywords #new-york:hover,
#text-box2 #enter-keywords #enter-text:hover{}
#text-box2 #enter-keywords{width:79%;background:#fff;float:left;height:40px;border-radius:3px;}
#text-box2 #enter-keywords input[type=text]{}
#text-box2 #enter-keywords #enter-text input[type=text]{width:97.5%;padding-left:7px;float:left;}
#text-box2 #enter-keywords #enter-text{width:400px;float:left;}
#text-box2 #enter-keywords #enter-text p{color:#aaa;font-family:'Ubuntu';font-style:italic;}
#text-box2 #enter-keywords #new-york{width:204px;float:left;}
#text-box2 #enter-keywords #new-york p{text-align:center;color:#444;font-family:'Ubuntu';float:left;width:50%;}
#text-box2 #enter-keywords #new-york img{float:right;width:12%;padding-right:20px;}
#text-box2 #search{background:url('../img/media/search-bg1.JPG') repeat-x;width:20%;float:right;height:40px;border-radius:3px 3px 3px 3px;}
#text-box2 #search input[type=image]{float:left;width:20%;padding:7px 0 7px 5px;}



</style>


<!-- js link -->
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery_validate_min_js.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/parallax.min.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jssor.slider-22.0.15.mini.js"></script>
<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/script12.js"></script>
<script>
onload=function(){
var e=document.getElementById("refresh");
if(e.value=="no"){
e.value="yes";
        var industry ="All Industries";
        var category = "ALL Categories";

        jQuery('#CityKeyword1').val(industry);
        jQuery('#CityKeyword2').val(category);
}

else{e.value="no";
        var industry ="All Industries";
        var category = "ALL Categories";

        jQuery('#CityKeyword1').val(industry);
        jQuery('#CityKeyword2').val(category);


}
}
</script>
<script type="text/javascript">
jQuery(document).ready(function(){
var container = jQuery('#categorybox');

jQuery(document).mouseup(function (e)
{


    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        container.hide();
    }
});

});
 </script>


<script type="text/javascript">
jQuery(document).ready(function(){

jQuery("#category1-div a").click(function(e) {
        var completebox = 612;
        var industry ="All Industries";
        var category = "ALL INDUSTRIES";
        var value = jQuery(e.target).attr("value");
        jQuery('#industrydropdown').val(category);
        jQuery('#CityKeyword1').val(industry);
        jQuery('#CityKeyword2').val(value);
        var industrybox = jQuery('#industrydropdown').width();
        var topicbox = completebox - industrybox;
        jQuery('#enter-text').width(topicbox);
        jQuery('#CityKeyword').width(topicbox);
        document.getElementById("categorybox").style.display="none";
    });

jQuery("#category2-div a").click(function(e) {
        var completebox = 612;
        var industry ="Financial Services";
        var category = jQuery(e.target).text();
        var value = jQuery(e.target).attr("value");
        jQuery('#industrydropdown').val(category);
        jQuery('#CityKeyword1').val(industry);
        jQuery('#CityKeyword2').val(value);
        var industrybox = jQuery('#industrydropdown').width();
        var topicbox = completebox - industrybox;
        jQuery('#enter-text').width(topicbox);
        jQuery('#CityKeyword').width(topicbox);
        document.getElementById("categorybox").style.display="none";
    });

jQuery("#category3-div a").click(function(e) {
        var completebox = 612;
        var industry ="Food";
        var category = jQuery(e.target).text();
        var value = jQuery(e.target).attr("value");
        jQuery('#industrydropdown').val(category);
        jQuery('#CityKeyword1').val(industry);
        jQuery('#CityKeyword2').val(value);
        var industrybox = jQuery('#industrydropdown').width();
        var topicbox = completebox - industrybox;
        jQuery('#enter-text').width(topicbox);
        jQuery('#CityKeyword').width(topicbox);
        document.getElementById("categorybox").style.display="none";
    });

jQuery("#category4-div a").click(function(e) {
        var completebox = 612;
        var industry ="Healthcare";
        var category = jQuery(e.target).text();
        var value = jQuery(e.target).attr("value");
        jQuery('#industrydropdown').val(category);
        jQuery('#CityKeyword1').val(industry);
        jQuery('#CityKeyword2').val(value);
        var industrybox = jQuery('#industrydropdown').width();
        var topicbox = completebox - industrybox;
        jQuery('#enter-text').width(topicbox);
        jQuery('#CityKeyword').width(topicbox);
        document.getElementById("categorybox").style.display="none";
    });
jQuery("#category5-div a").click(function(e) {
        var completebox = 612;
        var industry ="Public Sector & Non-profit";
        var category = jQuery(e.target).text();
        var value = jQuery(e.target).attr("value");
        jQuery('#industrydropdown').val(category);
        jQuery('#CityKeyword1').val(industry);
        jQuery('#CityKeyword2').val(value);
        var industrybox = jQuery('#industrydropdown').width();
        var topicbox = completebox - industrybox;
        jQuery('#enter-text').width(topicbox);
        jQuery('#CityKeyword').width(topicbox);
        document.getElementById("categorybox").style.display="none";
    });
jQuery("#category6-div a").click(function(e) {
        var completebox = 612;
        var industry ="Professional Services";
        var category = jQuery(e.target).text();
        var value = jQuery(e.target).attr("value");
        jQuery('#industrydropdown').val(category);
        jQuery('#CityKeyword1').val(industry);
        jQuery('#CityKeyword2').val(value);
        var industrybox = jQuery('#industrydropdown').width();
        var topicbox = completebox - industrybox;
        jQuery('#enter-text').width(topicbox);
        jQuery('#CityKeyword').width(topicbox);
        document.getElementById("categorybox").style.display="none";
    });
jQuery("#category7-div a").click(function(e) {
        var completebox = 612;
        var industry ="Retail & Wholesale";
        var category = jQuery(e.target).text();
        var value = jQuery(e.target).attr("value");
        jQuery('#industrydropdown').val(category);
        jQuery('#CityKeyword1').val(industry);
        jQuery('#CityKeyword2').val(value);
        var industrybox = jQuery('#industrydropdown').width();
        var topicbox = completebox - industrybox;
        jQuery('#enter-text').width(topicbox);
        jQuery('#CityKeyword').width(topicbox);
        document.getElementById("categorybox").style.display="none";
    });
jQuery("#category8-div a").click(function(e) {
        var completebox = 612;
        var industry ="Technology";
        var category = jQuery(e.target).text();
        var value = jQuery(e.target).attr("value");
        jQuery('#industrydropdown').val(category);
        jQuery('#CityKeyword1').val(industry);
        jQuery('#CityKeyword2').val(value);
        var industrybox = jQuery('#industrydropdown').width();
        var topicbox = completebox - industrybox;
        jQuery('#enter-text').width(topicbox);
        jQuery('#CityKeyword').width(topicbox);
        document.getElementById("categorybox").style.display="none";
    });
jQuery("#category9-div a").click(function(e) {
        var completebox = 612;
        var industry ="Travel & Transportation";
        var category = jQuery(e.target).text();
        var value = jQuery(e.target).attr("value");
        jQuery('#industrydropdown').val(category);
        jQuery('#CityKeyword1').val(industry);
        jQuery('#CityKeyword2').val(value);
        var industrybox = jQuery('#industrydropdown').width();
        var topicbox = completebox - industrybox;
        jQuery('#enter-text').width(topicbox);
        jQuery('#CityKeyword').width(topicbox);
        document.getElementById("categorybox").style.display="none";
    });

});
</script>
<script type="text/javascript">

function opencategory(){

var box = document.getElementById("categorybox");
    if(box.style.display=="block"){
    document.getElementById("categorybox").style.display="none";
    }else{
    document.getElementById("categorybox").style.display="block";
   }
}



jQuery(document).ready(function() {
	setTimeout(function(){jQuery("#ankit").css('background-color','rgba(0, 0, 0, 0.6)'); }, 500);
});

function sendingSearch() {

	var searchWord = document.getElementById('CityKeyword').value.toLowerCase();
        var searchWord2 = document.getElementById('CityKeyword1').value.toLowerCase();
        var searchWord3 = document.getElementById('CityKeyword2').value.toLowerCase();
	var cityWord = document.getElementById('username').value.toLowerCase();
        //alert(cityWord);
	var cityWord1 = '';
    var searchWord = htmlEntities(searchWord);
    
    TINY.box.show({html:'<div class="tinner-search" ></div>',width:100,height:100,close:0});
		
	if(searchWord == ''){
    	searchWord = "browse all";}
  
    if(cityWord == "" || cityWord == "international"){
		cityWord1 = "new york";
        cityWord = "ny";
    }

   	if(cityWord.indexOf(",") !=-1){
       var split = cityWord.split(",");
       cityWord1 = split[0];
       cityWord = split[1];
    }
      
    if(searchWord.charAt(0) == " "){
    	searchWord = searchWord.trim();
    }
    
	searchWord = searchWord.replace(/ /gi, "-"); 
        searchWord2 = searchWord2.replace(/ /gi, "-");
        searchWord3 = searchWord3.replace(/ /gi, "-");

        if(cityWord1.indexOf("lana'i") !=-1){
           cityWord1 ="Honolulu";
           }

	cityWord1 = cityWord1.replace(/ /gi, "-"); 
    cityWord = cityWord.replace(/ /gi, "");
    cityWord = cityWord.toUpperCase();

	
	window.location.href=SITE_URL+'browse/search_result/'+searchWord2+'/'+searchWord3+'/'+searchWord+'/'+cityWord+'/'+cityWord1;
	
	return false;
}

   function htmlEntities(str) {
    return String(str).replace(/&/g, '_and').replace(/</g, 'lt').replace(/\//g, '_slash').replace(/-/g, '_or');
}
  function searchKeyPress(e)
    {
        // look for window.event in case event isn't passed in
        if (typeof e == 'undefined' && window.event) { e = window.event; }
        if (e.keyCode == 13)
        {
            document.getElementById('btnSearch').click();
        }
    }
</script>
<div id="spotlight-wrapper" style="background:url('<?php echo SITE_URL?>img/media/home-banner4.jpg');border:0px;">
<?php // e($form->create('City', array('url' => array('controller' => 'browse','action' => 'search_result'),'id'=>'mainSearchForm')));

    $city_name = $keyword = "";

	
	if($this->Session->read('Auth.User.id') =='' || $this->Session->read('Auth.User.id') ==1) {
		if(trim($city_name) == "" || trim($city_name) == ","){
			$city_name	=	'City, ST';	
		}		
	}else{
		if(trim($city_name) == "" || trim($city_name) == ","){
                     if($loggedInUsercityData['City']['city_name'] != "" && $loggedInUsercityData['City']['state'] != ""){
			$city_name	=	$loggedInUsercityData['City']['city_name'].', '.$loggedInUsercityData['City']['state'];
                    }
                    else{
                    $city_name = 'New York, NY';
                    }
		}	
	}
	
?>
	<div id="spotlight" class="pagewidth" style="position:relative;z-index:0;">
		<div id="find-mentor">
		   <div id="ankit" style="position: relative;margin-left:-34px; top: 164px;">
                       <div style="height:13px;width:920px;">&nbsp;</div>
                     <h1 style="margin-left:30px; "><?php echo Configure::read('SearchBarHeading');?></h1>
			<h2 style="margin-left:30px;"><?php echo Configure::read('SearchBarSubheading');?></h2>
			<div id="text-box2" style="margin-left:30px;position:relative;z-index:inherit;">
				<div id="enter-keywords">
                                        <div style ="float:left;">
                                        <input type="hidden" id="refresh" value="no">
                                        <input class="searchSubmit" value="SEARCH ALL INDUSTRIES" type="submit" id="industrydropdown"  style="background-color:rgb(230,231,232);border-right: 1px solid #000;color:#000; width:auto;height:40px;padding-left:10px;padding-right:24px;"onclick="opencategory();" />
                                         <a href="javascript:void(0);"onclick="opencategory();"><img src="<?php echo(SITE_URL)?>images/icon_sorting_dark.png" style ="float:left;margin-left:-20px;margin-top:16px;width:16px;height:10px;" alt ="dropdown arrow"></img></a>
					
                                        <span style="display:none;">
                                        <?php echo($this->Form->input('City.keyword1',array('id'=>'CityKeyword1','div'=>false,'label'=>false,'class'=>'forminput-new','type'=>'text',"placeholder"=>"All Industry",'value'=>'All Industries')))	?>
                                       
					<?php echo($this->Form->input('City.keyword2',array('id'=>'CityKeyword2','div'=>false,'label'=>false,'class'=>'forminput-new','type'=>'text',"placeholder"=>"All Categories",'value'=>'All Categories')))	?>
					</span>
                                        </div>
					<div id="enter-text" style ="float:left;">
                                       
					<?php 	echo($this->Form->input('City.keyword',array('id'=>'CityKeyword','onkeypress'=>'searchKeyPress(event);','div'=>false,'label'=>false,'class'=>'forminput-new','type'=>'text','style'=>'font-size:16px;',"placeholder"=>"Enter an area of expertise e.g. Business Strategy",'value'=>$keyword,'style'=>'width:107%;')))	?>
					</div>
                                        </div>
					<div id="new-york" style="display:none;">
					    <?php
						if($this->Session->read('Auth.User.id') =='' || $this->Session->read('Auth.User.id') ==1) {
						    echo($this->Form->input('City.city_name',array('id'=>'username','div'=>false,'label'=>false,'class'=>'newyork','onclick'=>'select();','type'=>'text','placeholder'=>'City, ST','value'=>$city_name)));
						}else{
						    echo($this->Form->input('City.city_name',array('id'=>'username','div'=>false,'label'=>false,'onclick'=>'select();',
								    'placeholder'=>'City, ST','value'=>$city_name)));
						}
					    ?>
					    <?php echo($this->Html->image('loading.gif',array('id'=>'loading','width'=>'18px','height'=>'18px','alt'=>'Loading','style'=>'margin-top:-30px;float:right;display:none;')));?>
																								
					</div>
				
			   <div id="search">
				<?php //e($form->submit('Search',array('class'=>'searchSubmit','div'=>false,'label'=>false))); ?>
				<input class="searchSubmit" value="Search" type="submit" id="btnSearch" onclick="sendingSearch();ga('send', 'event', 'Search', 'Click', 'Searchbuttonclick', '0');"/>
			   </div>	
			</div>

			<div style="padding-left: 40px; font-size:13px; color:#fff; font-family: 'Ubuntu', arial; padding-top: 1px;position:relative;z-index:0;" >
			
					<?php 
                                         $Search1 = Configure::read('popularSearch1');
                                         $Search2 = Configure::read('popularSearch2');
                                         $Search3 = Configure::read('popularSearch3');
                                         $popularSearch1 = Configure::read('popularSearch1');
					 $popularSearch2 = Configure::read('popularSearch2');
					 $popularSearch3 = Configure::read('popularSearch3');
                                         $popularSearch1 = str_replace(" ","-",$popularSearch1);
                                         $popularSearch2 = str_replace(" ","-",$popularSearch2);
                                         $popularSearch3 = str_replace(" ","-",$popularSearch3);
                                         if($city_name == "City, ST")
                                         $city_name = "New York, NY";

                                  
                                   $city_state=explode(',',$city_name);
                                   if(false !== stripos($city_state[0]," "))
                                   $city_state[0] = str_replace(" ","-",$city_state[0]);
                                   $city_state[0] = strtolower($city_state[0]);
                                   $city_state[1] = trim($city_state[1]," ");
                                   $city_name = $city_state[1].'/'.$city_state[0];
					
					?>
	   			   <span style="font-size:15px; font-weight:bold;  padding: 5px 0 25px; padding-right: 15px;">Popular searches </span>
	   			   <a href="<?php echo(SITE_URL."browse/search_result/all-industries/all-categories/".$popularSearch1.'/'.$city_name);?>" onclick="submitForm('<?php echo $popularSearch1 ?>');" style="font-size:14px; color:#fff; font-family: 'Ubuntu', arial;" title="<?php echo($popularSearch1);?>"> <?php echo $Search1?></a>,
	   			   <a href="<?php echo(SITE_URL."browse/search_result/all-industries/all-categories/".$popularSearch2.'/'.$city_name);?>" onclick="submitForm('<?php echo $popularSearch2 ?>');" style="font-size:14px; color:#fff; font-family: 'Ubuntu', arial;" title="<?php echo($popularSearch2);?>"> <?php echo $Search2?></a>,
	   			   <a href="<?php echo(SITE_URL."browse/search_result/all-industries/all-categories/".$popularSearch3.'/'.$city_name);?>" onclick="submitForm('<?php echo $popularSearch3 ?>');" style="font-size:14px; color:#fff; font-family: 'Ubuntu', arial;" title="<?php echo($popularSearch3);?>"> <?php echo $Search3?></a>
   			   </div>


          <div style="margin-left:37px;width:250px; height:auto;margin-top:-285px;margin-left:-4px;background-color:#f9f8f8;display:none;position:absolute;z-index:1;" id="categorybox">

                <div style="color:#000;margin-left:20px;margin-top:10px;" id="category1-div">
                <a href="javascript:void(0);" style="color:#D03135;font-weight:bold;font-size:14px;" id="Industry" value="All Categories">ALL INDUSTRIES</a>
                </div>

 


                <div style="color:#000;margin-left:20px;margin-top:10px;" id="category2-div">
                <a href="javascript:void(0);" style="color:#D03135;font-weight:bold;font-size:14px;" id="Industry" value="All Categories">Financial Services</a></br>
                <div style="margin-left:8px;">
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Banking">Banking</a></br>
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Insurance">Insurance</a>
                </div>
                </div> 

                <div style="color:#000;margin-left:20px;margin-top:10px;" id="category3-div">
                <a href="javascript:void(0);" style="color:#D03135;font-weight:bold;font-size:14px;" id="Industry" value="All Categories">Food</a>
                </div> 

                <div style="color:#000;margin-left:20px;margin-top:10px;" id="category4-div">
                <a href="javascript:void(0);" style="color:#D03135;font-weight:bold;font-size:14px;" id="Industry" value="All Categories">Healthcare</a></br>
                <div style="margin-left:8px;">
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Biotechnology">Biotechnology</a></br>
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Hospital">Hospital</a></br>
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Insurance">Insurance</a></br>
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Medical Devices">Medical Devices</a></br>
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Medical Practice">Medical Practice</a></br>
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Pharmaceuticals">Pharmaceuticals</a>
                </div>  
                </div> 

 

                <div style="color:#000;margin-left:20px;margin-top:10px;" id="category5-div">
                <a href="javascript:void(0);" style="color:#D03135;font-weight:bold;font-size:14px;" id="Industry" value="All Categories">Public Sector & Non-profit</a></br>
                <div style="margin-left:8px;">

                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Fund-Raising">Fund-Raising</a></br>

                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Nonprofit Management">Nonprofit Management</a></br>

                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Public Policy">Public Policy</a>
                </div>
                </div> 

                <div style="color:#000;margin-left:20px;margin-top:10px;" id="category6-div">
                <a href="javascript:void(0);" style="color:#D03135;font-weight:bold;font-size:14px;" id="Industry" value="All Categories">Professional Services</a></br> 
                <div style="margin-left:8px;">
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Accounting & HR">Accounting & HR</a></br>
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Consulting & Coaching">Consulting & Coaching</a>
                </div> 
                </div>

                <div style="color:#000;margin-left:20px;margin-top:10px;" id="category7-div">
                <a href="javascript:void(0);" style="color:#D03135;font-weight:bold;font-size:14px;" id="Industry" value="All Categories">Retail & Wholesale</a></br>
                <div style="margin-left:8px;">
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Apparel & Fashion">Apparel & Fashion</a></br>
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Consumer Goods">Consumer Goods</a></br>
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Luxury Goods & Jewelry">Luxury Goods & Jewelry</a></br>
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Supermarkets">Supermarkets</a></br>
                <a href="javascript:void(0);" style="color:#D03135;" id="category" value="Wholesale">Wholesale</a>
                </div>
                </div>   

                <div style="color:#000;margin-left:20px;margin-top:10px;" id="category8-div">
                <a href="javascript:void(0);" style="color:#D03135;font-weight:bold;font-size:14px;" id="Industry" value="All Categories">Technology</a>
                </div> 
                <div style="color:#000;margin-left:20px;margin-top:10px;margin-bottom:20px;" id="category9-div">
                <a href="javascript:void(0);" style="color:#D03135;font-weight:bold;font-size:14px;" id="Industry" value="All Categories">Travel & Transportation</a>
                </div> 
           </div>

		</div>
            </div>	
	</div>
	<?php //echo($form->end()); ?>
</div>


<!--This Java Script is used only Autocomplte Searching Product name start-->
<script type="text/javascript">

function monkeyPatchAutocomplete() {

    jQuery.ui.autocomplete.prototype._renderItem = function( ul, item) {
        var re = new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + this.term + ")(?![^<>]*>)(?![^&;]+;)", "gi");
        var t = item.label.replace(re,"<span style='font-weight:bold;color:#434343;'>" + 
        		"$&" + 
                "</span>");
        return jQuery( "<li></li>" )
            .data( "item.autocomplete", item )
            .append( "<a>" + t + "</a>" )
            .appendTo( ul );
    };
}

	function getKeywords(){

		var allKeywords = <?php echo json_encode($allKeywords); ?>;

		return allKeywords;
	}
	
	var URL = '<?php echo(SITE_URL); ?>fronts/search';

	jQuery(document).ready(function(){

	monkeyPatchAutocomplete();

	var username = jQuery('#username');

	username.autocomplete({
	minLength    : 1,
	source        : URL
	});

	var CityKeyword = jQuery('#CityKeyword');

	CityKeyword.autocomplete({
	minLength    : 1,
	source        : getKeywords()
	});

	});

	// A custom jQuery method for placeholder text:

	jQuery.fn.defaultText = function(value){

	var element = this.eq(0);
	element.data('defaultText',value);

	element.focus(function(){
	if(element.val() == value){
	element.val('').removeClass('defaultText');
	}
	}).blur(function(){
	if(element.val() == '' || element.val() == value){
		element.addClass('defaultText').val(value);
	}
	});

	return element.blur();
	}
</script>

<style type="text/css">
/** //file:app/webroot/css/autocomplete.css **/
/** search container **/
.users{
	width:640px;
	margin:0 auto;
	max-height:180px;
	overflow:auto;
}
#content p{
	width:300px;
	margin:0 auto;
	text-align:center;
	max-height:180px;
	overflow:auto;
}
#username{
	border:1px solid silver;
	padding:3px 10px;
	clear:none;
	width:400px;
	max-height:180px;
	overflow:auto;
}
.input{
	clear:none;
	float:left;
}
.submit{
	clear:none;
	float:right;
	padding:20px 0;
}
/* Styling the markup generated by the autocomplete jQuery UI widget */

ul.ui-autocomplete{
	width:200px;
	background-color:white;
	border:1px solid gray;
	margin-left:-3px !important;
	margin-right:1px !important;
	margin-top:-4px;
	font-family:Helvetica, Arial,sans-serif;max-height:180px;
	overflow:hidden;
	max-height:160px;
}
ul.ui-autocomplete li{
	list-style:none;
	border-top:1px solid white;
	border-left:1px solid white;
	margin:0;
	max-height:180px;
	overflow:auto;
}
ul.ui-autocomplete li:first-child{
	border-top:none;
}
ul.ui-autocomplete li:last-child{
	border-bottom:none;
}
ul.ui-autocomplete li a{
	border:none !important;
	text-decoration:none !important;
	padding:2px;
	display:block;
	color:black;
}
ul.ui-autocomplete li img{
	margin-right:4px;
}
ul.ui-autocomplete li span{
}
#ui-active-menuitem{
	background-color:#efefef;
	cursor:pointer;
}

</style>


