<?php 

$this->layout= 'defaultnew';
?>
<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
       <div id="content-submit">           
			<?php echo $this->data['StaticPage']['description'];?>

	  </div>
     </div>
</div>
