<div class="content_area"> 
		<form id="Submitform" name="Submitform" enctype="multipart/form-data" method="post" action="<?php echo SITE_URL;?>fronts/media_response" accept-charset="utf-8">
	   
    	
     
    	<p class="member_invitation" style="margin:10px 0 0 0 ;"> Media Response </p>

        <p class="subject border_gray" style="margin:10px 0 0 0 ;"> 
        	<span class="fleft"> Subject: </span> 
        	<input type="text" id="subject" placeholder="Enter Subject" value="Media query: <?php echo $subject; ?>" style="display: block; margin-left: 62px;" name="data[EmailSubject]">
              <input type="text" id="queryid"  value="<?php echo $queryid; ?>" style="display: none; margin-left: 62px;" name="data[QueryId]">        
        
       </p>
        <p class="editable" style="margin:10px 0 0 0 ;"> 
        <textarea name="data[EmailBody]" id="emailbody" placeholder="Respond quickly. Be to-the-point." >
1. Respond quickly.
2. Be to-the-point.
</textarea>

		</p>
        <p class="border_gray" style="margin:10px 0 0 0 ;"> 
        <span class="fleft" style="color:#000;"> <span style="margin-right: 10px;">URL:</span><span>guild.im/<?php echo $refer; ?></span> </span> </p>


        <input id="apply" type="submit" value="Send Email"  class="submitProfile" style="padding:7px; margin-top:21px; float:right;" onclick="return validateMediareply();">
         
           
       	</form>
</div>