
<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
     <?php echo $this->data['StaticPage']['description'];?>
		<!--<div id="content-submit" style="min-height:600px;">           
            <h1>Privacy Policy</h1> 
			<div id="text-content" style="text-align:justify;">	
				<br />	
				<p>
				Mentorsguild.com is owned and operated by Mentors Guild, Inc. 
				(hereinafter collectively referred to as "Mentors Guild", "we" or "us"). 
				Mentors Guild takes your privacy very seriously. 
				We provide this Privacy Policy to inform you of our policies and procedures regarding the collection, 
				use and disclosure of personal information we receive from users of www.Mentorsguild.com (the "Site") 
				and our application for mobile devices (the "Application"). Unless otherwise defined in this Privacy 
				Policy, terms used in this Privacy Policy have the same meanings as in our Terms of Service.  
				</p>
			</div>
			<br />
			<h1>Scope</h1> 
			<div id="text-content" style="text-align:justify;">
				<br />
				<p>
				This Privacy Policy, as amended from time to time, applies only to information that you provide to us through the Site and Application. Please note that the Site and Application may contain links to other websites. If you click on a link to another website, this Privacy Policy will not apply to any information collected on that website. Mentors Guild is not responsible for the privacy practices, security, or content of these other websites, and we recommend that you read the privacy policies of each website that you visit. As used in this policy, the terms "using" and "processing" information include using cookies on a computer, subjecting the information to statistical or other analysis and using or handling information in any way, including, but not limited to collecting, storing, evaluating, modifying, deleting, using, combining, disclosing and transferring information within our organization or among our affiliates within the United States or internationally.  
				</p>
			</div>
			<br />
			<h1>The Collection of Information</h1> 
			<div id="text-content" style="text-align:justify;">
				<br />				
				<p>
				Our principal goals in collecting information are to provide and improve our Site, Application, services, features and content, to administer your use of the Site and Application (collectively, the "Service") and to enable users to enjoy and easily navigate the Site and Application. The types of information that we collect include: Information you provide to us Personal Information: You may browse the Site and Application without providing any personal information that may be used to identify you personally. However, when you register for and use the Service, access certain content or features, or directly contact the Site or Application, we may ask you to provide information, including:  	
				<ol>
					<li>your name, phone number, email address and postal address; </li>
					<li>your username, password, and account setting preferences; </li>
					<li>your credit card number, billing address and other billing related information.  
				</ol>	
			    <br />
				(collectively, "Personal Information") Information automatically collected When you visit and interact on the Site or Application, certain information is collected automatically, including: Non-Identifying Information: We collect other non-identifying information you provide as part of the registration, administration and personalization of your Mentors Guild profile ("Non-Identifying Information"). We may combine your Personal Information with Non-Identifying Information and aggregate it with information collected from other Mentors Guild Users (defined below) to attempt to provide you with a better experience, to improve the quality and value of the Site, Application and Service and to analyze and understand how our Site, Application and Service are used. We may also use the combined information without aggregating it to serve you specifically, for instance to deliver a product to you according to your preferences or restrictions. Log Data: When you visit the Site and Application, whether as a Member or a non-registered user (any of these, a "Mentors Guild User"), our servers automatically record information that your browser sends whenever you visit a website ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type or the webpage you were visiting before you came to our Site and Application, pages of our Site and Application that you visit, the time spent on those pages, information you search for on our Site and Application, access times and dates, and other statistics. We use this information to monitor and analyze use of the Site, Application and the Service and for the Site and Application's technical administration, to increase our Site and Application's functionality and user-friendliness, and to better tailor our Site and Application to our visitors' needs. We do not treat Log Data as Personal Information or use it in association with other Personal Information, though we may aggregate, analyze and evaluate such information for the same purposes as stated above regarding other Non-Identifying Information.  Cookies: Like many websites, we use "cookies" to collect information. A cookie is a small data file that we transfer to your computer's hard disk for record-keeping purposes. We use cookies for two purposes. First, we utilize persistent cookies to save your login information for future logins to the Site and Application. Second, we utilize session cookies to enable certain features of the Site and Application, to better understand how you interact with the Site and Application and to monitor aggregate usage by Mentors Guild Users and web traffic routing on the Site and Application. Unlike persistent cookies, session cookies are deleted from your computer when you log off from the Site or Application and then close your browser. You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. If you do not accept cookies, however, you may not be able to use all portions of the Site or Application or all functionality of the Service. Web Beacons: Our Site and Application may contain electronic images known as Web beacons (sometimes called single-pixel gifs) and are used along with cookies to compile aggregated statistics to analyze how our Site and Application are used and may be used in some of our emails to let us know which emails and links have been opened by recipients. This allows us to gauge the effectiveness of our Member communications and marketing campaigns.  	1.	(c) Information collected from other sources We may access information about you from third-party sources and platforms. You can register to use the Service by logging into online accounts you may have with third party service providers ("TPSP")(e.g. LinkedIn); each such account, a "Third Party Account", via our Site or Application as described below. As part of the functionality of the Site, Service and Application, you may link your Mentors Guild Account with Third Party Accounts, by either: (i) providing your Third Party Account login information to Mentors Guild through the Site, Service or Application; or (ii) allowing Mentors Guild to access your Third Party Account, as is permitted under the applicable terms and conditions that govern your use of each Third Party Account. You represent that you are entitled to disclose your Third Party Account login information to Mentors Guild and/or grant Mentors Guild access to your Third Party Account for use for the purposes described herein without breach by you of any of the terms and conditions that govern your use of the applicable Third Party Account and without obligating Mentors Guild to pay any fees or making Mentors Guild subject to any usage limitations imposed by the applicable TPSP. If you register by logging into a Third Party Account via our Site or Application, we will obtain the Personal Information you have provided to the applicable TPSP (such as your true name, email address, profile picture, names of TPSP friends, names of TPSP groups to which you belong, other information you make publicly available via the applicable TPSP and/or other information you authorize Mentors Guild to access by authorizing the TPSP to provide such information) from your Third Party Accounts and use that information to create your Mentors Guild Account and Mentors Guild Account profile page. Depending on the Third Party Accounts you choose and subject to the privacy settings that you have set in such Third Party Accounts, you understand that by granting us access to the Third Party Accounts, we will access, make available and store (if applicable and as permitted by the TPSP and authorized by you) the information in your Third Party Accounts so that it is available on and through your Mentors Guild Account on the Site, Service and Application. If there is information about your "friends" or people with whom you are associated in your Third Party Account, the information we obtain about those "friends" or people with whom you are associated, may also depend on the privacy settings such people have with the applicable TPSP. 
				</p>
			</div>
			<br />
			<h1>Use of Your Information</h1> 
			<div id="text-content" style="text-align:justify;">
				<br />	
				<p>
				We do not use Personal Information for purposes other than those disclosed to you in this Privacy Policy and/or at the time it was collected, except with your consent or as required by law. We collect information for one or more of the following purposes: Email Communications: We may use the information that we collect to send you email communications or information about your account or changes to the Site, Application or Service (including changes to the Terms of Service and this Privacy Policy). Mobile Communications: With your consent, we may use your mobile phone number to send you information, notifications and updates regarding the Site, Application or Service. Profile Information: We use the information we collect at registration to create your Mentors Guild Account and Mentors Guild Account profile page. Your Mentors Guild Account profile page will include, among other things, your first and last name, your profile picture, areas of expertise and your location. You may be able to select the other items of Personal Information that you wish to be included in your Mentors Guild Account profile page - including, but not limited to, a list of the TPSP groups to which you belong, a list of any of your TPSP friends or connections who are also Members of Mentors Guild, connections you have established between your Mentors Guild Account and any TPSPs, and a biography and links to your Listings, if applicable (together, your "Profile Information"). We will display your Profile Information in your Mentors Guild Account profile page publicly via the Site and Application, and, with your prior permission, on third party sites. Any information you choose to provide as part of your Profile Information will be publicly visible to all Mentors Guild Users and consequently should reflect how much you want other Mentors Guild Users to know about you. We recommend that you guard your anonymity and sensitive information and we encourage Members to exercise caution regarding the information disclosed in their Mentors Guild Account profile page. You can review and edit your Profile Information at any time. Listings: If you create a Listing, we may publish, use, share or otherwise disclose the Content of that Listing publicly via the Site and Application and may enable third parties to publish the Listing on their websites. Mentors Guild Marketing: We may also use your Personal Information to contact you with Mentors Guild newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of these marketing related notifications at any time by accessing the "Manage Notifications" section of your Mentors Guild Account. Please note that we may also use your Personal Information to contact you with information related to your use of the Service; you may not opt out of these notifications. Request Fulfillment: We may use the information that we collect to fulfill your requests for products, services and information. For example, we may use your information to respond to your customer service requests. Data Analysis: In order to learn more about how our Site, Application and Service are used, we aggregate and analyze the data we collect. We may use the information, for example, to monitor and analyze use of the Site, Application and Service, to improve the functionality of same and to better tailor our content and design to suit our visitors' needs. Testimonials: Mentors Guild posts testimonials on the Site and Application. With your consent, we may post your testimonial on the Site and Application along with your name. To have your testimonial removed, please contact us at <a href="mailto: help@mentorsguild.com">help@mentorsguild.com</a>  
				</p>
			</div>
			<br />
			<h1>Information Sharing and Disclosure</h1> 
			<div id="text-content" style="text-align:justify;">
				<br />	
				<p>
				We do not share or disclose Personal Information for purposes other than those disclosed to you in this Privacy Policy and/or at the time it was collected, except with your consent or as required by law. We will make information about you available to other companies, applications, or people in the circumstances listed below: Analysis: We may share aggregated information that does not include Personal Information and we may otherwise disclose Non-Identifying Information and Log Data with third parties for industry analysis, demographic profiling, payment processing, customer service and other purposes. Any aggregated information shared in these contexts will not contain your Personal Information. Service Delivery: We may employ third party companies and individuals to perform Site-related services, including maintenance services, database management, web analytics, data processing and email and text message distribution. These third parties have access to your information only to perform these tasks on our behalf. Corporate Transaction: We may share information about you in the event that the Site is acquired by or merged with another company or a similar corporate transaction takes place. However, we will notify you by placing a prominent notice on the Site or sending a notice to the primary email address specified in your account before your information is transferred and becomes subject to a different privacy policy. Investigations: We may share information about you to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety or other rights and interests of any person, violations of Mentors Guild's Terms of Service, or as otherwise required by law. Compliance with Laws: We may share information about you to respond to subpoenas, search warrants, judicial proceedings, court orders, legal process, or other law enforcement measures, to establish or exercise our legal rights, or to defend against legal claims.  
				</p>
			</div>
			<br />
			<h1>Third Party Services</h1> 
			<div id="text-content" style="text-align:justify;">
				<br />		
				<p>
				To customize your experience on the Site and Application and to simplify our registration process, we provide you with the opportunity to access or interact with TPSPs, such as LinkedIn. When you connect to the Site or Application through these TPSPs, we may share information about you with these third-party service providers and they may share data about you with us. When you allow us to access your data through a third-party service to create a Site account, we may use this data for several purposes, including: Populating a list of potential friends to whom you can send service-specific messages. For example, we may use friend lists from a TPSP to create a list of contacts to whom you may choose to share your Mentors Guild Account profile page. To enhance and personalize your experience on the Site. When you are connected via a TPSP, we may access certain account information, such as your profile picture, in order to enhance and personalize your experience on the Site. Please remember that we do not control the privacy practices of these third-party services. We encourage you to read the privacy policies of all TPSP websites.  
				</p>
			</div>
			<br />
			<h1>Updating and Deleting your Personal Information</h1> 
			<div id="text-content" style="text-align:justify;">
				<br />	
				<p>
				All Members may review, update, correct or delete the Personal Information in their registration profile by contacting us at <a href="mailto: help@mentorsguild.com">help@mentorsguild.com</a> or editing their profile. If you would like us to deactivate your Mentors Guild Account, please contact us or select the "Cancel Account" feature of the Service and we will attempt to accommodate your request if we do not have any legal obligation or a legitimate business reason to retain the information contained in your Mentors Guild Account. Please note that, if you cancel your Mentors Guild Account, any of your Member Content on the Site and Application will remain publicly viewable via the Site and Application. Please see below for privacy contact information  
				</p>
			</div>
			<br />
			<h1>Security and Data Retention</h1> 
			<div id="text-content" style="text-align:justify;">
				<br />	
				<p>
				To protect your privacy and information, Mentors Guild uses multiple security procedures and practices to protect from unauthorized access, destruction, use, modification and disclosure of Personal Information of users. When you enter Personal Information on our Site and Application, we encrypt that information using secure socket layer technology (SSL). SSL creates a secured connection between our web servers and your browser, which protects against unauthorized access to transmitted data and supports data being sent only to intended recipients. Your Personal Information is password protected and our main servers are locked and hosted by a leading provider of Internet access to enterprises with mission-critical Internet application requirements. Access to the host environment is secure. Identity theft and the practice currently known as "phishing" are of great concern to Mentors Guild. Safeguarding information to help protect you from identity theft is a top priority. We do not and will not, at any time, request your credit card information, your Mentors Guild Account ID, login password, or national identification numbers in a non-secure or unsolicited email or telephone communication. We follow generally accepted industry standards to protect the Personal Information submitted to us, both during transmission and once we receive it. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee its absolute security. If you have any questions about security on our Site and Application, you can contact us at <a href="mailto: help@mentorsguild.com">help@mentorsguild.com</a>  Note that we will make any legally required disclosures of any breach of the security, confidentiality, or integrity of your unencrypted electronically stored "personal data" (as defined in applicable state statutes on security breach notification) to you via email or conspicuous posting on the Site and Application in the most expedient time possible and without unreasonable delay, insofar as consistent with (i) the legitimate needs of law enforcement or (ii) any measures necessary to determine the scope of the breach and restore the reasonable integrity of the data system. All communications, information and files exchanged should be performed using Mentors Guild's messaging system. Requesting or providing email addresses, skype/IM usernames or other personal contact details (other than your name) with other users should be done with the understanding that Mentors Guild will not be held liable for any misuse of this information by individuals.  
				</p>
			</div>
			<br />
			<h1>International Transfer</h1> 
			<div id="text-content" style="text-align:justify;">
				<br />	
				<p>
				Mentors Guild and its third party partners to whom we disclose information under this policy may perform activities outside of the United States and potentially collect, transfer, store, and process your personal information in other countries. As a result, your information may be subject to the laws of those countries or other jurisdictions. These laws may not be equivalent to the privacy and data protection laws in your jurisdiction. Information may be disclosed in response to valid demands or requests from government authorities, courts, or law enforcement in these countries. By using the Site, Application or providing us with your information, you consent to the potential collection, transfer, storage, and processing of information in other countries.  
				</p>
			</div>
			<br />
			<h1>Access</h1> 
			<div id="text-content" style="text-align:justify;">
				<br />		
				<p>
				We will make available to you any of your personal information that we have collected, used or disclosed upon request. Please contact us at <a href="mailto: help@mentorsguild.com">help@mentorsguild.com</a>  
				</p>
			</div>
			<br />
			<h1>Updates to This Policy</h1> 
			<div id="text-content" style="text-align:justify;">
				<br />		
				<p>
				By using the Site, Application and Service you are accepting the terms of this Privacy Policy, as it may be amended from time to time. Please check the date of this Policy each time you visit to ensure that you are aware of the most current version. If you do not agree to the terms of this Policy, please do not use this Site, Application and Service. We may update this Privacy Policy to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your Mentors Guild Account) or by means of a notice on the Site and Application prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.  
				</p>
			</div>
			<br />
			<h1>Addressing Your Concerns</h1> 
			<div id="text-content" style="text-align:justify;">
				<br />
				<p>
				We are accountable for our compliance with this Privacy Policy and the Personal Information under our control. We regularly monitor our procedures and security measures to ensure that they remain effective and that they are being properly administered. If you have questions or suggestions, please contact us at <a href="mailto: help@mentorsguild.com">help@mentorsguild.com</a> 		
				</p>
            </div>
        </div>-->
     </div>
</div>
