<?php 

$this->layout= 'defaultnew';
?>
<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
    <?php echo $this->data['StaticPage']['description'];?>
     </div>
</div>
