<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
        <div id="content-submit" class="thanksCENTER">
        	<h5>Thanks!</h5>
        	<p>Your feedback has been sent</p>
        	<br/>
<!--         	<div class="button-set">
				<input type="submit" class="LTSpreview" value="Done" onclick="closeIframe();" name="">
 			</div> -->
	    </div>
    </div>
</div>
	
<script type="text/javascript">
function closeIframe() {
   var iframe = document.getElementById('templateframe');
   iframe.parentNode.removeChild(iframe);
}
</script>