<div class="thanks-request-page comman-page-boby">
	<div id="inner-content-wrapper">
	    <div class="container">
    	    <div id="inner-content-box" class="pagewidth">
    	        <div id="content-submit" class="thanksCENTER">
    	        	<h3>Thanks!!!</h3>
    	        	<p>Your request has been submitted at GUILD. You will get notify as soon as admin will review your request.</p>
    	        	<div class="button-set">
    					<input type="submit" class="LTSpreview btn get-started" value="Back to home" onclick="window.location.href='<?php echo SITE_URL?>'; " name="">
    				</div>
    		    </div>
    	    </div>
	    </div>
	</div>
</div>

		<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery-2.1.4.min.js"></script>
	        <script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jquery_validate_min_js.js"></script>
		<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/parallax.min.js"></script>
		<script type="text/javascript" src="<?php echo(SITE_URL)?>yogesh_new1/js/jssor.slider-22.0.15.mini.js"></script>
