<div id="avaliability" style="padding-top:20px;">
    <p><b>Availability</b></p>
	<div>
	<?php
	if(isset($this->data['Availablity']['id'])){
		e($form->hidden('Availablity.id'));
	}?>
		<?php  e($form->input('Availablity.day_time', array('div'=>false,'maxlength'=>100, 'label'=>false, "class" => "forminput","style" => "margin-left:0;width:675px; height: 19px; margin-bottom:10px; padding: 13px 10px;","placeholder"=>"e.g. Business hours (ET). By appointment")));?>			<!--VL 31/12 -->	
	</div>	<!--VL 2/1/2013-->
</div>
<div class="clear"></div>
