<div id="avaliability">
    <p><b>Availability</b></p>
	<div>
	<?php
	if(isset($this->data['Availablity']['id'])){
		e($form->hidden('Availablity.id'));
	}?>
		<?php  e($form->input('Availablity.day_time', array('div'=>false,'maxlength'=>100, 'label'=>false, "class" => "forminput","style" => "margin-left:0;width:485px;margin-bottom:20px;padding:5px;","placeholder"=>"Eg:Mondays and Fridays 5 P.M to 8 P.M.")));?>			<!--VL 31/12 -->	
	</div>	
</div>
<div class="clear"></div>
