<script type="text/javascript">
	var res = 1;
	jQuery('#add').live('click',function() {
        source_count= jQuery('input[name="data[UserReference][resource_title][]"]').length;
        
        if(source_count<3)
        {
        jQuery(' <div id="dynamic-Resources'+res+'"> <br/><?php e($form->input("", array("div"=>false, "type"=>"text","name"=>"data[UserReference][resource_title][]" , "id"=>"resource_title[]" , "label"=>false, "class" => "forminput", "value" => "", "style"=>"width:228px;" ,"maxLength"=>"200", "placeholder" => "")));?> &nbsp; &nbsp; &nbsp; &nbsp; <?php e($form->file('',array('label'=>false,'div'=>false , "name"=>'data[UserReference][resource_location][]' , "id"=>'resource_location[]' ))); ?>&nbsp; &nbsp;<a id="remove" style="cursor:pointer"  onclick=removed("dynamic-Resources'+res+'")><?php e($html->image("media/minus1.png" , array("style"=>"cursor:pointer" , "height"=>"19", "width"=>"24" ))); ?></a> <div class="plus_symbol"></div></div>').fadeIn('slow').appendTo('#divAdd');
        res++;
        }
        else
        {
            alert("You can enter up to 3 resources");
        }
    });
	function removed(id)
	{
		jQuery('#'+id).remove();
    }
</script>
<div id="links" style="width:696px;margin-top:20px"> 
	<p><b>Resources</b></p>
	 <div id="divAdd" class="white_box" style="margin-top:0px;"> 
		<?php 
			$resourceCounter=0;
			if(count($this->data['Source'])>0)
			{
				while(count($this->data['Source'])>$resourceCounter)
				{
					$resourceCounter++;
				}
			}
			if(count($this->data['Source'])>0)
			{
			if($resourceCounter == 30){
		?>
			<div id="dynamic-Resources0"> <br/><?php e($form->input("", array("div"=>false, "type"=>"text","name"=>"data[UserReference][resource_title][]" , "id"=>"resource_title[]" , "label"=>false, "class" => "forminput", "value" => "", "style"=>"width:228px;" , "placeholder" => ""))); ?>&nbsp; &nbsp; &nbsp; &nbsp; <?php e($form->file('',array('label'=>false,'div'=>false , "name"=>'data[UserReference][resource_location][]' , "id"=>'resource_location[]' ))); ?> &nbsp; &nbsp;<a  id='add' style="cursor:pointer" ><?php e($html->image('media/add.png' , array('style'=>'cursor:pointer', "height"=>"19", "width"=>"24"))); ?></a> </div>
		<?php
			echo $form->hidden('',array("name" => 'data[UserReference][resource_id][]', 'value' => "NEW"));
		}
		$resourceCounter=0;     
		$first_track = 0;
		while(count($this->data['Source'])>$resourceCounter)
		{
		?>
	   
		<div id="my_uploded_resource_<?php echo $this->data['Source'][$resourceCounter]['id']; ?>"> <br/>
			<?php e($form->input('', array('div'=>false, "name"=>'data[UserReference][resource_title][]' , "id"=>'resource_title[]' , 'label'=>false, "class" => "forminput", "value" => $this->data['Source'][$resourceCounter]['resource_title'] , "style"=>"width:228px;" , "placeholder" => "")));?>
			&nbsp; &nbsp; &nbsp; &nbsp; <div style="width:320px;display:inline-block;"><?php echo $this->data['Source'][$resourceCounter]['resource_location']; ?></div><a id='delete_unlink' style="cursor:pointer" onclick="unlink_resource('<?php echo $this->data['Source'][$resourceCounter]['id']; ?>')"><?php e($html->image('media/minus_1.png' , array('style'=>'cursor:pointer', "height"=>"19", "width"=>"24"))); ?></a>
			<?php
				if($first_track == 0){
					
			?>
				<a  id='add' style="cursor:pointer" ><?php e($html->image('media/add.png' , array('style'=>'cursor:pointer', "height"=>"19", "width"=>"24"))); ?></a>
			
			<?php
				}
				echo $form->hidden('',array("name" => 'data[UserReference][resource_id][]', 'value' => $this->data['Source'][$resourceCounter]['id']));
			?>
			<?php
				if($first_track > 0){
			?>
					<div class="plus_symbol"></div>
			<?php
				}
				$first_track++;
			?>
		</div>
		
		<?php
		$resourceCounter++;
		}
		
		}
		else
		{
		?>
		 <div id="dynamic-Resources0"> <br/><?php e($form->input("", array("div"=>false, "type"=>"text","name"=>"data[UserReference][resource_title][]" , "id"=>"resource_title[]" , "label"=>false, "class" => "forminput", "value" => "", "style"=>"width:228px;" , "placeholder" => ""))); ?>&nbsp; &nbsp; &nbsp; &nbsp; <?php e($form->file('',array('label'=>false,'div'=>false , "name"=>'data[UserReference][resource_location][]' , "id"=>'resource_location[]' ))); ?> &nbsp; &nbsp;<a  id='add' style="cursor:pointer" ><?php e($html->image('media/add.png' , array('style'=>'cursor:pointer', "height"=>"19", "width"=>"24"))); ?></a> </div>
		 <?php
		}
		 ?>
	 </div>
</div>