<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
     
        <div class="Profile_page_container">
        <div id="pro-creation">
                <h1>Order confirmation</h1>
            </div>
          <div class="orderconformation">
		  <div class="mentor_details mr-bt20" style="margin-top:0px; float:none;">
			<div id="mentor-detail-left1">
				
				
					
					
					<div id="edit_box" style="display:none;">
					<div class="edit_row">
						<div class="edit_col1">
												<input name="link[]" id="link[]" style="height:20px;" maxlength="64" type="text">
						<a href="javascript:act(0);"><img src="Edit%20Profile%20_%20MentorsGuild_files/2-11-09delete.jpg" alt="skype" class="padding_right"></a>
						</div>
						<div class="edit_col2">
												<input name="link[]" id="link[]" style="height:20px;" maxlength="64" type="text">							<a href="javascript:act(1);"><img src="Edit%20Profile%20_%20MentorsGuild_files/2-11-09delete.jpg" alt="skype"></a>
						</div>
					</div>
					
					<div class="edit_row">
						<div class="edit_col1">
													<input name="link[]" id="link[]" style="height:20px;" maxlength="64" type="text">							<a href="javascript:act(2);"><img src="Edit%20Profile%20_%20MentorsGuild_files/2-11-09delete.jpg" alt="skype" class="padding_right"></a>
						</div>
						<div class="edit_col2">
														<input name="link[]" id="link[]" style="height:20px;" maxlength="64" type="text">							
							<a href="javascript:act(3);"><img src="Edit%20Profile%20_%20MentorsGuild_files/2-11-09delete.jpg" alt="skype"></a>
						</div>
					</div>
					
					
					<div class="edit_row">
						<div class="edit_col1">
													<input name="link[]" id="link[]" style="height:20px;" maxlength="64" type="text">
							<a href="javascript:act(4);"><img src="Edit%20Profile%20_%20MentorsGuild_files/2-11-09delete.jpg" alt="skype" class="padding_right"></a>						</div>
						
					</div>
					</div>
					
			
				
				<div class="white_box mr-bt20" style="width:90%; display:none;">
				  <ul class="h_list">
					<li class="one"><a href="#"><img src="Edit%20Profile%20_%20MentorsGuild_files/minus.png" alt="skype"></a></li>
					<li class="two">Maichel Dang </li>
					<li class="three"><a href="#">Log</a></li>
					<li class="four">Scheduled </li>
					<li class="floatR five"><a href="#">Mark session as complete </a></li>
				  </ul>
				  <ul class="h_list">
					   <li class="one"><a href="#"><img src="Edit%20Profile%20_%20MentorsGuild_files/minus.png" alt="skype"></a></li>
					 <li class="two">Stphene Dang</li>
					 <li class="three"><a href="#">Log</a></li>
					<li class="four">Applied</li>
					<li class="floatR five"><a href="#">Accept </a> <a href="#"> Reject </a> </li>
				  </ul>
				  <ul class="h_list">
					  <li class="one"><a href="#"><img src="Edit%20Profile%20_%20MentorsGuild_files/minus.png" alt="skype"></a></li>
					 <li class="two">Mark Dang </li>
					 <li class="three"><a href="#">Log</a></li>
					 <li class="four">Submitted feedback </li>
					<li class="floatR five"><a href="#">Review</a></li>
				  </ul>
				  <ul class="h_list">
					   <li class="one"><a href="#"><img src="Edit%20Profile%20_%20MentorsGuild_files/minus.png" alt="skype"></a></li>
					 <li class="two">Calude Dang </li>
					 <li class="three"><a href="#">Log</a></li>
					 <li class="four">Registered</li>
					<li class="floatR five"><a href="#">Scheduled orientation</a></li>
				  </ul>
				</div>
				<div id="area-box">
					<div class="invoce-creation">
					<div class="orderdetail">
                    <h1>Title </h1>
                    <div class="content">
                    <h2>1st hour orientation: <strong>Robert Werner (Mentor) - Michael Dang (Mentee) </strong></h2>
                    <div class="product">
                      <img src="<?php echo SITE_URL?>img/media/venue.png" width="248" height="127" alt="" />
                      <p style="float:left;">Date: 9/10/2012<br />
                        Time: 8:00 - 9:00 PM <br />
                        Venue: Skyee Restaurant, UB City, Bangalore<br />
                        <a href="#">Add to calendar</a></p>
                      </div>
                      <div class="clear"></div>
                    </div>
                    </div>
                      <div class="formrow">
                        <p><b>Comments</b></p>
                        <textarea name="data[UserReference][background_summary]" maxlength="2000" style="width:651px; padding:10px;" placeholder="Enter your comment here" cols="30" rows="6">Enter your comment here</textarea>
                      </div>
                      <div id="Apply" role="Apply">
                      <a class="orderlink" href="/mentorsguid/">Request to reschedule</a>
							<a href="#"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;"></a>
                            
				      </div>
                      <div class="note">
                      <div class="formrow">
                        <p><b>Note:</b></p>
                        <p> You should pay fees only if all terms are acceptable.</p>
                      </div>
                      </div>
					</div>
                    
					
					
					
					
				</div>
				
			</div>
			
			<div id="invoce-right">
			<div class="invoice-detail">
            <h1>Invoice: #1235-HGFY</h1>
            <div class="invoice-price">
            <div class="price-row">
            <div class="left-price">Price</div>
            <div class="right-price">$100.00</div>
            </div>
            <div class="price-row">
            <div class="left-price">Discount </div>
            <div class="right-price">$10.00</div>
            </div>
            <div class="price-row">
            <div class="left-price"><strong>Subtotal</strong> </div>
            <div class="right-price"><strong>$90.00</strong></div>
            </div>
            <div class="price-row">
            <div class="left-price">Tax</div>
            <div class="right-price">$4.50</div>
            </div>
            <div class="price-total">
            <div class="left-price"><strong>Total</strong></div>
            <div class="right-price"><strong>$94.50</strong></div>
            </div>
            </div>
            </div>
            
			</div>
		  </div>
          </div>
        
      
		  
		  
        </div>
      
    </div>
  </div>