	
	<div class="fieldset" style="display: block;">
    <div class="adminrightinner" style="padding:0px;">

            <div class="tablewapper2">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="Admin2Table">	
                    <tr class="head">
                        <td width="5%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">Id</td>
                        <td  width="25%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">Question</td>
                        <td  width="30%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">Context</td>
                        <td  width="20%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">Categories</td>
                        <td width="15%" align="center" valign="middle" class="Bdrrightbot Padtopbot6">Action</td>
                        <td width="5%" align="center" valign="middle" class="Bdrbot ActionIcon"><?php e($admin->getActionImage(array('delete' => array('controller' => 'qna', 'action' => 'deleteall', 'token' => 'deleteall')))); ?></td>
                    </tr>
                    <?php 
                    if(!empty($questions) && count($questions)>0)
                    { 
                        foreach($questions as $msg)
                        {    
                        
                        ?>
                        <tr>
                            <td width="5%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;"><?php echo $msg['Qna_question']['id']; ?></td>
                            <td  width="25%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6"><?php echo $msg['Qna_question']['question_text']; ?></td>
                            <td  width="30%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6"><?php echo $msg['Qna_question']['question_context']; ?>  </td>
                            <td  width="20%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6"><?php  
                            $cCount = count($msg['Qna_question_category']);
                            foreach($msg['Qna_question_category'] as $key => $cValue) {
                            	echo $categories[$cValue['category_id']];
                            	
                            	if($key != $cCount-1)
                            		echo ",";
                		}?> </td>
                            <td width="15%" align="center" valign="middle" class="Bdrbot ActionIcon"><?php e($admin->getActionImage(array('edit'=>array('controller'=>'qna', 'action'=>'editquestion'),'delete' => array('controller' => 'qna', 'action' => 'deletequestion', 'token' => 'delete')), $msg['Qna_question']['id'])); ?></td>  
                        </tr>	
                   <?php
                        }
                    }else{ ?>
                   <tr>
                        <td colspan="3" width="15%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">Record not found</td>           
                    </tr>
                   <?php } ?>   
                </table>
            </div>
            <?php
     //   }
        ?>

    </div>
</div>
<div class="clr"></div>
<?php //echo $this->element('admin/admin_paging', array("paging_model_name" => "NewsLetter", "total_title" => "NewsLetter")); ?>	 