	
	<div class="fieldset" style="display: block;">
    <div class="adminrightinner" style="padding:0px;">

            <div class="tablewapper2">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="Admin2Table">	
                    <tr class="head">
                        <td width="5%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">Deadline</td>
                        <td  width="10%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">Reporter name</td>
                        <td  width="10%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">Reporter email</td>
                        <td  width="10%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">Media outlet</td>
                        <td  width="5%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6">Category</td>
                        <td width="5%" align="center" valign="middle" class="Bdrrightbot Padtopbot6">Subject</td>
                        <td width="25%" align="center" valign="middle" class="Bdrrightbot Padtopbot6">Reporter query</td>
                        <td width="25%" align="center" valign="middle" class="Bdrrightbot Padtopbot6">Requirement</td>
                        <td width="5%" align="center" valign="middle" class="Bdrrightbot Padtopbot6">Action</td>
                            </tr>
                    <?php 
                     $currentTime = strtotime("now");

                	foreach(array_reverse($media_records) as $record)
      
                        if(strtotime($record['MediaRecords']['deadline']) >= $currentTime){
                        
                        
                        ?>
                        <tr>
                            <td width="5%" align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;"><?php echo $record['MediaRecords']['deadline']; ?></td>
                            <td  width="10%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6"style="padding-left:9px;"><?php echo $record['MediaRecords']['reporter_name']; ?></td>
                            <td  width="10%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6"style="padding-left:9px;"><?php echo $record['MediaRecords']['reporter_email']; ?>  </td>
                            <td  width="10%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6"style="padding-left:9px;"><?php echo $record['MediaRecords']['media_outlet']; ?></td>
                            <td  width="5%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6"style="padding-left:9px;"><?php echo $record['MediaRecords']['category']; ?>  </td>
                            <td width="5%" align="center" valign="middle" class="Bdrrightbot Padtopbot6" style="padding-left:9px;"><?php { 
                                                                           $subject = str_replace('  ', '&nbsp;&nbsp;',$record['MediaRecords']['subject']); 
											echo $this->General->make_links(nl2br($subject));}?></td>                            
                            <td  width="25%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6" style="padding-left:9px;"><?php { 
                                                                           $reporter_query = str_replace('  ', '&nbsp;&nbsp;',$record['MediaRecords']['reporter_query']); 
											echo $this->General->make_links(nl2br($reporter_query));}?></td>
                            <td  width="25%"  align="center" valign="middle" class="Bdrrightbot Padtopbot6" style="padding-left:9px;"><?php { 
                                                                           $requirement = str_replace('  ', '&nbsp;&nbsp;',$record['MediaRecords']['requirement']); 
											echo $this->General->make_links(nl2br($requirement));}?></td> 
                            <td width="5%" align="center" valign="middle" class="Bdrbot ActionIcon"><?php e($admin->getActionImage(array('edit'=>array('controller'=>'qna', 'action'=>'editmediarecord'),'delete' => array('controller' => 'qna', 'action' => 'media_delete', 'token' => $this->params['_Token']['key'])), $record['MediaRecords']['id'])); ?></td>
                                 
                    </tr>
                   <?php }?>
                </table>
            </div>
           
 

       
 
         
    </div>
</div>
	 