
<div class="expertise pagewidth">

		    		<div style="margin: 40px;">
		    			<p><strong> <?php e($question['Qna_question']['question_text']); ?> </strong></p>
		    		
		    		<p> <?php e($question['Qna_question']['question_context']); ?> </p>
		    		
		    		<?php $catcount = 1;
			    		foreach ($question['Qna_question_category'] as $qcategory) {?>
			    		 
			    		<p>Category <?php e($catcount++.": ".$categories[$qcategory['category_id']]) ?></p>
			    		<?php }?>
		    		</div>
</div>
            
            <div class="expertise" style="height: 1000px;">
	            <div class="profileimg">
				<?php 
				if(isset($userData['UserImage'][0]['image_name']) && $userData['UserImage'][0]['image_name'] !=''){
						$image_path = MENTORS_IMAGE_PATH.DS.$userData['User']['id'].DS.$userData['UserImage'][0]['image_name'];
						e($html->image($image_path,array('alt'=>$userData['UserReference']['first_name']." ".$userData['UserReference']['last_name'], 'height'=>'200','width'=>'200' ,'class'=>'desaturate')));	
				}else{
					e($html->image('media/profile.png',array('alt'=>$userData['UserReference']['first_name']." ".$userData['UserReference']['last_name'])));
				}?>
				</div>
		
				<div class="figcaption" style="bottom:-5px;width:455px;">
					<h1><span><?php e(ucfirst(strtolower($userData['UserReference']['first_name'])).' '.$userData['UserReference']['last_name']); ?></span></h1>
				</div>
				
				<form action="<?php echo SITE_URL ?>qna/answer_preview" method="post" id="Addform">
				<input type="hidden" name="data[Qna_answer][id]" value="<?php e($question['Qna_question']['id']);?>"/>
					<div class="expertise">
		                <h1>Answer</h1>
		                <p><?php e($AnswerText);?></p>
		            <input id="applyPreview" value="Save" type="submit" >
		            </div>
				</form>
			</div>
