<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div id="inner-content-wrapper">
	<div id="inner-content-box" class="pagewidth">
		<div class="Profile_page_container"><!-- VL 22/12-->
			<div class="figure-left align-left-botttom">
        		<div class="profileimg">
					<img src="/dynamic_sites/MentorG/img/members/profile_images/179/valsaint0.jpeg?" alt="Mike Dorman" height="200" width="200" class="desaturate" />
				</div>		
				<div class="figcaption" style="bottom:-5px;width:455px;">
					<h1><span>Mike Dorman</span></h1>
					<p>Irvine, CA<br />
						<a href="http://localhost/dynamic_sites/MentorG/mike.dorman">www.mentorsguild.com/mike.dorman</a>
					</p>
					<div class="socials">
						<a href="http://www.terryhildebrandt.com" target="_blank">
							<img src="/dynamic_sites/MentorG/img/media/share-icon-1.png?1373239286" alt="twitter" height="32" width="32" title="http://www.terryhildebrandt.com" />
						</a>
						<a href="http://www.mycoachmatch.com/executive-coach-terry-hildebrandt/" target="_blank">
							<img src="/dynamic_sites/MentorG/img/media/share-icon-1.png?1373239286" alt="twitter" height="32" width="32" title="http://www.mycoachmatch.com/executive-coach-terry-hildebrandt/" />
						</a>
						<a href="https://" target="_blank">
							<img src="/dynamic_sites/MentorG/img/media/share-icon-1.png?1373239286" alt="twitter" height="32" width="32" title="https://" />
						</a>				
					</div> 
				</div>
				<div id="like-btn"></div>
			</div>

			<div class="mentor_details"><!-- VL 22/12-->
				<div id="mentor-detail-left1">
					<div id="area-box">
						<h1>Answered Questions</h1>			
						<div class="expertise unanswered" style="padding-top:30px;">
							<h3>How do I ask for a pay raise? <a href="#">read more</a></h3>

							<p>
                				Question1 : Catalyst for individuals and organizations to realize their full potential by providing
                			</p>
				            <div class="QnAbutton">
				                <a href="#">Career</a>
				                <a href="#">Change Management</a>
				                <a href="#">Financial Management</a>
				                <a href="#">Small Business</a>
				                <a href="#">Small Business</a>
				                <br/>
				            </div>
						</div>
						<div class="HRLine"></div>
						<div class="expertise unanswered" style="padding-top:15px;">
							<h3>How do I ask for a pay raise?
								<a href="#" style="float:right;">read more</a>
							</h3>
							<p>
                				Question1 : Catalyst for individuals and organizations to realize their full potential by providing
                			</p>
				            <div class="QnAbutton">
				                <a href="#">Career</a>
				                <a href="#">Change Management</a>
				                <a href="#">Financial Management</a>
				                <a href="#">Small Business</a>
				                <a href="#">Small Business</a>
				                <br/>
				            </div>
						</div>
						<div class="HRLine"></div>
						<div class="expertise unanswered" style="padding-top:15px;">
							<h3>How do I ask for a pay raise?
								<a href="#" style="float:right;">read more</a>
							</h3>
							<p>
                				Question1 : Catalyst for individuals and organizations to realize their full potential by providing
                			</p>
				            <div class="QnAbutton">
				                <a href="#">Career</a>
				                <a href="#">Change Management</a>
				                <a href="#">Financial Management</a>
				                <a href="#">Small Business</a>
				                <a href="#">Small Business</a>
				                <br/><br/>
				            </div>
						</div>
						<div class="expertise">
							<div class="more-button-search" style="text-align:center;">
				            	<input type="button" value="MORE ANSWERED" />
				            </div>
						</div>
						<!--/////////////////UN-ANSWERED//////////////////////  -->
						<div class="HRLine"></div>
						<!--/////////////////UN-ANSWERED//////////////////////  -->

						<h1>Un-answered Questions</h1>
						<br/>
						<div class="expertise unanswered" style="padding-top:15px;">
							<h3>How do I ask for a pay raise?
								<a href="#" style="float:right;">read more</a>
							</h3>
							<p>
                				Question1 : Catalyst for individuals and organizations to realize their full potential by providing
                			</p>
				            <div class="QnAbutton">
				                <a href="#">Career</a>
				                <a href="#">Change Management</a>
				                <a href="#">Financial Management</a>
				                <a href="#">Small Business</a>
				                <a href="#">Small Business</a>
				                <br/><br/>
				            </div>
						</div>
						<div class="HRLine"></div>
						<div class="expertise unanswered" style="padding-top:15px;">
							<h3>How do I ask for a pay raise?
								<a href="#" style="float:right;">read more</a>
							</h3>
							<p>
                				Question1 : Catalyst for individuals and organizations to realize their full potential by providing
                			</p>
				            <div class="QnAbutton">
				                <a href="#">Career</a>
				                <a href="#">Change Management</a>
				                <a href="#">Financial Management</a>
				                <a href="#">Small Business</a>
				                <a href="#">Small Business</a>
				                <br/><br/>
				            </div>
						</div>
						<div class="HRLine"></div>
						<div class="expertise unanswered" style="padding-top:15px;">
							<h3>How do I ask for a pay raise?
								<a href="#" style="float:right;">read more</a>
							</h3>
							<p>
                				Question1 : Catalyst for individuals and organizations to realize their full potential by providing
                			</p>
				            <div class="QnAbutton">
				                <a href="#">Career</a>
				                <a href="#">Change Management</a>
				                <a href="#">Financial Management</a>
				                <a href="#">Small Business</a>
				                <a href="#">Small Business</a>
				                <br/><br/>
				            </div>
						</div>

						<div class="expertise">
							<div class="more-button-search" style="text-align:center;">
				            	<input type="button" value="MORE ANSWERED" />
				            </div>
				            <br/><br/><br/>
						</div>
					</div>
				</div>

				<div id="mentor-detail-right" style="margin-bottom: 20px;"><!-- VL 22/12 start-->         
                    <div class="apply-button-search" style="float: left; margin-bottom: 5px;">
                        <input class="profilebtn" type="button" style="width:211px !important;" value="Give answers [7]" />
                    </div><!-- VL 22/12 end-->
					<div class="rates"><!-- this is a right part --></div>
				</div>
			</div><!-- VL 22/12-->	
		</div>
	</div>
</div><!-- VL 22/12-->