<html>
<head>
<title>Convert HTML to PDF</title>
</head>
<body>
<form name="frm" method=post>
 <div class="HoldPage">
 <div class="page">
 <h1 style="text-align:center; font-size:18px;">COMPORTEMENT/COMPETENCES</h1>
 <p style="text-align:center;">Déterminer et évaluer les seuls critères nécessaires à la tenue du poste</p>
 <p class="text_P">COMPETENCES OPERATIONNELLES</p>
 <hr class='dashes'>
 <ul type="disc">
    <li><strong>CONNAISSANCE ET EXPERIENCE (O/E/AM/Cadres)</strong></li>
 </ul>
<input type="submit" name="convert2PDF" value="GeneratePDF">
<?php
    if(isset($_POST['convert2PDF'])){
        header("Content-type: application/vnd.ms-word");
        header("Content-Disposition: attachment;Filename=rr.pdf");
    }
?>
</form>
</body>
</html>