<?php e($html->css(array('opentip'))); ?>
<?php e($javascript->link(array('opentip-jquery')));?>
<script>
var i=0;
jQuery(document).ready(function(){


	i =  <?php e($totalSocial) ; ?>;
	jQuery('#reset').click(function() {
	while(i > 2) {
		$('.field:last').remove();
		i--;
	}
	});
	
	
/*VL 25/12 start*/
	jQuery('#edit_btn').click(function() 
	{
		
		var id_div=document.getElementById('edit_box');
		var vis = id_div.style;
		
		if (vis.display=='none')
		{
			
			document.getElementById('edit_box').style.display='block';
			
		}
		else
		{
			document.getElementById('edit_box').style.display='none';
		}
		
	});
	
jQuery('#edit_1').click(function() 
	{
		document.getElementById('link_1').value='';
	});
	jQuery('#edit_2').click(function() 
	{
		document.getElementById('link_2').value='';
	});
	jQuery('#edit_3').click(function() 
	{
		document.getElementById('link_3').value='';
	});
	jQuery('#edit_4').click(function() 
	{
		document.getElementById('link_4').value='';
	});
	jQuery('#edit_5').click(function() 
	{
		document.getElementById('link_5').value='';
	});
	
	/*VL 25/12 end*/	

});
function removed(id)
{
	//alert(id);
	//alert($(this).attr('div-name'));
	jQuery('#'+id).remove();
	res--;
}

function removedquestion(id)
{
	//alert(id);
	//alert($(this).attr('div-name'));
	jQuery('#'+id).remove();
	iQuestion--;
}

function limitText(limitNum) {
	if (document.getElementById('text-area').value.length > limitNum) {
		alert("Your Max Limit 2000");
	} 
}

function loginpopup(id) {
		//alert(SITE_URL+'/users/profile_photo_edit');
		//TINY.box.show(url:SITE_URL+'/users/login',1,300,150,1,3);
		
		var path=SITE_URL+'/users/profile_photo_edit/'+id;
		//TINY.box.show(path,1300,150,true,500);
		//TINY.box.show({url:SITE_URL+'/users/login',width:700,height:380 });
		TINY.box.show({url:path,width:512,height:403})
	}
	
	function linkpopup() {
		//alert(SITE_URL+'/users/social_link_edit');
		//TINY.box.show(url:SITE_URL+'/users/login',1,300,150,1,3);
		
		var path=SITE_URL+'/users/social_link_edit/';
		//TINY.box.show(path,1300,150,true,500);
		//TINY.box.show({url:SITE_URL+'/users/login',width:700,height:380 });
		TINY.box.show({url:path,width:512,height:403})
	}
	
function act(id)
	{
		
		var mutli_education = document.EditAccountform.elements["link[]"];
		//inputsData=document.getElementById('link');
		mutli_education[id].value="";
		//alert("ff");
		//alert(mutli_education[0].files[0].size);
		
		
	} 
//'onsubmit'=>'return valid();'
</script>
<link href="css/front.css" type="text/css" rel="stylesheet" />
 <?php e($form->create('User', array('url' => array('controller' => 'clients', 'action' => 'edit_account'),'type'=>'file','id'=>'EditAccountform' , "name"=>'EditAccountform')));?>     
<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
     
        <div class="Profile_page_container">
        <div id="pro-creation">
                <h1>Edit Profile</h1>
            </div>
          <div class="figure-left align-left-botttom "> 
		  
		  <div id="profileImage" style="background: none repeat scroll 0 0 white;border: 1px solid #DDDDDD;float: left;margin-bottom: 20px;margin-right: 15px;overflow: hidden;text-align: center; width:200px;">
			<?php 
			if(isset($this->data['UserImage'][0]['image_name']) && $this->data['UserImage'][0]['image_name'] !=''){
				if($this->data['User']['role_id']==Configure::read('App.Role.Mentor'))
				{
					$image_path = MENTORS_IMAGE_PATH.DS.$this->data['User']['id'].DS.$this->data['UserImage'][0]['image_name'];
				?>
			

			
					<?php e($html->image($image_path,array('alt'=>$this->data['UserReference']['first_name']." ".$this->data['UserReference']['last_name'], 'height'=>'200','width'=>'200')));?>	

<?php			}
				else
				{
					$image_path = MENTEES_IMAGE_PATH.DS.$this->data['User']['id'].DS.$this->data['UserImage'][0]['image_name']; ?>
				

					<?php e($html->image($image_path,array('alt'=>$this->data['UserReference']['first_name']." ".$this->data['UserReference']['last_name'] ,'height'=>'200', 'width'=>'200')));	?>
					
<?php					
				}
				e($form->hidden($this->data['UserImage'][0]['image_name'],array('value'=>$this->data['UserImage'][0]['image_name'],'id'=>'image_name')));
			}
			
			else
			{

				e($html->image('media/profile.png',array('width'=>'200px','alt'=>$this->data['UserReference']['first_name']." ".$this->data['UserReference']['last_name'],'style' => '')));
				e($form->hidden('profile.png',array('value'=>'profile.png','id'=>'image_name')));
			}?>
            
            <div style="margin-top: 5px;"><?php e($this->element('menteesuser/step2_add_image')); ?></div>	
			</div>
			
			
			
            <div class="figcaption">
              <?php e($form->input('UserReference.first_name', array('div'=>false, 'label'=>false, "class" => "forminput1", "style"=>"margin-bottom:5px;" , "placeholder" => "")));?> &nbsp; 
              <?php e($form->input('UserReference.last_name', array('div'=>false, 'label'=>false, "class" => "forminput1", "style"=>"margin-bottom:5px; clear:both;" , "placeholder" => "")));?><br />
              <?php e($form->input('UserReference.headline', array('div'=>false, 'label'=>false, "class" => "forminput1", "style"=>"margin-bottom:5px;" , "placeholder" => "Professional headline")));?><br />
              <?php e($form->input('UserReference.zipcode', array('div'=>false, 'label'=>false, "class" => "forminput1", "style"=>"margin-bottom:5px;" , "placeholder" => "ZIP (if US based) OR Country")));?>
              
              <div class="socials" style="position:relative;bottom:-5px;">
			  <?php
					$socialCount=0;
					while(count($this->data['Social'])>$socialCount)
					{
						if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'http'))!==false)
						{
							$link=$this->data['Social'][$socialCount]['social_name'];
						}
						else
						{
							$link="http://".$this->data['Social'][$socialCount]['social_name'];
						}
						if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'linkedin'))!==false)
						{
						 e($html->link($html->image('media/linkedin.png',array('alt'=>'twitter' , 'height'=>'32', 'width'=>'32')),$link,array('escape'=>false , 'target'=>'_blank')));
						}
						else if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'twitter'))!==false)
						{
							 e($html->link($html->image('media/twitter.png',array('alt'=>'twitter' , 'height'=>'32', 'width'=>'32')),$link,array('escape'=>false , 'target'=>'_blank')));
						}
						else if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'facebook'))!==false)
						{
							 e($html->link($html->image('media/facebook.png',array('alt'=>'twitter' , 'height'=>'32', 'width'=>'32')),$link,array('escape'=>false , 'target'=>'_blank')));
						}
						else if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'google'))!==false)
						{
							 e($html->link($html->image('media/Google+.png',array('alt'=>'twitter' , 'height'=>'32', 'width'=>'32')),$link,array('escape'=>false , 'target'=>'_blank')));
						}
						else if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'blogspot'))!==false)
						{
							 e($html->link($html->image('media/blogger.png',array('alt'=>'blogger' , 'height'=>'32', 'width'=>'32')),$link,array('escape'=>false , 'target'=>'_blank')));
						}
						else if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'wordpress'))!==false)
						{
							 e($html->link($html->image('media/wordpress.png',array('alt'=>'wordpress' , 'height'=>'32', 'width'=>'32')),$link,array('escape'=>false , 'target'=>'_blank')));
						}
						else if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'youtube'))!==false)
						{
							 e($html->link($html->image('media/youtube.png',array('alt'=>'youtube' , 'height'=>'32', 'width'=>'32')),$link,array('escape'=>false , 'target'=>'_blank')));
						}
						else if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'yahoo'))!==false)
						{
							 e($html->link($html->image('media/yahoo.png',array('alt'=>'yahoo' , 'height'=>'32', 'width'=>'32')),$link,array('escape'=>false , 'target'=>'_blank')));
						}
						else if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'delicious'))!==false)
						{
							 e($html->link($html->image('media/delicious.png',array('alt'=>'delicious' , 'height'=>'32', 'width'=>'32')),$link,array('escape'=>false , 'target'=>'_blank')));
						}
						else if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'digg'))!==false)
						{
							 e($html->link($html->image('media/digg.png',array('alt'=>'digg' , 'height'=>'32', 'width'=>'32')),$link,array('escape'=>false , 'target'=>'_blank')));
						}
						else if(($pos =strpos($this->data['Social'][$socialCount]['social_name'],'orkut'))!==false)
						{
							 e($html->link($html->image('media/orkut.png',array('alt'=>'orkut' , 'height'=>'32', 'width'=>'32')),$link,array('escape'=>false , 'target'=>'_blank')));
						}
						

						else
						{
							 e($html->link($html->image('media/share-icon-1.png',array('alt'=>'twitter' , 'height'=>'32', 'width'=>'32')),$link,array('escape'=>false , 'target'=>'_blank')));
						}
						
						$socialCount++;
					}
				?>
						
               <!-- <input type="text" value="E.g: Twitter" class="share-textbox" />-->
			   
			   
			   <a  id='edit_btn' style="cursor:pointer" ><span>edit links</span></a>
                </div>
				
            </div>
          </div>
		  <div class="mentor_details mr-bt20" style="margin-top:0px;">
			<div id="mentor-detail-left1" style="width:1000px !important; min-height: 100px;">
					<div id="edit_box" style="display:none;">
					<div class="edit_row">
						<div class="edit_col1">
						<?php
							$val='';
							if(isset($this->data['Social'][0]['social_name']))
							{
								$val=$this->data['Social'][0]['social_name'];
							}
						?>
						<?php e($form->input('',array('label'=>false,'div'=>false , "name"=>'link[]' , "id"=>'link[]' , "value"=>$val,"style"=>"height:20px;"))); ?>

						<?php e($html->link($html->image('media/minus1.png',array('alt'=>'skype'  ,"class"=>"padding_right")),'javascript:act(0);',array('escape'=>false)));?>

						</div>
						<div class="edit_col2">
						<?php
							$val='';
							if(isset($this->data['Social'][1]['social_name']))
							{
								$val=$this->data['Social'][1]['social_name'];
							}
						?>
						<?php e($form->input('',array('label'=>false,'div'=>false , "name"=>'link[]' , "id"=>'link[]' , "value"=>$val,"style"=>"height:20px;"))); ?>
							<?php e($html->link($html->image('media/minus1.png',array('alt'=>'skype'  )),'javascript:act(1);',array('escape'=>false)));?>

						</div>
					</div>
					
					<div class="edit_row">
						<div class="edit_col1">
						<?php
							$val='';
							if(isset($this->data['Social'][2]['social_name']))
							{
								$val=$this->data['Social'][2]['social_name'];
							}
						?>
							<?php e($form->input('',array('label'=>false,'div'=>false , "name"=>'link[]' , "id"=>'link[]' , "value"=>$val,"style"=>"height:20px;"))); ?>
							<?php e($html->link($html->image('media/minus1.png',array('alt'=>'skype'  ,"class"=>"padding_right")),'javascript:act(2);',array('escape'=>false)));?>

						</div>
						<div class="edit_col2">
							<?php
							$val='';
							if(isset($this->data['Social'][3]['social_name']))
							{
								$val=$this->data['Social'][3]['social_name'];
							}
						?>
							<?php e($form->input('',array('label'=>false,'div'=>false , "name"=>'link[]' , "id"=>'link[]' , "value"=>$val,"style"=>"height:20px;"))); ?>
							
							<?php e($html->link($html->image('media/minus1.png',array('alt'=>'skype'  )),'javascript:act(3);',array('escape'=>false)));?>

						</div>
					</div>
					
					
					<div class="edit_row">
						<div class="edit_col1">
							<?php
							$val='';
							if(isset($this->data['Social'][4]['social_name']))
							{
								$val=$this->data['Social'][4]['social_name'];
							}
						?>
						<?php e($form->input('',array('label'=>false,'div'=>false , "name"=>'link[]' , "id"=>'link[]' , "value"=>$val,"style"=>"height:20px;"))); ?>

							<?php e($html->link($html->image('media/minus1.png',array('alt'=>'skype' ,"class"=>"padding_right" )),'javascript:act(4);',array('escape'=>false)));?>
						</div>
						
					</div>
					</div>
					<div id="area-box">
					<br/><br/>
					<div class="expertise">
			
						<h1>Professional summary</h1>
						<p><?php e($form->textarea('UserReference.background_summary', array('rows'=>6,'div'=>true, 'label'=>false, 'id'=>'text-area' , "class" => "forminput", "style"=>"width:880px;font-family: Ubuntu, arial, vardana; font-size: 14px;" , "placeholder" => "Professional summary")));?></p>
					</div>
				</div>
				<?php
					if($this->Session->read('Auth.User.id') == $this->data['User']['id'] && $this->data['User']['role_id']==Configure::read('App.Role.Mentee'))
					{
				?>
				<div id="area-box">
					<!--
					<br />
					<br />
					-->
					<div class="invoce-creation">
						<?php echo $this->element('menteesuser/mentee_dash_edit'); ?>
					</div>
                  
					
				</div>
				<?php
					}
				?>
				
				
			</div>
			<div id="Apply" role="Apply" >
				<input id="apply" type="submit" value="Save"  style="margin-top:10px; float: right; margin-right: 100px;" class="submitProfile">
			</div>
		  </div>
        </div>
      
    </div>
  </div>
   <?php e($form->end()); ?>
   
    <script type="text/javascript">
	//validation

	jQuery(document).ready(function(){
		var flag1 = 0;
		//for Resume1.resume_location resource_title
		
		jQuery(".submitProfile").click(function(){
		var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
		var flag2 = 0; 
			//set publish or draft
		var saveAs = jQuery(this).val();
		
		if(saveAs=='Save'){
		var flag= 0;
		var zipValue = jQuery.trim(jQuery('#UserReferenceZipcode').val());
			//for first name
			onlyLetters = /^[a-zA-Z _!@#"$%\^\-:.<>?=&'()*\+,\/;\[\\\]\^_`{|}~]+$/.test(jQuery.trim(jQuery("#UserReferenceFirstName").val()))
			 
			/* var imageName = jQuery.trim(jQuery('#image_name').val());
                if(imageName == 'profile.png')
            	{ 
            		jQuery('#profileImage').css('border-color','#F00');
            		jQuery('#profileImage').focus();
            		jQuery("#profileImage").opentip("Upload photo", {
            			 style: "myErrorStyle" 
            			});
            		flag++;
            	}
            	else
            	{
            		jQuery('#profileImage').css('border-color','rgb(221, 221, 221)');
            	}*/
            	
			if(jQuery.trim(jQuery("#UserReferenceFirstName").val()) == '') {
				jQuery('#UserReferenceFirstName').css('border-color','#F00');
				jQuery('#UserReferenceFirstName').focus();
				jQuery("#UserReferenceFirstName").opentip("Do not leave blank", {
					 style: "myErrorStyle" 
					});
				flag++;
			}else if(!onlyLetters){
				jQuery('#UserReferenceFirstName').css('border-color','#F00');
				jQuery('#UserReferenceFirstName').focus();
				jQuery("#UserReferenceFirstName").opentip("Only alphabets are allowed", {
					 style: "myErrorStyle" 
					});
				flag++;
			}else {
				jQuery('#UserReferenceFirstName').css('border-color','');	
			}
			//for last name
			var lastNameonlyLetters = /^[a-zA-Z _!@#"$%\^\-:.<>?=&'()*\+,\/;\[\\\]\^_`{|}~]+$/.test(jQuery.trim(jQuery("#UserReferenceLastName").val()))
			if(jQuery.trim(jQuery('#UserReferenceLastName').val()) == '') {
				jQuery('#UserReferenceLastName').css('border-color','#F00');
				jQuery('#UserReferenceLastName').focus();	
				jQuery("#UserReferenceLastName").opentip("Do not leave blank", {
					 style: "myErrorStyle" 
					});
				flag++;
			}else if(!lastNameonlyLetters){
				jQuery('#UserReferenceLastName').css('border-color','#F00');
				jQuery('#UserReferenceLastName').focus();
				jQuery("#UserReferenceLastName").opentip("Only alphabets are allowed", {
					 style: "myErrorStyle" 
					});
				flag++;
			} else {
				jQuery('#UserReferenceLastName').css('border-color','');	
			}
			
			//for BackgroundSummary
			if(jQuery.trim(jQuery("#text-area").val()) == '') {
				jQuery('#text-area').css('border-color','#F00');
				jQuery("#text-area").opentip("Do not leave blank", {
					 style: "myErrorStyle" 
					});
				jQuery('#text-area').focus();	
				flag++;
			} else {
			         words = countWords('text-area');
                     if(words>400)
                     {
                       jQuery('#text-area').css('border-color','#F00');
                        jQuery('#text-area').focus();  
                        jQuery("#text-area").opentip("400 words limit for this section", {
                  			 style: "myErrorStyle" 
                  			}); 
                        flag++;  
                     }
                     else
                     {
                         jQuery('#text-area').css('border-color','');     
                     }	
			     }

			//for UserReferenceZipcode
			if(jQuery.trim(jQuery('#UserReferenceZipcode').val()) == '') {
				jQuery('#UserReferenceZipcode').css('border-color','#F00');
				jQuery('#UserReferenceZipcode').focus();	
				jQuery("#UserReferenceZipcode").opentip("Do not leave blank", {
					 style: "myErrorStyle" 
					});			
				flag++;
			}/*else if(isNaN(jQuery.trim(jQuery('#UserReferenceZipcode').val())) || zipValue.length<4){
				jQuery('#UserReferenceZipcode').css('border-color','#F00');
				jQuery('#UserReferenceZipcode').focus();				
				flag++;				
			}*/else {
				jQuery('#UserReferenceZipcode').css('border-color','');	
			}			
			//alert(flag);
			//for UserReference.area_of_expertise


			index_count = 0;
			if(flag == 0 && flag2 == 0 ){
				jQuery("#EditAccountform").submit();
			}else{
				//alert("ggg");
				return false;
				//alert(saveAs);
			}
		
		}else{
			//jQuery("#UserAccessSpecifier").val('draft');
			jQuery("#EditAccountform").submit();
		}
		
	});


	});
		
	//Areas of Expertise id = UserReferenceAreaOfExpertise
	function ValidateAreaExpertise(str){
		
		//blank check
		if(str ==''){
			jQuery('#UserReferenceAreaOfExpertise').css('border-color','#F00');	
			jQuery('#UserReferenceAreaOfExpertise').focus();
			jQuery('#area_of_expertise').html('');
			jQuery('#area_of_expertise').css('color','#F00');	
			//alert(str);	
			return false;
		}else{
			if(str.indexOf(",") !=-1){ // checking comma
				var expertArr = str.split(",");
				var length = expertArr.length;
				if(length >3){
				
					jQuery('#UserReferenceAreaOfExpertise').css('border-color','#F00');	
					jQuery('#UserReferenceAreaOfExpertise').focus();
					jQuery('#area_of_expertise').html('Please enter 3 areas of expertise separated by commas.')
					jQuery('#area_of_expertise').css('color','#F00');
					//alert("b");					
					return false;
				}else{
					for(i = 0;i<length;i++){
						if(expertArr[i] ==''){
							jQuery('#UserReferenceAreaOfExpertise').css('border-color','#F00');	
							jQuery('#UserReferenceAreaOfExpertise').focus();
							jQuery('#area_of_expertise').html('Please enter 3 areas of expertise separated by commas.')
							jQuery('#area_of_expertise').css('color','#F00');
							//alert("c");	
							return false;
						}					
					}
					
				}
			}
			
			
		}
		return true;

	}

</script>
<style>
#Profile_page_container .profileimg
{
    height:none !important;
}
</style>