<?php e($html->css(array('regist_popup'))); ?>
<div id="registerationFm" style="width:88%; margin:5px 0 0 45px;">
		<table style="padding:0px;padding-top:10px;border:0px solid red;width:100%;">
			<tr>
				<td style="float:left;">
				Consultation request sent.
				</td>
			</tr>
		</table>
</div>
<div style="clear:both;"></div>