<div id="inner-content-wrapper" style="height: 400px">
    <div id="inner-content-box" class="pagewidth">
        <div id="user">
            <h1 style="color:#000;font-size:15px;">
                <?php $this->Layout->sessionFlash(); ?>
            </h1>
        </div>
        <div style="padding: 20px 0px;color:grey;font-size:15px;">
            <h1 style="font-size:15px;color:#000;">
                <br/><br/>Thanks for your interest!
            </h1>
        </div>
<br/><br/>
 <div style ="float:right;">       	
           <?php if($this->Session->read('RedirectTo') == 'Pricing_dashboard'){?>
                                 
           <span style="float:left;padding:11px 18px;"><?php echo($this->Html->link('Cancel',SITE_URL.'clients/my_account',array('class'=>'reset','style'=>""))); ?></span>
           <?php }else{?>
         <span style="float:left;padding:11px 18px;"><?php echo($this->Html->link('Cancel',SITE_URL.'fronts/index',array('class'=>'reset','style'=>""))); ?></span>
           <?php }?>   
             <input type="submit" value="Confirm" onclick="window.location.href='<?php echo SITE_URL."pricing/change_plan/".$this->Session->read('plan_id')."/1" ?>'; ">
			
       
    </div>
    </div>
</div>
<style type="text/css">
.flash_good {
    font-family: Ubuntu;
    font-size: 15px;
}
</style>