<div class="content_area"> 
		<form id="Submitform" name="Submitform" enctype="multipart/form-data" method="post" action="<?php echo SITE_URL;?>pricing/plan_invitation" accept-charset="utf-8">
		   
    	<p class="member_invitation" style="margin:10px 0 0 0 ;"> Plan Invitation </p>
        <p class="to border_gray" style="margin:10px 0 0 0 ;">  
        	<span class="fleft">  To: </span>  
        	<input type="text" id="email" placeholder="Enter email addresses separated by commas" value="" style="display: block; margin-left: 62px;" name="data[EmailId]">
        </p>
        <p class="subject border_gray" style="margin:10px 0 0 0 ;"> 
        	<span class="fleft"> Subject: </span> 
        	<input type="text" id="subject" placeholder="Enter Subject" value="Invitation to join Guild Premium" style="display: block; margin-left: 62px;" name="data[EmailSubject]">
        </p>
        <p class="editable" style="margin:10px 0 0 0 ;"> 
        <textarea name="data[EmailBody]" id="emailbody" placeholder="Enter a message">
Hi,

I would like you to join me as a premium client of Guild.

Guild clients are progressive business executives in organizations of various sizes, from various industries.

They have direct access to leading business coaches &  management consultants in US.
        
Thanks,
<?php echo $fname?>
</textarea>

		</p>
        <p class="border_gray" style="margin:10px 0 0 0 ;"> 
        <input id="apply" type="submit" value="Send Email"  class="submitProfile" style="padding:7px; margin-top:21px; float:right;" onclick="return validateInvitation();">
        
       	</form>
</div>




