<div id="inner-content-wrapper" style="height: 400px">
    <div id="inner-content-box" class="pagewidth">
	<form action="stripe" method="POST">
	<input type="hidden" name="FEE" value="<?php echo($centFee);?>">
	<p> You are signing up for "<?php echo($message);?>". We will charge "<?php echo($fee);?>" </p>
	  <script
	    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	    data-key="pk_live_vg2OVxfTe0Iw5FGSMhitLWE7"
	    data-amount="<?php echo($centFee);?>"
	    data-name="MG Demo Site"
	    data-description="<?php echo($message);?>"
	    data-image="/img/default_user_image.png">
	  </script>
	</form>
    </div>
</div>
<style type="text/css">
.flash_good {
    font-family: Ubuntu;
    font-size: 15px;
}
</style>

