<script type="text/javascript">
mentee_url = 'mentee';
</script>
<?php e($javascript->link(array('fileupload/qr-code-brochure','fileupload/fileuploader'))); ?>

<?php e($html->css(array('fileupload/fileuploader'))); 
if($this->Session->read('Auth.User.id')!=''):
	e($form->hidden('User.hash',array('value'=>$this->Session->read('Auth.User.id')))); 
else:
	e($form->hidden('User.hash')); 
endif;
?>
<table cellspacing="0" cellpadding="0">
	<tr>
		<td align="left" valign="top" class="textLabel">
			<div id="vertical_logo">		
				<noscript>			
					<p>Please enable JavaScript to use file uploader.</p>				
				</noscript>         
			</div>
			
			<!--  =======image name in input box ============ -->
			<span id="userImageList"><span>	
			<!--  =======show image name list ============ -->	
			
		</td>
	</tr>
</table>