.ui-autocomplete { position: absolute; cursor: default;  z-index:9999999!important;}	

/* workarounds */
* html .ui-autocomplete { width:1px;} /* without this, the menu expands to 100% in IE6 */

.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left; 
	border:#dedede solid 1px; 
	background:#f8f8f8; 
	max-height:265px; 
	overflow-x:hidden;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%; 
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1; font-size:15px;  
	margin:0 0 2px 0; 
	color:#434343; 
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	 /*background:#c2c2c2; color:#FFF;  */  
}

.ui-autocomplete-loading{background:url(../img/ajax/circle_ball.gif)250px 5px no-repeat!important;} 














