@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(fonts/fonts.css);
html, body, h1, h2, h3, h4, p, ul, li, input { margin: 0; padding: 0; border: 0; }
body { background: none repeat scroll 0 0 #f9f8f8; font-family:Ubuntu, arial, vardana; font-size: 14px; margin: 0; }
*{outline:none;}
.errormsg{
color: #F32C33;
    display: block;
	padding:5px 0;
	margin-bottom:5px;
}
.errormsg{margin:-20px 0 10px;}
.floatL{float:left;}
.floatR{float:right;}
.clear{clear:both;}
.mr-lt20{margin-left:20px;}

textarea { }
input { }
input, textarea { font-family: Ubuntu, arial, vardana; font-size: 14px; }
table { }
img{border:0;}
tr { }
td { }
ul { }
li { }
a { color: #F32C33;}
a:hover,
#footer-wrapper a,
#footer-wrapper a:hover{  text-decoration: none; }
h1, h2, h3, h4, h5 { margin:0; }
h1{ font-family: Ubuntu;font-weight: normal;}
h2{ font-family: 'proximanova semibold',Ubuntu;font-weight: normal; font-size: 24px;}
h3{ font-family: 'proximanova semibold',Ubuntu;font-weight: normal; font-size:18px;}
h4{ font-family: 'proximanova semibold',Ubuntu;font-weight: normal;}
h5{ font-family: 'proximanova',Ubuntu;font-weight: bold;    font-size: 15px; padding:0 0 10px 0;}
p{ padding:0 0 10px 0; margin:0; color: #292929; line-height: 140%;  }
img{vertical-align:middle;}
ul{margin:0; padding-left:20px;}
ul li{ padding:0 0 10px 0; margin:0; color: #292929;   }
label{font-family: 'proximanova semibold',Ubuntu;font-weight: normal;}
strong,b{ font-family: 'proximanova semibold',Ubuntu; font-weight:normal;}
#main-container { }
.inner_wrapper{ margin: 20px 50px; padding:0 0 50px;}
.underline{   border-bottom: 1px solid #BEBEBE; margin-bottom:20px; padding-bottom:10px;}
.content_wrapper{padding: 40px 50px 20px; }
.flash_good{font-family: 'proximanova semibold', Ubuntu, arial, vardana; font-size: 24px;}
.pagewidth { width: 960px; margin:0 auto; clear:both; }
.figure-left{position:relative;height:200px;}/*VL 22/12*/
.figure-left img.thumb{float:left;margin:0 20px 0 0; width:150px;}
.align-left-botttom .figcaption{float:left;position:absolute; bottom:0px;left:215px;border:0px solid red;width:inherit;}/*VL 22/12*/
.figcaption h1 { color: #767474; font-size: 15px; padding: 0px; }
.figcaption h1 span { color: #292929;  font-size: 20px; font-weight: bold; }
.figcaption p { line-height:18px;border:0px solid red;padding-bottom:5px;}/*VL 22/12*/
.textarea.mid{width:50%;}
.textarea.big{width:98%;}
.img_middle{position:relative; top:9px;}
input[type="text"], input[type="password"] { height: 25px; padding: 10px; width: 390px; }
input[type="text"], input[type="file"], input[type="password"], textarea { background: none repeat scroll 0 0 #fff; border: 1px solid #DDDDDD; color: #888888; }
input[type=submit] {
    background: none repeat scroll 0 0 #F32C33;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 35px;
    text-align: center;
    width: 110px;
}
input.share-textbox{   height:20px; padding:0 5px;  width: 120px;}
/****** wrappers ************/

#header-wrapper { background: url("../img/media/inner-bg.png") repeat-x scroll 0 0 transparent; }
#spotlight-wrapper { background:url('../img/media/home-banner.jpg')repeat-x; height:400px;margin: -10px 0 0;}
#content-wrapper { background:#FFF url('../img/media/content-bg.png') repeat-x;}
#inner-content-wrapper {}
#footer-wrapper {
    background: url("../img/media/footer-bg.png") repeat scroll 0 0 transparent;
    bottom: 0;
    position: relative;
    width: 100%;
}
#footer-wrapper.fixit { width:100%; position:absolute; bottom:0px; }
/******** boxes ************/ 

#header-box { position:relative;border:0px solid red; }
#content-box { position:relative;border:0px solid yellow;}
#inner-content-box { overflow:hidden;border:0px solid yellow; position:relative;}
#footer-box {border:0px solid red;position:relative; }
/****** header-box *******/

#header-content { height:30px; padding-top: 40px;padding-bottom:30px;border:0px solid red;}
#logo-box { width:300px; float:left;border:0px solid red; }
#logo-box img { width:200px; }
#nav-box { float:right; padding-top: 10px;border:0px solid red; }
#nav-box ul { }
#nav-box ul li { display:inline; padding:20px;padding-right:0px; }/*VL 21-12*/
#nav-box ul li a { /*color:#F32C33; font-weight: bold;*/ text-decoration:none;font-size:15px; }/*VL 27-12*/
#nav-box ul li a:hover { text-decoration:underline; }
#inner-header-content { height:40px; padding: 40px 50px 20px; }
#inner-logo-box { width:300px; float:left; }
#inner-logo-box img { width:200px; }
#inner-nav-box { float:right; width:245px;border:0px solid red; }
#nav-search { box-shadow: 0 0 2px #DDDDDD inset, 0 0 1px #AAAAAA; height: 25px; overflow: hidden; float: left; border-radius: 7px 7px 7px 7px;border:0px solid red;margin-top:-6px; }
#search_box { display: block; float: left; margin-left: 27px; margin-top: 33px; }
#searchform input { border: medium none; color: #888888; float: left;  font-size: 12px; outline: medium none; padding: 0px 4px 4px; width: 140px; }
#nav-search #sbt { }
#searchform input#searchsubmit { background: url("../img/media/nav-serach.png") no-repeat scroll 0 2px transparent; border: medium none; box-shadow: none; cursor: pointer; float: right; height: 26px; outline: medium none; width: 21px; }
#inner-nav-list { right:0; position:absolute; margin-top:-15px; border:1px solid #FFFFFF; border-bottom:0px solid #FFFFFF; }
#inner-nav-list:hover { border-radius: 5px 5px 0 0; border-color:#DDD; }
#inner-nav-list a.user { background:#FFF url('../img/media/arrow-black.png') right 20px no-repeat; padding:5px 25px 5px 5px; z-index:100; position:relative; height:50px; border-radius: 5px 5px 0 0; }
#inner-nav-list a.user img { width:40px; border-radius: 3px; }
#inner-nav-list a { font-size:13px; display:block; height:25px; }
#inner-nav-list ul { display: none; z-index:99; position: absolute; right: -1px; top: 50px; width: 165px; border: 1px solid #DDD; border-radius: 10px 0px 10px 10px; padding: 0px; background:#ffffff; overflow:hidden; }
#inner-nav-list:hover ul { display:block; }
#inner-nav-list ul li { padding: 10px 10px 5px; list-style: none outside none; }
#inner-nav-list ul li.user-profile-list { list-style: none outside none; padding: 10px; }
#inner-nav-list ul li a { cursor: pointer; display:block; height:auto; }
#inner-nav-list ul li a:hover { color:#F32C33; }
#spotlight { }
#find-mentor { padding-left:48px; }
#find-mentor h1 { font-size:35px; color:#fff; font-weight: bold;  padding-top:130px; }
#find-mentor h2 { font-size:17px; color:#fff; font-family: 'Ubuntu', arial; padding: 5px 0 25px; }
#text-box { background: url("../img/media/gradiant-new.png") repeat scroll 36px 74px transparent; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 5px #000000; height: 40px; padding: 5px; width: 840px; }
#text-box input[type="text"] { border: medium none; border-radius: 0 0px 0px 0; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset; color: #444444; float: right; height: 16px; padding:11px 5px 13px; font-size: 15px; background:none;width: 95%; }/*VL 21-12*//*VL 26-12*/
#text-box #enter-keywords #enter-text:hover,#text-box #enter-keywords #new-york:hover/*VL 21-12*/
{
	-webkit-box-shadow:inset 0 0 5px #3b3b3b;
	-moz-box-shadow: inset 0 0 5px #3b3b3b;
	box-shadow:inset 0 0 5px #3b3b3b;
	border-color:#3b3b3b;
	outline:0;
	
}
input[type="text"]:hover, textarea:hover, input[type="password"]:hover/*VL 21-12*/
{

	-webkit-box-shadow:inset 0 0 5px #DDDDDD;
	-moz-box-shadow: inset 0 0 5px #DDDDDD;
	box-shadow:inset 0 0 5px #DDDDDD;
	border-color:#DDDDDD;
	outline:0;
	
	
}

#text-box #enter-keywords { width:79%; background:#fff; float: left; height:40px; border-radius:3px; }
#text-box #enter-keywords input[type="text"] {}
#text-box #enter-keywords #enter-text  input[type="text"] {width:97.5%;padding-left:7px;float:left;}/*VL 21-12*//*VL 26-12*/
#text-box #enter-keywords #enter-text { width:69%; border-right:1px solid #9d9c9c; float:left;}/*VL 26-12*/
#text-box #enter-keywords #enter-text p { color:#aaa; font-family:'Ubuntu'; font-style: italic;}
#text-box #enter-keywords #new-york { width:30.85%; float: left;}/*VL 21-12*//*VL 26-12*/
#text-box #enter-keywords #new-york p { text-align: center; color:#444; font-family:'Ubuntu'; float:left; width: 50%; }
#text-box #enter-keywords #new-york img { float:right; width:12%; padding-right:20px; }

#text-box #search { background:url('../img/media/search-bg.png') repeat-x; width:20%; float: right; height:40px; border-radius: 3px 3px 3px 3px; }
#text-box #search input[type=image] { float:left; width:20%; padding: 7px 0 7px 5px; }
#search  input[type=submit]{background: url("../img/media/search.png") no-repeat scroll 10px 10px transparent;background-position:left center;
    color: #FFFFFF; font-family: 'Ubuntu'; font-size: 18px; font-weight:bold;  cursor: pointer; padding: 8px 0 7px 20px;border:0px solid white;margin-left:30px;}
}
#text-box #search p { color: #FFFFFF; float: right; font-family: 'Ubuntu'; font-size: 18px; font-weight: bold; padding: 8px 0; width: 60%; }
.content-right-text h1 { color: #767474; font-size: 15px; padding:0px;padding-bottom:5px;margin:0px;margin-top:-4px;}/*VL 26-12*/
.content-right-text h1 span { color: #292929;  font-size: 20px; font-weight: bold; }/*VL 26-12*/
/****** content-box *******/

#content-bottom { border:0px solid red;position:relative;padding-top:20px;padding-bottom:20px;}/*VL 21-12*/
#content-bottom h1 { color: #292929;  font-size: 20px; font-weight: bold; border-bottom: 1px solid #BEBEBE; padding-bottom: 5px; }
#content-top { border:0px solid red;position:relative;padding-left:48px;padding-right:58px;padding-top:35px;padding-bottom:35px; }/*VL 21-12*/
#content-top p { font-family: 'Ubuntu'; font-size:17px; color:#292929; }/*VL 21-12*/
#content-top p a { color:#F32C33; text-decoration: underline; }
#content-bottom { min-height: 240px; overflow:hidden;}/*VL 21-12*/
#content-left { float:left; width:21%; text-align:start;border:0px solid black; padding-top: 20px;  }/*VL 21-12*/
#content-left img { height: 200px;width: 200px; margin:0 auto;}
#content-right { float:right; width:74.8%;padding-top:15px;border:0px solid red;padding-left:20px;padding-right:20px;}/*VL 21-12*/
#content-right h1 { font-size:15px; color:#767474; margin:0px; }
#content-right h1 span { font-size:20px; color:#292929;   font-weight: bold; }
#text-content { }
#text-content p { padding:0px; color:#292929; padding-top:10px;padding-bottom:17px;line-height:23px; }/*VL 24/12*/
#text-content .text-content_row{position:relative;float:left;width:100%;border:0px solid red;}/*VL 24/12*/
#text-content .text-content_left{position:relative;float:left;width:15%;border:0px solid red;}/*VL 24/12*/
#text-content .text-content_right{position:relative;float:left;width:85%;border:0px solid red;}/*VL 24/12*/
#text-content .text-content_right p{padding:0px 20px 20px 0px;line-height:20px;text-align:justify;border:0px solid red;}/*VL 24/12*/
#text-content .text-content_left span{ color:#656565;font-size:14px;font-weight:bold; }/*VL 24/12*/
#text-content .text-content_row p{padding:0px 20px 20px 0px;line-height:20px;text-align:justify;border:0px solid red;}/*VL 24/12*/

#text-content p a { color:#F32C33; }
#expertise { }
#expertise h1 { font-size:15px; font-weight:bold; color:#292929; }
#expertise p { color:#292929; padding-top: 10px;line-height:23px;padding-bottom:17px; }
/****** order-content-page *******/

#content-submit { padding: 30px 45px 0px 45px; min-height: 725px; }
#content-submit h1 { font-size:20px; border-bottom:1px solid #d5d4d4; color:#363636; padding-bottom: 5px; }
#box-total { width:550px; background:#fff; box-shadow: 0 0 2px #BBBBBB; min-height: 300px; margin-top: 20px; }
#title { padding:10px; }
table.reference1 { background-color: #FFFFFF; border-collapse: collapse; width: 100%; }
table.reference1 td { padding: 3px; vertical-align: top; }
table.reference2 { background-color: #FFFFFF; border-collapse: collapse; width: 100%; }
table.reference2 td { padding: 3px; vertical-align: top; color:#565656; }
table.reference2 td span { padding: 3px; vertical-align: top; color:#565656; font-weight: bold; }
table.reference3 { background-color: #FFFFFF; border-collapse: collapse; width: 100%; }
table.reference3 td { font-weight: bold; padding: 3px; vertical-align: top; color:#F32C33; font-size: 15px; }
#first-box { padding-bottom: 20px; }
#middle-box { border-top:1px solid #bcbcbc; border-bottom:1px solid #bcbcbc; min-height:210px; padding-top: 20px; }
#last-box { padding-top: 5px; }
#image-box { width: 430px; }
#image-box img { float:left; width:150px; padding:10px 10px 0px 0px; }
#paragraph { float:right; padding-top:10px; width: 270px; }
#paragraph p { line-height:160%; }
#paragraph p a { color:#F32C33; text-decoration: underline; }
#pay { float: left; width:550px; min-height: 190px; }
#paypal { float: left; width:45%; padding-top: 20px; }
#paypal p { float:left; width:40%; padding-top: 10px; }
#paypal img { }
#btn-submit { float:right; width:55%; padding:100px 0px 20px; }
#btn-submit p { float:left; padding-top:10px; }
#btn-submit p a { color:#F32C33; text-decoration: underline; font-weight: bold; }
#submit input { background:#F32C33; width: 110px; height: 40px; color:#fff; float: right; font-weight: bold; cursor:pointer }
#submit input:hover { background:#9E0606; }
.note { width: 550px; min-height: 100px; }
.note h2 { font-weight: bold; font-size: 15px; padding-bottom: 5px; }
.note p { line-height: 160%; }
/****** mentor-detail ********/

#bill-kenny { padding: 20px 70px; width:800px; height: 110px; }
#bill-kenny img { float:left; height:120px; }
#bill-header { float:left; padding-left:20px; }
#bill-header h1 { font-weight: bold; color:#2a2a2a; font-size: 18px;   padding-bottom: 5px; }
#bill-header p { color:#838383; }
#bill-header p a { color:#F32C33; }
#icons { padding-top: 10px; }
#icons ul { }
#icons ul li { display:inline; }
#icons ul li a { padding:3px; }
#icons ul li a img { width: 25px; height:25px; padding:3px; }
#like-btn { float:right; width: 325px; }
#like-btn a img { float: left; height: 18px; padding-left: 8px; }
#mentor-detail-left { margin: 20px 70px; float:left; width:500; }
#mentor-detail-left1 {position:realtive;float:left; width:78%;min-height:500px;border:0px solid red; }/*VL 22_12*/
#mentor-detail-right {position:realtive; float:left; width:22%;border:0px solid red;}/*VL 22_12*/
#table-box { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #EEEEEE; min-height: 200px; width: 498px; float: left; }
table.reference4 { background-color: #FFFFFF; width: 100%; }
table.reference4 td { padding: 3px; vertical-align: top; }
table.reference4 tr { height: 40px; }
table.reference4 td a { color:#F32C33; text-decoration: underline; padding-right: 20px; }
#apply-button { width:500px; float:right; padding-top: 50px; }
#apply-button input { background:#F32C33; width: 110px; height: 30px; color:#fff; float: right; padding-bottom: 3px; font-weight: bold; cursor:pointer; text-align: center; }
#apply-button input:hover { background: #9E0606; }
#table-para { width: 500px; padding:230px 0px 20px; }
#table-para p { line-height: 160%; text-align: justify; }
#table-para1 { width: 500px; padding-bottom:20px; }
#table-para1 p { line-height: 160%; text-align: justify; }
#area-box { width: 90%;border:0px solid red; }/*VL 22_12*/
.expertise { padding-bottom: 15px; }
.expertise h1 { font-weight:bold; font-size:15px; color:#2a2a2a; padding-bottom:5px; border-bottom:1px solid #bcbcbc; }
.expertise p { padding: 10px 0;line-height:25px; font-size:13px;text-align:justify; }/*VL 22_12*/
.expertise1 { padding-bottom: 15px; }
.expertise1 h1 { font-weight:bold; font-size:15px; color:#2a2a2a; padding-bottom:5px; border-bottom:1px solid #bcbcbc; }
.expertise1 p { padding: 10px 0;line-height:10px; font-size:13px;text-align:justify; }
.expertise1 p span { text-decoration:underline; color:#F32C33; }
#mentor-statics { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #EEEEEE; float: right; width: 200px; min-height:115px; }
#mentor-statics h1 { font-weight:bold; padding:10px 8px 10px 8px; font-size:15px; }
#mentor-statics p { line-height:140%; padding:0px 8px 0px 8px; }
.rates { float:left;}/*VL 22_12*/
.rates p {line-height:140%; padding-top:8px;padding-bottom:8px;border-bottom:1px solid #bcbcbc;color:#292929; }/*VL 22_12*/
.rates p span{padding-left:10px;}/*VL 22/12/12*/
.rates h1{font-weight:bold;padding:0px; margin:0px;padding-top:15px;font-size:15px;border:0px solid red;}/*VL 22/12/12*/
.rates p a { color:#F32C33; text-decoration: underline; }
.rates p img { padding-right:5px; height: 12px; }
/****** search-box ********/

#financial-management { margin: 20px 0px; background: #000; width: 100%; height: 40px;}/*VL 26/12*/
#financial-management p { color:#fff; padding: 12px; }
#financial-management p span { font-weight:bold; }
#mentors-content { padding:0px 0px 20px 0px; }/*VL 26/12*/
.box1 {
    overflow: hidden;
	padding-bottom:40px;
	
}
.image-para { padding-bottom: 20px; min-height: 120px; }
.image-left { float:left; width:180px; height:110px; background:#dedede; }
.para-right { float:right; width:600px; }
.readmore { border-bottom:1px solid #666; height:30px; }
.readmore h1 { float:left; font-size: 20px; font-weight: bold; }
.readmore p { float:right; width: 100px; font-weight: bold; font-size: 15px; }
.readmore p a { color:#F32C33; background: url("../img/media/new.png") no-repeat scroll 85px 50% transparent; padding-right: 25px; }
.readmore p a img { }
.mentor-text { padding-top:10px; }
.mentor-text p { text-align:justify; line-height:160%; }
.content-left-img { float: left; width: 19%;}/*VL 26/12*/
.content-right-text { float: left; width: 81%;}/*VL 26/12*/
.text-content-box { border-top: 1px solid #BEBEBE; }
.text-content-box p { color: #292929; line-height: 140%; padding-top: 10px;}/*VL 26/12*/
.expertise-header { float:left;width:100%;}/*VL 26/12*/
.expertise-header h1{ color: #292929; font-size: 15px; font-weight: bold;padding-bottom:5px;padding-top:5px; }/*VL 26/12*/
.expertise-header p{padding:0px;margin:0px;}/*VL 26/12*/

.expertise-header h2{ color: #000; font-size: 14px; font-weight: bold;padding-bottom:5px;padding-top:5px;}/*VL 26/12*/


.expertise-header p span { color:#F32C33; text-decoration: underline; font-weight: bold;margin-top:20px; }

.feedback_applybtn{float:left;width:100%;}/*VL 26/12*/

.feedback_applybtn span{font-weight: bold;}/*VL 26/12*/
.apply-button-search { float: right;margin-top:15px;}/*VL 26/12*/
.apply-button-search input {background: none repeat scroll 0 0 #F32C33; color: #FFFFFF; cursor: pointer; font-weight: bold; height: 35px; text-align: center; width: 110px;margin:0px;padding:0px;border:0px solid blue; }

.apply-button-search input[type="button"] {background: none repeat scroll 0 0 #F32C33;color: #FFFFFF;cursor: pointer;font-weight: bold;height: 35px;text-align: center;margin:0px;padding:0px;width: 110px;}

.apply-button-search input:hover { background: #9E0606; }
.loadmorebtn{text-align:center; clear: both;}
.loadmorebtn a{
    background: none repeat scroll 0 0 #F32C33;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: 37px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 49%;
}
.loadmorebtn a:hover{text-decoration:none}
/******** user-profile ********/


#user {  padding-top:30px;padding-left:45px;padding-right:45px;border:0px solid red; }/**VL 29/12*/
#pro-creation { border-bottom:1px solid #666; }
#pro-creation h1 { padding-bottom: 10px; }
#my-inform { border-bottom:1px solid #666; height:60px; width: 700px; }
#my-inform p { width: 196px; float: left; padding:20px 0px; font-size: 15px;/*font-weight: bold;*/ }
#my-inform input { background:#58A0CB; margin: 10px 0px; width: 100px; height: 35px; color:#fff; font-size: 18px; font-weight: bold; cursor: pointer; text-align: center; }
#name-box {width:750px; padding-top:20px;border:0px solid red;}
#user-image { width: 150px; float: left; border: 1px solid #DDD; background: white; text-align: center; overflow:hidden; margin-bottom:20px;height:103px;margin-right:15px; }/*VL 29/12*/
#user-image img { max-height: 100%; }
#input-names { float: left; width: 535px; border:0px solid red; }/*VL 29/12*/
#input-names p{margin:0px;padding:0px;border:0px solid red;}/*VL 29/12*/


.forminput[type="text"] { margin:0px 0px 20px 0px; width:200px;}
.forminput1[type="text"] { margin:0px 0px 20px 0px; width: 200px;}

#input-names .forminput[type="text"] { margin:0px 0px 10px 0px; width:250px;}/*VL 29/12*/
#input-names .forminput1[type="text"] { margin:0px 0px 10px 0px; width:250px;}/*VL 29/12*/



#country { clear: both; }

#country .forminput[type="text"] { margin:0px 10px 10px 0px; width:340px;}/*VL 29/12*/




#upload-resume { }
#upload-resume p { padding-bottom: 10px; font-size: 15px;/* font-weight: bold; */ }
#upload-resume p span { font-size: 13px; font-weight: normal; }
#upload-resume p a { color:#F32C33; text-decoration: underline; }
#upload-resume .upload { margin: 0px 0px 20px 0px; height: 25px; background:#fff; border: 1px solid #DDD; color: #888; padding: 10px; width: 318px; }
#upload-resume input[type=file] { background:none; border:none; width:100%; }
#text-area { padding:10px 10px 20px; width: 675px; height: 200px; }/*VL 29/12*//*VL 31/12*/
#links { width:500px; }
#links p { padding-bottom: 10px; font-size: 15px; font-weight: bold; }
#links span { color:#F32C33; font-size: 15px; font-weight: bold; padding-left: 20px; }
#resources { width:800px; }
#resources p { padding-bottom: 10px; font-size: 15px; font-weight: bold; }
#resources span { color:#F32C33; font-size: 15px; font-weight: bold; margin-left: 20px; }
#resources span a { color:#F32C33; padding-left: 20px; }
#face-mode {border:0px solid red;position:relative;float:left;width:inherit;}/*VL 31/12*/
#mode {}
#mode p { float: left; width: 10%;padding-top:15px;font-size: 15px;/*font-weight: bold;*/}/*VL 31/12*/
#emailfrm input[type="radio"] { background: none repeat scroll 0 0 #fff; border: 1px solid #DDDDDD; margin-right: 10px; color: #888888; }
#face-box { float:left; width: 20%; border:0px solid red; }/*VL 31/12*/
#face-box p { padding-top: 10px;padding-bottom:10px; font-size: 15px;border:0px solid red; }/*VL 31/12*/
#face-text { width:70%; float: left;border:0px solid red;  }/*VL 31/12*/

#face-text .forminput1[type="text"] { margin:8px 0px 0px 0px; width:250px;}/*VL 31/12*/

#avaliability {margin-top:10px;border:0px solid red;position:relative;float:left;width:inherit;}/*VL 31/12*/
#avaliability p { padding-top: 5px;font-size: 15px; /*font-weight: bold;*/ padding-bottom:10px; }
#avaliability .forminput[type="text"] { margin:20px 0px 10px 0px; width:400px;}/*VL 29/12*/

#text-avail { padding:10px 10px 20px; width: 500px; height: 100px; margin-bottom:20px; font-family: 'Ubuntu'; }
#accepting {margin-top:10px;border:0px solid red;position:relative;float:left;width:inherit; }/*VL 31/12*/
#accepting p { float:left; width: 500px; font-size: 15px; font-weight: bold; }
#accepting input { width:18px; }
#accepting span { padding-right:20px; font-size: 15px; }
#request { }
#request p { padding:10px 0px; font-size: 15px; font-weight: bold; }
#request input { width:500px; }
#request span { color:#F32C33; font-size: 15px; padding-left: 15px; font-weight:normal; font-weight:bold; }
#request span.grey { color:#666666; font-weight:normal; }

#request .forminput1[type="text"] { margin:0px 0px 10px 0px;  width: 675px;}/*VL 29/12*/

#fees {border:0px solid red;position:relative;float:left;width:inherit; }
#fees p { font-size: 15px; font-weight: bold; }
.orientation { width: 50%; border:0px solid red;position:relative;float:left;height:100px; }
.orientation p { color:#A7A8A7;}

.orientation .forminput1[type="text"] {margin:0px 10px 10px 0px; width:340px;}/*VL 31/12*/



#application { border:0px solid red;position:relative;float:left;width:inherit;margin-top:-10px;}/*VL 31/12*/
#application p { padding:0px; margin:0px;padding-bottom: 10px; font-size: 15px; font-weight: bold; border:0px solid red; }/*VL 31/12*/
#application span {padding:0px; margin:0px; padding-right:20px; font-size: 15px; font-weight:normal; }/*VL 31/12*/
#application p span { color: #F32C33; }/*VL 31/12*/
#application input { width: 30px; }
#app-button { padding-top:30px;border:0px solid red;position:relative;float:left;width:100% }/*VL 24/12*/
#app-button input { background: none repeat scroll 0 0 #F32C33; color: #FFFFFF; cursor: pointer; float: right; height: 40px; text-align: center; padding: 0 20px;}
#app-button input:hover { background: #9E0606; }
table.reference5 { background-color: #FFFFFF; width: 180px; }
table.reference5 td { padding: 3px; vertical-align: top; }
table.reference5 tr { height: 40px; }
table.reference5 tr td { }
table.reference5 tr td input { background:url('../img/media/user-face-bg.png') no-repeat; }
/****** footer-box *******/


#footer-top {padding:0px; padding-top:20px; height:168px;border:0px solid red;}

#footer-logo { float:left; width:18%; }
#footer-logo img { }
#footer-about { float:left; width: 58%; margin-left: 35px; }
#left-box { float:left; width: 44%; }/*VL 26/12*/
#left-box h1 { color:#F32C33; font-weight:bold; font-size:15px; }
#left-box p { color:#777; padding-top:10px; font-size: 13px; font-family:'Ubuntu'; line-height: 140%; }
#left-box p span { color:#eee; }
#right-box { float: left; width:56%; }/*VL 26/12*/
#right-box h1 { color:#F32C33; font-weight:bold; font-size:15px; }
#right-box p { color:#777; padding-top:10px; font-size: 13px; font-family:'Ubuntu'; line-height: 140%; }
#right-box p span { color:#eee; }
#footer-change { float:right; width:18%; }
#footer-change h1 { color:#F32C33; font-weight:bold; font-size:15px; }
#footer-change p { color:#777; padding-top:10px; font-size: 13px; font-family:'Ubuntu'; line-height: 140%; }
#footer-change p span { color:#eee; }
#privacy p a { color: #EEEEEE; font-size: 13px; }
#footer-bottom { background: url('../img/media/footer-btm.png') repeat-x; height:35px; padding-top:20px;font-size: 13px; }
#privacy { float:left; }
#privacy p { color:#777; }
#privacy p span { padding:0px 15px; }
#all-rights { float: right; }
#all-rights p { color:#777; }
#all-rights p span {color:#777;}
.checkbox, .radio { width: 19px; height: 25px; padding: 0 5px 0 0; background: url(../img/media/checkbox.png) no-repeat; display: block; clear: left; float: left; }
.radio { background: url(../img/media/radio.png) no-repeat; }
.select { position: absolute; width: 158px; height: 21px; padding: 0 24px 0 8px; color: #fff; font-size:12px; line-height:12px; background: url(../img/media/select.png) no-repeat; overflow: hidden; }
.city_id { width: 305px; }
select { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #DDDDDD; color: #888888; line-height: 20px; padding: 12px 0; }
.styled-form{margin-top:5px;border:0px solid red;}
.styled-form input[type=checkbox] { display:none; }
.styled-form input[type=checkbox] + label { background: url(../img/media/checked.png) 0px -30px no-repeat; display:inline-block; padding: 3px 0 3px 30px; }
.styled-form input[type=checkbox]:checked + label { background: url(../img/media/checked.png) 0px 0 no-repeat; display:inline-block; padding: 3px 0 3px 30px; }
.styled-form input[type=radio] { display:none; }
.styled-form input[type=radio] + label { background: url(../img/media/checked.png) 0px -60px no-repeat; display:inline-block; padding: 3px 10px 3px 30px; }
.styled-form input[type=radio]:checked + label { background: url(../img/media/checked.png) 0px -92px no-repeat; display:inline-block; padding: 3px 10px 3px 30px; }
.styled-form p{margin-top:5px;border:0px solid blue;}
.form-error { border-color: red !important; }
.error-message { margin-top: -20px; margin-bottom: 20px; color:red; }
#p_social > p > label > input[type=text] { margin-bottom: 10px; }
#my-details { width: 270px; padding: 20px 0px; font-size: 15px; font-weight: bold; }
#draft-button { padding:20px 0px 50px; width: 300px; float: left; }
#draft-button input { background: none repeat scroll 0 0 #F32C33; color: #FFFFFF; cursor: pointer; float: left; font-weight: bold; height: 40px; text-align: center; width: 110px; }
#publish-button input:hover { background: #9E0606; }
#publish-button { padding:20px 0px 50px; width: 250px; float: right;border:0px solid red; }/*VL 31/12*/
#publish-button input { background: none repeat scroll 0 0 #F32C33; color: #FFFFFF; cursor: pointer; float: right; font-weight: bold; height: 40px; text-align: center; width: 110px; }
#publish-button input:hover { background: #9E0606; }
/* Generated by MS Font Squirrel (http://www.fontsquirrel.com) on November 23, 2012 */

/******** user-Account ********/
.clear { clear:both; }
#user-account { padding:20px 50px; }
#user-account .heading { border-bottom:1px solid #666; margin-bottom:20px; }
#user-account .heading h1 { padding-bottom: 10px; }
#user-account { }
#user-account .column { width:48%; margin:0 1%; }
#user-account .column.first { margin-left:0; float:left; }
#user-account .column.last { margin-right:0; float:right; }
#user-account h2 { font-size:25px; font-family: 'proximanova semibold'; margin:0; padding:0; }
#user-account #account-photo, #user-account .account-form p { margin-bottom:20px; }
#user-account #account-photo img { border:#dcdcdc solid 1px; vertical-align:bottom; }
#user-account #account-photo .change_image_link { color:#d03135; font-size:25px; font-family: 'proximanova semibold'; }
#user-account .account-form input[type=text], #user-account .account-form input.input { border:#dcdcdc solid 1px; font-family: 'proximanova light'; color:#838383; margin-bottom:20px; }
#user-account .account-form .button-set { float:right; clear:both; margin-bottom:20px; }
/*#user-account .account-form input[type=radio]{clear:none; float:none; vertical-align:middle; display:inline;}*/
#user-account .account-form input[type=submit], #user-account .account-form .button { background: none repeat scroll 0 0 #F32C33; color: #FFFFFF; cursor: pointer; float: right; font-weight: bold; height: 40px; text-align: center; padding: 0 20px; }
#user-account .account-form input[type=submit]:hover, #user-account .account-form .button:hover { background: none repeat scroll 0 0 #9E0606; }
#user-account .account-form input[type=reset], #user-account .account-form .reset, #user-account .account-form .delete { background: none; color: #F32C33; cursor: pointer; float: right; font-weight: bold; height: 40px; padding: 0 20px; text-align: center; }
#registerationFm .txt { font-family: 'proximanova', Ubuntu, arial, vardana; font-size: 14px; font-weight: normal; margin-left: 8px;}
.backRes {color: #F32C33; float: right; margin: 14px 10px 0 0; }

/*************Edit Page ***************/
.column_left { width:75%; float:left; }
.column_right { width:22%; float:right; }
.nomargin { margin:0!important; }
.nopadding { padding:0!important; }
.backRes { color: #F32C33; float: right; margin: 14px 20px 0 0; }/*VL 24/12*/
.white_box { border: #dcdcdc solid 1px; padding:10px; background:#fff;margin-top:10px; }
.h_list { list-style:none; padding:0 0 20px 0; clear:both; overflow:hidden; }
.h_list li { display:inline; padding:0 0 0 0px; float:left; }
.h_list li.one { width: 21px; }
.h_list li.two { padding: 0 0 0 20px; width: 140px; }
.h_list li.three { width: 60px; }
.h_list li.four { width: 160px; }
.h_list li.five { }
.h_list li img { vertical-align:middle; }
.h_list li a { text-decoration:none; padding:0 0 0 0px; }
.h_list li a:hover { text-decoration:underline; }
.resources { position:relative; }
.resources input[type=text] { width:278px; margin:0;}
.add { font-family: 'proximanova bold'; font-size: 25px; position: absolute; right: -34px; text-decoration: none; top: 19px; width: 24px; }
.add > img { width: 24px; }
.statistics p { margin:5px 0 10px; }
.label-rates { display: block; float: left; width: 135px; }
input.smallest { padding: 1px 5px; width: 20px; margin-bottom:2px; }/*VL 25/12*/
input.smallest_paypal { padding: 1px 5px; width: 200px;height:20px; margin-bottom:2px; }/*VL 25/12*/

.socials{width:100%;border:0px solid red;}
.socials img { width: 25px; height: 25px; padding:0 3px 3px 0; }
.socials span {font-size:11px; color:red; text-decoration:underline;padding-left:5px;padding-right:5px;}
.mr-lt20 { margin-left:20px!important; }
.mr-tp20 { margin-top:20px!important; }
.mr-bt20 { margin-bottom:20px!important; }
.mr-rt20 { margin-right:20px!important; }
.noborder { border:0!important; }

/*VL 22/12/12*/
.Profile_page_container { padding-top:30px;padding-left:45px;padding-right:45px;margin:0 auto; clear:both;border:0px solid red;}
.mentor_details{padding-top:20px;width:inherit;position:relative;float:left;border:0px solid red;}
.feedback_txt{float: left;margin-bottom: 12px;margin-left: 0;margin-top: 15px;min-height: 30px;position: relative;}
.share_icons {float: right; width: 200px; min-height:30px;margin-bottom:12px; }
.top_padding{padding-top:5px;}
#paypalacc.divclass{position:relative;float:left;padding-top:5px;padding-bottom:5px;border-bottom:1px solid #bcbcbc;margin-bottom:15px;}
#edit_box{margin-left:210px;width:400px;border-top:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;padding-bottom:20px;margin-bottom:15px;}


.edit_row{position:relative;width:inherit;height:30px;padding-top:8px;border:0px solid red;}
.edit_col1{position:relative;float:left;width:50%;}
.edit_col2{position:relative;float:left;width:50%;border:0px solid red;}
#edit_box  input[type="text"]{height: 19px;margin: 0;padding: 2px 0 2px 5px;width: 158px;}
#edit_box  input[type="submit"]{float:right;}
.margin_left{margin-left:10px;}
#edit_box img{cursor: pointer;
    float: right;
    height: 16px;
    padding-right: 15px;
    position: relative;
    top: 2px;
    width: 16px;}
#edit_box img.padding_right{padding-right:-12px;}

.profile_img {
width: 200px;
height: 200px;
border:0px solid red;
}

.profile_img:hover{
background:#000;
opacity:.70;
filter:alpha(opacity=70);

padding:0px;
margin:0px;
cursor:pointer;
}

.profile_img span
{
	display: none;
	position:relative;
	top:-40px;
	left:50px;
	padding:0px;
	margin:0px;
	border:0px solid red;
}

.profile_img:hover span
{
	display: inline-block;
border:0px solid red;
}

