#fade-example-1 li {
	width: 900px;
	min-width: 900px;
	height: 0px;
	visibility: visible;
	text-align: center;
	overflow: visible;
	z-index: 3;
	left: -32px;
	display: block;
	position: relative;
}

.control {
	cursor: pointer;
	display: none;
	width: 900px;
	min-width: 900px;
	height: 35px;
	z-index: 3;
}

.centeredImage {
	padding: 0px;
	z-index: 3;
	display: none;
}

* {
	
}