.fade-blocks-wrapper {
    width: 560px;
    height: 180px;
    margin: 2em auto;
    position: relative;
    overflow: hidden;
}

.fade-block {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.fade-block .block {
    width: 250px;
    height: 100%;
    margin: 0 10px;
    background: #eee;
    float: left;
    line-height: 180px;
    text-align: center;
    font-size: 2em;
}

.fade-block:nth-child(2) .block {
    background: #666;
    color: #fff;
}

.fade-block:nth-child(3) .block {
    background: #ffc;
}