/* common styling */
.menu_right {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width:200px;
	height:20px;
	position:relative;
	font-size:10px;
	font-weight:bold;
	z-index:100;
	padding-left:5px;
	float:left;
}
.menu_right ul li a, .menu_right ul li a:visited {
	display:block;
	text-decoration:none;
	width:199px;
	height:20px;
	text-align:left;
	padding-left:2px;
	line-height:18px;
	color:#ffffff;
	overflow:hidden;
	background-image: url(../img/hg_amenu.gif);
	background-repeat: no-repeat;
	background-position:top left;

}
.menu_right ul {padding:0; margin:0; list-style: none;}
.menu_right ul li {
	float:left;
	position:relative;
}
.menu_right ul li ul {display: none;}

/* specific to non IE browsers */
.menu_right ul li:hover a {color:#ffffff; background:url(../img/hg_amenu2.gif);}
.menu_right ul li:hover ul {display:block; position:absolute; top:20px; left:0; width:200px;}

.menu_right ul li:hover ul li ul {display: none;}
.menu_right ul li:hover ul li a {display:block; background:url(../img/hg_amenu2.gif); color:#ffffff;}
.menu_right ul li:hover ul li#ddf a {display:block; background:url(../img/hg_bottom.gif); color:#ffffff; background-repeat:no-repeat;}

.menu_right ul li:hover ul li a:hover {background:url(../img/hg_amenu2_a.gif); color:#434343;}
.menu_right ul li:hover ul li:hover ul {display:block; position:absolute; left:200px; top:0;}
.menu_right ul li:hover ul li:hover ul.left {left:-200px;}

.flash_good{
    font-size:13px;
	font-weight:bold;
	text-align:center;
	border:1px solid #fff;
	background:#E6EFC2;	
	line-height:24px;
	height:30px;
	padding:0px 0 0 0;
	color:#5dbc4b;
}

.flash_bad {
	font-size:13px;
	font-weight:bold;
	text-align:center;
	border:1px solid #fff;
	background:#E6EFC2;
	height:30px;
	line-height:24px;
	padding:0 0 0 0;
	color:#fc0000;
    
}
.flash_good img, .flash_bad img {
    float:right;
}
.error-message {
	color: #FF0000;
    font: bold 13px Arial;
}
