
.menu_right ul li a.hide, .menu_right ul li a:visited.hide {display:none;}
.menu_right ul li a:hover ul li a.hide {display:none;}

.menu_right ul li a:hover {color:#ffffff; background:url(../img/hg_amenu2.gif);}
.menu_right ul li a:hover ul {display:block; position:absolute; top:20px; left:0; width:200px;}
.menu_right ul li a:hover ul li a.sub {background:#fff; color:#fff;}
.menu_right ul li a:hover ul li a {display:block; background:url(../img/hg_amenu2.gif); color:#ffffff;}
.menu_right ul li a:hover ul li#ddf a{display:block; background:url(../img/hg_bottom.gif); color:#ffffff; background-repeat:no-repeat;}
.menu_right ul li a:hover ul li a ul {visibility:hidden;}
.menu_right ul li a:hover ul li a:hover {background:url(../img/hg_amenu2_a.gif); color:#434343;}
.menu_right ul li a:hover ul li a:hover ul {visibility:visible; position:absolute; left:200px; top:0; color:#ffffff;}
.menu_right ul li a:hover ul li a:hover ul.left {left:-200px;}
