@import url(fonts/fonts.css);html, body, h1, h2, h3, h4, p, ul, li, input{margin:0;padding:0;border:0;}
@media print { 
	/* your print styles go here */
	#header, #footer, #menu { display: none; } 
	body { font: 12pt georgia,serif; } 
	h1 { font-size: 18pt; } 
	h2 { font-size: 16pt; color: #000; }
}
@media screen and (min-width: 480px) and (max-width: 960px) {
    #header {
        display: none;
    }
}
body{background:none repeat scroll 0 0 #f9f8f8;font-family:Ubuntu, arial, vardana;font-size:14px;margin:0;}
*{outline:none;}
.errormsg{color:#D03135;display:block;padding:0px 0;margin-bottom:5px;}
.errormsg{margin:0px 0 10px;}
.floatL{float:left;}
.floatR{float:right;}
.clear{clear:both;}
.mr-lt20{margin-left:20px;}
//ankit add
.ankit_img{width:86px;height:86px;background:url('../img/media/sprite3.png') -86px 0;background-repeat:no-repeat;float:right;}
.ankit_img:hover{background:url('../img/media/sprite3.png') 0 0;}
.abc_img{width:85px;height:85px;background:url('../img/media/sprite4.png') -85px 0;background-repeat:no-repeat;margin-top:5px;}
.abc_img:hover{background:url('../img/media/sprite4.png') 0 0;}
textarea{}
input{}
input, textarea{font-family:Ubuntu, arial, vardana;font-size:14px;}
table{}
img{border:0;}
tr{}
td{}
ul{}
li{}
a{color:#D03135;text-decoration:none;}
a:hover{text-decoration:underline;}
#footer-wrapper ,
#footer-wrapper a:hover{text-decoration:none;}
h1, h2, h3, h4, h5{margin:0;}
h1{font-family:Ubuntu;font-weight:normal;}
h2{font-family:'proximanova semibold',Ubuntu;font-weight:normal;font-size:24px;}
h3{font-family:'proximanova semibold',Ubuntu;font-weight:normal;font-size:18px;}
h4{font-family:'proximanova semibold',Ubuntu;font-weight:normal;}
h5{font-family:'proximanova',Ubuntu;font-weight:bold;font-size:15px;padding:0 0 10px 0;}
p{padding:0 0 10px 0;margin:0;color:#292929;line-height:140%;}
img{vertical-align:middle;}
ul{margin:0;padding-left:4px;}
ul li{padding:0 0 10px 0;margin:0;color:#292929;}
label{font-family:'proximanova semibold',Ubuntu;font-weight:normal;}
strong,b{font-family:'proximanova semibold',Ubuntu;font-weight:normal;}
#main-container{}
.inner_wrapper{margin:20px 50px;padding:0 0 50px;}
.underline{border-bottom:1px solid #BEBEBE;margin-bottom:20px;padding-bottom:10px;}
.content_wrapper{padding:40px 50px 20px;}
.flash_good{font-family:'proximanova semibold', Ubuntu, arial, vardana;font-size:24px;}
.pagewidth{width:960px;margin:0 auto;clear:both;}
.figure-left{padding-top:20px;height:200px;position:relative;}
.figure-left img.thumb{padding-top:9px;float:left;margin:0 20px 0 0;width:150px;}
.align-left-botttom .figcaption{border:0 solid red;bottom:0;float:left;left:215px;position:absolute;width:inherit;}
.figcaption h1{color:#767474;font-size:15px;padding:0px;}
.figcaption h1 span{color:#292929;font-size:27px;font-weight:bold;}
.figcaption h2 span a{font-family:Ubuntu;font-weight:normal;color:#292929;font-size:27px;font-weight:bold;text-decoration:none;}
.figcaption p{line-height:18px;border:0px solid red;padding-bottom:5px;}
.align-right-botttom .testimonialcaption{border:0 solid red;bottom:0;float:right;position:absolute;width:inherit;}
.textarea.mid{width:50%;}
.textarea.big{width:98%;}
.img_middle{position:relative;top:9px;}
input[type=text]{height:25px;padding:10px;width:390px;}
input[type=text], input[type=password]{height:25px;padding:10px;width:323px;}
input[type=text], input[type=file], input[type=password], textarea{background:none repeat scroll 0 0 #fff;border:1px solid #DDDDDD;}
input[type=submit]{background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;float:left;font-weight:bold;height:35px;text-align:center;width:110px;-webkit-appearance:none;-webkit-border-radius:0;}
input[type=submit]:hover{background:none repeat scroll 0 0 #9E0606;}
.profilebtn{width:198px !important;margin-bottom:17px;}
input.share-textbox{height:20px;padding:0 5px;width:120px;}
#header-wrapper{background:url("../img/media/inner-bg.png") repeat-x scroll 0 0 transparent;}
#spotlight-wrapper{background:url('../img/media/home-banner.jpg')repeat-x;height:400px;margin:-10px 0 0;}
#content-wrapper{background:#FFF url('../img/media/content-bg.png') repeat-x;}
#inner-content-wrapper{}
#footer-wrapper{background:url("../img/media/footer-btm.png") repeat scroll 0 0 transparent;bottom:0;position:relative;width:100%;}
#footer-wrapper.fixit{width:100%;position:absolute;bottom:0px;}
#header-box{position:relative;border:0px solid red;}
#content-box{position:relative;border:0px solid yellow;}
#inner-content-box{overflow:hidden;border:0px solid yellow;position:relative;}
#footer-box{border:0px solid red;position:relative;}
#header-content{height:30px;padding-top:40px;padding-bottom:30px;border:0px;}
@media screen and (-webkit-min-device-pixel-ratio:0){#header-content{height:28px;}}
#logo-box{width:250px;float:left;border:0px solid red;}
#nav-box{float:right;padding-top:10px;border:0px solid red;}
#nav-box ul{}
#nav-box ul li{display:inline;padding:20px;padding-right:0px;}
#nav-box ul li a{text-decoration:none;font-size:14px;}
#nav-box ul li a:hover{text-decoration:underline;}
#inner-header-content{height:40px;padding:40px 50px 20px;}
#inner-logo-box{width:300px;float:left;}
#inner-logo-box img{width:200px;}
#inner-nav-box{float:right;border:0px solid red;}
#nav-search{box-shadow:0 0 2px #DDDDDD inset, 0 0 1px #AAAAAA;box-shadow:0 0 0px #DDDDDD inset, 0 0 2px #AAAAAA\0/;height:25px;overflow:hidden;float:left;border-radius:7px 7px 7px 7px;border:0px solid red;margin-top:-6px;}
#search_box{display:block;float:left;margin-left:27px;margin-top:33px;}
#searchform input{border:medium none;color:#888888;float:left;font-size:12px;outline:medium none;padding:0px 4px 4px;width:140px;margin-top:1px\0/;margin-left:1px\0/;}
@media screen and (-webkit-min-device-pixel-ratio:0){#searchform input{height:21px;}}
#nav-search #sbt{}
#searchform input#searchsubmit{background:url("../img/media/nav-serach.png") no-repeat scroll 0 2px transparent;border:medium none;box-shadow:none;cursor:pointer;float:right;height:26px;outline:medium none;width:21px;}
#inner-nav-list{right:0;position:absolute;margin-top:-15px;border:1px solid #FFFFFF;border-bottom:0px solid #FFFFFF;}
#inner-nav-list:hover{border-radius:5px 5px 0 0;border-color:#DDD;}
#inner-nav-list a.user{background:#FFF url('../img/media/arrow-black.png') right 20px no-repeat;padding:5px 25px 5px 5px;z-index:100;position:relative;height:50px;border-radius:5px 5px 0 0;}
#inner-nav-list a.user img{width:40px;border-radius:3px;border:5px;border-color:gray;}
#inner-nav-list a{font-size:13px;display:block;height:25px;}
#inner-nav-list ul{display:none;z-index:99;position:absolute;right:-1px;top:50px;width:175px;border:1px solid #DDD;border-radius:10px 0px 10px 10px;padding:0px;background:#ffffff;overflow:hidden;}
#inner-nav-list:hover ul{display:block;}
#inner-nav-list ul li{padding:10px 10px 5px;list-style:none outside none;}
#inner-nav-list ul li.user-profile-list{list-style:none outside none;padding:10px;}
#inner-nav-list ul li a{cursor:pointer;display:block;height:auto;text-decoration:none;}
#inner-nav-list ul li a:hover{color:#D03135;text-decoration:underline;}
#dropdown-nav-list{right:0;position:absolute;margin-top:-13px;}
#dropdown-nav-list:hover{border-radius:12px;border-color:#DDD;}
//#dropdown-nav-list a.user{background:#FFF url('../img/media/arrow-black.png') right 20px no-repeat;padding:5px 25px 5px 5px;z-index:100;position:relative;height:50px;border-radius:5px 5px 0 0;}
//#dropdown-nav-list a.user img{width:40px;border-radius:3px;border:5px;border-color:gray;}
#dropdown-nav-list a{font-size:13px!important;display:block;height:25px;}
#dropdown-nav-list ul{display:none;z-index:99;position:absolute;right:-1px;top:50px;width:150px;border:1px solid #DDD;border-radius:10px 10px 10px 10px;padding:0px;background:#ffffff;overflow:hidden;}
#dropdown-nav-list:hover ul{display:block;}
#dropdown-nav-list ul li{padding:10px 10px 5px;list-style:none outside none;}
#dropdown-nav-list ul li.more-link-list{list-style:none outside none;padding:5px;}
#dropdown-nav-list ul li a{cursor:pointer;display:block;height:auto;text-decoration:none;}
#dropdown-nav-list ul li a:hover{color:#D03135;text-decoration:underline;}
#spotlight{}
#find-mentor{padding-left:48px;}
#find-mentor h1{font-size:35px;color:#fff;font-weight:bold;}
#find-mentor h2{font-size:17px;color:#fff;font-family:'Ubuntu', arial;padding:5px 0 25px;}
#text-box{background:url("../img/media/gradiant-new.png") repeat-x 0 -2px;border:1px solid #000;border-radius:5px 5px 5px 5px;box-shadow:0 0 5px #000000;height:40px;padding:5px;width:840px;}
#text-box input[type=text]{border:medium none;border-radius:0 0px 0px 0;box-shadow:0 1px 1px rgba(0, 0, 0, 0.1) inset;color:#444444;float:right;height:16px;padding:11px 5px 13px;font-size:15px;background:none;width:193px;overflow:hidden;}
#text-box #enter-keywords #enter-text:hover,
#text-box #enter-keywords #new-york:hover,
#text-box #enter-keywords #enter-text1:hover{-webkit-box-shadow:inset 0 0 5px #3b3b3b;-moz-box-shadow:inset 0 0 5px #3b3b3b;box-shadow:inset 0 0 5px #3b3b3b;border-color:#3b3b3b;outline:0;}
input[type=text]:hover, textarea:hover, input[type=password]:hover{-webkit-box-shadow:inset 0 0 5px #DDDDDD;-moz-box-shadow:inset 0 0 5px #DDDDDD;box-shadow:inset 0 0 5px #DDDDDD;border-color:#DDDDDD;outline:0;}
#text-box #enter-keywords{width:79%;background:#fff;float:left;height:40px;border-radius:3px;}
#text-box #enter-keywords input[type=text]{}
#text-box #enter-keywords #enter-text input[type=text]{width:97.5%;padding-left:7px;float:left;}
#text-box #enter-keywords #enter-text{width:458px;border-right:1px solid #9d9c9c;float:left;}
#text-box #enter-keywords #enter-text p{color:#aaa;font-family:'Ubuntu';font-style:italic;}
#text-box #enter-keywords #new-york{width:204px;float:left;}
#text-box #enter-keywords #new-york p{text-align:center;color:#444;font-family:'Ubuntu';float:left;width:50%;}
#text-box #enter-keywords #new-york img{float:right;width:12%;padding-right:20px;}
#text-box #search{background:url('../img/media/search-bg1.JPG') repeat-x;width:20%;float:right;height:40px;border-radius:3px 3px 3px 3px;}
#text-box #search input[type=image]{float:left;width:20%;padding:7px 0 7px 5px;}
#search input[type=submit]{background:url("../img/media/search.png") no-repeat scroll 10px 10px transparent;background-position:left center;color:#FFFFFF;font-family:'Ubuntu';font-size:18px;font-weight:bold;cursor:pointer;padding:8px 0 7px 20px;border:0px solid white;margin-left:30px;}
}
#text-box #search p{color:#FFFFFF;float:right;font-family:'Ubuntu';font-size:18px;font-weight:bold;padding:8px 0;width:60%;}
#text-box1{background:url("../img/media/gradiant-new.png") repeat-x 0 -2px;border:1px solid #000;border-radius:5px 5px 5px 5px;box-shadow:0 0 5px #000000;height:40px;padding:5px;width:840px;}
#text-box1 input[type=text]{border:medium none;border-radius:0 0px 0px 0;color:#444444;float:right;font-size:15px;background:none;width:183px;overflow:hidden;height:20px;}
#text-box1 #enter-keywords #enter-text:hover,
#text-box1 #enter-keywords #new-york:hover,
#text-box1 #enter-keywords #enter-text1:hover{-webkit-box-shadow:inset 0 0 5px #3b3b3b;-moz-box-shadow:inset 0 0 5px #3b3b3b;box-shadow:inset 0 0 5px #3b3b3b;border-color:#3b3b3b;outline:0;}
#text-box1 #enter-keywords{width:79%;background:#fff;float:left;height:40px;border-radius:3px;}
#text-box1 #enter-keywords input[type=text]{}
#text-box1 #enter-keywords #enter-text input[type=text]{width:97.5%;padding-left:7px;float:left;}
#text-box1 #enter-keywords #enter-text{width:458px;border-right:1px solid #9d9c9c;float:left;}
#text-box1 #enter-keywords #enter-text p{color:#aaa;font-family:'Ubuntu';font-style:italic;}
#text-box1 #enter-keywords #new-york{width:204px;float:left;}
#text-box1 #enter-keywords #new-york p{text-align:center;color:#444;font-family:'Ubuntu';float:left;width:50%;}
#text-box1 #enter-keywords #new-york img{float:right;width:12%;padding-right:20px;}
#text-box1 #search{background:url('../img/media/search-bg1.JPG') repeat-x;width:20%;float:right;height:40px;border-radius:3px 3px 3px 3px;}
#text-box1 #search input[type=image]{float:left;width:20%;padding:7px 0 7px 5px;}
#text-box1 #search p{color:#FFFFFF;float:right;font-family:'Ubuntu';font-size:18px;font-weight:bold;padding:8px 0;width:60%;}
.content-right-text h1{color:#767474;font-size:15px;padding:0px;padding-bottom:5px;margin:0px;margin-top:-4px;}
.content-right-text h1 span{color:#292929;font-size:20px;font-weight:bold;}
.content-right-text h1 span a{text-decoration:none;font-size:20px;color:#292929;font-weight:bold;}
.content-right-text h1 span a:hover{text-decoration:none;font-size:20px;color:#292929;font-weight:bold;}
.content-right-text h2{color:#767474;font-size:15px;padding:0px;padding-bottom:5px;margin:0px;margin-top:-4px;}
.content-right-text h2 span{color:#292929;font-size:20px;font-weight:bold;}
.content-right-text h2 span a{text-decoration:none;font-size:20px;color:#292929;font-weight:bold;font-family:Ubuntu;}
.content-right-text h2 span a:hover{text-decoration:none;font-size:20px;color:#292929;font-weight:bold;font-family:Ubuntu;}
#content-bottom{border:0px solid red;position:relative;padding-top:20px;padding-bottom:20px;}
#content-bottom h1{color:#292929;font-size:20px;font-weight:bold;border-bottom:1px solid #BEBEBE;padding-bottom:5px;}
#content-top{border:0px solid red;position:relative;padding-left:0px;padding-right:0px;padding-top:35px;padding-bottom:22px;}
#content-top p{font-family:'Ubuntu';font-size:17px;color:#292929;}
#content-top p a{color:#D03135;text-decoration:none;}
#content-top p a:hover{color:#D03135;text-decoration:underline;}
#content-bottom{min-height:240px;overflow:hidden;}
#content-left{float:left;width:21.06%;text-align:start;border:0px solid black;padding-top:20px;}
#content-left img{height:200px;width:200px;margin:0 auto;}
#content-right{float:right;width:74.72%;padding-top:15px;border:0px solid red;padding-left:20px;padding-right:20px;}
#content-right h1{font-size:15px;color:#767474;margin:0px;}
#content-right h1 span{font-size:20px;color:#292929;font-weight:bold;}
#content-right h1 span a{text-decoration:none;font-size:20px;color:#292929;font-weight:bold;}
#content-right h1 span a:hover{text-decoration:none;font-size:20px;color:#292929;font-weight:bold;}
#content-right h2{font-size:15px;color:#767474;margin:0px;}
#content-right h2 span{font-size:20px;color:#292929;font-weight:bold;}
#content-right h2 span a{text-decoration:none;font-size:20px;color:#292929;font-weight:bold;}
#content-right h2 span a:hover{text-decoration:none;font-size:20px;color:#292929;font-weight:bold;}
#text-content{}
#text-content p{padding:0px;color:#292929;padding-top:10px;padding-bottom:17px;line-height:140%;}
#text-content .text-content_row{position:relative;float:left;width:100%;border:0px solid red;}
#text-content .text-content_left{position:relative;float:left;width:15%;border:0px solid red;}
#text-content .text-content_right{position:relative;float:left;width:85%;border:0px solid red;}
#text-content .text-content_right p{padding:0px 20px 20px 0px;line-height:20px;text-align:justify;border:0px solid red;}
#text-content .text-content_left span{color:#656565;font-size:14px;font-weight:bold;}
#text-content .text-content_row p{padding:0px 20px 20px 0px;line-height:20px;text-align:justify;border:0px solid red;}
#text-content p a{color:#D03135;}
#expertise{}
#expertise h1{font-size:15px;font-weight:bold;color:#292929;}
#expertise p{color:#292929;padding-top:10px;line-height:23px;padding-bottom:17px;}
#content-submit{padding:30px 0px 0px 0px;min-height:430px;}
#content-submit h1{font-size:20px;border-bottom:1px solid #d5d4d4;color:#363636;padding-bottom:5px;}
#content-submit h2{font-size:20px;border-bottom:1px solid #d5d4d4;color:#363636;padding-bottom:5px;}
#box-total{width:550px;background:#fff;box-shadow:0 0 2px #BBBBBB;min-height:300px;margin-top:20px;}
#title{padding:10px;}
table.reference1{background-color:#FFFFFF;border-collapse:collapse;width:100%;}
table.reference1 td{padding:3px;vertical-align:top;}
table.reference2{background-color:#FFFFFF;border-collapse:collapse;width:100%;}
table.reference2 td{padding:3px;vertical-align:top;color:#565656;}
table.reference2 td span{padding:3px;vertical-align:top;color:#565656;font-weight:bold;}
table.reference3{background-color:#FFFFFF;border-collapse:collapse;width:100%;}
table.reference3 td{font-weight:bold;padding:3px;vertical-align:top;color:#D03135;font-size:15px;}
#first-box{padding-bottom:20px;}
#middle-box{border-top:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;min-height:210px;padding-top:20px;}
#last-box{padding-top:5px;}
#image-box{width:430px;}
#image-box img{float:left;width:150px;padding:10px 10px 0px 0px;}
#paragraph{float:right;padding-top:10px;width:270px;}
#paragraph p{line-height:160%;}
#paragraph p a{color:#D03135;text-decoration:underline;}
#pay{float:left;width:550px;min-height:190px;}
#paypal{float:left;width:45%;padding-top:20px;}
#paypal p{float:left;width:40%;padding-top:10px;}
#paypal img{}
#btn-submit{float:right;width:55%;padding:100px 0px 20px;}
#btn-submit p{float:left;padding-top:10px;}
#btn-submit p a{color:#D03135;text-decoration:underline;font-weight:bold;}
#submit input{background:#D03135;width:110px;height:40px;color:#fff;float:right;font-weight:bold;cursor:pointer}
#submit input:hover{background:#9E0606;}
.note{width:550px;min-height:100px;}
.note h2{font-weight:bold;font-size:15px;padding-bottom:5px;}
.note p{line-height:160%;}
#bill-kenny{padding:20px 70px;width:800px;height:110px;}
#bill-kenny img{float:left;height:120px;}
#bill-header{float:left;padding-left:20px;}
#bill-header h1{font-weight:bold;color:#2a2a2a;font-size:18px;padding-bottom:5px;}
#bill-header p{color:#838383;}
#bill-header p a{color:#D03135;}
#icons{padding-top:10px;}
#icons ul{}
#icons ul li{display:inline;}
#icons ul li a{padding:3px;}
#icons ul li a img{width:25px;height:25px;padding:3px;}
#like-btn{float:right;width:325px;}
#like-btn a img{float:left;height:18px;padding-left:8px;}
#mentor-detail-left{margin:20px 70px;float:left;width:500;}
#mentor-detail-left1{position:realtive;float:left;width:78%;min-height:500px;border:0px solid red;}
#mentor-detail-right{position:realtive;float:left;width:22%;border:0px solid red;}
#table-box{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #EEEEEE;min-height:200px;width:498px;float:left;}
table.reference4{background-color:#FFFFFF;width:100%;}
table.reference4 td{padding:3px;vertical-align:top;}
table.reference4 tr{height:40px;}
table.reference4 td a{color:#D03135;text-decoration:underline;padding-right:20px;}
#apply-button{width:500px;float:right;padding-top:50px;}
#apply-button input{background:#D03135;width:110px;height:30px;color:#fff;float:right;padding-bottom:3px;font-weight:bold;cursor:pointer;text-align:center;}
#apply-button input:hover{background:#9E0606;}
#table-para{width:500px;padding:230px 0px 20px;}
#table-para p{line-height:160%;text-align:justify;}
#table-para1{width:500px;padding-bottom:20px;}
#table-para1 p{line-height:160%;text-align:justify;}
#area-box{width:90%;border:0px solid red;}
.expertise{padding-bottom:10px;}
.expertise h1{font-weight:bold;font-size:15px;color:#2a2a2a;padding-bottom:5px;border-bottom:1px solid #bcbcbc;}
.expertise h2{font-weight:bold;font-size:14px;color:#2a2a2a;padding-bottom:5px;border-bottom:1px solid #bcbcbc;font-family:ubuntu;}
.expertise h3{font-weight:bold;font-size:14px;color:#2a2a2a;font-family:ubuntu;}
.expertise p{padding:10px 0;line-height:140%;font-size:14px;text-align:justify;}
.expertise1{padding-bottom:15px;}
.expertise1 h1{font-weight:bold;font-size:15px;color:#2a2a2a;padding-bottom:5px;border-bottom:1px solid #bcbcbc;}
.expertise1 p{padding:10px 0;line-height:10px;font-size:13px;text-align:justify;}
.expertise1 p span{text-decoration:underline;color:#D03135;}
#mentor-statics{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #EEEEEE;float:left;width:auto;min-height:115px;}
#mentor-statics h1{font-weight:bold;padding:10px 8px 10px 8px;font-size:15px;}
#mentor-statics p{line-height:140%;padding:0px 8px 0px 8px;}
.rates{float:left;}
.rates p{line-height:140%;word-wrap:normal;padding-top:8px;padding-bottom:8px;border-bottom:1px solid #bcbcbc;color:#292929;padding-right:12px;overflow:visible;}
.rates p span{padding-left:10px;}
.rates h1{font-weight:bold;padding:0px;margin:0px;padding-top:15px;font-size:15px;border:0px solid red;}
.rates p a{color:#D03135;text-decoration:underline;}
.rates p img{padding-right:5px;height:12px;}
#financial-management{margin:20px 0px;background:#000;width:100%;height:40px;}
#financial-management p{color:#fff;padding:12px;}
#financial-management p span{font-weight:bold;}
#mentors-content{padding:0px 0px 20px 0px;}
.box1{overflow:hidden;padding-bottom:40px;}
.image-para{padding-bottom:20px;min-height:120px;}
.image-left{float:left;width:180px;height:110px;background:#dedede;}
.para-right{float:right;width:600px;}
.readmore{border-bottom:1px solid #666;height:30px;}
.readmore h1{float:left;font-size:20px;font-weight:bold;}
.readmore p{float:right;width:100px;font-weight:bold;font-size:15px;}
.readmore p a{color:#D03135;background:url("../img/media/new.png") no-repeat scroll 85px 50% transparent;padding-right:25px;}
.readmore p a img{}
.mentor-text{padding-top:10px;}
.mentor-text p{text-align:justify;line-height:160%;}
.content-left-img{float:left;width:19%;}
.content-left-img a{border:1px solid #DCDCDC;float:left;display:block;}
.content-right-text{float:left;width:81%;}
.text-content-box{border-top:1px solid #BEBEBE;}
.text-content-box p{color:#292929;line-height:140%;padding-top:10px;}
.expertise-header{float:left;width:100%;}
.expertise-header h1{color:#292929;font-size:15px;font-weight:bold;padding-bottom:5px;padding-top:5px;}
.expertise-header p{padding:0px;margin:0px;}
.expertise-header h2{color:#000;font-size:14px;font-weight:bold;padding-bottom:5px;padding-top:5px;}
.expertise-header p span{color:#D03135;text-decoration:underline;font-weight:bold;margin-top:20px;}
.feedback_applybtn{float:left;width:100%;}
.feedback_applybtn span{font-weight:bold;}
.apply-button-search{float:right;margin-top:15px;}
.apply-button-search input{background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;font-weight:bold;height:35px;text-align:center;width:110px;margin:0px;padding:0px;border:0px solid blue;}
.apply-button-search input[type=button]{background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;font-weight:bold;height:35px;text-align:center;margin:0px;padding:0px;width:110px;-webkit-appearance:none;-webkit-border-radius:0;}
.apply-button-search input:hover{background:#9E0606;}
.more-button-search input[type=button]{background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;font-weight:bold;height:35px;text-align:center;margin:0px;padding:0px;width:50%;-webkit-appearance:none;-webkit-border-radius:0;}
.more-button-search input:hover{background:#9E0606;}
.mgButton{background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;font-weight:bold;height:35px;text-align:center;margin:0px;padding:0px;width:110px;-webkit-appearance:none;-webkit-border-radius:0;}
.mgButton[disabled]{background:none repeat scroll 0px 0px rgba(243, 44, 51, 0.6);color:#FFFFFF;cursor:default;font-weight:bold;height:35px;text-align:center;margin:0px;padding:0px;width:110px;-webkit-appearance:none;-webkit-border-radius:0;}
.mgButton[disabled]:hover{background:none repeat scroll 0px 0px rgba(243, 44, 51, 0.6);}
.loadmorebtn{text-align:center;clear:both;}
.loadmorebtn a{background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;display:block;font-weight:bold;line-height:37px;margin:0 auto;text-align:center;text-decoration:none;width:49%;}
.loadmorebtn a:hover{text-decoration:none}
#user{padding-top:30px;padding-left:0px;padding-right:0px;border:0px solid red;}
#pro-creation{border-bottom:1px solid #666;}
#pro-creation h1{padding-bottom:10px;}
#my-inform{border-bottom:1px solid #666;height:60px;width:700px;}
#my-inform p{width:196px;float:left;padding:20px 0px;font-size:15px;}
#my-inform input{background:#58A0CB;margin:10px 0px;width:100px;height:35px;color:#fff;font-size:18px;font-weight:bold;cursor:pointer;text-align:center;}
#name-box{width:750px;padding-top:20px;border:0px solid red;}
#user-image{width:200px;float:left;border:1px solid #DDD;background:white;text-align:center;margin-bottom:20px;height:200px;margin-right:15px;}
#user-image img{max-height:100%;}
#input-names{float:left;width:478px;border:0px solid red;}
#input-names p{margin:0px;padding:0px;border:0px solid red;}
.forminput[type=text]{margin:0px 0px 20px 0px;width:200px;}
.forminput1[type=text]{margin:0px 0px 20px 0px;width:200px;}
#input-names .forminput[type=text]{margin:0px 0px 10px 0px;width:323px;}
#input-names .forminput1[type=text]{margin:0px 0px 10px 0px;width:323px;}
#country{clear:both;margin:10px 0px;}
#country .forminput[type=text]{margin:0px 10px 0px 0px;width:340px;}
#upload-resume{border:0px solid red;margin-bottom:10px;margin-top:10px;}
#upload-resume p{padding-bottom:5px;font-size:15px;}
#upload-resume p span{font-size:13px;font-weight:normal;}
#upload-resume p a{color:#D03135;text-decoration:underline;}
#upload-resume .upload{margin:0px 0px 20px 0px;height:25px;background:#fff;border:1px solid #DDD;color:#888;padding:10px;width:318px;}
#upload-resume input[type=file]{background:none;border:none;width:100%;}
#text-area{padding:10px 10px 20px;width:675px;height:200px;}
#links{width:500px;border:0px solid red;margin:10px 0px 5px 0;}
#links p{font-size:15px;font-weight:bold;padding-bottom:5px;}
#links span{color:#D03135;font-size:15px;font-weight:bold;padding-left:20px;}
#resources{width:auto;border:0px solid red;margin:5px 0px 5px 0;}
#resources p{padding-bottom:5px;font-size:15px;font-weight:bold;}
#resources span{color:#D03135;font-size:15px;font-weight:bold;margin-left:20px;}
#resources span a{color:#D03135;padding-left:20px;}
#face-mode{border:0px solid red;position:relative;float:left;width:inherit;}
#mode{}
#mode p{float:left;width:10%;padding-top:18px;font-size:15px;}
#emailfrm input[type=radio]{background:none repeat scroll 0 0 #fff;border:1px solid #DDDDDD;margin-right:10px;color:#888888;}
#face-box{float:left;width:20%;border:0px solid red;}
#face-box p{padding-top:12px;padding-bottom:11px;font-size:15px;border:0px solid red;}
#face-text{width:70%;float:left;border:0px solid red;}
#face-text .forminput1[type=text]{margin:5px 0px 0px 0px;width:323px;}
#avaliability{margin-top:8px;border:0px solid red;position:relative;float:left;width:inherit;}
#avaliability p{padding-top:0px;font-size:15px;padding-bottom:5px;}
#avaliability .forminput[type=text]{margin:20px 0px 10px 0px;width:400px;}
#text-avail{padding:10px 10px 20px;width:500px;height:100px;margin-bottom:20px;font-family:'Ubuntu';}
#accepting{border:0px solid red;position:relative;float:left;width:inherit;margin-bottom:0px}
#accepting p{float:left;width:500px;font-size:15px;font-weight:bold;}
#accepting input{width:18px;}
#accepting span{padding:0px;padding-right:20px;font-size:15px;}
#request{border:0px solid red;margin:5px 0px 10px 0;clear:both;}
#request p{padding:0px 0px 5px 0px;font-size:15px;font-weight:bold;}
#request input{width:675px;margin-bottom:0px !important;}
#request span{color:#D03135;font-size:15px;padding-left:15px;font-weight:normal;font-weight:bold;}
#request span.grey{color:#666666;font-weight:normal;}
#request .forminput1[type=text]{margin:0px 0px 10px 0px;width:675px;}
#fees{border:0px solid red;position:relative;float:left;width:inherit;padding:5px 0px 0px 0px;}
#fees p{font-size:15px;font-weight:bold;padding-bottom:5px;}
.orientation{width:47%;border:0px solid red;position:relative;float:left;height:auto;margin-bottom:4px;}
.orientation p{color:#A7A8A7;padding-bottom:5px;}
.orientation .forminput1[type=text]{margin:0px 0px 10px 0px;width:323px;}
#application{border:0px solid red;position:relative;float:left;width:inherit;margin-top:-5px;margin-bottom:5px;}
#application p{padding:0px;margin:0px;padding-bottom:10px;font-size:15px;font-weight:bold;border:0px solid red;}
#application span{padding:0px;margin:0px;padding-right:20px;font-size:14px;font-weight:normal;}
#application p span{color:#D03135;}
#application input{width:30px;}
#app-button{padding-top:30px;border:0px solid red;position:relative;float:left;width:100%}
#app-button input{background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;float:right;height:40px;text-align:center;padding:0 20px;-webkit-appearance:none;-webkit-border-radius:0;}
#app-button input:hover{background:#9E0606;}
table.reference5{background-color:#FFFFFF;width:180px;}
table.reference5 td{padding:3px;vertical-align:top;}
table.reference5 tr{height:40px;}
table.reference5 tr td{}
table.reference5 tr td input{background:url('../img/media/user-face-bg.png') no-repeat;}
.social-links a{background:url("../img/media/footer_icons_sprite.png") 0 0 no-repeat;display:inline-block;font-size:12px;font-weight:normal;height:32px;padding-left:42px}
.social-links a.iconlinkedFooter{background:url("../img/media/link_icon2.png") 0 0 no-repeat;}
.social-links a.icongoogleFooter{background:url("../img/media/google_icon3.png") 0 0 no-repeat;}
.social-links a.icontwittFooter{background:url("../img/media/twitt_icon2.png") 0 0 no-repeat;}
.social-links a.iconTwitterFooter{background-position:-64px -64px}
.social-links a.iconTwitterFooter:hover{background-position:-96px -96px}
.social-links a.iconFacebookFooter{background-position:-128px -128px}
.social-links a.iconFacebookFooter:hover{background-position:-160px -159px}
.social-links a.iconLinkedInFooter{background-position:-192px -192px}
.social-links a.iconLinkedInFooter:hover{background-position:-224px -224px}
#footer-top{padding:0px;padding-top:20px;height:168px;border:0px solid red;}
#footer-logo{float:left;width:18%;}
#footer-logo img{}
#footer-about{float:left;width:58%;margin-left:35px;}
#left-box{float:left;width:44%;}
#left-box h1{color:#D03135;font-weight:bold;font-size:15px;}
#left-box p{color:#777;padding-top:10px;font-size:13px;font-family:'Ubuntu';line-height:140%;}
#left-box p span{color:#eee;}
#left-box p span a{color:#eee;text-decoration:none;}
#right-box{float:left;width:56%;}
#right-box h1{color:#D03135;font-weight:bold;font-size:15px;}
#right-box p{color:#777;padding-top:10px;font-size:13px;font-family:'Ubuntu';line-height:140%;}
#right-box p span{color:#eee;}
#footer-change{float:right;width:18%;}
#footer-change h1{color:#D03135;font-weight:bold;font-size:15px;}
#footer-change p{color:#777;padding-top:10px;font-size:13px;font-family:'Ubuntu';line-height:140%;}
#footer-change p span{color:#eee;}
#privacy p a{color:#EEEEEE;font-size:13px;}
#footer-bottom{background:url('../img/media/footer-btm.png') repeat-x;height:35px;padding-top:20px;font-size:13px;}
#privacy{float:left;}
#privacy p{color:#777;}
#privacy p span{padding:0px 15px;}
#all-rights{float:right;}
#all-rights p{color:#777;}
#all-rights p span{color:#777;}
.checkbox, .radio{width:19px;height:25px;padding:0 5px 0 0;background:url(../img/media/checkbox.png) no-repeat;display:block;clear:left;float:left;}
.radio{background:url(../img/media/radio.png) no-repeat;}
.select{position:absolute;width:158px;height:21px;padding:0 24px 0 8px;color:#fff;font-size:12px;line-height:12px;background:url(../img/media/select.png) no-repeat;overflow:hidden;}
.city_id{width:305px;}
select{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #DDDDDD;color:#888888;line-height:20px;padding:12px 0;}
.styled-form{margin-top:5px;border:0px solid red;padding-bottom:20px;}
.styled-form input[type=checkbox]{display:none;}
.styled-form input[type=checkbox] + label{background:url(../img/media/checked.png) 0px -30px no-repeat;display:inline-block;padding:3px 0 3px 30px;}
.styled-form input[type=checkbox]:checked + label{background:url(../img/media/checked.png) 0px 0 no-repeat;display:inline-block;padding:3px 0 3px 30px;}
.styled-form input[type=radio]{display:none;}
.styled-form input[type=radio] + label{background:url(../img/media/checked.png) 0px -60px no-repeat;display:inline-block;padding:3px 10px 3px 30px;}
.styled-form input[type=radio]:checked + label{background:url(../img/media/checked.png) 0px -92px no-repeat;display:inline-block;padding:3px 10px 3px 30px;}
.styled-form p{margin-top:5px;border:0px solid blue;}
.form-error{border-color:red !important;}
.error-message{margin-top:-20px;margin-bottom:20px;color:red;}
#p_social > p > label > input[type=text]{margin-bottom:10px;}
#my-details{width:270px;padding:20px 0px;font-size:15px;font-weight:bold;}
#draft-button{padding:20px 0px 50px;width:300px;float:left;}
#draft-button input{background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;float:left;font-weight:bold;height:40px;text-align:center;width:110px;}
#publish-button input:hover{background:#9E0606;}
#publish-button{padding:20px 53px 60px;width:215px;float:right;border:0px solid red;}
#publish-button input{background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;float:right;font-weight:bold;height:40px;text-align:center;width:110px;}
#publish-button input:hover{background:#9E0606;}
#publish-button input{-webkit-appearance:none;border-radius:0;}
.clear{clear:both;}
#user-account{padding:30px 0px;clear:both;width:100%;float:left;}
#user-account .heading{border-bottom:1px solid #666;margin-bottom:20px;}
#user-account .subheading{border-bottom:1px solid #BEBEBE;margin-bottom:20px;}
#user-account .heading h1{padding-bottom:10px;}
#user-account .subheading h2{padding-bottom:5px;font-size:20px;font-weight:bold;}
#user-account{}
#user-account .column{width:48%;margin:0 1%;}
#user-account .column.first{margin-left:0;float:left;}
#user-account .column.last{margin-right:0;float:right;}
#user-account h2{font-size:25px;font-family:'proximanova semibold';margin:0;padding:0;}
#user-account #account-photo, #user-account .account-form p{margin-bottom:20px;}
#user-account #account-photo img{border:#dcdcdc solid 1px;vertical-align:bottom;}
#user-account #account-photo .change_image_link{color:#d03135;font-size:25px;font-family:'proximanova semibold';}
#user-account .account-form input[type=text], #user-account .account-form input.input{border:#dcdcdc solid 1px;font-family:'arial';color:#838383;margin-bottom:10px;}
#user-account .account-form .button-set{clear:both;margin-bottom:0px;padding-left:389px;padding-top:30px;float:left;}
#user-account .account-form .del-acc{float:left;clear:both;}
#user-account .account-form .del-acc a{float:none;line-height:22px;padding:0px;}
#user-account .account-form input[type=submit], #user-account .account-form .button{background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;float:right;font-weight:bold;height:40px;text-align:center;padding:0 20px;-webkit-appearance:none;-webkit-border-radius:0;}
#user-account .account-form input[type=submit]:hover, #user-account .account-form .button:hover{background:none repeat scroll 0 0 #9E0606;}
#user-account .account-form input[type=reset], #user-account .account-form .reset, #user-account .account-form .delete{background:none;color:#D03135;cursor:pointer;float:right;font-weight:normal;padding:0 20px;text-align:center;line-height:37px;}
#registerationFm .txt{font-family:'proximanova', Ubuntu, arial, vardana;font-size:14px;font-weight:normal;margin-left:8px;}
.backRes{color:#D03135;float:right;margin:14px 10px 0 0;}
#login-account input[type=text], #login-account input.input{font-family:'arial';margin:0px 0px 20px 0px;width:95%;}
.column_left{width:75%;float:left;}
.column_right{width:22%;float:right;}
.nomargin{margin:0!important;}
.nopadding{padding:0!important;}
.backRes{color:#D03135;float:right;margin:14px 20px 0 0;}
.white_box{border:#dcdcdc solid 1px;padding:10px;background:#fff;margin-top:10px;}
.h_list{list-style:none;padding:0 0 20px 0;clear:both;overflow:hidden;}
.h_list li{display:inline;padding:0 0 0 0px;float:left;}
.h_list li.one{width:21px;}
.h_list li.two{padding:0 0 0 20px;width:140px;}
.h_list li.three{width:60px;}
.h_list li.four{width:160px;}
.h_list li.five{}
.h_list li img{vertical-align:middle;}
.h_list li a{text-decoration:none;padding:0 0 0 0px;}
.h_list li a:hover{text-decoration:underline;}
.resources{position:relative;}
.resources input[type=text]{width:278px;margin:0;}
.add{font-family:'proximanova bold';font-size:25px;position:absolute;right:-34px;text-decoration:none;top:19px;width:24px;}
.add > img{width:24px;}
.statistics p{margin:5px 0 10px;}
.label-rates{display:block;float:left;width:135px;}
input.smallest{padding:1px 5px;width:20px;margin-bottom:2px;}
input.smallest_paypal{padding:1px 5px;width:200px;height:20px;margin-bottom:2px;}
.socials{width:100%;border:0px solid red;}
.socials img{width:32px;height:32px;padding:0 3px 3px 0;display:inline-block;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0, 0, 0, 0);}
.socials img:hover{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
.socials span{font-size:11px;color:red;text-decoration:underline;padding-left:5px;padding-right:5px;}
.mr-lt20{margin-left:20px!important;}
.mr-tp20{margin-top:20px!important;}
.mr-bt20{margin-bottom:20px!important;}
.mr-rt20{margin-right:20px!important;}
.noborder{border:0!important;}
.Profile_page_container{padding-top:30px;padding-left:0px;padding-right:0px;margin:0 auto;clear:both;border:0px solid red;}
.Profile_page_container .profileimg{background:none repeat scroll 0 0 white;border:1px solid #DDDDDD;float:left;height:200px;margin-bottom:20px;margin-right:15px;text-align:center;width:200px;}
.Profile_page_containers{padding-top:0px;padding-left:0px;padding-right:0px;margin:0 auto;clear:both;border:0px solid red;}
.mentor_details{padding-top:0px;width:inherit;position:relative;float:left;border:0px solid red;}
.feedback_txt{float:left;margin-bottom:12px;margin-left:0;margin-top:5px;min-height:30px;position:relative;}
.share_icons{width:auto;min-height:30px;margin-bottom:12px;}
#shareicon{width:130px;float:left;}
.share_icons a{float:left;padding-right:3px;}
.top_padding{padding-top:5px;}
#paypalacc.divclass{position:relative;float:left;padding-top:5px;padding-bottom:5px;border-bottom:1px solid #bcbcbc;margin-bottom:15px;}
#edit_box{width:400px;border-bottom:thin solid #dedede;padding-bottom:10px;margin-bottom:10px;}
.edit_row{position:relative;width:inherit;height:30px;padding-top:8px;border:0px solid red;}
.edit_col1{position:relative;float:left;width:50%;}
.edit_col2{position:relative;float:left;width:50%;border:0px solid red;}
.edit_colum{position:relative;float:left;width:55%;padding-top:25px;margin-bottom:15px;}
#edit_box input[type=text]{height:19px;margin-bottom:2px;padding:2px 0 2px 5px;width:195px;}
#edit_box input[type=submit]{float:right;}
.margin_left{margin-left:10px;}
#edit_box img{cursor:pointer;float:right;height:16px;padding-right:0px;position:relative;top:2px;width:14px;}
#edit_box img.padding_right{padding-right:-12px;}
.profile_img{width:200px;height:200px;border:0px solid red;}
.profile_img:hover{background:#000;opacity:.70;filter:alpha(opacity=70);padding:0px;margin:0px;cursor:pointer;}
.profile_img span{display:none;position:relative;top:-40px;left:50px;padding:0px;margin:0px;border:0px solid red;}
.profile_img:hover span{display:inline-block;border:0px solid red;}
#face-box .styled-form input[type=checkbox]{display:none;}
#face-box .styled-form input[type=checkbox] + label{background:url("../img/media/checked.png") no-repeat scroll 0 -30px transparent;display:inline-block;padding:1px 0 3px 30px;margin-left:35px;}
#face-box .styled-form input[type=checkbox]:checked + label{background:url(../img/media/checked.png) 0px 0 no-repeat;display:inline-block;padding:1px 0 3px 30px;}
#requestMentor{margin-top:0px;border:0px solid red;}
#requestMentor p{font-size:15px;padding-bottom:5px;}
#requestMentor span{color:#292929;font-size:15px;font-weight:normal;}
#addQuestion.addmore{color:#292929;font-size:15px;font-weight:bold;padding-left:20px;}
.remQuestion{color:#292929;font-size:15px;font-weight:bold!important;padding-left:20px !important;}
#requestMentor span.grey{color:#666666;font-weight:normal;}
#accepting .styled-form input[type='radio']{display:none;}
#accepting .styled-form input[type='radio'] + label{background:url(../img/media/checked.png) 0px -60px no-repeat;display:inline-block;padding:1px 10px 0px 30px;}
#accepting .styled-form input[type='radio']:checked + label{background:url(../img/media/checked.png) 0px -92px no-repeat;display:inline-block;padding:1px 10px 0px 30px;}
#application .styled-form input[type='radio']{display:none;}
#application .styled-form input[type='radio'] + label{background:url(../img/media/checked.png) 0px -60px no-repeat;display:inline-block;padding:1px 10px 0px 30px;}
#application .styled-form input[type='radio']:checked + label{background:url(../img/media/checked.png) 0px -92px no-repeat;display:inline-block;padding:1px 10px 0px 30px;}
.savedraffbtn{padding-top:0px;float:left;line-height:37px;}
.feedbackcontent{padding-top:20px;clear:both;}
.feedbackcontent .form_row{padding-top:0px;clear:both;}
.feedbackcontent .form_row p{clear:both;padding-bottom:5px;}
.feedbackcontent .form_row textarea{width:478px;padding:10px;margin-bottom:10px;}
.feedback-form{padding-bottom:10px;}
.feedbackcontent strong, b{font-weight:bold;font-family:'proximanova semibold',Ubuntu;}
.feedback-link{float:right;}
.invoce-creation{}
.invoce-creation h1{font-weight:bold;font-size:15px;color:#2a2a2a;padding-bottom:5px;border-bottom:1px solid #bcbcbc;}
.invoce-creation .formrow{margin:10px 0px 10px 0px;clear:both;}
.invoce-creation .formrow p{padding:0 0 5px 0;line-height:140%;font-size:14px;text-align:justify;}
.invoce-creation .formrow [type=text]{width:300px;}
#invoce-right{position:realtive;float:left;width:22%;border:0px solid red;font-size:14px;}
#invoce-right .invoice-detail{padding-bottom:10px;width:100%;float:left;}
#invoce-right h1{padding-bottom:5px;font-size:15px;color:#D03135;padding-top:15px;}
#invoce-right h2{font-weight:bold;font-size:15px;color:#2a2a2a;padding-bottom:5px;border-bottom:1px solid #bcbcbc;}
#invoce-right .invoice-price{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #EEEEEE;float:right;min-height:115px;padding:8px;}
#invoce-right .price-row{padding-bottom:5px;float:left;width:100%;}
#invoce-right .left-price{float:left;max-width:125px;}
#invoce-right .right-price{float:right;text-align:left;min-width:60px;}
#invoce-right strong{font-weight:bold;}
#invoce-right .price-textbox{width:50px;padding:0px;text-align:left;height:auto;margin:0px;}
#invoce-right .price-total{padding:5px 0 5px 0;float:left;width:100%;border-bottom:1px solid #BCBCBC;border-top:1px solid #BCBCBC;}
#invoce-right .invoice-cal{padding-bottom:10px;width:100%;float:left;}
#invoce-right .invoice-cal h1{padding-bottom:5px;font-size:15px;color:#292929;}
#invoce-right .invoice-calbox{background:#efeded;border:1px solid #dcdcdc;float:right;padding:8px;}
#user-status{background-color:#FFF;border:1px solid #dcdcdc;margin-top:10px;padding:10px;overflow-x:hidden !important;overflow:auto;min-height:150px;height:150px;}
#user-status .row{padding:2% 1% 1% 1%;clear:both;width:98%;float:left;}
#user-status .col1{width:23%;float:left;word-wrap:break-word;}
#user-status .col2{width:6%;float:left;word-wrap:break-word;}
#user-status .col3{width:41%;float:left;word-wrap:break-word;}
#user-status .col4{width:29%;float:left;word-wrap:break-word;}
#user-status .minus_user a{width:24px;height:19px;float:left;background:url(minus1.png) no-repeat;text-indent:-9999px;margin-top:-2px;margin-right:5px;}
#memberlog{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #EEEEEE;clear:both;padding:10px 15px 10px 15px;}
.logsearch{clear:both;padding:10px 10px 10px 0px}
.mentorname{float:right;font-size:15px;padding-top:10px;}
.mentorname strong{font-weight:bold;}
#memberlog .row{clear:both;padding:10px 0px 10px 0px;}
#memberlog .date{width:15%;float:left;padding-right:5%;font-size:12px;font-family:Ubuntu;font-weight:lighter;}
#memberlog .description{width:80%;float:left;}
#memberlog .description strong{font-weight:bold;}
#memberlog .content{width:auto;clear:both;overflow:scroll;overflow-x:hidden;height:240px;}
.orderconformation{padding-top:20px;position:relative;}
.orderconformation .right-price{float:right;text-align:right!important;min-width:60px;}
.orderdetail{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #EEEEEE;clear:both;padding:10px 0px 10px 0px;}
.orderdetail h1{border-bottom:1px solid #EEEEEE;color:#363636;font-size:15px;padding:0px 10px 5px 10px;font-family:Ubuntu;font-weight:normal;}
.orderdetail .content{clear:both;padding:20px 10px 10px 10px;}
.orderdetail .content h2{color:#363636;font-size:15px;padding:0px 0px 5px 0px;font-family:Ubuntu;font-weight:normal;}
.orderdetail .content h2 strong{font-weight:bold;}
.orderdetail .product{clear:both;height:auto;width:auto;padding-top:10px;}
.orderdetail .product img{float:left;padding-right:15px;}
.orderlink{color:#D03135;float:left;margin:7px 20px 0 0;}
.invoce-creation .note{clear:both;padding:20px 0px 0px 0px;}
.error{background:none repeat scroll 0 0 #F00;color:#FFFFFF;font-size:12px;font-weight:700;height:16px;padding:8px;}
.success{background:none repeat scroll 0 0 #d03135;color:#FFFFFF;font-size:15px;height:16px;padding:8px;text-align:center;}
.successedit{background:none repeat scroll 0 0 #d03135;color:#FFFFFF;font-size:15px;height:16px;text-align:center;}
.errorSessionmsg{background:none repeat scroll 0 0 #F00;color:#FFFFFF;font-size:12px;height:16px;padding:8px;}
.plus_symbol{display:inline;}
.formrow .column1{width:35%;float:left;word-wrap:break-word;padding-right:2%;}
.formrow .column2{width:62%;float:left;word-wrap:break-word;}
.formrow .column2 select{padding:12px;float:left;}
.formrow .column2 input[type="text"]{float:left;}
.formrow .column3{width:62%;float:left;word-wrap:break-word;}
.formrow .column4{float:left;word-wrap:break-word;padding-right:2%;}
.select::-ms-expand{display:none;}
.select{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.selectbox_cont select.select{position:relative;z-index:10;width:149px !important;height:46px !important;background:url(../images/icon_sorting_dark.png) no-repeat #fff 90% 58%;color:#888888;margin:0 !important;}
.selectbox_cont span.select{position:absolute;bottom:0;float:left;left:0;width:118px;height:33px;background:url(../images/icon_sorting_dark.png) no-repeat #fff 90% 58%;cursor:default;z-index:1;border:1px solid #DDDDDD;padding:7px 15px 5px 15px;color:#000000;font-size:14px;line-height:28px;}
.selectbox_cont{position:relative;display:inline;height:47px;margin-left:9px;float:left;color:#888888;font-size:14px;}
.timzoneselectbox_cont select.select{position:relative;z-index:10;width:68px !important;height:33px !important;background:url(../images/icon_sorting_dark.png) no-repeat #fff 90% 58%;color:#888888;}
.timzoneselectbox_cont span.select{position:absolute;bottom:0;float:left;left:0;width:36px;height:33px;background:url(../images/icon_sorting_dark.png) no-repeat #fff 90% 58%;cursor:default;z-index:1;border:1px solid #DDDDDD;padding:7px 15px 5px 15px;color:#000000;font-size:14px;line-height:29px;}
.timzoneselectbox_cont{position:relative;display:inline;height:48px;float:left;color:#888888;font-size:14px;line-height:28px;width:68px;}
.rates .timzoneselectbox_cont{height:29px;width:89px;margin-left:3px;}
.rates .timzoneselectbox_cont select.select{height:20px;width:100px !important;}
.rates .timzoneselectbox_cont span.select{height:16px;width:95px;line-height:15px;}
.rates_container{float:left;width:100%;padding-top:15px;}
.orientation .timzoneselectbox_cont{height:50px;width:89px;margin:-57px 62px 0 6px;float:right;}
.orientation .timzoneselectbox_cont select.select{height:20px;width:127px !important;}
.orientation .timzoneselectbox_cont span.select{height:33px;width:95px;line-height:34px;}
*{margin:0;}
.bgcolor{width:100%;height:112px;background-color:rgb(230,231,232);font-family:Ubuntu, sans-serif;}
.widthsize{margin:0 auto;width:960px;}
.steps3{width:300px;height:112px;float:left;}
.steps3 p{font-size:22px;color:#F33034;text-align:center;padding-top:35px;}
.Rarrow{height:30px;width:30px;float:left;margin-top:35px;padding-left:55px;padding-right:55px;}
.search, .apply, .engage{float:left;text-align:center;margin-top:10px;width:70px;height:100px;}
.search span, .apply span, .engage span{color:#F33034;}
#showSearch, #showApply, #showEngage{display:none;width:215px;height:90px;text-align:center;top:100px;padding-top:15px;padding-left:10px;padding-right:10px;margin-left:220px;position:absolute;background-color:#434343;color:white;z-index:1;}
#showApply{margin-left:426px;}
#showEngage{margin-left:636px;}
#showSearch p, #showApply p, #showEngage p{color:white;}
#Sarrow{position:absolute;top:-12px;margin-left:98px;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:13px solid #434343;}
#Aarrow{position:absolute;top:-12px;margin-left:100px;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:13px solid #434343;}
.mainbox{padding-left:10px;width:390px;height:502px;margin:0 auto;background-color:#EEEEEE;font-family:Ubuntu, sans-serif;position:relative;border-radius:0 0 8px 0;}
.vLine{width:0;height:230px;border-left:1px solid #B6B6B6;border-right:1px solid #DADADA;margin-left:10px;}
.or{padding-top:5px;padding-bottom:5px;color:#F42B33;font-size:26px;font-weight:bold;}
.text_box{position:absolute;height:auto;padding-right:13px;right:0px;top:0px;}
.text_box p{font-size:22px;color:#292929;border-bottom:1px solid #B6B6B6;margin-bottom:150px;padding-bottom:5px;}
.text_box span{font-size:18px;color:#292929;line-height:24px;}
.text_box a{text-decoration:none;color:#F42B33;font-size:18px;line-height:27px;}
.text_box a:hover{text-decoration:underline;}
.corss{position:absolute;top:-8px;right:-11px;}
.content_area{width:551px;background-color:#eeeeee;border-radius:7px;float:left;padding:0 22px 22px 22px;position:relative;}
.member_invitation{font-size:24px;color:#525252;border-bottom:1px solid #bebebe;font-family:'ubunturegular';font-weight:bold;background:url(../img/media/icon-mail.jpg) 1px 8px no-repeat;padding-left:25px;padding-bottom:16px;}
.to{font-size:16px;line-height:31px;}
.to input{width:470px;height:16px;margin-left:46px;font-family:'ubunturegular';font-size:15px;padding-left:7px;color:#000;}
.fleft{float:left;}
.subject{font-size:16px;line-height:31px;}
.subject input{width:470px;height:16px;margin-left:12px;font-family:'ubunturegular';font-size:15px;padding-left:6px;color:#000;}
.border_gray{border-bottom:1px solid #bebebe;padding-bottom:12px;width:100%;float:left;}
p{margin:0 0 0 0;}
.editable{width:100%;float:left;line-height:21px;}
.editable p{padding-top:21px;}
.edit{width:100%;float:left;margin-top:7px;}
.editable textarea{width:525px;height:185px;font-family:'ubuntulight';font-size:14px;color:#000;background-color:#FFF;padding:12px;}
.copy_url{color:#f64247;float:right;margin-left:17px;}
.copy_url a{color:#f7363b;}
.send_mail a{background-color:#f7363b;padding:7px;margin-top:21px;color:#FFF;float:right;}
.main input:hover{-moz-box-shadow:inset 0 0 5px #dddddd;-webkit-box-shadow:inset 0 0 5px #dddddd;box-shadow:inset 0 0 5px #dddddd;}
.editable textarea:hover{-moz-box-shadow:inset 0 0 5px #dddddd;-webkit-box-shadow:inset 0 0 5px #dddddd;box-shadow:inset 0 0 5px #dddddd;}
input[type="text"], input[type="password"], textarea, select{outline:none;}
.canCEL, .preVIEW{display:inline-table;}
.canCEL{margin-right:15px;margin-top:-12px;}
#hideNO{display:none;}
.widthsize{margin:0 auto;width:960px;}
.l{border:1px solid red;}
.r{border:1px solid blue;}
.leftMENT, .rightMENT{display:inline-table;float:left;}
.leftMENT{padding-top:21px;width:78%;padding-left:20px;padding-right:20px;}
.rightMENT{width:22%;color:#292929;margin-top:3px;}
.textSH strong, .textSH p, p.statements{color:#292929;line-height:140%;font-family:Ubuntu,arial,vardana;}
.textSH h1{border-bottom:1px solid #BCBCBC;color:#2A2A2A;font-size:15px;font-weight:bold;padding-bottom:5px;}
.textSH p{font-size:14px;line-height:140%;padding:10px 0;margin-bottom:15px;}
.hideshow{}
.textSH{margin-top:30px;margin-bottom:50px;}
.textSH1{}
.collaborative{border:1px solid #EBEBEB;margin-top:15px;padding:10px;font-size:15px;font-weight:bold;color:#FF0000;cursor:pointer;font-family:Ubuntu;}
.collaborative:hover{outline:none;box-shadow:0 0 5px #DDDDDD inset;}
.collaborative span{float:right;width:22px;height:22px;background-repeat:no-repeat;}
.textSH a{float:right;margin-top:-15px;text-decoration:none;position:relative;}
.textSH a:hover span, .textSH a span:hover{text-decoration:underline!important;}
.textSH a span{position:absolute;left:25px;top:4px;padding-left:10px;color:#FF0000;text-decoration:none;}
.textSH p a img{margin-top:-35px;padding-bottom:2px;}
.hr{border-top:1px solid #cccccc;margin-bottom:3px;}
.caseSTD{border-bottom:2px solid #5A5A5B;padding-bottom:7px;width:674px;}
.caseSTD a{background-color:#5A5A5B;margin-right:8px;padding-left:17px;padding-right:17px;padding-top:8px;padding-bottom:7px;text-decoration:none;color:#FFFFFF}
.clear{clear:both;}
#prof{display:none;}
.margPAD{padding-left:20px;padding-right:20px;}
.margPAD p{color:#292929;line-height:140%;}
.margPAD h2, #divParent h2{padding-top:10px;font-weight:bold;font-size:15px;color:#2a2a2a;padding-bottom:5px;border-bottom:1px solid #bcbcbc;font-family:Ubuntu,arial,vardana;}
.margPAD h3{padding-top:10px;}
.caseLEFT, .caseRIGHT{float:left;}
.caseLEFT{width:620px;}
.caseRIGHT{width:230px;margin-left:64px;}
.editSUB{text-align:right!important;margin-top:40px;margin-bottom:20px;}
.editSUB a{text-decoration:none;color:#D03135;margin-right:20px;}
.editSUB a:hover{text-decoration:underline;}
.editSUB a.subLink, a.addCS{background-color:#D03135;color:white;padding-left:16px;padding-right:16px;padding-top:10px;padding-bottom:8px;margin-right:0px;}
.editSUB input{margin-top:-12px;background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;float:right;height:40px;text-align:center;padding:0 20px;-webkit-appearance:none;-webkit-border-radius:0;}
.editSUB input:hover{background:#9E0606;}
#divParent>span{position:relative;float:right;}
#divParent>span>a{color:#D03135;text-decoration:none;margin:10px;font-size:16px;}
#divParent>p>span{position:relative;float:right;}
#divParent>p>span>a{color:#D03135;text-decoration:none;margin:10px;font-size:16px;}
a.addCS{margin-left:30px;text-decoration:none;}
#divParent>span>a:hover{text-decoration:underline;}
input.inpT, textarea.txtAR{width:600px;border:1px solid #ccc;padding-left:10px;margin-bottom:20px;}
textarea.txtAR{height:230px;margin-top:5px;padding-top:8px;}
.caseRIGHT select{width:200px;height:44px;padding-top:10px;padding-left:5px;padding-right:5px;padding-bottom:6px;border:1px solid #ccc;margin-left:35px;margin-top:35px;font-family:Ubuntu,arial,vardana;}
textarea.txtAR:focus,input.inpT:focus, .caseRIGHT>textarea.testimOPTION:focus, .caseRIGHT>input.testimOPTION:focus,
.caseRIGHT select:focus{border:1px solid #cccccc;box-shadow:0 0 5px #DDDDDD inset;outline:none;}
.caseRIGHT select option{padding-left:10px;padding-top:5px;padding-bottom:5px;color:#000;}
.caseRIGHT>textarea.testimOPTION{width:188px;height:200px;border:1px solid #ccc;margin-left:35px;margin-top:17px;padding-top:8px;padding-left:10px;}
.caseRIGHT>input.testimOPTION{width:190px;height:35px;margin-left:35px;padding-left:10px;border:1px solid #ccc;margin-top:17px;}
[placeholder]{font-family:Ubuntu,arial,vardana;}
[placeholder]:hover{box-shadow:0 0 5px #DDDDDD inset;}
#tex3{display:none;}
.QnAconsult input{background-color:#D03135;width:152px;height:30px;color:white;font-weight:bold;}
.QnAconsult input:hover{cursor:pointer;background-color:#9E0606;}
.QnAbutton{}
.QnAbutton a{background-color:#ECECEC;color:gray;margin-top:10px;padding-top:5px;padding-bottom:5px;padding-left:7px;padding-right:7px;font-size:12px;margin-right:4px;}
.QnAbutton a:hover{color:#D03135;}
.ExpAbutton{}
.ExpAbutton a{background-color:#ECECEC;color:gray;margin-top:10px;padding-top:5px;padding-bottom:5px;padding-left:7px;padding-right:7px;font-size:12px;margin-right:4px;margin-top:14px;}
.ExpAbutton a:hover{color:#D03135;}
.QHINTarea textarea{width:97%;padding:6px;height:150px;}
table.RAtable tr td{padding-top:5px;padding-bottom:3px;}
table.RAtable tr td strong{font-weight:bold;}
.r{border:1px solid blue!important;}
.relatiVE{position:relative;}
.tpLINE, .btLINE, .orMIDDLE{position:absolute;}
.tpLINE{height:265px;border-left:1px solid #ccc;left:460px;top:40px;}
.orMIDDLE{color:#292929;font-size:24px;font-weight:bold;left:445px;top:310px;}
.btLINE{height:160px;border-left:1px solid #ccc;left:460px;top:345px;}
.TxTimg img{margin-right:7px;}
.TxTimg a:hover{text-decoration:none;}
.headH2 h2{border-bottom:1px solid #ccc;line-height:38px;margin-bottom:20px;color:#292929;}
.headH1 h1{color:#D03135;font-weight:normal;}
.HRLine{width:100%;border-top:1px solid #ccc;margin-top:20px;margin-bottom:20px;}
#text-box #enter-keywords #enter-text1{width:662px;border-right:1px solid #9d9c9c;float:left;}
#text-box #enter-keywords #enter-text1 input[type=text]{width:97.5%;padding-left:7px;float:left;}
#find-mentor1{padding-left:48px;padding-bottom:44px;}
#find-mentor1 h1{font-size:35px;color:#fff;font-weight:bold;padding-top:34px;padding-bottom:5px;}
#find-mentor1 h2{font-size:17px;color:#fff;font-family:'Ubuntu', arial;padding:5px 0 25px;}
.supreFREE h2 sup{color:#292929;font-size:13px;line-height:20px;font-weight:normal;}
.labelSET, .thanksCENTER h5{color:#292929;}
.labelSET input{margin-top:5px;margin-right:7px;}
input.LTSpreview{width:160px;}
.inputRELATIVE{position:relative;margin-bottom:30px;}
.inputRELATIVE p{padding-top:0px;margin-top:5px;padding-bottom:0px;color:white;}
.showHINT{display:none;position:absolute;width:180px;height:267px;background-color:#434343;color:white!important;padding-left:10px;padding-right:10px;top:-20px;right:-215px;}
.showHINT span{border-top:15px solid transparent;border-bottom:15px solid transparent;border-right:20px solid #434343;height:0;left:-18px;position:absolute;top:28px;width:0;z-index:9999;}
.inputRELATIVE:hover .showHINT{display:block;}
.showHINT1{display:none;position:absolute;width:180px;height:267px;background-color:#434343;color:white!important;padding-left:10px;padding-right:10px;top:-20px;right:-215px;}
.showHINT1 span{border-top:15px solid transparent;border-bottom:15px solid transparent;border-right:20px solid #434343;height:0;left:-18px;position:absolute;top:28px;width:0;z-index:9999;}
.inputShow:hover .showHINT1{display:block;}
.thanksCENTER h5{margin-top:100px;}
.thanksCENTER, .thanksCENTER input{text-align:center!important;position:relative;float:none;}
.unanswered span{font-weight:bold;font-size:16px;color:#292929;line-height:26px;}
.unanswered>span>a{font-weight:normal;text-decoration:underline;float:right;clear:both;}
.unanswered>span>a:hover{text-decoration:none;}
.unanswered section{float:right;}
.unanswered section span a{background-color:#D03135;color:white;padding:6px;font-size:14px;}
.unanswered section span a:hover{background-color:#9E0606;text-decoration:none;}
.TXT-LHight p{font-weight:bold;}
#linearBg2{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f8f8), to(#aaaaaa));background:-webkit-linear-gradient(top, #aaaaaa, #f9f8f8);background:-moz-linear-gradient(top, #aaaaaa, #f9f8f8);background:-ms-linear-gradient(top, #aaaaaa, #f9f8f8);background:-o-linear-gradient(top, #aaaaaa, #f9f8f8);}
.expBG{background-color:rgb(230,231,232)}
.by3Div{width:100%;margin-top:70px;}
.leftColumn{width:300px;padding:0 15px 20px 0;float:left;}
.centreColumn{width:300px;padding:0 15px 20px 15px;float:left;}
.rightColumn{width:300px;padding:0 0 20px 15px;float:right;}
.pimgDiv{float:left;width:68px;}
.expheader{float:right;width:230px;margin-top:25px;}
.h2exp{color:rgb(41, 41, 41);font-size:20px;font-weight:bold;margin-left:15px;}
.h2exp1{color:rgb(41, 41, 41);font-size:20px;margin-left:5px;}
.HRLineExp{width:100%;border-top:1px solid #BEBEBE;margin-top:5px;margin-bottom:20px;}
.expButton{background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;font-weight:bold;height:35px;text-align:center;-webkit-appearance:none;-webkit-border-radius:0;float:none;margin-left:15px;width:200px;}
.expButton1{background:none repeat scroll 0 0 #D03135;color:#FFFFFF;cursor:pointer;font-weight:normal;height:35px;text-align:center;-webkit-appearance:none;-webkit-border-radius:0;float:none;margin-left:15px;width:200px;}
#slider-code{height:300px;overflow:hidden;}
#slider-code .viewport{float:left;width:960px;height:280px;overflow:hidden;position:relative;}
#slider-code .buttons{display:block;margin:30px 10px 0 0;float:left;}
#slider-code .next{margin:30px 0 0 10px;}
#slider-code .disable{visibility:hidden;}
#slider-code .overview{list-style:none;padding:0;margin:0;position:absolute;left:0;top:0;}
#slider-code .overview li{float:left;margin:0 20px 0 0;padding:1px;height:271px;width:960px;}
#slider-code .pager{overflow:hidden;list-style:none;clear:both;margin:0 0 0 0;padding-left:0px;}
#slider-code .pager li{float:left;}
#slider-code .pagenum{background-color:rgb(238, 238, 238);text-decoration:none;text-align:center;padding-right:5px;color:#555555;font-size:14px;font-weight:bold;display:block;width:124px;margin-right:5px;height:8px;}
#slider-code .active{color:#fff;background-color:rgb(204, 204, 204);}
.questionA{color:rgb(41, 41, 41);line-height:140%;font-size:14px;font-weight:bold !important;text-decoration:none;}
.questionA:hover{text-decoration:none;}
.readMore{font-weight:normal!important;margin-left:5px;}
.MGSub{font-size:11px;font-weight:normal;font-family:Ubuntu;}
.gaurantee_img{width:96px;height:96px;background:url('../img/media/sprite3.png') -96px 0;background-repeat:no-repeat;float:right;margin-top:5px;}
.gaurantee_img:hover{background:url('../img/media/sprite3.png') 0 0;}
.careerHOME{padding-top:16px;padding-bottom:16px;margin-top:0px!important;margin-bottom:0px!important;position:relative;}
.careerHOME:hover{background-color:#EFEFEF;}
.careerHOME:hover .careerBTN, .careerHOME:hover .darrow{display:inline-block;}
.careerHOME .name{padding-left:0px;color:#D03135;font-weight:700px;font-size:15px;font-family:Ubuntu, arial, vardana;}
.careerHOME .name:hover .careerBTN, .careerHOME:hover .darrow{display:inline-block;}
.careerBTN{display:none;width:104px;position:absolute;right:40px;top:7px;}
.openCONTENT{z-index:99;position:absolute;display:none;opacity:1!important;width:254px;height:170px;padding-left:8px;padding-right:8px;border:1px solid #BEBEBE;border-right:6px solid #BEBEBE;top:-1px;right:0px;background:white!important;background-color:white!important;}
.openCONTENT table tr td{padding:8px;font-size:14px;background:white!important;}
.openCONTENT table td a{padding-left:0px;}
.practiceAreas{z-index:99;position:absolute;display:none;opacity:1!important;padding-left:8px;padding-right:8px;border:1px solid #BEBEBE;border-right:6px solid #BEBEBE;background:white!important;background-color:white!important;top:80px;width:550px;right:100px;}
.practiceAreas table tr td{padding:8px;font-size:14px;background:white!important;}
.practiceAreas table td a{padding-left:0px;}
.darrow{z-index:9;display:none;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-top:10px solid #000000;position:absolute;right:15px;top:20px;cursor:pointer;transition:2s;}
.darrowTOP{width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:10px solid #000000;position:absolute;right:9px;top:17px;cursor:pointer;transition:1s;}
.darrow:hover{border-top:10px solid #D03135;transition:1s;}
.darrowTOP:hover{border-bottom:10px solid #D03135;transition:1s;}
.brand-icon{clear:both;width:958px;margin:0 auto;height:86px;position:relative;}
.apple_gray, .accenture_gray, .ted_gray, .ge_gray, .citi_gray, .deloitte_gray,
.gg_gray, .hilton_gray, .oracle_gray, .png_gray, .hp_gray{width:75px;height:84px;background:url(../images/brandiconsstrip.jpg) 0px -84px;background-repeat:no-repeat;position:absolute;z-index:1;float:left;transition:1s;}
.apple_gray:hover, .accenture_gray:hover,.ted_gray:hover, .ge_gray:hover,
.citi_gray:hover, .deloitte_gray:hover, .gg_gray:hover, .hilton_gray:hover,
.oracle_gray:hover, .png_gray:hover, .hp_gray:hover{opacity:0;transition:1s;}
.accenture_gray{width:80px;left:80px;background:url(../images/brandiconsstrip.jpg) -85px -84px;}
.ted_gray{width:70px;left:170px;background:url(../images/brandiconsstrip.jpg) -174px -84px;}
.ge_gray{width:80px;left:255px;background:url(../images/brandiconsstrip.jpg) -256px -84px;}
.citi_gray{width:75px;left:348px;background:url(../images/brandiconsstrip.jpg) -348px -84px;}
.deloitte_gray{width:75px;left:436px;background:url(../images/brandiconsstrip.jpg) -436px -84px;}
.gg_gray{width:70px;left:520px;background:url(../images/brandiconsstrip.jpg) -520px -84px;}
.hilton_gray{width:80px;left:602px;background:url(../images/brandiconsstrip.jpg) -602px -84px;}
.oracle_gray{width:80px;left:698px;background:url(../images/brandiconsstrip.jpg) -698px -84px;}
.png_gray{width:80px;left:788px;background:url(../images/brandiconsstrip.jpg) -788px -84px;}
.hp_gray{width:75px;left:878px;background:url(../images/brandiconsstrip.jpg) -878px -84px;}
.apple, .accenture, .ted, .ge, .citi, .deloitte, .gg, .hilton, .oracle, .png, .hp{width:75px;height:84px;background:url(../images/brandiconsstrip.jpg) 0px 0px;background-repeat:no-repeat;position:absolute;float:left;}
.accenture{left:80px;background:url(../images/brandiconsstrip.jpg) -85px 0px;}
.ted{width:70px;left:170px;background:url(../images/brandiconsstrip.jpg) -174px 0px;}
.ge{width:80px;left:255px;background:url(../images/brandiconsstrip.jpg) -256px 0px;}
.citi{width:75px;left:348px;background:url(../images/brandiconsstrip.jpg) -348px 0px;}
.deloitte{width:75px;left:436px;background:url(../images/brandiconsstrip.jpg) -436px 0px;}
.gg{width:70px;left:520px;background:url(../images/brandiconsstrip.jpg) -520px 0px;}
.hilton{width:80px;left:602px;background:url(../images/brandiconsstrip.jpg) -602px 0px;}
.oracle{width:80px;left:698px;background:url(../images/brandiconsstrip.jpg) -698px 0px;}
.png{width:80px;left:788px;background:url(../images/brandiconsstrip.jpg) -788px 0px;}
.hp{width:75px;left:878px;background:url(../images/brandiconsstrip.jpg) -878px 0px;}
#showsubnavi{position:relative;}
#showsubnavi:hover #hidesubnavi,
#showsubnavi:focus #hidesubnavi{display:block!important;}
#ankit{position:absolute;top:228px;width:852px;height:160px;border-radius:8px;-webkit-animation:fadein 2s;-moz-animation:fadein 2s;-ms-animation:fadein 2s;-o-animation:fadein 2s;animation:fadein 2s;}
#hidesubnavi{top:46px;left:-248px;width:360px;padding:15px;display:none;border-radius:12px;background-color:white;position:absolute;border:1px solid #DDDDDD;z-index:99;}
#hidesubnavi table{border-collapse:collapse;}
#hidesubnavi table tr:first-child td{padding-bottom:10px;}
#hidesubnavi table tr:last-child td:first-child{border-right:1px solid #DDDDDD;}
#hidesubnavi table tr:last-child td:last-child,
#hidesubnavi table tr:first-child td:last-child{padding-left:15px;}
#hidesubnavi table tr td{vertical-align:text-top;}
#hidesubnavi a{font-size:13px!important;line-height:20px;}
.arrowBLK{color:#292929;font-size:11px;}
p.redarrow:before{content:'';position:absolute;left:-2px;top:28px;width:0;height:0;border-top:8px solid transparent;border-bottom:8px solid transparent;border-left:8px solid red;}
.logotextdot p{color:#000000;}
.logotextdot p b{font-size:18px;color:#2a2a2a;font-weight:bold;font-family:Ubuntu, arial, vardana;}
//.logotextdot p span{font-size:40px;}
.logotextdot p strong,.consultantbox span, .clientbox span{font-size:14px;}
.logotextdot p strong:last-child{font-size:14px;}
.consultantbox,.clientbox{margin-top:20px;width:320px;height:250px;float:left;}
.vrtLINE{margin-top:20px;height:230px;border-left:1px solid #BEBEBE;float:left;margin-left:45px;}
.clientbox{float:right;}
.consultantbox p, .clientbox p{padding-top:20px;min-height:140px;font-family:Ubuntu;color:#2a2a2a;font-size:15px;}
[class^="mgREDICON-"],
[class*="mgREDICON-"]{background-image:url(../img/media/mg-icons.png);background-position:center center;background-repeat:no-repeat;display:inline-block;width:67px;height:67px;line-height:67px;vertical-align:text-top;}
.mgREDICON-InstantAccess{background-position:0px 0px;}
.mgREDICON-ToValidatedExperts{background-position:-67px 0px;}
.mgREDICON-AnywhereInCountry{background-position:-134px 0px;}
.mgREDICON-SearchShortlist{background-position:-201px 0px;}
.mgREDICON-RegisterToSchedule{background-position:-268px 0px;}
.mgREDICON-ChooseAnExpert{background-position:-335px 0px;}
.ui-autocomplete{position:absolute;cursor:default;z-index:9999999!important;}
* html .ui-autocomplete{width:1px;}
.ui-menu{list-style:none;padding:2px;margin:0;display:block;float:left;border:#dedede solid 1px;background:#f8f8f8;max-height:265px;overflow-x:hidden;}
.ui-menu .ui-menu{margin-top:-3px;}
.ui-menu .ui-menu-item{margin:0;padding:0;zoom:1;float:left;clear:left;width:100%;}
.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;zoom:1;font-size:15px;margin:0 0 2px 0;color:#434343;}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active{font-weight:normal;}
.ui-autocomplete-loading{background:url(../img/ajax/circle_ball.gif)250px 5px no-repeat!important;}
img.desaturate{filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:url(desaturate.svg#greyscale);filter:gray;-webkit-filter:grayscale(1);}
.included{display:block;position:relative;left:58px;padding-top:20px;}
.exec-rt{background:url(../img/media/executive_roundtable.png) no-repeat;width:256px;height:77px;padding-bottom:20px;}
.exec-rt-container{margin-left:auto;margin-right:auto;width:780px;font-size:x-small;}
.rt_head{font:bold large Ubuntu, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;color:#444444;}
.discuss{margin-right:12px;font-weight:bold;float:left;position:relative;margin-bottom:57px;top:-5px;}
.report{-webkit-box-shadow:2px 2px 8px 0px rgba(50, 50, 50, 0.4);-moz-box-shadow:2px 2px 8px 0px rgba(50, 50, 50, 0.4);box-shadow:2px 2px 8px 0px rgba(50, 50, 50, 0.4);float:left;display:block;position:relative;margin-right:66px;margin-bottom:90px;}
.steps{text-align:center;font:bold large Ubuntu, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;margin:8px;}
.steps_footer{margin:6px;}
.steps_text{text-align:center;font-size:medium;padding-bottom:30px;padding-left:25px;padding-right:25px;color:#444444;}
#arrow{width:33%;height:100px;//background-color:#f0f0f0;//border:1px solid #999;position:absolute;}
#arrow:after{content:'';position:absolute;top:0px;left:0px;width:0;height:0;//border:50px solid transparent;//border-left:15px solid #f0f0f0;}
#arrow:before{content:'';position:absolute;top:-60px;left:-10px;width:0;height:0;border:50px solid transparent;border-left:12px solid #d5d5d5;}
.numberCircle{border-radius:50%;//behavior:url(PIE.htc);width:36px;height:36px;padding:5px;background:#444444;//border:2px solid #444444;color:#ffffff;text-align:center;font:30px Ubuntu, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;margin:auto;position:relative;//margin-top:25px;margin-bottom:25px;top:25px;}
.datagrid table{border-collapse:collapse;text-align:left;width:100%;}
.datagrid{//font:normal 12px/150% Arial, Helvetica, sans-serif;//background:#fff;overflow:hidden;border:3px solid #444444;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;margin-bottom:30px;width:780px;margin-top:8px;}
.datagrid table td, .datagrid table th{padding:5px 10px;width:33%;}
.datagrid table thead th{//background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D));//background:-moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%);//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#444444;color:#FFFFFF;font-size:15px;font-weight:bold;//border-left:1px solid #A3A3A3;}
.datagrid table thead th:first-child{border:none;}
.datagrid table tbody td{color:#7D7D7D;border-left:2px solid #d5d5d5;font-size:12px;font-weight:normal;}
.datagrid table tbody .alt td{background:#444444;color:#7D7D7D;border-left:none;}
.datagrid table tbody td:first-child{border-left:none;}
.datagrid table tbody tr:last-child td{border-bottom:none;}
.datagrid table tfoot td div{border-top:1px solid #444444;background:#444444;}
.datagrid table tfoot td{padding:0;font-size:12px}
.datagrid table tfoot td div{padding:2px;}
.datagrid table tfoot td ul{margin:0;padding:0;list-style:none;text-align:right;}
.datagrid table tfoot li{display:inline;}
.datagrid table tfoot li a{text-decoration:none;display:inline-block;padding:2px 8px;margin:1px;color:#F5F5F5;border:1px solid #444444;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;//background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D));//background:-moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%);//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#444444;}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover{text-decoration:none;border-color:#444444;color:#F5F5F5;background:none;background-color:#444444;}
div.dhtmlx_window_active, div.dhx_modal_cover_dv{position:fixed !important;}
.profile-header{background-color:#292929;width:100%;height:250px;padding-top:20px;margin:-10px 0 0;}
.profile-navbar{background-color:#dedede;width:100%;height:48px;}
.profile-sidebar{float:right;width:220px;padding-left:20px;margin-bottom:50px;position:relative;display:block;right:0;top:10px;//height:900px;overflow:visible;}
.profile-sidebar-shim{//width:220px;}
.profile-sidebar-border{padding-left:20px;border-left:2px solid #dedede;height:100%;position:absolute;top:100;bottom:0;right:220px;z-index:-99;overflow:visible;}
.profile-body{margin-right:262px;margin-left:20px;overflow:visible;}
.profile-body h2{font-size:large;border-bottom:thin solid #dedede;position:relative;left:-20px;margin-bottom:12px;margin-left:60px;}
.profile-body p{position:relative;left:-20px;font-size:14px;margin-left:60px;}
.profile-section-icon{width:32px;height:32px;padding-right:26px;float:left;left:-20px;display:inline;position:relative;background-color:#f8f7f7;z-index:1;top:-6px;}
.profile-sidebar-icons{margin-bottom:20px;}
.profile-sidebar-icon{border-style:none;padding:16px 16px;display:inline-block;margin-right:2px;margin-bottom:6px;font-size:large;color:white;text-align:center;width:16px;height:16px;background-color:orange;}
.profile-sidebar-links{margin-bottom:20px;}
.profile-sidebar-links li{list-style-type:none;padding-bottom:6px;}
.profile-sidebar-link-icon{width:14px;height:14px;margin-right:6px;float:left;left:-4px;display:inline;position:relative;top:1px;}
.profile-sidebar-comm{margin-bottom:20px;padding-left:18px;}
.profile-sidebar-logos{margin-top:20px;margin-bottom:20px;}
.profile-sidebar-logo{background-color:#dedede;border-style:none;padding:8px 16px;display:block;margin-right:2px;margin-bottom:6px;font-size:xx-large;color:#434343;text-align:center;}
.profile-sidebar-categories{margin-bottom:20px;}
.profile-sidebar-cat{background-color:#434343;border-style:none;font-size:10px;padding:8px 16px;font-size:12px;display:inline-block;margin-right:2px;margin-bottom:6px;}
.profile-sidebar-categories a{color:white;text-decoration:none;}
.profile-sidebar-categories a:hover{text-decoration:underline;}
.profile-sidebar-comm h5{font-weight:bold;font-size:14px;padding-bottom:0;}
.profile-sidebar-comm p{font-size:14px;text-indent:-18px;padding-bottom:0;}
.profile-sidebar-comm-icon{width:12px;height:12px;margin-right:6px;float:left;left:-18px;display:inline;position:relative;top:3px;}
.profile-socialmedia{margin-left:740px;bottom:16px;position:relative;}
.profile-socialmedia ul{margin:0;padding:0;list-style-type:none;}
.profile-socialmedia ul li{display:inline;padding-right:4px;}
.profile-socialmedia ul li a{text-decoration:none;}
.profile-socialmedia-url a{color:#424242;text-decoration:none;font-size:12px;}
.profile-socialmedia a:hover{text-decoration:underline;}
.profile-socialmedia img{width:24px;height:24px;display:inline;}
.profile-nav{float:left;bottom:10px;position:relative;}
.profile-nav ul{margin:0;padding:0;list-style-type:none;text-align:left;}
.profile-nav ul li{display:inline;font-size:14px;}
.profile-nav ul li a{text-decoration:none;margin:.2em 1em;color:#292929;border-bottom:4px hidden;border-spacing:0px 8px;//background-color:#434343;top:-12px;position:relative;display:inline-table;}
.profile-nav a:hover{//text-decoration:underline;border-bottom:4px solid #D03135;border-spacing:0px 8px;//background-color:#434343;top:-12px;position:relative;display:inline-table;}
.profile-nav-current a{border-bottom:4px solid #D03135 !important;border-spacing:0px 8px;//background-color:#434343;top:-12px;position:relative;display:inline-table;}
.profile-hover-current a{border-spacing:0px 8px;position:relative;display:inline-table;}
.profile-nav-current a:hover{border-bottom:4px solid #D03135;border-spacing:0px 8px;top:-12px;position:relative;display:inline-table;}
.profile-hover-current a:hover{border-bottom:4px solid #D03135;border-spacing:0px 8px;top:-12px;position:relative;display:inline-table;}
.profile-pic{float:left;height:200px;width:200px;}
.profile-bio{width:57%;position:absolute;bottom:0;margin-left:210px;//background-color:orange;}
.profile-name{margin-bottom:4px;}
.profile-name h1{color:white;font-size:30px;font-weight:bold;display:inline;}
.profile-city{color:#dedede;font-size:12px;margin-bottom:8px;display:inline;}
.profile-guarantee{display:inline;position:relative;padding-left:10px;color:#D03135;top:-6px;}
.profile-guarantee img{width:20px;height:20px;}
.profile-headline{font-size:14px;color:white;width:75%;margin-bottom:10px;margin-top:10px;}
.profile-testimonial{float:right;width:21%;height:200px;text-align:center;display:table;}
.profile-testimonial-content{vertical-align:middle;display:table-cell;}
.profile-testimonial-quote{color:#dedede;font-size:large;font-style:italic;margin-bottom:20px;}
.profile-testimonial-name{color:#dedede;margin-bottom:4px;}
.profile-testimonial-org{color:#dedede;font-size:x-small;}
.profile-url{font-size:12px;text-decoration:none;color:#dedede;display:inline;padding-left:12px;margin-left:12px;border-left:1px solid #434343;}
.profile-connect-link{border-style:none;font-size:12px;padding:12px 40px;margin-top:50px;}
.profile-connect-link a{color:white;}
.mg-button{color:white;background-color:#D03135;border-style:none;font-size:14px;padding:10px 40px;margin-right:20px;margin-top:26px;float:left;}
.mg-profile-clients, .mg-profile-engagement, .mg-profile-expertise, .mg-profile-profile, .mg-profile-summary, .sb-clock, .sb-computer, .sb-email, .sb-locator-pin, .sb-phone, .sb-share, .sb-video, .sm-facebook, .sm-google, .sm-linkedin, .sm-twitter, .sm-youtube{background:url('../img/media/profile_sprites.png')no-repeat;}
.mg-profile-clients, .mg-profile-engagement, .mg-profile-expertise, .mg-profile-profile, .mg-profile-summary{display:inline-block;float:left;margin-right:26px;}
.sm-facebook, .sm-google, .sm-linkedin, .sm-twitter, .sm-youtube{display:inline-block;margin-right:4px;}
.sb-email, .sb-share, .sb-video{display:inline-block;position:relative;float:left;left:-8px;}
.sb-clock, .sb-computer, .sb-locator-pin, .sb-phone{display:inline-block;position:relative;float:left;left:-24px;}
.mg-profile-clients{background-position:0 0;width:32px;height:32px;}
.mg-profile-engagement{background-position:-2px -301px;width:32px;height:32px;}
.mg-profile-expertise{background-position:-1px -199px;width:32px;height:32px;}
.mg-profile-profile{background-position:-3px -403px;width:32px;height:32px;}
.mg-profile-summary{background-position:-1px -99px;width:32px;height:32px;}
.sb-clock{background-position:-209px -309px;width:16px;height:16px;}
.sb-computer{background-position:-210px -261px;width:16px;height:16px;}
.sb-email{background-position:-210px -109px;width:16px;height:16px;}
.sb-locator-pin{background-position:-211px -11px;width:16px;height:16px;}
.sb-phone{background-position:-210px -210px;width:16px;height:16px;}
.sb-share{background-position:-209px -61px;width:16px;height:16px;}
.sb-video{background-position:-210px -159px;width:16px;height:16px;}
.sm-facebook{background-position:-111px -55px;width:12px;height:24px;}
.sm-google{background-position:-108px -157px;width:15px;height:24px;}
.sm-linkedin{background-position:-105px -254px;width:24px;height:24px;}
.sm-twitter{background-position:-106px -355px;width:24px;height:24px;}
.sm-youtube{background-position:-106px -445px;width:20px;height:24px;}
.premium-content{width:100%;padding-bottom:60px;padding-top:20px;}
.one{background:url('../img/media/pic4.jpg') no-repeat fixed -270px 0px;background-color:#212121;text-align:center;color:#fff;padding-bottom:270px;padding-top:100px;margin:-10px 0 0;}
.one h1{font-size:4.5em;line-height:1.8;text-shadow:black 0 0 20px;}
.one h2{font-size:1.5em;line-height:1.9;text-shadow:black 0 0 10px;}
.one h2 strong{}
.two{background-color:#121212;}
.three{background-color:#dfdfdf;}
.four{//background:url(../img/premium/ab4.jpg) no-repeat fixed;background-color:#212121;//text-shadow:black 0 0 10px;}
.five{//background:url(../img/premium/ab1-gray.jpg) no-repeat scroll;background-color:#eee;text-align:center;margin-bottom:-60px;}
.six{margin:auto;bottom:-100px;background-color:#eee;padding-top:5px;padding-bottom:15px;text-align:center;}
.premium-content li{font-size:16px;line-height:1.3;}
.premium-content p{font-size:18px;line-height:1.3;margin-bottom:10px;}
.premium-content h3{font-size:36px;line-height:1.9;margin-bottom:5px;}
.section-content{margin-bottom:10px;font-size:16px;line-height:1.2;font-family:Ubuntu;font-weight:lighter;}
.float-l{float:left;padding-right:42px;padding-top:22px;margin-bottom:10px;}
.float-r{float:right;padding-left:42px;padding-top:22px;margin-bottom:10px;}
.premium-img img{}
.premium-content ul{list-style-type:square;line-height:1.4;list-style-position:outside;padding-right:20px;}
.premium-list{display:block;position:relative;left:14px;}
.dark h3{color:#fff;}
.dark p{color:#fff;}
.dark li{color:#fff;}
.mg-link{text-align:center;float:none;clear:both;opacity:1;}
.mg-button{color:#fff;background-color:#D03135;border-style:none;padding:10px 10px 10px 10px;margin:auto;text-align:center;width:100%;display:block;position:relative;right:36px;margin-bottom:10px;}
.mg-button a{text-decoration:none;color:#fff;font-size:26px;border-style:none;font-family:Ubuntu;font-weight:regular;padding:10px 10px 10px 10px;margin:auto;text-align:center;text-transform:uppercase;}
.mgbutton{text-decoration:none;color:#fff;background-color:#D03135;font-size:26px;border-style:none;font-family:Ubuntu;font-weight:regular;padding:10px 10px 10px 10px;margin:auto;text-align:center;text-transform:uppercase;}
.signup{display:block;position:relative;text-align:center;}
.signup p{font-size:16px;}
.emphasize{text-decoration:underline;}
.mg_quote1_container{width:480px;height:150px;padding:10px;background-color:#ddd;color:#333;font-family:Ubuntu, Arial, vardana;margin:auto;}
.mg_quote1_container:hover{cursor:hand;cursor:pointer;}
.mg_quote_box{display:block;padding-top:0;position:relative;bottom:0;text-align:left;}
.mg_photo img{display:block;width:150px;height:150px;float:left;margin-right:12px;}
.mg_name{font-family:'proximanova semibold', Ubuntu;font-weight:bold;font-size:20px;}
.mg_subhead{font-family:'proximanova light', Ubuntu;font-size:14px;margin-bottom:18px;}
.mg_logo img{width:100px;height:30px;float:left;margin-right:10px;}
.mg_button{color:white;background-color:#D03135;border-style:none;font-family:'proximanova', Ubuntu;font-weight:normal;font-size:14px;padding:8px 4px 4px 4px;text-align:center;width:100px;height:20px;float:right;}
.premium-testimonial{float:right;width:20%;height:200px;text-align:center;display:table;}
.premium-testimonial-content{vertical-align:middle;display:table-cell;}
.premium-testimonial-quote{color:#212121;font-size:18px;font-style:italic;margin-bottom:28px;}
.premium-testimonial-name{color:#212121;margin-bottom:2px;font-weight:bold;font-size:18px;}
.premium-testimonial-org{color:#212121;font-size:16px;margin-bottom:0px;}
.mg_quote2_container{width:605px;height:150px;padding:10px;background-color:#ddd;color:#333;font-family:Ubuntu, Arial, vardana;margin:auto;}
.mg_quote2_container:hover{cursor:hand;cursor:pointer;}
.mg_quote3_container{width:510px;height:150px;padding:10px;background-color:#ddd;color:#333;font-family:Ubuntu, Arial, vardana;margin:auto;}
.mg_quote3_container:hover{cursor:hand;cursor:pointer;}
.mg_quote4_container{width:650px;height:225px;padding:10px;background-color:#ddd;color:#333;font-family:Ubuntu, Arial, vardana;margin:auto;}
.mg_quote4_container:hover{cursor:hand;cursor:pointer;}
.premium-testimonial2-quote{color:#212121;font-size:14px;font-style:italic;margin-bottom:20px;}
.premium-testimonial2-name{color:#212121;margin-bottom:2px;font-weight:bold;font-size:14px;}
.premium-testimonial2-org{color:#212121;font-size:14px;margin-bottom:0px;}
.premium-testimonial3-quote{color:#212121;font-size:14px;margin-bottom:24px;}
.badge-body{margin-right:182px;margin-left:20px;float:left;}
.badge-sidebar{float:right;width:160px;padding-left:20px;//margin-bottom:50px;position:absolute;display:block;right:0;height:100%;}
.badge-sidebar-shimX{//width:220px;}
.badge-sidebar-border{padding-left:20px;border-left:2px solid #dedede;height:100%;position:absolute;top:-100;bottom:0;right:160px;z-index:-99;overflow:visible;}
.container_box{background-color:#f9f8f8;width:350px;margin-right:4px;padding:8px;display:inline-block;}
.overlay{background-color:#212121;opacity:0;position:absolute;width:176px;height:47px;margin-top:-46px;margin-left:5px;}
.overlay p{color:#fff;font-size:12px;font-weight:bold;margin-top:15px;}
.overlay:hover{color:#fff !important;text-align:center;background-color:#D03135;opacity:.9;}
.overlay-lg{background-color:#212121;opacity:0;position:absolute;width:340px;height:114px;margin-top:-118px;margin-left:5px;}
.overlay-lg p{color:#fff;font-size:12px;font-weight:bold;margin-top:46px;}
.overlay-lg:hover{color:#fff !important;text-align:center;background-color:#D03135;opacity:.9;}
.overlay-lg-v{background-color:#212121;opacity:0;position:absolute;width:140px;height:306px;margin-top:-310px;margin-left:5px;}
.overlay-lg-v p{color:#fff;font-size:12px;font-weight:bold;margin-top:120px;}
.overlay-lg-v:hover{color:#fff !important;text-align:center;background-color:#D03135;opacity:.9;}
.container_box h3 strong{color:#212121;font-size:14px;font-weight:bold;margin-left:6px;margin-bottom:4px;}
.container_box h3{color:#212121;font-size:14px;margin-left:6px;margin-bottom:4px;}
#txtarea{font-size:12px;color:#444;background-color:#ddd;margin-left:5px;padding:8px;width:322px;border:2px dotted #ccc;margin-top:4px;}
.row{width:100%;clear:both;margin-bottom:12px;}
.hidden{display:none;}
//crossfade css start
#fade-example-1 li{width:900px;min-width:900px;height:0px;visibility:visible;text-align:center;overflow:visible;z-index:3;left:-32px;display:block;position:relative;}
.control{cursor:pointer;display:none;width:900px;min-width:900px;height:35px;z-index:3;}
.centeredImage{padding:0px;z-index:3;display:none;}
*{}
//crossfade css end//crossfade2 css start
.fade-blocks-wrapper{width:560px;height:180px;margin:2em auto;position:relative;overflow:hidden;}
.fade-block{width:100%;height:100%;position:absolute;top:0;left:0;}
.fade-block .block{width:250px;height:100%;margin:0 10px;background:#eee;float:left;line-height:180px;text-align:center;font-size:2em;}
.fade-block:nth-child(2) .block{background:#666;color:#fff;}
.fade-block:nth-child(3) .block{background:#ffc;}
//crossfade2 css end
