@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px;}
body{margin:0px; padding:0px; font-family:"Trebuchet MS", Verdana, Tahoma, Arial; font-size:13px; color:#4e4e4e;
	background:url(../img/pageBg.gif) left top repeat-x;}
ul, li{display:block; list-style:none;}
p{
	display:block; 
	width:100%; 
	float:left;
}
a{color:#4f69be; text-decoration:underline;}
#wrapper{width:1004px; margin:auto;}
#page{width:984px; padding:29px 10px 20px 10px; float:left;}
#page #header{width:984px; float:left;}
#page #header strong img{display:block; background:url(../img/logo.gif) left top no-repeat; float:left;}
#page #header .smlinks{float:right; padding-top:20px;}
.smlinks a{color:#4c4d4d; text-decoration:none;}
.smlinks a:hover{color:#334b9c; text-decoration:underline;}
#header .top_nav{width:984px; padding-top:25px; float:left;}
.top_nav ul{width:984px; float:left;}
.top_nav ul li{height:43px; padding-left:2px; line-height:43px; background:url(../img/nav_div.gif) left top no-repeat; float:left;}
.top_nav ul li a{display:block; padding:0 25px; color:#FFFFFF; font-size:16px; text-decoration:none;}
.top_nav ul li a:hover{color:#112463; background:url(../img/top_nav_hover.gif) left top repeat-x;}
.top_nav ul li .active{color:#112463; background:url(../img/top_nav_hover.gif) left top repeat-x;}
#page #left{width:719px; float:left;}
#left .banner{width:696px; height:197px; padding:23px 0 0 20px; margin-bottom:16px; background:url(../img/banner.jpg) left top no-repeat; float:left;}
.banner h1{font-size:25px; font-weight:normal; color:#FFFFFF;}
.banner .b_content{width:235px; float:left;}
.b_content p{font-size:14px; color:#FFFFFF;}
.b_content a{display:block; background:url(../img/l_more_arrow.gif) right center no-repeat; font-size:16px; color:#a9bcfc; padding-right:20px; 
	text-decoration:none; float:left;}
.b_content a:hover{text-decoration:underline; color:#FFFFFF;}
#left .green_large_box{width:719px; float:left;}
.green_large_box .gb_content{width:671px; padding:0px 24px; color:#FFFFFF; background:url(../img/greenBox_bg.gif) left top repeat-y; float:left;}
.gb_content h2{display:block; font-size:20px; padding-bottom:5px; font-weight:normal;}
.gb_content p{display:block; padding:0px;}

.greebox{width:230px; float:left;}
.greebox h3{display:block; color:#FFFFFF; font-weight:normal; background:url(../img/greenBox_l.gif) left top no-repeat; width:215px; height:33px; 
	padding-left:15px; font-size:16px; float:left;}
.greebox h3 span{display:block; line-height:33px; background:url(../img/greenBox_r.gif) right top no-repeat; padding-right:15px;}
.greebox .boxint{width:200px; height:138px; padding:24px 14px; background:url(../img/green_shad_top.gif) left top repeat-x; 
	border-left:1px solid #d6d6d6; border-right:1px solid #d6d6d6; float:left;}
.greebox .boxint p{display:block; line-height:20px;}
.greebox .boxint a{color:#639b47; text-decoration:underline;}

.bluebox{width:230px; float:left;}
.bluebox h3{display:block; color:#FFFFFF; font-weight:normal; background:url(../img/blueBox_l.gif) left top no-repeat; width:215px; height:33px; 
	padding-left:15px; font-size:16px; float:left;}
.bluebox h3 span{display:block; line-height:33px; background:url(../img/blueBox_r.gif) right top no-repeat; padding-right:15px;}
.bluebox .boxint{width:200px; height:138px; padding:24px 14px; background:url(../img/blue_shad_top.gif) left top repeat-x; 
	border-left:1px solid #d6d6d6; border-right:1px solid #d6d6d6; float:left;}
.bluebox .boxint p{display:block; line-height:20px;}
.bluebox .boxint a{color:#19358d; text-decoration:underline;}

.redbox{width:230px; float:left;}
.redbox h3{display:block; color:#FFFFFF; font-weight:normal; background:url(../img/redBox_l.gif) left top no-repeat; width:215px; height:33px; 
	padding-left:15px; font-size:16px; float:left;}
.redbox h3 span{display:block; line-height:33px; background:url(../img/redBox_r.gif) right top no-repeat; padding-right:15px;}
.redbox .boxint{width:200px; height:138px; padding:24px 14px; background:url(../img/red_shad_top.gif) left top repeat-x; 
	border-left:1px solid #d6d6d6; border-right:1px solid #d6d6d6; float:left;}
.redbox .boxint p{display:block; line-height:20px;}
.redbox .boxint a{color:#19358d; text-decoration:underline;}
h4{font-size:25px; color:#1a2f75; padding-bottom:15px; font-weight:bold;}
#page #right{width:233px; float:right;}
#right .expert h5{font-size:16px; color:#FFFFFF; padding:0 0 8px 15px; font-weight:normal; height:38px; background:url(../img/green_titleBar_l.gif) left top no-repeat;}
.expert h5 span{display:block; line-height:30px; height:38px; background:url(../img/green_titleBar_r.gif) right top no-repeat;}
h5 img{margin-top:-8px;}
h6{width:100%; display:block; font-size:14px; font-weight:bold; float:left;}
#right .featured h5{font-size:16px; color:#FFFFFF; padding:0 0 8px 15px; font-weight:normal; height:38px; background:url(../img/blue_titleBar_l.gif) left top no-repeat;}
.featured h5 span{display:block; line-height:30px; height:38px; background:url(../img/blue_titleBar_r.gif) right top no-repeat;}
.featured ul{width:100%; float:left;}
.featured ul li{width:136; /*padding-bottom:10px;*/ float:left;}
.featured ul li .img{display:block; background:url(../img/s_img_frame.gif) left top no-repeat; padding:8px; float:left;}
.featured ul li .featured_contant{width:136px; float:right;padding:4px;}
.featured_contant a{display:block; font-size:14px; color:#354d9e; text-decoration:none; background:url(../img/round_arrow.gif) right center no-repeat; 
	padding-right:30px; line-height:25px; height:25px; float:left;}
.featured_contant a:hover{text-decoration:underline;}

#footer{width:100%; color:#FFFFFF; background:url(../img/footerBg.gif) left top repeat-x; float:left; bottom:0px;}
#footer strong{font-weight:normal; display:block; padding-bottom:10px; font-size:15px;}
#footer ul{float:left;}
#footer ul li{line-height:30px; padding-right:20px; font-size:12px; float:left;}
#footer a{color:#FFFFFF; text-decoration:none; font-size:12px;}
#footer a:hover{color:#FFFFFF; text-decoration:underline; font-size:12px;}
.full{width:100%; float:left;}
.pad1{padding-top:25px;}
.pad2{padding-right:14px;}
.pad3{padding-bottom:35px;}
.pad4{padding-bottom:18px;}
.pad5{padding-top:20px;}
.blue{color:#3c4d86;}
.green{color:#4d7e35;}
.font16{font-size:16px;}
.mrg1{margin-bottom:10px;}
.wid1{width:162px; float:left;}
.wid2{width:154px; float:left;}
.wid3{width:356px; float:left;}
.wid4{width:502px; float:left;}
.wid5{width:221px; float:left;}
.wid6{width:127px; float:left;}
.wid7{width:107px; float:left;}
.height1{height:23px;}
.new_line{clear:both;}
.floatl{float:left;}

ul.errormsg {
	padding:10px;
	margin:10px 10px;
	color:#CC0000;
	border:1px solid #FFBBBB;
}
ul.errormsg li {
	list-style:circle;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 25px;
	font-weight:normal;
}
.welcome_msg{float:right;text-align:right;width:200px;color:#FF6633;font-weight:bold;}
.heading{background:url(../img/green_titleBar_r.gif); width:722px; margin:0px 0px 0px 5px; float:left; display:inline; font-size:1.6em; font-weight:500; line-height:30px; text-indent:20px;color:#FFFFFF;}
.productContainer{width:720px; border-left:1px solid #DEDEDE;border-right:1px solid #DEDEDE;border-bottom:1px solid #DEDEDE; float:left; margin-left:5px; display:inline; padding-bottom:12px;}
.contents p{
	font-size:1.2em; 
	font-family:Arial, Helvetica, sans-serif; 
	
}
input.button,input.submit, .loginButton {
    background-color: #1D6335;
    border: medium none;
    color: #FFFFFF;
    font-size: 13px;
    height: 25px;
    padding: 0 5px 3px;
}
 .InputClass {
    border: 1px solid #DCDCDC;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    height: 15px;
    padding: 4px 0 0 0;
    width: 300px;
}
a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.Testbox5 {
	width:303px;
	height: 20px;
	border-bottom:1px solid #d4d0c8;
	border-right:1px solid #d4d0c8;
	border-left:1px solid #404040;
	border-top:1px solid #404040;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.InpurtReqierd{
color:#FF3300;}

