h3 {
	color: #666666;
	font: 17px Ubuntu;
}

a,
a:visited {
    text-decoration: none;
    color: red;
}


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.footer-container footer {
    color: #797979;
    width: 100%;
    height: 50px;
	bottom: 0;
	position: absolute;
	background-color: whitesmoke;
	opacity: 1;
	padding: 5px 10px;
}

iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	border: none;
}