html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

//html,body{ height:100%; width:100%; background:#fff; font-family: 'Ubuntu', sans-serif;}

ol,ul {list-style:none;}
 
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal;}
q:before, q:after { content:'';}
input,
textarea,
select { font-family:inherit; font-size:inherit; font-weight:inherit;}
input,
textarea,
select { *font-size:100%;}
.clear{ clear:both;}
a{ text-decoration:none;}

/*=======header section=======*/
.wrapper{ width:100%;}
.innerwrapper{ width:960px; margin:0 auto; position:relative;margin-top: -10px;}

.advantageBanner{ background:url(../newimages/memAdvBanner.jpg) center no-repeat; height:560px}
.advantageBanner h1{ font-size:40px; font-weight:700; color:#fff; text-align:center; padding:65px 0 16px 0;}
.advantageBanner h5{ font-size:17px; font-weight:400; color:#fff; text-align:center; width: 500px; line-height: 26px; margin:0 auto;}
.advantageBanner .advantagePoints{ width:720px; margin:60px auto 0;}
.advantageBanner .advantagePoints li{ width:180px; margin-right:90px; float:left; display:block;}
.advantageBanner .advantagePoints li:last-child{ margin-right:0;}
.advantageBanner .advantagePoints li h3{ font-size:17px; font-weight:400; color:#fff; text-align:center; margin-top:10px}
.advantageBanner .advantagePoints li span{ width:100px; height:100px; margin:0 auto; display:block; border-radius:100px;}
.advantageBanner .advantagePoints li span.establish{ background:#d03135 url(../newimages/advantageSprite.png) 17px 19px no-repeat;}
.advantageBanner .advantagePoints li span.generate{ background:#d03135 url(../newimages/advantageSprite.png) 17px -83px no-repeat;}
.advantageBanner .advantagePoints li span.serve{ background:#d03135 url(../newimages/advantageSprite.png) 17px -181px no-repeat;}
.advantageBanner .membershipBtn, .customPlanContainer .customPlanBtn{ background:#d03135; transition: background 0.5s ease; display:block; width:840px; margin:30px auto 0; line-height:40px; font-weight:700; text-align:center; font-size:22px; color:#fff; text-transform:uppercase;}
.advantageBanner .membershipBtn:hover, .planDetails li a:hover, .customPlanContainer .customPlanBtn:hover, .quoteContainer button:hover{ background:#a82429;}
.advantageBanner .membershipNote{font-size:13px; font-weight:400; display:block; color:#c3c3c3; text-align:center; width: 840px; margin:8px auto 0;}
.advantageBanner p{ font-size:20px; font-weight:300; color:#fff; text-align:center; margin-top:40px;}
.advantageBanner p a{ color:#d03135;}
.advantageBanner p a:hover{ text-decoration:underline;}

.memberPlanContainer{ background:#f6f7f1; padding:40px 0;}
.membershipInfo{ width:620px; margin:0 auto 40px;}
.membershipInfo p{ font-size:15px; font-weight:400; color:#585856; text-align:center; line-height: 22px; margin-bottom:15px;}

.planDetails{}
.planDetails li{ width:217px; margin-right:30px; float:left; display:block; position:relative; height:390px;}
.planDetails li:last-child{margin-right:0;}
.planDetails li.premium{ position:relative;}
.planDetails li.premium .badge{ position:absolute; top:-13px; right:-15px; height:49px; width:59px; background:url(../newimages/popularBadge.png) right center no-repeat;}
.planDetails li .planTitleContainer{ border-bottom:solid 1px #d76363; padding:6px 0;}
.planDetails li .planTitleContainer .planTitle{ width:115px; margin:0 auto; background:url(../newimages/guildIcon.png) right center no-repeat}
.planDetails li.premium .planTitleContainer .planTitle{background:url(../newimages/guildblackIcon.png) right center no-repeat}
.planDetails li .planTitleContainer .planTitle h3{ width:70px; border-bottom:solid 1px #dcd9d8; font-size:22px; font-weight:700; color:#202020; text-transform:uppercase; text-align:center;}
.planDetails li .planTitleContainer .planTitle span{ display:block; width:70px; color:#727272; font-size:17px; font-weight:300; text-transform:uppercase; text-align:center;}
.planDetails li .planTitleContainer .planTitle span.redt{ color:#c13840;}
.planDetails li h6{ font-size:12px; font-weight:400; color:#202020; text-align:center; height:42px; line-height: 19px; margin:15px auto 0;}
.planDetails li h2{ font-size:22px; font-weight:700; color:#202020; text-align:center; margin:15px 0 20px;}
.planDetails li p{ font-size:14px; font-weight:400; color:#202020; text-align:center; margin-top:12px; line-height: 18px;}
.planDetails li a{ display:block; transition: background 0.5s ease; width:207px; position:absolute; bottom:5px; line-height:44px; background:#d03135; font-size:18px; font-weight:500; color:#fff; text-align:center; margin-top:15px;}
.planDetails li .callDetails{ width:100%; background:#000000; position:absolute; text-align:center; bottom:5px; line-height:18px; height:40px; font-size:14px; color:#fff; font-weight:400; padding-top:4px;}
.planDetails li .planInfo{ background:#252525; padding:5px; height:327px;}
.planDetails li .planInfo h6, .planDetails li .planInfo h2, .planDetails li .planInfo p{ color:#fff;}

.planDetails li.premium .planTitleContainer{ background:#000000; border-radius:5px 5px 0 0; border-bottom:solid 1px #fff;}
.planDetails li.premium .planTitleContainer .planTitle span{ color:#c9c9c9;}
.planDetails li.premium .planTitleContainer .planTitle h3{ color:#fff;}
.planDetails li.premium a{}

.customPlanContainer{ padding:40px 0 80px;}
.customPlanContainer h4{ font-size:18px; font-weight:500; color:#202020; text-align:center;}
.customPlanContainer .customPlanBtn{ width:410px; text-transform:inherit; font-size:17px; margin-top:20px;}
.customPlanOptions{ margin-top:50px;}
.customPlanOptions h3{color:#000; font-size:24px; font-weight:400; text-transform:uppercase; margin-bottom:15px;}
.customPlanOptions p{color:#000; font-size:18px; font-weight:400;}
.customPlanOptions ul.customPlanItems{ margin-top:27px;}
.customPlanOptions ul.customPlanItems li{ width:320px; display:block; float:left;}
.customPlanOptions ul.customPlanItems li input[type="text"]{ width:60px; vertical-align:middle; border: 1px solid #bababa; background: #fff;}
.customPlanOptions ul.customPlanItems li label{ font-size:15px; color:#000;}

.quoteContainer{ width:725px; margin:80px auto 0;}
.quoteContainer p{ float:left; font-weight:700; color:#202020; font-size:24px;}
.quoteContainer p input[type="text"]{ border:solid 2px #cbcbcb; padding:13px 0; width:370px; text-align:center; font-size:22px; font-weight:700; color:#d6d6d6;}
.quoteContainer p input[type="text"]:focus{ color:#202020;}
.quoteContainer button{ float:right; width:145px; cursor:pointer; border:none; font-family: 'Ubuntu', sans-serif; font-size:16px; color:#fff; line-height:30px; background:#d03135; font-weight:700; text-transform:uppercase; text-align:center; margin-top:15px;}

.testimonails{ width:825px; margin:100px auto; position:relative;}
.testimonails h3{ color:#000; font-size:24px; font-weight:700; margin-bottom:25px; text-align:center;}
.testimonails .memImg{ float:left; width:157px; height:157px; margin-right:36px;}
.testimonails .testimonailText{ float:left; width:463px; height:157px; position:relative;}
.testimonails .testimonailText p{font-weight:400; color:#000; font-size:16px; line-height:18px;}
.testimonails .testimonailText .memName{ position:absolute; bottom:0;}


/* CUSTOM CHECKBOX */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked { position: absolute; left: -9999px;}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label { position: relative; padding-left: 25px; cursor: pointer; padding-top: 3px;}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before { content: ''; position: absolute; left:0; top: 2px; width: 17px; height: 17px; border: 1px solid #bababa; background: #fff;}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after { content: '✔'; position: absolute; top: 6px; left: 5px; font-size: 14px; line-height: 0.8; color: #d03135; transition: all .2s;}

[type="checkbox"]:not(:checked) + label:after { opacity: 0; transform: scale(0);}
[type="checkbox"]:checked + label:after { opacity: 1; transform: scale(1);}


#testimonailCarousel { width:825px;}
#slides { overflow:hidden; position:relative; width:656px; height:155px; background:#d9d9d9; padding:15px; margin:0 auto;}
#slides ul { position:relative; left:0; top:0;  width:4000px;}
/* width of the item, in this case I put 250x250x gif */
#slides li { width:680px; height:170px; float:left;}
/* Styling for prev and next buttons */
#buttons {}
#buttons a { display:block; position:absolute; top:85px; width:29px;  height:77px; text-indent:-999em; outline:0;  margin-top:30px;}

a#prev { background:url(../newimages/sliderPrevArrow.png) 0 0 no-repeat; left:;}
a#prev:hover {background:url(../newimages/sliderPrevArrow.png) 0 -78px no-repeat;}
a#next {background:url(../newimages/sliderNextArrow.png) 0 0 no-repeat; right:0px;}
a#next:hover { background:url(../newimages/sliderNextArrow.png) 0 -78px no-repeat;}







