.onbanner{text-align:center;overflow:hidden;color:white;font-size:19px;font-weight:bold;background:url(../img/media/home-banner4A.jpg);background-repeat:no-repeat;height:175px;line-height:60px;margin-bottom:25px;}
.onbanner h1{padding-top:42px;position:relative;}
span#from, span#to{color:#F32C33;position:relative;animation:movee 3400ms linear infinite;-webkit-animation:movee 3400ms linear infinite;}
@keyframes movee{0%{top:-100px;opacity:0.4}
20%{top:0px;opacity:0.8}
40%{top:0px;opacity:1}
60%{top:0px;opacity:1}
80%{top:0px;opacity:1}
100%{top:100px;opacity:0}
}
@-webkit-keyframes movee{0%{top:-100px;opacity:0.4}
20%{top:0px;opacity:0.8}
40%{top:0px;opacity:1}
60%{top:0px;opacity:1}
80%{top:0px;opacity:1}
100%{top:100px;opacity:0}
}
.onbanner p{color:#ffffff;font-weight:normal;font-size:16px;}
span.skype_pnh_container{display:none !important;}
span.skype_pnh_print_container{display:inline !important;}
table.planstable{border-collapse:collapse;}
table.planstable tr th{padding-top:20px;padding-bottom:20px;line-height:20px;}
.numbeR strong, .tenpercentage p em{color:#F32C33!important;font-weight:bold!important;font-size:15px;letter-spacing:1px;}
.tenpercentage p em{font-weight:normal;font-style:normal;font-size:14px;}
table.planstable tr td h3{color:#333333;}
table.planstable tr td{line-height:20px;color:#292929;padding-top:15px;padding-bottom:15px;}
table.planstable tr td span{font-size:13px;}
table.planstable tr th span{font-weight:normal;}
table.planstable tr th:nth-of-type(1),
table.planstable tr td:nth-of-type(1){padding-right:50px;}
table.planstable tr td, table.planstable tr.borderbtm{border-bottom:1px solid #BEBEBE;}
table.planstable tr.lastbottom td{border-bottom:none!important;}
table.planstable tr th:nth-of-type(2),
table.planstable tr td:nth-of-type(2){background-color:#EEEEEE;text-align:center;}
table.planstable tr:first-child th:nth-of-type(1),
table.planstable tr:first-child th:nth-of-type(2),
table.planstable tr:first-child th:nth-of-type(4){background-color:transparent;}
table.planstable tr:first-child th:nth-of-type(1),
table.planstable tr:first-child th:nth-of-type(2),
table.planstable tr:first-child th:nth-of-type(3),
table.planstable tr:first-child th:nth-of-type(4){padding-top:0px!important;padding-bottom:0px!important;}
table.planstable tr th:nth-of-type(3),
table.planstable tr td:nth-of-type(3){background-color:#CCCCCC;text-align:center;border-left:4px solid rgb(255,255,255);border-right:4px solid rgb(255,255,255);}
table.planstable tr th:nth-of-type(4),
table.planstable tr td:nth-of-type(4){background-color:#EEEEEE;text-align:center;}
.tenpercentage{background-color:#EFEDEE;padding-top:35px;padding-bottom:20px;-webkit-box-shadow:inset 0px 80px 11px -80px rgba(0,0,0,0.6);-moz-box-shadow:inset 0px 80px 11px -80px rgba(0,0,0,0.6);box-shadow:inset 0px 80px 11px -80px rgba(0,0,0,0.6);}
.tenpercentage p{padding-bottom:0px;margin-left:170px;}
.tenpercentage p span{border-radius:50%;padding:4px 9px 5px 9px;background-color:#DADADA;}
.guarant{margin-top:-80px;margin-left:300px;float:right;position:absolute;}