    table.step3{
        color: #292929;
        font-size: 14px;
    }
    table.step3 tr td{padding-left:5px;}
    table.step3 tr td:nth-child(even){width: 110px;}
    table.step3 tr td span{
        color: white; font-weight: bold;
        background-color: #414141; border-radius: 30px;
        padding-left: 8px; padding-right: 8px;
        padding-top: 3px; padding-bottom: 3px;
        }
    table.step3 tr td b{font-weight: normal;margin-top: 20px;}
    table.step3 tr td.select span{background-color: #F13031;}
    table.step3 tr td.active {color: #F13031;}
    


  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

  ::-webkit-scrollbar-track {
    background-color: rgba(220,220,220, .6);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(156, 156, 156, .6);
}