/*  styles for the unit rater     */
.ratingblock {
	width: 125px;
	display:block;
	padding-bottom:8px;
	margin-bottom:8px;
	}

.loading {
	height: 30px;
	background: url('../img/working.gif') 50% 50% no-repeat;
	}
	
.unit-rating { /* the UL */
	list-style:none;
	margin: 0px;
	padding:0px;
	height: 27px;
	position: relative;
	background: url('../img/alt_star.gif') top left repeat-x;
	background-color: #FDFFCD;
	/*border-bottom-color: #C41200;*/
	/*border-bottom-style: solid;*/
/*	border-bottom-width: 1px;*/
	/*border-top-color: #C41200;*/
	/*border-top-style: solid;*/
	/*border-top-width: 1px;*/
	/*border-left-color: #C41200;*/
	/*border-left-style: solid;*/
	/*border-left-width: 1px;*/
	/*border-right-color: #C41200;*/
	/*border-right-style: solid;*/
	/*border-right-width: 1px;*/
	}

.unit-rating li{
    text-indent: -90000px;
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
	}
	
.unit-rating li a {
	outline: none;
	display:block;
	width:25px;
	height: 25px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
	}
	
.unit-rating li a:hover {
	background: url('../img/alt_star.gif') left center;
	z-index: 2;
	left: 0px;
}

.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:25px;}
.unit-rating a.r2-unit{left:25px;}
.unit-rating a.r2-unit:hover{width: 50px;}
.unit-rating a.r3-unit{left: 50px;}
.unit-rating a.r3-unit:hover{width: 75px;}
.unit-rating a.r4-unit{left: 75px;}	
.unit-rating a.r4-unit:hover{width: 100px;}
.unit-rating a.r5-unit{left: 100px;}
.unit-rating a.r5-unit:hover{width: 125px;}

.unit-rating li.current-rating {
	background: url('../img/alt_star.gif') left bottom;
	position: absolute;
	height: 25px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
	}

.voted {color:#999;}
.thanks {color:#36AA3D;}
div#qTip {
  padding: 3px;
  /* border: 1px solid #666;*/
  display: none;
  background: #fff;
  color: #000;
  font: bold 10px Verdana, Arial, Helvetica, sans-serif;
  text-align: left;
  position: absolute;
  z-index: 1000;
}
#ratingtxt { padding-top: 5px; }
#ratetext { 
    /* text of rating */
}
#totalvotes {
    /* total number of votes - set this
     * to hidden if you don't want to display the
     * its contents */
    visibility: hidden;
}
.avg-rating {
list-style:none;
	margin: 0px;
	padding:0px;
	height: 25px;
	position: relative;
	background: url('../img/alt_star.gif') top left repeat-x;
}
.avg-rating li{
    text-indent: -90000px;
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
	}
	
.avg-rating li a {
	outline: none;
	display:block;
	width:25px;
	height: 25px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
	}
	
.avg-rating li a:hover {
	background: url('../img/alt_star.gif') left center;
	z-index: 2;
	left: 0px;
}
.avg-rating li.current-rating {
	background: url('../img/alt_star.gif') left bottom;
	position: absolute;
	height: 25px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
	}
