#registerationFm .linkedinBtn{
	background: #58A0CB;
	margin: 10px 0px;
	width: 100px;
	height: 35px;
	color: white;
	font-size: 18px;
	cursor: pointer;
	text-align: center;	
	border:0px;
	margin-left: 5px;
	
}
#registerationFm .forminput1[type="text"]{
	margin: 0px 0px 10px 0px;/*VL 27/12*/
	width: 218px;
}

#registerationFm .forminput{
	margin: 0px 0px 10px 0px;/*VL 27/12*/
	width: 485px;
	
}

#registerationFm .forminput.Big {
    margin: 0px 0px 10px 0px;/*VL 27/12*/
    width: 478px;
}
#registerationFm .btn{
	background: none repeat scroll 0 0 #F32C33;
	color: white;
	cursor: pointer;
	float: right;
	height: 35px;
	padding:0 20px;
}
#registerationFm .btn:hover { background: #9E0606; }
 #registerationFm h1 {
	color: #292929;
	border-bottom: 1px solid #BEBEBE;

	padding-bottom: 5px;
}
#registerationFm span{padding:0px;margin:0px;}
#registerationFm .txt{
	font-size: 14px;
	margin-left: 8px;
	
	
}
#registerationFm .txt1{
	 float: right;
    font-size: 14px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -18px;
	
}

.line{
	border-top: 1px solid #BEBEBE;
	margin:0px;
    margin-top:25px;
	padding:0px;
	padding-top:5px;
   
}
.line1{
	border-bottom: 1px solid #BEBEBE;
	margin:0px;
    margin-top:50px;
	padding:0px;
	 margin-bottom:10px;
}
/*VL 27/12*/
#registerationFm .infobar
{
	position:relative;
	width:100%;
	float:left;
		
	border-bottom: 1px solid #BEBEBE;
	height:auto;
	padding:5px 0px;
	margin-bottom:10px;
	
}
#registerationFm .infobar p  /*VL 2/1/2013*/
{
	font-weight:bold;
	text-align:center;
	margin:0px;
	padding:0px;
}
#registerationFm .infobar .left_info
{
	width:72%;
	position:relative;
	float:left;
	font-weight:bold;
	border: 0px solid #BEBEBE;
	line-height:40px;
}
#registerationFm .infobar .right_info
{
	width:28%;
	position:relative;
	float:left;
	
}
#registerationFm .btn_register{
	background: none repeat scroll 0 0 #F32C33;
    color: white;
    cursor: pointer;
    float: right;
    height: 40px;
    margin: 0;
    position: relative;
    top: -14px;
	padding:0px;
	
}
#registerationFm .form_row
{
	position:relative;
	width:100%;
	float:left;
}
#registerationFm .submit_bar
{
	position:relative;
	width:100%;
	float:right;
	
	border:0px solid red;
}
#registerationFm .submit_bar .submit_bar_left,#registerationFm .submit_bar .submit_bar_right
{
	border:0px solid red;
	width:76%;
	float:left;
	text-align:right;
}

#registerationFm .submit_bar .submit_bar_right
{
	width:24%;
}
#registerationFm .submit_bar .submit_bar_left p
{
	 padding-top: 29px;
}
#registerationFm .footer_msgbar
{
	float:right;
	position: relative;
    top: -11px;
    width: inherit;
}
/*VL 27/12*/
