/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 12px Verdana, sans-serif;
  width:auto;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;
 width:auto;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
.BrnewTblHd1 {
    background: url("../img/prod_bx_top_bg1.png") no-repeat scroll 0 0 transparent;
    border: 1px solid #EDEDED;
    color: #EB6024;
    float: left;
    font: bold 18px/34px Arial,Helvetica,sans-serif;
    padding: 0 10px;
    width: 692px;
}
.BrnewText {
    border-bottom: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    color: #161718;
    float: left;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 5px 10px;
    width: 692px;
}
.BrnewTblHd12{
    background: none repeat scroll 0 0 #139BBA;
    /*border: 1px solid #EDEDED;*/
		color: #FFFFFF;
    font: bold 14px Arial,Helvetica,sans-serif;
    padding: 5px 10px;
		/*color: #EB6024;*/
    float: left;
    /*padding: 0 10px;*/
    width: 926px;
}
.BrnewText11 {
    border-bottom: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    color: #161718;
    float: left;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 5px 10px;
    width: 924px;
}
.tab-box { 
  border-bottom: 1px solid #DDD;
  padding-bottom:5px;
  width:412px;
}
.tab-box a {
  border:1px solid #DDD;
  color:#666666;
  padding: 5px 15px;
  text-decoration:none;
  background-color: #eee;
}
.tab-box a.activeLink { 
  background-color: #fff; 
  border-bottom: 0; 
  padding: 6px 15px;
}
.tabcontent { 
	border: 1px solid #ddd;
	border-top: 0; padding: 5px;
	width:401px;
	/*height: 284px;*/
}
.hide { display: none;}
