<?php echo($this->Html->script(array('fileupload/fileuploader1','fileupload/qr-code-brochure12'))); ?>
<?php echo($this->Html->css(array('fileupload/fileuploader'))); ?>
<?php 
if(isset($this->data['User']['id'])):
	echo($this->Form->hidden('User.hash',array('value'=>$this->data['User']['id']))); 
else:
	echo($this->Form->hidden('User.hash')); 
endif;
?>
<script>
</script>
<table cellspacing="0" cellpadding="0">
	<tr>
		<td align="left" valign="top" class="textLabel">
			<div id="vertical_logo">		
				<noscript>		
					<p>Please enable JavaScript to use file uploader.</p>				
				</noscript>         
			</div>
			
			<!--  =======image name in input box ============ -->
			<!-- <span id="userImageList"><span>-->	
			<!--  =======show image name list ============ -->	
			<?php //echo($this->element('registreduser/list_uploaded_image')); ?>
		</td>
	</tr>
</table>

