<tr class="AddProFrm">
	<td colspan="2"><h3>Add Avaliability</h3></td>
</tr>		
<tr>
	<td colspan="2">
		<table width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="middle" class="Padleft26">Add Avaliability</td>
				<td>
					<?php  echo($this->Form->input('Availablity.day_time', array('div'=>false, 'label'=>false, "class" => "Testbox5")));?>		
				</td>
			</tr>			
		</table>
	</td>
	
</tr>
	