<?php
		if(!($this->Session->read('Auth.User.id') != '' && $this->Session->read('Auth.User.role_id') == Configure::read('App.Role.Mentor')))
	{?>
	<div id="inner-content-wrapper">
		<?php $noOfUSers = count($dUsersFinal);?>
    	<div id="inner-content-box" class="pagewidth">
      		<div id="user-account" style=" display: none;">
        		<div class="account-form">
        			<?php if($noOfUSers > 0){?>
					<div class="more-button-search" style="width:81%; float:right; text-align:center">
		              	<p>
							<?php 
								if($keyword == ''){
                                                         ?>
								  <input type="button" value="Other experts for '<?php e($keyword); ?>'" onclick="window.location.href='<?php echo SITE_URL."fronts/directory_result/?keyword=$keyword"; ?>';">	
                                                        <?php }else{ ?>
                                                         <input type="button"  style="font-weight:normal;"value="Other experts for keyword '<?php e($keyword); ?>'" onclick="window.location.href='<?php echo SITE_URL."fronts/directory_result/?keyword=$keyword"; ?>';">	
                                                      <?php }
							?>
						</p>
		            </div>
		            <?php }?>

	</div>
		</div>
	</div>
	
</div>
<?php }?>
		         