

<style>
<!--[if lt IE 9]>
#nav-search { border:0px solid #eaeaea !important; }
#nav-search #searchform input{
   padding-top:0px; 
}
<![endif]-->
</style>
        <script type="text/javascript">
            jQuery.noConflict();
            var SiteUrl = "<?php echo SITE_URL; ?>";
            var SITE_URL = "<?php echo SITE_URL; ?>";	
	     var loggedUserId = '';
	     var memberId = '';
	     var mentee_url = '';

        </script>



<?php echo($this->Html->script(array('front'))); ?>
<?php 
$searchClass='style="width:auto;"';
if($this->Session->read('Auth.User.id') !='' && $this->Session->read('Auth.User.id') !=1){
	$searchClass = ""; ?>
	<script type="text/javascript">
	loggedUserId = <?php echo $this->Session->read('Auth.User.id'); ?>
        //alert(loggedUserId);
       </script>

<?php } ?>

<?php 
if($this->Session->read('Auth.User.role_id') == 2 ){
	?>
	<script type="text/javascript">
		memberId = <?php echo $this->Session->read('Auth.User.id'); ?>
	</script>
<?php } ?>

<?php echo($this->Element('Front/howitworks'));?>

<div id="header-box" class="pagewidth">

   <?php if($this->Session->read('Auth.User.id') ==''){?>
<span style="float: right;margin-top:16px;"><span style="font-size:16px;margin-right:10px;color: #000;">Call 1-866-511-1898</span><a href="<?php echo(SITE_URL)?>members/advantage" title="CONSULTANT MEMBERSHIP" style="float: right;margin-top:-5px;margin-right:1px;border:1px solid #D03135;height:21px;width:193px;text-align:center;padding-top:6px;text-decoration:none;">CONSULTANT MEMBERSHIP</a></span>
    <?php }?>
	<div id="header-content">  
		<div id="logo-box" style="margin-top: -33px;">
                         <a href="<?php echo(SITE_URL);?>"><img src="<?php echo(SITE_URL)?>img/media/Guild-Headerlogo.svg"></a>

		</div>	
               				
		<div id="inner-nav-box" <?php echo $searchClass; ?>>
		
        <?php				
				/*if($this->params['action'] !='index'){
					
					$keyword = '';
					if($this->Session->check(session_id()))
					{
						$sessionData = $this->Session->read(session_id());
						$sess_id = session_id();
						if(isset($_SESSION[$sess_id]['keyword'])):
							$keyword = $sessionData['keyword'];
						endif;
					}
					if($keyword==''): $keyword = "Search for an expert..."; endif;
					
					?>
                
					<div id="nav-search" style="margin-top:-4px; border:1px solid #eaeaea;">
						<form action="<?php echo SITE_URL;?>fronts/search_result" id="searchform" method="post" role="search">
							<input type="text" onfocus="if (this.value == 'Search for an expert...'){this.value = '';}" onblur="if (this.value == '')	{this.value = 'Search for an expert...';}"  name="data[City][keyword]" value="<?php echo $keyword;?>">
							<?php
							if(!isset($loggedInUsercityData['City']['city_name'])): $loggedInUsercityData['City']['city_name']='New York'; endif;
							if(!isset($loggedInUsercityData['City']['state'])): $loggedInUsercityData['City']['state']='NY'; endif;
							if(!isset($city_name)): $city_name=''; endif;
							
								echo($form->input('City.city_name',array('id'=>'username','div'=>false,'label'=>false, 'type'=>'hidden',
								    'placeholder'=>$loggedInUsercityData['City']['city_name'].','.$loggedInUsercityData['City']['state'],'value'=>$city_name)));
							?>
							<input type="submit" value="" id="searchsubmit">
						</form>
					</div>			
					<?php
				}*/?>		
			<?php
			if($this->Session->read('Auth.User.id') !='' && $this->Session->read('Auth.User.id') !=1){?>
				<div id="nav-box" style="padding-top:12px;">
					<ul style="margin-right: 80px;">
                                                <?php if($this->Session->read('Auth.User.role_id') !=2){?>
						<?php	if($this->params['controller'] == 'fronts' && $this->params['action'] =='index'){ ?>
						<li>
							<a href="javascript:void(0);" id="howItWorksLink" title="How we work" style="font-weight: normal;font-size:16px">How we work</a> <span style="padding-left: 15px;">|</span>
						</li>
						<?php	} else {?>
						<li>
							<a href="<?php echo(SITE_URL)?>" title="Search" style="font-weight: normal;font-size:16px">Search</a> <span style="padding-left: 15px;">|</span> 
						</li>
						<?php }?>
                                                 <?php }?>


                                            <?php if($this->Session->read('Auth.User.role_id')==2){ ?> 
                                            <li>
							<a href="<?php echo(SITE_URL)?>qanda" style="font-weight: normal;font-size:16px" title="Share your expertise">Share Your Expertise</a> <span style="padding-left: 15px;">|</span> 
						</li>
                                           <li id="projectlist">
							<a href="javascript:void(0);" style="font-weight: normal;font-size:16px;" title="Projects">Projects</a> <img src="<?php echo(SITE_URL)?>images/icon_sorting_dark.png" style ="width:16px;height:10px;" alt ="dropdown arrow"></img> <span style="padding-left: 15px;">|</span> 
						
                                                <div id="dropdownbox">
                                                 	<table >
		            				<tr>
                                                 <td style=height:25px;"> <?php echo($this->Html->link('Post a project',array('controller'=>'project','action'=>'create'),array('alt'=>'Post a Project','style'=>'font-size:16px;')));  ?> </td>
                                                 </tr> 
                                                  <tr >
                                                 <td style=height:25px;"> <?php echo($this->Html->link('Case studies',array('controller'=>'members','action'=>'case_studies'),array('alt'=>'Case Studies','style'=>'font-size:16px;')));  ?> </td>
                                                 </tr> 
                                                  <tr style=height:25px;">
                                                 <td> <?php echo($this->Html->link('Proposals',array('controller'=>'project','action'=>'project_proposals'),array('alt'=>'Project Proposals','style'=>'font-size:16px;')));  ?> </td>
                                                 </tr> 
                                                </table >
		            				
                                                </div>

                                           </li>
						<?php	} else {?>	
                                           <li>
							<a href="<?php echo(SITE_URL)?>project/home"  style="font-weight: normal;font-size:16px;" title="Projects">Projects</a> <img src="<?php echo(SITE_URL)?>images/icon_sorting_dark.png" style ="width:16px;height:10px;"  id="projectlist" alt ="dropdown arrow" "onclick="opendropdown();"></img> <span style="padding-left: 15px;">|</span> 
                                                <div id="dropdownbox">
                                                 	<table >
		            				<tr style=height:25px;">
                                                 <td > <?php echo($this->Html->link('Post a project',array('controller'=>'project','action'=>'create'),array('alt'=>'Post a Project','style'=>'font-size:16px;')));  ?> </td>
                                                 </tr> 
                                                  <tr style=height:25px;">
                                                 <td > <?php echo($this->Html->link('Case studies',array('controller'=>'members','action'=>'case_studies'),array('alt'=>'Case Studies','style'=>'font-size:16px;')));  ?> </td>
                                                 </tr> 
                                                  <tr style=height:25px;">
                                                 <td> <?php echo($this->Html->link('Proposals',array('controller'=>'project','action'=>'project_proposals'),array('alt'=>'Project Proposals','style'=>'font-size:16px;')));  ?> </td>
                                                 </tr> 
                                                </table >
		            				
                                                </div>

                                           </li>

					    <?php }?>
                                            <?php if($this->Session->read('Auth.User.role_id')==2){ ?>
						<li>
							<a href="<?php echo(SITE_URL)?>members/advantage" style="font-weight: normal;font-size:16px" title="Member Advantage">Member Advantage</a> <span style="padding-left: 15px;">|</span> 
						</li>

					      <?php }else{ ?>

                                        	<li>
							<a href="<?php echo(SITE_URL)?>qanda" style="font-weight: normal;font-size:16px" title="Ask an expert">Ask an expert</a> <span style="padding-left: 15px;">|</span> 
						</li>

					      <?php }?>
					</ul>
				</div>	
				<div id="inner-nav-list" >
					<?php			
					$userPhoto = $this->General->FindUserImage($this->Session->read('Auth.User.id'));
                    if($userPhoto !=''){
						if($this->Session->read('Auth.User.role_id')==2){
							$image_path = '/img/members/profile_images/'.$this->Session->read('Auth.User.id').'/small/'.$userPhoto;
						}else{
							$image_path = '/img/clients/profile_images/'.$this->Session->read('Auth.User.id').'/small/'.$userPhoto;
						}						
					}else{
						$image_path = 'media/small_profile.png';
					}?>	
					
					<?php 
                    if($this->Session->read('Auth.User.role_id')=='4')
                    { ?>            
                    <a href="<?php echo SITE_URL?>users/my_account" class="user">
                    <?php echo($this->Html->image('media/small_Profile.png',array('alt'=>'black','class'=>'desaturate'))); ?>
                    </a>
                    <?php } ?>
                    
					
					<?php 
                    if($this->Session->read('Auth.User.role_id')=='2')
                    { ?>            
                    <a href="<?php echo SITE_URL?>users/my_account" class="user">
                    <?php echo($this->Html->image($image_path,array('alt'=>'black','class'=>'desaturate'))); ?>
                    </a>
                    <?php } ?>
                    
                    
					<?php 
					if($this->Session->read('Auth.User.role_id')=='3')
                    {
                        if($this->Session->read('Auth.User.access_specifier') =='draft'){ 
                               if($this->Session->read('Auth.User.email_send') =='0'): ?>
                                           <a href="<?php echo SITE_URL?>users/registration_step2" class="user">
                                   <?php elseif($this->Session->read('Auth.User.email_send')=='1' && $this->Session->read('Auth.User.is_approved') =='0'): ?>
                                           <a href="<?php echo SITE_URL?>users/thanksuser" class="user">
                                <?php     endif;
					     } else { ?>
					        <a href="<?php echo SITE_URL?>clients/my_account" class="user">
					   <?php } ?>
					<?php echo($this->Html->image($image_path,array('alt'=>'black','class'=>'desaturate'))); ?>
					</a>
					<?php } ?>
					<ul>
						<?php
							if($this->Session->read('Auth.User.role_id')=='2')
							{
									if($this->Session->read('Auth.User.access_specifier') =='draft')
									{ ?>								
										<li class="user-profile-list"><?php  	echo($this->Html->link('My profile',array('controller'=>'members','action'=>'member_full_profile'),array('alt'=>'full','style'=>'font-size:14px;')));  ?> </li>	
							<?php	}
									else{	
									?>
									<li class="user-profile-list"> <?php echo($this->Html->link('Edit profile',array('controller'=>'users','action'=>'profile_edit'),array('alt'=>'edit_account','style'=>'font-size:14px;')));  ?> </li>
									<li class="user-profile-list"> <?php echo($this->Html->link('View profile',array('controller'=>'users','action'=>'my_account'),array('alt'=>'my_account','style'=>'font-size:14px;')));?> </li> 					
									<?php }								
									if($this->Session->read('Auth.User.access_specifier') !='draft')
									{	?>
										<li class="user-profile-list"> <?php	echo($this->Html->link('My account',array('controller'=>'members','action'=>'account_setting'),array('alt'=>'Account setting','style'=>'font-size:14px;')));?> </li> 

                                                                                <li class="user-profile-list"> <?php	echo($this->Html->link('My projects',array('controller'=>'project','action'=>'projectlistmember'),array('alt'=>'My projects','style'=>'font-size:14px;')));?> </li>	
								<?php }
							}
							
							if($this->Session->read('Auth.User.role_id')=='3')
							{
								if($this->Session->read('Auth.User.access_specifier') =='draft')
								{ ?>
											<?php /*	<li class="user-profile-list"> echo($this->Html->link('My profile',array('controller'=>'users','action'=>'registration_step2'),array('alt'=>'full','style'=>'font-size:14px;')));  ?> </li> */ ?>	
									<?php 	} 
								else{	?>
                                                                                      <li class="user-profile-list"> <?php	echo($this->Html->link('My Profile',array('controller'=>'clients','action'=>'my_account'),array('alt'=>'My Profile','style'=>'font-size:14px;')));?> </li> 
										<?php if($this->Session->read('Auth.User.isPlanAdmin')=='1'){?>
											<li class="user-profile-list"> <?php	echo($this->Html->link('Plan Dashboard',array('controller'=>'pricing','action'=>'dashboard'),array('alt'=>'Plan Dashboard','style'=>'font-size:14px;')));?> </li>
										<?php }?> 			
								<?php }
							} ?>
							

						<?php 
                   		if($this->Session->read('Auth.User.role_id')=='3')
                   		{ ?>  
					 <li class="user-profile-list">
						<?php echo($this->Html->link('Invite a colleague','javascript:client_invitation_popup();',array('alt'=>'Client Invitation','style' =>'font-weight: normal;','style'=>'font-size:14px;'))); ?>
						</li>

                                           
                                          
						<?php } ?>
						<li class="user-profile-list">
						<?php echo($this->Html->link('Sign out',array('controller'=>'users','action'=>'logout'),array('alt'=>'Sign Out','style'=>'font-size:14px;'))); ?>
						</li>
					</ul>
				</div>
				<?php
			}elseif($this->Session->read('Auth.User.role_id') ==1){?>
				<div id="nav-box" style="padding:15px;">
					<ul>			
						<li>
							<?php echo($this->Html->link('Admin Sign Out',array('controller'=>'users','action'=>'logout'),array('alt'=>'Sign Out'))); ?>
						</li>
					</ul>
				</div>						
				<?php			
			}else{?>
				<div id="nav-box" style="padding-top:12px;">
					<ul>
						<?php	if($this->params['controller'] == 'fronts' && $this->params['action'] =='index'){ ?>
						<li>
							<a href="javascript:void(0);" id="howItWorksLink" title="How we work" style="font-size:16px;">How we work</a> <span style="padding-left: 15px;">|</span>
						</li>
						<?php	} else {?>
						<li>
							<a href="<?php echo(SITE_URL)?>" title="Search" style="font-size:16px;">Search</a> <span style="padding-left: 15px;">|</span> 
						</li>
						<?php }?>
                                           <li>
							<a href="<?php echo(SITE_URL)?>project/home"  style="font-weight: normal;font-size:16px;" title="Projects">Projects</a> <img src="<?php echo(SITE_URL)?>images/icon_sorting_dark.png" style ="width:16px;height:10px;"  id="projectlist" alt ="dropdown arrow" "onclick="opendropdown();"></img> <span style="padding-left: 15px;">|</span> 
						
                                                <div id="dropdownbox" style="display:none;">
                                                 	<table >
		            				<tr style=height:25px;">
                                                 <td > <?php echo($this->Html->link('Post a project',array('controller'=>'project','action'=>'create'),array('alt'=>'Post a Project','style'=>'font-size:16px;')));  ?> </td>
                                                 </tr> 
                                                  <tr style=height:25px;">
                                                 <td > <?php echo($this->Html->link('Case studies',array('controller'=>'members','action'=>'case_studies'),array('alt'=>'Case Studies','style'=>'font-size:16px;')));  ?> </td>
                                                 </tr> 
                                                  <tr style=height:25px;">
                                                 <td> <?php echo($this->Html->link('Proposals',array('controller'=>'project','action'=>'project_proposals'),array('alt'=>'Project Proposals','style'=>'font-size:16px;')));  ?> </td>
                                                 </tr> 
                                                </table >
		            				
                                                </div>
                                           </li>
                                           <li>
							<a href="<?php echo(SITE_URL)?>qanda" style="font-weight: normal;font-size:16px;" title="Ask an expert">Ask an expert</a> <span style="padding-left: 15px;">|</span> 
						</li>
                                           

                                          <li>
							<a href="javascript:void(0);" onclick="javascript:loginpopup();" style="font-weight: normal;font-size:16px;" title="Login">Login</a>
						</li>
                                     </ul>
                                
                                  
				</div>	
                             	
				<?php						
			}?>

		</div>		
	</div>
</div>


<script type="text/javascript">

var shown = 0;
function shownavi(show)
{
	var s=document.getElementById(show);
	s.style.display="block";
}
function mouseout(mout)
{
	var ms=document.getElementById(mout);
	ms.style.display="none";
}

jQuery("#howItWorksLink").click(function(){
	
	if(shown == 0) {
		jQuery("#howItWorks").slideDown("slow");
		shown = 1;
	}
	else {
		jQuery("#howItWorks").slideUp("slow");
		shown = 0;
	}
});

jQuery("#projectlist").click(function(){
var box = document.getElementById("dropdownbox");
	if (box.style.display=="block") {
		
    document.getElementById("dropdownbox").style.display="none";
    }else{
    document.getElementById("dropdownbox").style.display="block";
	alert();
   }
});

	
	


function hideme(){
	jQuery("#howItWorks").slideUp("slow");
	shown = 0;
}
jQuery(window).scroll(function() {
    var height = jQuery(window).scrollTop();
if(shown == 1 && height  >= 617) {

     jQuery("#howItWorks").hide();
     jQuery(window).scrollTop(0, "slow");
       shown = 0;
      
    }

});	
</script>
<script type="text/javascript">
jQuery(document).ready(function(){
var container = jQuery('#dropdownbox');

jQuery(document).mouseup(function (e)
{


    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        container.hide();
    }
});

});
 </script>

<style>
#dropdownbox {
    height: 80px;
    top: 80px;
    margin-left: 130px;
    width: 126px;
    padding: 15px;
    display: none;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #DDDDDD;
    position:absolute;
    z-index: 99;
}
</style>