<script type="text/javascript">
function twitterCallback2(twitters) {
  var statusHTML = [];
  for (var i=0; i<twitters.length; i++){
    var username = twitters[i].user.screen_name;
	
	if (twitters[i]['retweeted_status'] != null) {
    	twitters[i].text = "RT @"+twitters[i]['retweeted_status']['user']['screen_name']+" : " + twitters[i]['retweeted_status']['text'];
    }
    var status = twitters[i].text.replace(/((https?|s?ftp|ssh)\:\/\/[^"\s\<\>]*[^.,;'">\:\s\<\>\)\]\!])/g,
    function(url){
		return '<a href="'+url+'" target="_blank"><span>'+url+'</span></a>';
    }).replace(/\B@([_a-z0-9]+)/ig, function(reply) {
	    return  reply.charAt(0)+'<a href="http://twitter.com/'+reply.substring(1)+'" style="color:#EEEEEE;" target="_blank">'+reply.substring(1)+'</a>';
    });
    statusHTML.push('<p>'+status+'<br>');
  }
  statusHTML.push('</p>');
  document.getElementById('twitter_update_list').innerHTML = statusHTML.join('');
}
</script>
<script type="text/javascript">
function openReportPopup(u_id){var path=SITE_URL+'/members/report/';TINY.box.show({url:path,width:1040,height:540})}
</script>
	<!-- footer section -->
	<div id="footer-section">
		<div class="container">
			<div class="pad0 col-md-2 col-xs-12">
				<a href="<?php echo(SITE_URL)?>"><img src="<?php echo(SITE_URL)?>/bala/images/guild-footer.png"></a>
			</div>
			<div class="col-md-3 col-xs-12 about-footer">
				<h2>About</h2>
				<p>Guild helps businesses leverage outside expertise.</p>
				<ul class="list-unstyled">
					<li>
						<a href="http://www.linkedin.com/company/guild-digital" target="_blank">
							Company Profile
						</a>
					</li>
					<li>
						<a href="https://blog.guild.im/" target="_blank">
							Blog
						</a>
					</li>
					<li>
						<label>Call us :</label>
						<span>1-866-511-1898</span>
					</li>
					<li>
						<label>Email :</label>
						<a href='mailto&#58;help@guild.im'><span>help@guild.im</span></a>
					</li>
				</ul>
			</div>
			<div class="col-md-5 col-xs-12 tweets-footer">
				<h2>Tweets</h2>
				<ul class="list-unstyled">
					<li>
                                          <div id="twitter_update_list"></div>
					</li>

				</ul>
			</div>
			<div class="col-md-2 col-xs-12 social-footer">
				<h2>Social</h2>
				<ul class="list-unstyled">
					<li>
						<a href="https://www.linkedin.com/company/2966858" target="_blank">
							<img src="<?php echo(SITE_URL)?>/bala/images/link_icon2.png">
						</a>
					</li>
					<li>
						<a href="https://twitter.com/GuildAlerts" target="_blank">
							<img src="<?php echo(SITE_URL)?>/bala/images/twitt_icon2.png">
						</a>
					</li>
					<li>
						<a href="https://plus.google.com/u/0/+MentorsguildLive" target="_blank">
							<img src="<?php echo(SITE_URL)?>/bala/images/google_icon3.png">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="subfooter-section">
		<div class="container">
			<ul class="pull-left list-unstyled">
				<li>
					<a href="<?php echo(SITE_URL)?>fronts/privacy">Privacy</a>
				</li>
				<li>
					|
				</li>
				<li>
					<a href="<?php echo(SITE_URL)?>fronts/terms">Terms of Service</a>
				</li>
			</ul>
			<label class="pull-right">
				&#169; 2016 Guild. All Rights Reserved
			</label>
		</div>
	</div>

<?php
{

require_once('../webroot/TwitterAPIExchange.php');

/** Set access tokens here - see: https://dev.twitter.com/apps/ **/
$settings = array(
		'oauth_access_token' => "307588817-ri2kaoOZv7F5Ps2IWz0J2AMl3mn58aN91wGzSaeA",
		'oauth_access_token_secret' => "k5BQaVAAFrRPskC7SN8uunFnKj8L83pPHqpmwYpnswqVZ",
		'consumer_key' => "ZCBr3siWeVe889iD71gSCNwFh",
		'consumer_secret' => "dksVrAiUxUrBU4AQ1ISq5bY9ublSm8ZyftPBhk8euVSY8uNwsW"
);

$url = 'https://api.twitter.com/1.1/statuses/user_timeline.json';
$getfield = '?screen_name=GuildAlerts&include_rts=true&count=2';
$requestMethod = 'GET';
$twitter = new TwitterAPIExchange($settings);
$twitters = $twitter->setGetfield($getfield)->buildOauth($url, $requestMethod)->performRequest();

echo '<script type="text/javascript"> twitterCallback2('.$twitters.'); </script>';
}  		
?>
<script type="text/javascript">
function linkedin(type,id)
{
console.log(type);
if(typeof type=="undefined")
{window.location.href=SITE_URL+'linkedin/OAuth2.php';return true;}
if(type=='mentor')
{window.location.href=SITE_URL+'linkedin/signuplinkmember.php';return true;}
if(type=='mentorPopup')
{window.location.href=SITE_URL+'linkedin/OAuth2.php';return true;}
if(type=='menteePopup')
{window.location.href=SITE_URL+'linkedin/OAuth2.php?userId='+id;return true;}
if(type=='pricingPopUp')
{window.location.href=SITE_URL+'linkedin/OAuth2.php?planUserId='+id;return true;}
if(type=='sresult')
{window.location.href=SITE_URL+'linkedin/OAuth2.php?sresult='+id;return true;}
if(type=='pricingAuthPopUp')
{window.location.href=SITE_URL+'linkedin/OAuth2.php?plan_id='+id;return true;}
if(type=='projectPopUp')
{window.location.href=SITE_URL+'linkedin/OAuth2.php?projectUserId='+id;return true;}}
</script>