<nav class="navbar navbar-default navbar-fixed-top header-align website">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="https://test.guild.im/"><img src="https://www.guild.im/Guild_New_Logo/GUILD-Logo.svg"></a>
			<ul class="list-unstyled shownav header-show">
				<li>
					Call 1-866-511-1898
				</li>
				<li>
					<a href="https://test.guild.im/members/advantage">CONSULTANT MEMBERSHIP</a>
				</li>
			</ul>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="list-unstyled nav-top website-header">
				<li>
					Call 1-866-511-1898
				</li>
				<li>
					<a href="https://test.guild.im/members/advantage">CONSULTANT MEMBERSHIP</a>
				</li>
			</ul>
		</div>
	</div>
</nav>