	<div class="adminrightinner">
		<?php echo($this->Form->create('Topic', array('url' => array('controller' => 'reports', 'action' => 'editautocompletetext'))));?>
		<?php echo($this->Form->input('id'));?>
		<div class="tablewapper2 AdminForm">
			<table border="0" class="Admin2Table" width="100%">			   
				<tr>
					<td><?php echo($this->Form->input($modelName.'.autocomplete_text', array('div'=>false, 'label'=>false, "class" => "TextBox5")));?></td>
				</tr>
			</table>
		</div>
		<div class="buttonwapper">
			<div><input type="submit" value="Submit" class="submit_button" /></div>
			<div class="cancel_button"><?php echo $this->Html->link("Cancel", "/admin/reports/autocomplete", array("title"=>"", "escape"=>false)); ?></div>
		</div>
		<?php  echo($this->Form->end());	?>	
	</div>

