<div id="inner-content-wrapper">
		<?php $noOfUSers = count($dUsersFinal);?>
    	<div id="inner-content-box" class="pagewidth">
      		<div id="user-account" style=" display: none; padding: 0px 0px;">
        		<div class="account-form">
        			<?php if($noOfUSers > 0){?>
					<div class="more-button-search" style="width:100%; float:right; text-align:center;margin-bottom:-31px;margin-right:20px;">
		              	<p>
                                        <?php if(false !== stripos($keyword,"/"))
                                          $keywords = str_replace("/","_slash",$keyword);
                                           elseif(false !== stripos($keyword,"&"))
                                                $keywords = str_replace("&","_and",$keyword);
                                           elseif(false !== stripos($keyword,"-"))
                                                $keywords = str_replace("-","_or",$keyword);
                                                 ?>
                      
                                                    
                                                 
							<?php 
                                                        $ab = "Experts";
								if($keyword == '' || (false !== stripos($keyword,$ab))){
                                                         ?>

                                                          <a href="<?php echo SITE_URL."browse/directory_result/"; ?>" style="font-size:16px;font-weight:bold;">BROWSE OTHER EXPERTS</a>
								 	
                                                <?php } elseif((false !== stripos($keyword,"/")) || (false !== stripos($keyword,"&")) || (false !== stripos($keyword,"-"))){ 
                                                       
                                                         $link = SITE_URL."browse/directory_result/".$keywords;

                                                         ?>
                                                                   <a href="<?php echo $link; ?>" style="font-size:16px;font-weight:bold;">OTHER EXPERTS FOR "<?php echo(strtoupper($keyword)); ?>"</a>
								  	
                                                              
                                                 <?php }else{ 

                                                       $link = SITE_URL."browse/directory_result/".$keyword;
                                                     
                                                        ?>
                                                         <a href="<?php echo $link; ?>" style="font-size:16px;font-weight:bold;">OTHER EXPERTS FOR "<?php echo(strtoupper($keyword)); ?>"</a>	
                                                      <?php }
							?>
						</p>
		            </div>
		            <?php }?>

	</div>
		</div>
	</div>
		         