<?php header("Content-type: application/pdf"); ?>
<div id="header-content">  
        <div id="logo-box">
            <?php echo $html->image('media/logo.png',array('alt'=>'Mentor Guild')); ?>
        </div>
</div>
<?php echo $content_for_layout; ?>