 <div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
     <div id="load"></div>
  <div style="margin-top:40px;margin-bottom:80px;">
<script class="ai1ec-widget-placeholder" data-widget="ai1ec-superwidget">
  (function(){var d=document,s=d.createElement('script'),
  i='ai1ec-script-sw';if(d.getElementById(i))return;s.async=1;
  s.id=i;s.src='http://live-mentorsguild.time.ly/?ai1ec_super_widget';
  d.getElementsByTagName('head')[0].appendChild(s);})();
</script>
 </div>
    </div>
</div>
<style>


#load{
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
   
    background:url("http://www.mentorsguild.com/test/img/media/loading.gif") no-repeat center center rgba(0,0,0,0.2)
}
</style>
<script type="text/javascript">
document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'interactive') {
       document.getElementById('contents').style.visibility="hidden";
  } else if (state == 'complete') {
      setTimeout(function(){
         document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
         document.getElementById('contents').style.visibility="visible";
      },150);
  }
}
</script>