<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div id="inner-content-wrapper" style="height: 400px">
    <div id="inner-content-box" class="pagewidth">
        <div id="user">
            <h1 style="color:#000;font-size:15px;">
                Do you want to end your current Enterprise Plan ?
            </h1>
        </div>
        <div style="padding: 20px 0px;color:grey;font-size:15px;">
            <h1 style="font-size:15px;color:#000;">
                <br/><br/>Thanks for your interest!
            </h1>
        </div>
        <div id ="app-button">		
                        <br/><br/><table style="float:right;"><tr><td>
                <input type="submit" value="Cancel" onclick="window.location.href='<?php echo SITE_URL."clients/my_account"; ?>'; "></td>
<td>
                <input type="submit" value="Confirm" onclick="window.location.href='<?php echo SITE_URL."pricing"; ?>'; "></td>
            </tr>
</table>
            
        </div>
    </div>
</div>