<script type="text/javascript" src="http://widgets.paper.li/javascripts/sr.iframe.min.js"></script>
<script type="text/javascript">
Paperli.PaperFrame.Show({
domain: 'paper.li',
pid: '1b343638-6da7-4477-a1a7-aa730f8762f8'
});
</script>