<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div id="inner-content-wrapper" style="height: 400px">
    <div id="inner-content-box" class="pagewidth">
        <div id="user">
            <h1 style="color:#000;font-size:15px;">
                <?php $layout->sessionFlash(); ?>
            </h1>
        </div>
        <?php if($this->Session->read('Nothanks') == 'No_thanks'){?>
            
      <?php } else{?>
        <div style="padding: 20px 0px;color:grey;font-size:15px;">
            <h1 style="font-size:15px;color:#000;">
                <br/><br/>Thanks for your interest!
            </h1>
        </div>
       <?php }?>
        <div id ="app-button">		
                <br/><br/>
                <?php if($this->Session->read('RedirectTo') == 'Client_edit'){?>
                	<input type="submit" value="Done" onclick="window.location.href='<?php echo SITE_URL."clients/edit_account"; ?>'; ">
                <?php }else if($this->Session->read('RedirectTo') == 'Client_profile'){?>
            		<input type="submit" value="Done" onclick="window.location.href='<?php echo SITE_URL."fronts/index"; ?>'; ">
            	<?php }else if($this->Session->read('RedirectTo') == 'Member_profile'){?>
            		<input type="submit" value="Done" onclick="window.location.href='<?php echo SITE_URL."users/my_account"; ?>'; ">
            	<?php }else if($this->Session->read('RedirectTo') == 'Pricing'){?>
            	    <input type="submit" value="Done" onclick="window.location.href='<?php echo SITE_URL."pricing/pricing"; ?>'; ">
            	<?php }
            	else {?>
            		<input type="submit" value="Done" onclick="window.location.href='<?php echo SITE_URL."fronts/index"; ?>'; ">
            	<?php }?>
        </div>
    </div>
</div>
<style type="text/css">
.flash_good {
    font-family: Ubuntu;
    font-size: 15px;
}
</style>