<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
        <div class="Profile_page_container">
            <div id="pro-creation">

            </div>
            <div class="mentor_details" style="margin-top:0px; float:none; margin-bottom: 35px;">  
            	<iframe src="<?php echo SITE_URL;?>invoice/preview_pdf/" width="100%" height="800px;"></iframe>
			</div>
        </div>
        
         <div id="Apply" style="float: right; margin-top:30px;">
         	<input id="closeButton" value="Close" class="submitProfile" type="submit" style="margin-bottom:10px; margin-left: 10px;" onclick="close_window();">
    	</div>
    
    </div>
    

</div>
 
<script type="text/javascript">
 function close_window() {

	var ww = window.open(window.location, '_self'); 
	ww.close();
  }
</script>