<?php echo($this->Html->css(array('regist_popup'))); ?>
<div id="registerationFm">
	<div class="feedbackcontent">
		<p><strong>Title : </strong></strong><strong><?php echo ucfirst($invData['Invoice']['title']);?></strong></p><br />
		<?php $invTime = str_replace(',',' ',$invData['Invoice']['inv_time']); ?>
		<p><strong>Date & time : </strong><strong><?php echo date('d-M-y',$invData['Invoice']['inv_date']).", ".$invTime;?></strong></p>
	</div>
</div>