<script type="text/javascript">

function submitForm(keyword){

	document.getElementById('CityKeyword').value = keyword;
	//document.getElementById('mainSearchForm').submit();
	var searchWord = document.getElementById('CityKeyword').value.toLowerCase();
	var cityWord = document.getElementById('username').value.toLowerCase();
          
	if(cityWord == "international")
		cityWord = "new york";

       if(cityWord == ",")
		cityWord = "new york";

	searchWord = searchWord.replace(/ /gi, "-"); 
	cityWord = cityWord.replace(/ /gi, "-"); 

	TINY.box.show({html:'<div class="tinner-search" ></div>',width:100,height:100,close:0});

	window.location.href=SITE_URL+'browse/search_result/'+searchWord+'/'+cityWord;
	
	return false;
}
jQuery(document).ready(function() {
	setTimeout(function(){jQuery("#ankit").css('background-color','rgba(0, 0, 0, 0.3)'); }, 3000);
});

function sendingSearch() {

	var searchWord = document.getElementById('CityKeyword').value.toLowerCase();
	var cityWord = document.getElementById('username').value.toLowerCase();
          
	var cityWord1 = '';
    var searchWord = htmlEntities(searchWord);
    
    TINY.box.show({html:'<div class="tinner-search" ></div>',width:100,height:100,close:0});
		
	if(searchWord == ''){
    	searchWord = "browse all";}
  
    if(cityWord == "international" || cityWord == '' ){
            
	cityWord1 = "new york";
        cityWord = "ny";
    }

   	if(cityWord.indexOf(",") !=-1){
       var split = cityWord.split(",");
       cityWord1 = split[0];
       cityWord = split[1];
    }
      
    if(searchWord.charAt(0) == " "){
    	searchWord = searchWord.trim();
    }
    
	searchWord = searchWord.replace(/ /gi, "-"); 
	cityWord1 = cityWord1.replace(/ /gi, "-"); 
    cityWord = cityWord.replace(/ /gi, "");
    cityWord = cityWord.toUpperCase();
	
	window.location.href=SITE_URL+'browse/search_result/'+searchWord+'/'+cityWord+'/'+cityWord1;
	
	return false;
}

   function htmlEntities(str) {
    return String(str).replace(/&/g, '_and').replace(/</g, 'lt').replace(/\//g, '_slash').replace(/-/g, '_or');
}
  function searchKeyPress(e)
    {
        // look for window.event in case event isn't passed in
        if (typeof e == 'undefined' && window.event) { e = window.event; }
        if (e.keyCode == 13)
        {
            document.getElementById('btnSearch').click();
        }
    }
</script>
<div id="spotlight-wrapper" style="background:url('<?php echo SITE_URL?>img/media/home-banner4.jpg');border:0px;">
<?php // e($form->create('City', array('url' => array('controller' => 'browse','action' => 'search_result'),'id'=>'mainSearchForm')));

    $city_name = $keyword = "";
   /* if($this->Session->check(session_id()))
	{
		$search_url = SITE_URL.'fronts/search_result';
		$sess_id = session_id();
        if(isset($_SERVER['HTTP_REFERER']) && $_SERVER['HTTP_REFERER']!=$search_url)
		{ unset($_SESSION[$sess_id]['keyword']); }
		else
		{
			if(isset($_SERVER['HTTP_REFERER']) && $_SERVER['HTTP_REFERER']==$search_url && isset($this->params['pass'][0]) && $this->params['pass'][0]!='home')
			{ 
				$sessionData = $this->Session->read(session_id());
				$city_name= $sessionData['city'].', '.$sessionData['state'];
				if(isset($sessionData['keyword']))
					$keyword = $sessionData['keyword'];
				else
					$keyword = '';			
			}
			else{ 
				//echo $this->Session->check('back_hack');
				if($this->Session->check('back_hack') && @$this->params['pass'][0]!='home'){
					$this->Session->delete('back_hack');
					$sessionData = $this->Session->read(session_id());
					$city_name= $sessionData['city'].', '.$sessionData['state'];
					if(isset($sessionData['keyword']))
						$keyword = $sessionData['keyword'];
					else
						$keyword = '';
				}else{
					unset($_SESSION[$sess_id]['keyword']); 
				}	
			}
			
		 }
	}*/
	
	if($this->Session->read('Auth.User.id') =='' || $this->Session->read('Auth.User.id') ==1) {
		if(trim($city_name) == "" || trim($city_name) == ","){
			$city_name	=	'City, ST';	
		}		
	}else{
		if(trim($city_name) == "" || trim($city_name) == ","){
                     if($loggedInUsercityData['City']['city_name'] != "" && $loggedInUsercityData['City']['state'] != ""){
			$city_name	=	$loggedInUsercityData['City']['city_name'].', '.$loggedInUsercityData['City']['state'];
                    }
                    else{
                    $city_name = 'New York, NY';
                    }
		}	
	}
	
?>
	<div id="spotlight" class="pagewidth">
		<div id="find-mentor">
		   <div id="ankit" style="position: relative; top: 122px;">
                       
                     <h1><?php echo Configure::read('SearchBarHeading');?></h1>
			<h2><?php echo Configure::read('SearchBarSubheading');?></h2>
			<div id="text-box">
				<div id="enter-keywords">
					<div id="enter-text">
					<?php 	e($form->input('City.keyword',array('id'=>'CityKeyword','onkeypress'=>'searchKeyPress(event);','div'=>false,'label'=>false,'class'=>'forminput-new','type'=>'text',"placeholder"=>"Consultant's name -OR- Area of expertise",'value'=>$keyword,'style'=>'width:99%;')))	?>
					</div>
					<div id="new-york">
					    <?php
						if($this->Session->read('Auth.User.id') =='' || $this->Session->read('Auth.User.id') ==1) {
						    e($form->input('City.city_name',array('id'=>'username','div'=>false,'label'=>false,'class'=>'newyork','onclick'=>'select();','type'=>'text','placeholder'=>'City, ST','value'=>$city_name)));
						}else{
						    e($form->input('City.city_name',array('id'=>'username','div'=>false,'label'=>false,'onclick'=>'select();',
								    'placeholder'=>'City, ST','value'=>$city_name)));
						}
					    ?>
					    <?php e($html->image('loading.gif',array('id'=>'loading','width'=>'18px','height'=>'18px','alt'=>'Loading','style'=>'margin-top:-30px;float:right;display:none;')));?>
																								
					</div>
				</div>
			   <div id="search">
				<?php //e($form->submit('Search',array('class'=>'searchSubmit','div'=>false,'label'=>false))); ?>
				<input class="searchSubmit" value="Search" type="submit" id="btnSearch" onclick="sendingSearch();"/>
			   </div>	
			</div>
			<div style="padding-left: 15px; font-size:13px; color:#fff; font-family: 'Ubuntu', arial; padding-top: 1px;">
			
					<?php 
                                         $Search1 = Configure::read('popularSearch1');
                                         $Search2 = Configure::read('popularSearch2');
                                         $Search3 = Configure::read('popularSearch3');
                                   $popularSearch1 = Configure::read('popularSearch1');
					$popularSearch2 = Configure::read('popularSearch2');
					$popularSearch3 = Configure::read('popularSearch3');
                                   $popularSearch1 = str_replace(" ","-",$popularSearch1);
                                   $popularSearch2 = str_replace(" ","-",$popularSearch2);
                                   $popularSearch3 = str_replace(" ","-",$popularSearch3);
                                   if($city_name == "City, ST")
                                   $city_name = "New York, NY";

                                  
                                   $city_state=explode(',',$city_name);
                                   if(false !== stripos($city_state[0]," "))
                                   $city_state[0] = str_replace(" ","-",$city_state[0]);
                                   $city_state[0] = strtolower($city_state[0]);
                                   $city_state[1] = trim($city_state[1]," ");
                                   $city_name = $city_state[1].'/'.$city_state[0];
					
					?>
	   			   <span style="font-size:15px; font-weight:bold;  padding: 5px 0 25px; padding-right: 15px;">Popular searches </span>
	   			   <a href="<?php e(SITE_URL."browse/search_result/".$popularSearch1.'/'.$city_name);?>" onclick="submitForm('<?php echo $popularSearch1 ?>');" style="font-size:14px; color:#fff; font-family: 'Ubuntu', arial;"> <?php echo $Search1?></a>,
	   			   <a href="<?php e(SITE_URL."browse/search_result/".$popularSearch2.'/'.$city_name);?>" onclick="submitForm('<?php echo $popularSearch2 ?>');" style="font-size:14px; color:#fff; font-family: 'Ubuntu', arial;"> <?php echo $Search2?></a>,
	   			   <a href="<?php e(SITE_URL."browse/search_result/".$popularSearch3.'/'.$city_name);?>" onclick="submitForm('<?php echo $popularSearch3 ?>');" style="font-size:14px; color:#fff; font-family: 'Ubuntu', arial;"> <?php echo $Search3?></a>
   			   </div>
		</div>
            </div>	
	</div>
	<?php //e($form->end()); ?>
</div>
<!-- http://www.codeproject.com/Tips/191892/How-to-find-current-location-based-on-the-IP-addre 
<script type="text/javascript" src="http://j.maxmind.com/app/geoip.js"></script>
<script type="text/javascript">
	var conntry_code 		= geoip_country_code();
	var geoip_city 	 		= geoip_city();	
	var geoip_region_name 	= geoip_region_name();	
	jQuery(document).ready(function(){
		jQuery.ajax({
			url:SITE_URL+'fronts/getStateCode',
			type:'post',
			dataType:'json',
			data:'state_name='+geoip_region_name + '&amp;country_code=' + conntry_code + '&amp;city=' + geoip_city,
			success:function(res){
				if(res.value !=''){
					state_name = res.value;	
					if(conntry_code =='US'){
						jQuery(".newyork").val(geoip_city+', '+state_name);
					}else{
						jQuery(".newyork").val('International');
					}					
				}else{
					if(conntry_code =='US'){
						jQuery(".newyork").val(geoip_city+', '+geoip_region_name);
					}else{
						jQuery(".newyork").val('International');
					}
				}
			}
		});
		
	});
</script> -->
<script type="text/javascript" src="http://api.ipinfodb.com/v3/ip-country/?key=75c52efd0ce60f4a2da885d0696500e98f6db4c72ae8eee3ef05277d661d715a&ip=23.21.195.189&format=json"></script>

<script type="text/javascript">
//function geolocate(timezone, cityPrecision, objectVar).
//If you rename your object name, you must rename 'visitorGeolocation' in the function
var visitorGeolocation = new geolocate(false, true, 'visitorGeolocation');

    
//Check for cookie and run a callback function to execute after geolocation is read either from cookie or IPInfoDB API
var callback = function(){
                //alert('Visitor country code : ' + visitorGeolocation.getField('regionName'))
 
               };
visitorGeolocation.checkcookie(callback);
 var conntry_code 		= visitorGeolocation.getField('countryCode');
  var geoip_city 	 	= visitorGeolocation.getField('cityName');	
  var geoip_region_name 	= visitorGeolocation.getField('regionName');
  //alert(geoip_city);
     jQuery(document).ready(function(){
           jQuery.ajax({
			url:SITE_URL+'fronts/getStateCode',
			type:'post',
			dataType:'json',
			data:'state_name='+geoip_region_name + '&amp;country_code=' + conntry_code + '&amp;city=' + geoip_city,
			success:function(res){
				if(res.value !=''){
					state_name = res.value;	
					if(conntry_code =='US'){
						jQuery(".newyork").val(geoip_city+', '+state_name);
					}else{
						jQuery(".newyork").val('International');
					}					
				}else{
					if(conntry_code =='US'){
						jQuery(".newyork").val(geoip_city+', '+geoip_region_name);
					}else{
						jQuery(".newyork").val('International');
					}
				}
			}
		});
              });
</script>
<!--This Java Script is used only Autocomplte Searching Product name start-->
<script type="text/javascript">

function monkeyPatchAutocomplete() {

    jQuery.ui.autocomplete.prototype._renderItem = function( ul, item) {

        return jQuery( "<li></li>" )
            .data( "item.autocomplete", item )
            .append( "<a>" + item.label + "</a>" )
            .appendTo( ul );
    };
}

	function getKeywords(){

		var allKeywords = <?php echo json_encode($allKeywords); ?>;

		return allKeywords;
	}
	
	var URL = '<?php e(SITE_URL); ?>fronts/search';

	jQuery(document).ready(function(){

	monkeyPatchAutocomplete();

	var username = jQuery('#username');

	username.autocomplete({
	minLength    : 1,
	source        : URL
	});

	var CityKeyword = jQuery('#CityKeyword');

	CityKeyword.autocomplete({
	minLength    : 1,
	source        : getKeywords()
	});

	});

	// A custom jQuery method for placeholder text:

	jQuery.fn.defaultText = function(value){

	var element = this.eq(0);
	element.data('defaultText',value);

	element.focus(function(){
	if(element.val() == value){
	element.val('').removeClass('defaultText');
	}
	}).blur(function(){
	if(element.val() == '' || element.val() == value){
		element.addClass('defaultText').val(value);
	}
	});

	return element.blur();
	}
</script>
<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "http://www.mentorsguild.com/",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "https://query.mentorsguild.com/browse/search_result/searchWord/state/city_name?q={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>
<style type="text/css">
/** //file:app/webroot/css/autocomplete.css **/
/** search container **/
.users{
	width:640px;
	margin:0 auto;
	max-height:180px;
	overflow:auto;
}
#content p{
	width:300px;
	margin:0 auto;
	text-align:center;
	max-height:180px;
	overflow:auto;
}
#username{
	border:1px solid silver;
	padding:3px 10px;
	clear:none;
	width:400px;
	max-height:180px;
	overflow:auto;
}
.input{
	clear:none;
	float:left;
}
.submit{
	clear:none;
	float:right;
	padding:20px 0;
}
/* Styling the markup generated by the autocomplete jQuery UI widget */

ul.ui-autocomplete{
	width:200px;
	background-color:white;
	border:1px solid gray;
	margin-left:-3px !important;
	margin-right:1px !important;
	margin-top:-4px;
	font-family:Helvetica, Arial,sans-serif;max-height:180px;
	overflow:hidden;
	max-height:160px;
}
ul.ui-autocomplete li{
	list-style:none;
	border-top:1px solid white;
	border-left:1px solid white;
	margin:0;
	max-height:180px;
	overflow:auto;
}
ul.ui-autocomplete li:first-child{
	border-top:none;
}
ul.ui-autocomplete li:last-child{
	border-bottom:none;
}
ul.ui-autocomplete li a{
	border:none !important;
	text-decoration:none !important;
	padding:2px;
	display:block;
	color:black;
}
ul.ui-autocomplete li img{
	margin-right:4px;
}
ul.ui-autocomplete li span{
}
#ui-active-menuitem{
	background-color:#efefef;
	cursor:pointer;
}
</style>



