<?php header("Content-type: application/pdf"); ?>
<div id="header-content">  
        <div id="logo-box">
            <?php echo $this->Html->image('media/logo.png',array('alt'=>'GUILD')); ?>
        </div>
</div>
<?php echo $content_for_layout; ?>