<?php e($html->css(array('regist_popup'))); 
//echo strlen("this is testing feedback for this menotor. this is testing feedback for this menotor. this is testing feedback for this menotor. this is testing feedback for this menotor. this is testing feedback for this menotor. this is tes."); die;
?>
<div id="registerationFm">
	<?php $MenterData = $this->General->getUserInfo($this->Session->read('Auth.User.id')); ?>
	<h1 style="font-size:18px;">Feedback for <?php echo ucfirst(strtolower($MenterData['UserReference']['first_name'])).' '.ucfirst(strtolower($MenterData['UserReference']['last_name']));?>
	<?php 
			if(isset($mentorData['UserReference']['feedback_link'])  && $mentorData['UserReference']['feedback_link'] != ''){  ?>
	    	<span style="position: absolute; right: 30px; font-size: 14px; top: 35px;">
	    		<a class="registeration" alt="Registration" href="javascript:other_testimonials('<?php echo $this->Session->read('Auth.User.id');?>');">Other testimonials</a>
	    	</span>
		<?php }?>
	</h1>
	<!-- VL 27/12-->
	<div class="feedbackcontent"  style="margin-bottom: -17px;">
	<?php 
	$feedCount = 0; $applybuttonPadding="";
    //pr($data); die;
    if(isset($data) && count($data)>0){
	
		 e($form->create('Feedback',array('url'=>array('controller'=>'feedback','action'=>'modechange'),'id'=>'invoiceForm'))); 
		
		  $feedCount = count($data);
          $i=1;
		  foreach($data as $feed)
		  {
		    $userUrl = $this->General->getUserReferenceData($feed['Feedback']['client_id']); 
		    if($userUrl['User']['role_id'] == Configure::read('App.Role.Mentee'))
		    	$menteeUrl = SITE_URL."clients/my_account/".strtolower($userUrl['UserReference']['url_key']);
		    else
		    	$menteeUrl = SITE_URL.strtolower($userUrl['UserReference']['url_key']);
	        if($i<3){
	          $prv=''; $pub=''; 
	          if($feed['Feedback']['recommended']=='0')
                $recom = 'No';
              if($feed['Feedback']['recommended']=='1')
                $recom = 'Maybe';
              if($feed['Feedback']['recommended']=='2')
                $recom = 'Yes';
               
              if($feed['Feedback']['type']=='0')
                $prv='checked="checked"'; 
              if($feed['Feedback']['type']=='1')
                    $pub='checked="checked"'; 
		?>
		<p align="justify" style="padding-bottom:5px !important;padding-top:5px !important;"><a href="<?php echo $menteeUrl; ?>" target="_blank"><?php echo ucfirst(strtolower($feed['Mentee']['first_name'])).' '.ucfirst(strtolower($feed['Mentee']['last_name']));?></a> <?php echo date('jS F, Y',$feed['Feedback']['created']); ?>		
	       <div style="padding-top: 4px; padding-bottom: 4px; text-indent: 20px; text-align: justify;">
	           <?php 
	               $feedLength = strlen($feed['Feedback']['description']);
	               echo substr(nl2br(strip_tags($feed['Feedback']['description'])),0,227);
	               if($feedLength>227): echo "..."; endif;    
	           ?>
	       </div>
	    </p>
	    <span>Recommended:&nbsp;</span><?php echo $recom; ?>
	    <div class="styled-form feedback-form" style="margin-bottom:2px;">
	        <input onchange="" type="radio" <?php echo $prv; ?> id="inv_mode<?php echo $feed['Feedback']['id'];?>_p1" name="data[Feedback][inv_mode<?php echo $feed['Feedback']['id'];?>]" value="0">
            <label for="inv_mode<?php echo $feed['Feedback']['id'];?>_p1"  style="font-family:'Ubuntu';">Private</label>
            
            <input onchange=""  type="radio" <?php echo $pub; ?> id="inv_mode<?php echo $feed['Feedback']['id'];?>_p2" name="data[Feedback][inv_mode<?php echo $feed['Feedback']['id'];?>]" value="1">
            <label for="inv_mode<?php echo $feed['Feedback']['id'];?>_p2"  style="font-family:'Ubuntu';">Public</label>
            <?php echo $html->image('loading.gif',array('style'=>'display:none;','id'=>'loadImage'.$feed['Feedback']['id'])); ?>
       </div><br/>
	<?php
	           echo $form->hidden('feedId'.$i,array('value'=>"feedId_".$feed['Feedback']['id']));
               echo $form->hidden('feedbackCount',array('value'=>$i));
	       }
	   $i++;
	   } ?>
	    <div id="Apply" role="Apply" style="bottom:25px; position: absolute; right: 26px;">
	        <?php if($feedCount!=0){ ?>
                <div class="" style="clear:both; margin-bottom: 10px;"><a href="<?php echo SITE_URL."feedback/feedbackall/".$this->Session->read('Auth.User.id');?>">Read more>></a></div>
            <?php  } ?>
            <input id="apply" value="Save" class="submitProfile" type="submit">
            <?php //echo $html->image('Loading_Animation.gif',array('height'=>100,'style'=>'display:none;','id'=>'loadImage')); ?>
      </div>
    <?php  e($form->end());
	}
else { ?>
		<div class="feedbackcontent" >
        <p style="padding-top: 20px;">No feedback yet from Mentors Guild clients</p>     
        
</div>
<?php }
	?></div>
	</div>
<style>
    .feedbackcontent{
        padding-top:0px!important;
    }
</style>