<table>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><b>Please Logout from Admin<b></td>		
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><?php e($html->link('Click here',array('controller'=>'users','action'=>'logout'),array('style'=>'color:red;text-decoration:underline;'))); ?>&nbsp;for logout</td>
	</tr>	
</table>