<div class="content_area"> 
		<form id="Submitform" name="Submitform" enctype="multipart/form-data" method="post" action="<?php echo SITE_URL;?>users/refer_member" accept-charset="utf-8">
	<?php $refer = $this->Session->read('refers');
          $fnames = $this->Session->read('fname');
          $lnames = $this->Session->read('lname');
          //$name = explode('.', $refer);
         //$this->Session->delete('refers'); ?>	   
    	
      <p class="member_invitation" style="margin:10px 0 0 0 ;"> Share <?php e(ucfirst($fnames)); ?> <?php e(ucfirst($lnames)); ?>'s Profile  </p>
        <p class="to border_gray" style="margin:10px 0 0 0 ;">  
        	<span class="fleft">  To: </span>  
        	<input type="text" id="email" placeholder="Enter email addresses separated by commas" value="" style="display: block; margin-left: 62px;" name="data[EmailId]">
        </p>
        <p class="subject border_gray" style="margin:10px 0 0 0 ;"> 
        	<span class="fleft"> Subject: </span> 
        	<input type="text" id="subject" placeholder="Enter Subject" value="An expert for your reference" style="display: block; margin-left: 62px;" name="data[EmailSubject]">
        </p>
        <p class="editable" style="margin:10px 0 0 0 ;"> 
        <textarea name="data[EmailBody]" id="emailbody" placeholder="Enter a message">
Hi,

I found this consultant's profile on Mentors Guild and thought you might be interested.

Thanks,
<?php echo $fname?>
</textarea>

		</p>
        <p class="border_gray" style="margin:10px 0 0 0 ;"> 
        <span class="fleft" style="color:#000;"> <span style="margin-right: 10px;">URL:</span><span>http://www.mentorsguild.com/<?php echo $refer; ?></span> </span> </p> 
        <input id="apply" type="submit" value="Send Email"  class="submitProfile" style="padding:7px; margin-top:21px; float:right;" onclick="return validateInvitation();">
        
       	</form>
</div>




