<div id="inner-content-wrapper" style="height: 400px">
	<div id="inner-content-box" class="pagewidth">
		<div id="user">
			<div id="upload-resume">
				<p>
				Your application to become a client has been submitted
				</p>
				<p>Thanks for your interest!</p>
			</div>
			<div id ="app-button">
			<?php e($form->create('Null',array('url'=>array('controller'=>'fronts','action'=>'index'))));?>
					<?php e($form->submit('Done',array('id'=>'submit'))); e($form->end()); 
				?>
			</div>
	   </div>
	</div>
</div>