<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Mentors Guild</title>
</head>
<body>
	<table cellspacing="0" cellpadding="0" width="100%" align="center"  style="background-color:#ffffff;">
		<tr>
			<td>&nbsp;</td>
			<td>
			<div class="holder">
				<br clear="all"><br clear="all">	
				<?php echo $content_for_layout; ?>				
			</div>			
			</td>
			<td>&nbsp;</td>
		</tr> 		
	</table>	
</body>
</html>
<?php //die;?>