	<div id="inner-content-wrapper">
		<?php $noOfUSers = count($dUsersFinal);?>
    	<div id="inner-content-box" class="pagewidth">
      		<div id="user-account" style="margin-bottom: 140px;">
        		<div class="account-form">
        			<div class="heading" id="financial-management">
		              	    <p>
		<span><?php 
		
		$dirCount = count($dUsersFinal);
		
		if($keyword == ''){
		echo "Browse other experts";
		}else{
		echo "$keyword";	
		}
		?></span> 
		<span style="float: right; font-weight: normal;"> <?php echo($dirCount." experts");?></span>
		</p>
		            </div>
		            <?php $counter = 0;
		            $oneThirdUser = ceil($noOfUSers/3);
		            $twoThirdUser = $oneThirdUser + $oneThirdUser;?>
	          		<div class="column first" style="width: 30%;">
	          			<?php foreach ($dUsersFinal as $key=>$value){?>
		            		<div class="subheading careerHOME">
		              			<span class="name"><?php echo($value['DirectoryUser']['last_name'].', '.$value['DirectoryUser']['first_name']); ?></span>
			              		<input class="expButton1 careerBTN" type="button" value="View Profile" onclick="window.open('<?php echo(trim($this->General->addhttp($value['DirectoryUser']['linkedin_url'])));?>')">
		              			<span title="Open" class="darrow" onclick="showonlyone('box<?php echo($value['DirectoryUser']['id']);?>');"></span>
		              			<div class="openCONTENT" id="box<?php echo($value['DirectoryUser']['id']);?>">
		              				<span title="Close" class="darrowTOP" onclick="showonlyone('box<?php echo($value['DirectoryUser']['id']);?>');"></span>
		              					<table>
		              						<?php if($value['DirectoryUser']['sendEmail'] == 1){?>
		              						<tr>
		              							<td><img src="<?php echo(SITE_URL);?>images/email.png"></td>
		              							<td>I want to consult <?php echo($value['DirectoryUser']['first_name']."  ".$value['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL."fronts/consult/".$value['DirectoryUser']['id']);?>">Email</a></td>
		              						</tr>
		              						<?php }?>
	
		              						<tr>
		              							<td><img src="<?php echo(SITE_URL);?>images/user.png"></td>
		              							<td>I am <?php echo($value['DirectoryUser']['first_name']."  ".$value['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL.'fronts/claim_profile/'.$value['DirectoryUser']['id']);?>"> Claim your free profile</a></td>
		              						</tr>
		              					</table>
		              			</div>
		              		</div>
			            	<?php $counter++;  if($counter == $oneThirdUser) {
	            					break;
	            				}?>
            			<?php }?>
		            </div>
		            <div class="column last" style="width: 30%; float: left; margin-left: 42px;">
		            	<div class="clear"></div>
		            	<?php while( $counter < $noOfUSers){?>
		            		<div class="subheading careerHOME">
		              			<span class="name"><?php echo($dUsersFinal[$counter]['DirectoryUser']['last_name'].', '.$dUsersFinal[$counter]['DirectoryUser']['first_name']); ?></span>
			              		<input class="expButton1 careerBTN" type="button" value="View Profile" onclick="window.open('<?php echo(trim($this->General->addhttp($dUsersFinal[$counter]['DirectoryUser']['linkedin_url'])));?>')">
		              			<span title="Open" class="darrow" onclick="showonlyone('box<?php echo($dUsersFinal[$counter]['DirectoryUser']['id']);?>');"></span>
		              			<div class="openCONTENT" id="box<?php echo($dUsersFinal[$counter]['DirectoryUser']['id']);?>">
		              				<span title="Close" class="darrowTOP" onclick="showonlyone('box<?php echo($dUsersFinal[$counter]['DirectoryUser']['id']);?>');"></span>
			              				<table>
			              					<?php if($dUsersFinal[$counter]['DirectoryUser']['sendEmail'] == 1){?>
		              						<tr>
		              							<td><img src="<?php echo(SITE_URL);?>images/email.png"></td>
		              							<td>I want to consult <?php echo($dUsersFinal[$counter]['DirectoryUser']['first_name']."  ".$dUsersFinal[$counter]['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL."fronts/consult/".$dUsersFinal[$counter]['DirectoryUser']['id']);?>">Email</a></td>
		              						</tr>
		              						<?php }?>

		              						<tr>
		              							<td><img src="<?php echo(SITE_URL);?>images/user.png"></td>
		              							<td>I am <?php echo($dUsersFinal[$counter]['DirectoryUser']['first_name']."  ".$dUsersFinal[$counter]['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL.'fronts/claim_profile/'.$dUsersFinal[$counter]['DirectoryUser']['id']);?>"> Claim your free profile</a></td>
		              						</tr>
		              					</table>
			            		</div>
			            	</div>
			            	<?php $counter++;  if($counter == $twoThirdUser) {
	            					break;
	            				}?>
            			<?php }?>
       				</div>
       				<div class="column last" style="width: 30%; float: right;">
		            	<div class="clear"></div>
		            	<?php while( $counter < $noOfUSers){?>
		            		<div class="subheading careerHOME">
		              			<span class="name"><?php echo($dUsersFinal[$counter]['DirectoryUser']['last_name'].', '.$dUsersFinal[$counter]['DirectoryUser']['first_name']); ?></span>
                                                 <input class="expButton1 careerBTN" type="button" value="View Profile" onclick="window.open('<?php echo(trim($this->General->addhttp($dUsersFinal[$counter]['DirectoryUser']['linkedin_url'])));?>')">
		              			<span title="Open" class="darrow" onclick="showonlyone('box<?php echo($dUsersFinal[$counter]['DirectoryUser']['id']);?>');"></span>
		              			<div class="openCONTENT" id="box<?php echo($dUsersFinal[$counter]['DirectoryUser']['id']);?>">
		              				<span title="Close" class="darrowTOP" onclick="showonlyone('box<?php echo($dUsersFinal[$counter]['DirectoryUser']['id']);?>');"></span>
			              				<table>
			              					<?php if($dUsersFinal[$counter]['DirectoryUser']['sendEmail'] == 1){?>
		              						<tr>
		              							<td><img src="<?php echo(SITE_URL);?>images/email.png"></td>
		              							<td>I want to consult <?php echo($dUsersFinal[$counter]['DirectoryUser']['first_name']."  ".$dUsersFinal[$counter]['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL."fronts/consult/".$dUsersFinal[$counter]['DirectoryUser']['id']);?>">Email</a></td>
		              						</tr>
		              						<?php }?>

		              						<tr>
		              							<td><img src="<?php echo(SITE_URL);?>images/user.png"></td>
		              							<td>I am <?php echo($dUsersFinal[$counter]['DirectoryUser']['first_name']."  ".$dUsersFinal[$counter]['DirectoryUser']['last_name']);?>. <a href="<?php echo(SITE_URL.'fronts/claim_profile/'.$dUsersFinal[$counter]['DirectoryUser']['id']);?>"> Claim your free profile</a></td>
		              						</tr>
		              					</table>
			            		</div>
			            	</div>
			            	<?php $counter++;  ?>
            			<?php }?>
       				</div>
      			</div>
    		</div>
		</div>
	</div>
	
<script type="text/javascript">
function showonlyone(thechosenone) {
 jQuery('.openCONTENT').each(function(index) {
      if (jQuery(this).attr("id") == thechosenone) {
    	  jQuery(this).toggle(300); }
      else {
    	  jQuery(this).hide(600); }
 });
}

jQuery(document).mouseup(function (e) {

	var container = jQuery(".openCONTENT");

	if (!container.is(e.target) && container.has(e.target).length === 0){
		  container.hide();
	}
});	
</script>
<style>
.openCONTENT {
    z-index: 99;
    position: absolute;
    display: none;
    opacity: 1!important;
    width: 254px;
    height: 110px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #BEBEBE;
    border-right: 6px solid #BEBEBE;
    top: -1px;
    right: 0px;
    background: white!important;
    background-color: white!important;
}
</style>