<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
        <div id="content-submit" class="thanksCENTER">
        	<h5 style="padding-right:15px;">Thanks for posting!</h5>
        	<p>Your project has been submitted for review.</p>
        	<br/>
        	<div class="button-set">
 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" style="margin-right:40px;" class="LTSpreview" value="View your project here" onclick="window.location.href='<?php echo SITE_URL?>project/view_project/<?php echo ($activation_key);?>'; " name="">
			</div>
	    </div>
    </div>
</div>
	