@font-face {
    font-family: 'UbuntuM';
    src: url('../fonts/fonts/ubuntu-medium/UbuntuM.eot');
    src: url('../fonts/fonts/ubuntu-medium/UbuntuM.eot') format('embedded-opentype'),
         url('../fonts/fonts/ubuntu-medium/UbuntuM.woff2') format('woff2'),
         url('../fonts/fonts/ubuntu-medium/UbuntuM.woff') format('woff'),
         url('../fonts/fonts/ubuntu-medium/UbuntuM.ttf') format('truetype'),
         url('../fonts/fonts/ubuntu-medium/UbuntuM.svg#UbuntuM') format('svg');
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/fonts/opensans/OpenSansRegular.eot');
    src: url('../fonts/fonts/opensans/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/fonts/opensans/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/fonts/opensans/OpenSansRegular.woff') format('woff'),
         url('../fonts/fonts/opensans/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/fonts/opensans/OpenSansRegular.svg#OpenSansRegular') format('svg');
}