/*common*/
.pad0{
	padding: 0px;
}
.margin0{
	margin: 0px;
}
.mshow{
	display: none !important;
}
::selection{
	background-color: #d03135;
	color: #fff;
}
.text-center{
	text-align: center !important;
}
.shownav{
	display: none !important;
}
/*errors*/
.form-control{
	color: #000 !important;
}
.error{
	color: #d03135;
	font-family: 'ubuntulight';
	font-size: 13px;
}
.form-control.error{
	border: 2px solid #d03135;
}
/*button*/
.get-started{
	background-color: #d03135;
	color: #fff;
	font-family: 'UbuntuM';
	font-size: 24px;
	padding: 10px 40px;
	border: 1px solid #d03135;
}
.get-started:hover{
	background-color: #000 !important;
	color: #fff !important;
	border: 1px solid #000 !important;
}
/*header css*/
.header-align{
	margin-bottom: 0px;
	height: 90px;
	border-top: 2px solid #d03135;
	background-color: #fff;
}
.header-align .navbar-brand{
	padding: 0px;
}
.header-align .navbar-brand img{
	width: 190px;
	margin-top: 10px;
}
.header-align .navbar-right li{
	color: #000;
	font-family: 'ubuntulight';
	font-size: 16px;
	padding: 0px 10px;
	cursor: pointer;
	margin-top: 50px;
}
.header-align .navbar-right li a{
	font-family: 'ubuntulight';
	padding: 0px;
	color: #d03135;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
}
.header-align .nav-top{
	position: absolute;
	right: -5px;
	top: 10px;
}
.header-align .nav-top li{
	display: inline-block;
	font-family: 'UbuntuM';
	color: #000;
	font-size: 16px;
	cursor: pointer;
	margin-left: 30px;
	font-weight: 300;
}
.header-align .nav-top li a{
	font-family: 'ubuntulight';
	font-size: 16px;
	font-weight: 700;
	padding: 5px 10px;
	border: 1px solid #d03135;
	position: relative;
	top: 0px;
	cursor: pointer;
	text-decoration: none;
	background-color: #d03135;
	color: #fff !important;
}
.header-align .navbar-toggle {
	border: none;
	margin-top: 25px;
}
.header-align .navbar-toggle:hover {
	background-color: #fff;
}
.header-align .navbar-toggle .icon-bar {
	background-color: #d03135;
	width: 20px;
	height: 3px;
}
.header-align .navbar-collapse {
	border: none;
	position: relative;
}
.navbar-header button{
	margin-top: 20px;
}
.header-align .profile-dropdown{
	top: -3px;
}
.header-align .profile-dropdown .dropdown-toggle{
	padding: 0px;
	border: none;
}
.header-align .profile-dropdown .dropdown-toggle .profile-img{
	display: inline-block;
	width: 30px;
	height: 30px;
	overflow: hidden;
	border-radius: 50%;
	background: #ccc;
}
.header-align .profile-dropdown .dropdown-toggle:hover,
.header-align .profile-dropdown .dropdown-toggle:active:hover,
.header-align .profile-dropdown .dropdown-toggle:focus
{

	background-color: transparent;
}
.header-align .profile-dropdown .dropdown-toggle .profile-img img{
	width: 100%;
}
.header-align .profile-dropdown .caret{
	position: absolute;
	top: 13px;
	right: -14px;
}
.header-align .profile-dropdown ul li{
	margin-top: 0px;
	line-height: 30px;
	padding: 0px;
}
.header-align .profile-dropdown ul li a{
	padding: 10px;
}
.header-align .profile-dropdown .dropdown-menu{
	right: -20px;
}
.btn:focus,.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover{
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;
	background-color: #d03135;
	color: #fff;
	border: none;
}
/*banner section*/
#banner-section{
	margin-top: 90px;
	position: relative;
}
#banner-section .get-started{
	margin-top: 20px;
}
#banner-section .banner-content{
	margin-top: 13%;
}
#banner-section .banner-content h1{
	font-family: 'UbuntuM';
	color: #fff;
	font-size: 35px;
}
#banner-section .banner-content p{
	font-family: 'ubuntulight';
	color: #fff;
	font-size: 24px;
}
#banner-section .featured-work{
	width: 1000px;
	margin: 0 auto;
	margin: 50px auto;
}
#banner-section .featured-work .heading h5{
	font-family: 'UbuntuM';
	color: #fff;
	text-decoration: underline;
	font-size: 24px;
	margin-bottom: 60px;
}
#banner-section .featured-work .featured-desc img{
	display: block;
	margin: 0 auto;
}
#banner-section .featured-work .featured-desc label{
	font-family: 'ubuntulight';
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
}
#banner-section .blockquote-reverse{
	border-right: 0px solid #eee;
}
.banner-content .start-img{
	width: 210px;
}
/*impression-section*/
#impression-section{
	background-color: #000;
	padding: 80px 0px;
}
#impression-section .impression-desc h1{
	font-family: 'UbuntuM';
	color: #fff;
	font-size: 35px;
	margin-top: 0px;
	margin-bottom: 20px;
}
#impression-section .impression-desc ul{
	padding-left: 20px;
}
#impression-section .impression-desc p{
	font-family: 'ubuntulight';
	color: #fff;
	font-size: 24px;
}
#impression-section .impression-desc ul li{
	font-family: 'ubuntulight';
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.6px;
}
/*amplify section*/
.ampliy-section#impression-section,
#testimonial-section,
#portfolio-section{
	background-color: #CCCCCC;
	padding: 80px 0px;
}
#impression-section.ampliy-section .impression-desc h1,
#impression-section.ampliy-section .impression-desc p,
#impression-section.ampliy-section .impression-desc ul li{
	color: #000;
}
#impression-section.ampliy-section .impression-desc ul li{
	font-family: 'ubuntulight';
}
/*testimonial-section*/
#testimonial-section{
	padding-bottom: 30px;
}
#testimonial-section .testimonial-heading h1,
#portfolio-section .testimonial-heading h1{
	font-family: 'UbuntuM';
	color: #000;
	font-size: 35px;
	margin-top: 0px;
}
#testimonial-section .testimonial-heading p,
#portfolio-section .testimonial-heading p{
	font-family: 'ubuntulight';
	color: #000;
	font-size: 16px;
}
.testimonial-container .tesimonial-part .person-img{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
	overflow: hidden;
}
.testimonial-container .tesimonial-part .person-img img{
	width: 100%;
}
.testimonial-container{
	background-color: #EFEFEF;
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
}
.testimonial-container .tesimonial-part .person-desc{
	display: inline-block;
	width: 70%;
	padding-left: 10px;
	padding-top: 10px;
}
.testimonial-container .tesimonial-part .person-desc p,.testimonial-container .tesimonial-part .person-desc span{
	font-family: 'ubuntulight';
	color: #000;
	font-size: 16px;
	line-height: 24px;
}
.testimonial-container .tesimonial-part .person-desc label{
	display: block;
	font-family: 'UbuntuM';
	color: #000;
	font-size: 16px;
}
.testimonial-container .carousel-control.right:hover,
.testimonial-container .carousel-control.left:hover{
	color: #d03135;
}
.testimonial-container .carousel-control.right{
	position: absolute;
	margin-right: -50px;
	top: 50px;
	right: -60px;
	cursor: pointer;
}
.testimonial-container .carousel-control.left{
	position: absolute;
	margin-left: -50px;
	top: 50px;
	left: -60px;
	cursor: pointer;
}
.testimonial-container .carousel-control.right,
.testimonial-container .carousel-control.left{
	background-image: none !important;
}
/*talkto us*/
#interested-section{
	background-color: #CCCCCC;
	padding: 40px 0px;
}
#interested-section .get-started{
	background-color: #d03135;
	color: #fff;
	font-family: 'UbuntuM';
	font-size: 24px;
	width: 50%;
	padding: 10px;
}
#interested-section .form-interest{
	width: 400px;
	margin: 0 auto;
	margin-top: 20px;
}
#interested-section .form-success{
	margin-top: 30px;
}
#interested-section .form-success p{
	font-family: 'UbuntuM';
	color: #d03135;
	font-size: 16px;
}
#interested-section .form-interest .get-started{
	width: 100%;
}
#interested-section .form-interest .form-control{
	border-radius: 0px;
	box-shadow: none;
	font-family: 'ubuntulight';
	height: 45px;
}
#interested-section .form-section span{
	font-family: 'UbuntuM';
	font-size: 16px;
	display: block;
	margin: 20px 0px; 
}
/*footer section*/
#footer-section{
	background-color: #222222;
	padding:40px 0px; 
}
#footer-section h2{
	font-family: 'UbuntuM';
	font-size: 16px;
	color: #fff;
	margin-top: 0px;
}
#footer-section p{
	font-family: 'ubuntulight';
	color: #fff;
	font-size: 16px;
}
#footer-section .about-footer ul{
	margin-top: 20px;
}
#footer-section .about-footer ul li{
	line-height: 30px;
	color: #fff;
	font-family: 'UbuntuM';
}
#footer-section .about-footer ul li label{
	font-family: 'ubuntulight';
	opacity: 0.6;
	font-size: 16px;
}
#footer-section .about-footer ul li span{
	font-family: 'ubuntulight';
	font-size: 16px;
}
#footer-section ul li a,
#footer-section ul li a:hover{
	color: #fff;
	font-family: 'ubuntulight';
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}
#footer-section .tweets-footer ul li{
	padding-bottom: 15px;
	cursor: pointer;
}
#footer-section .tweets-footer ul li a{
	cursor: pointer;
}
#footer-section .social-footer ul li{
	display: inline-block;
	margin-right: 10px;
}
#subfooter-section{
	background-color: #2a2a2a;
	padding: 10px 0px;
	padding-top: 15px;
}
#subfooter-section ul{
	margin-bottom: 0px;
}
#subfooter-section ul li,
#subfooter-section ul li a,
#subfooter-section ul li a:hover{
	color: #fff;
	display: inline-block;
	font-family: 'ubuntulight';
	text-decoration: none;
	opacity: 0.9;
	font-size: 16px;
}
#subfooter-section label{
	color: #fff;
	font-family: 'ubuntulight';
	opacity: 0.9;
}
.portfolio-section{
	margin-top: 50px;
}
/*website page css goes here*/
.website-page#banner-section .banner-content{
	margin-top: 10%;
}
.website-page .blockquote-reverse{
	margin-bottom: 0px;
}
.website-page .blockquote-reverse p,
.website-page .blockquote-reverse footer{
	color: #fff;
	font-family: 'UbuntuM';
	font-size: 16px;
} 
.website-page .cariusel-banner{
	width: 750px;
	margin: 0 auto;
	position: relative;
}
.website-page#banner-section .featured-work {
	width: 1000px;
	margin: 0 auto;
}
#banner-section.website-page .featured-work .heading h5 {
	margin-bottom: 20px;
}
.portfolio-section .featured-work label{
	display: block;
	text-align: center;
	font-family: 'UbuntuM';
	font-size: 16px;
	margin-top: 10px;
}
.featured-desc{
	padding: 30px;
	border: 2px solid #ccc;
}
.featured-desc:hover{
	border: 2px solid #d03135;
}
.featured-desc a,.featured-desc a:hover{
	color: #000;
	text-decoration: none;
}
.invest-details .invest-area{
	border-top: 2px solid #d03135;
	width: 450px;
	margin: 0 auto;
	padding: 20px 0px;
	background-color: #EFEFEF;
}
.invest-details .invest-area .invest-heading h1{
	font-family: 'UbuntuM';
	font-size: 24px;
	display: inline-block;
	margin-top: 0px;
}
.invest-details .invest-area .invest-heading label a{
	font-family: 'ubuntulight';
	font-size: 16px;
	color: #d03135;
}
.invest-details .invest-area .invest-heading{
	margin: 20px 0px;
}
.invest-details .i-details ul li{
	font-family: 'ubuntulight';
	font-size: 16px;
	text-align: left;
	line-height: 26px;
}
.invest-details .invest-img{
	width: 270px;
	padding: 50px 0px;
}
.visit-website{
	position: absolute;
	right: 0px;
	z-index: 999;
	background-color: #d03135;
	padding: 10px;
	bottom: 0px;
}
.visit-website label{
	margin-bottom: 0px;
}
.visit-website label a,.visit-website label a:hover{
	font-family: 'ubuntulight';
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}
.upfront-label{
	font-family: 'UbuntuM';
	font-size: 16px;
	color: #000;
	display: block;
	margin-bottom: 35px;
}
/*login modal*/
.loginModal .modal-header {
	border-bottom: none;
}
.loginModal .modal-dialog{
	width: 450px;
}
.loginModal .modal-content{
	border-radius: 4px;
	background-color: #efefef;
}
.loginModal .modal-title{
	font-family: 'UbuntuM';
	text-align: center;
	font-size: 24px;
}
.loginModal .login-form .form-group .form-control{
	height: 45px;
	box-shadow: none;
	font-family: 'ubuntulight';
	font-size: 14px;
}
.loginModal .get-started {
	font-size: 24px;
	padding: 10px;
	width: 100%;
}
.loginModal .forget-label{
	padding-bottom: 10px;
}
.loginModal .forget-label label{
	font-family: 'ubuntulight';
	font-size: 16px;
	cursor: pointer;
}
.need-account,
.need-accounts{
	margin: 10px 0px;
	margin-bottom: 0px;
}
.need-account label,
.need-accounts label{
	font-family: 'ubuntulight';
	font-size: 16px;
	margin-bottom: 0px;
}
.need-account label span,
.need-accounts label span{
	font-family: 'ubuntulight';
	font-size: 16px;
	color: #d03135;
	cursor: pointer;
}
.loginModal .or{
	font-family: 'ubuntulight';
	font-size: 16px;
	color: #d03135;
	text-align: center;
	display: block;
	margin: 20px 0px;
}
.loginModal .forgetpassword-desc{
	font-family: 'ubuntulight';
	font-size: 16px;
	line-height: 25px;
}
.registerModel .modal-content{
	border-radius: 4px;
	background-color: #efefef;
}
.registerModel .modal-title{
	font-family: 'ubuntulight';
	font-size: 16px;
	line-height: 25px;
}
.registerModel .modal-title label{
	font-family: 'UbuntuM';
}
.registerModel .consultant-section h1{
	font-family: 'UbuntuM';
	font-size: 24px;
	margin-top: 0px;
}
.registerModel .consultant-section p{
	font-family: 'ubuntulight';
	font-size: 16px;
	line-height: 25px;
	font-size: 16px;
	padding-bottom: 10px;
}
/*errors*/
.login-error{
	padding: 10px 0px;
}
.login-error label{
	font-family: 'ubuntulight';
	font-size: 16px;
	color: #d03135;
	display: block;
}
/*responsive code*/
@media screen and (min-width: 991px) and (max-width: 1024px){
	/*testimonial*/
	.testimonial-container .tesimonial-part .person-desc {
		width: 70%;
		padding-left: 5px;
		padding-top: 5px;
	}
	.testimonial-container .tesimonial-part .person-desc p, .testimonial-container .tesimonial-part .person-desc span {
		font-size: 16px;
		line-height: 21px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	/*header*/
	.navbar-right {
		float: right!important;
		margin-right: 11px;
	}
	.header-align .navbar-right li a,.header-align .navbar-right li{
		font-size: 13px !important;
	}
}
@media only screen and (max-width: 991px) {
	/*header*/
	.header-align .container{
		width: 100%;
		padding: 0px 10px;
	}
	.header-align .navbar-brand {
		padding-left: 10px;
	}
	.header-align .nav-top {
		right: 5px;
	}
	.header-align .navbar-right li a,.header-align .navbar-right li{
		font-size: 16px;
	}
	.header-align .navbar-right li{
		padding: 0px 8px;
	}
	/*banner*/
	#banner-section {
		height: 420px !important;
	}
	#banner-section .featured-work {
		width: 100%;
	}
	#banner-section .banner-content {
		padding-top: 4%;
		margin-top: inherit;
	}
	/*impression section*/
	#impression-section,
	.ampliy-section#impression-section,
	#testimonial-section {
		padding: 40px 0px;
	}
	#impression-section .impression-desc{
		margin-top: 40px;
	}
	/*testimonial*/
	.testimonial-container{
		background-color: transparent;
		width: 100%;
	}
	.testimonial-container .tesimonial-part .person-img {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.testimonial-container .tesimonial-part .person-desc {
		width: 100%;
		text-align: center;
	}
	.testimonial-container .tesimonial-part .person-desc {
		width: 100%;
		padding-left: 5px;
		padding-top: 15px;
	}
	.testimonial-container .carousel-control.right{
		right: 40px;
	}
	.testimonial-container .carousel-control.left{
		left: 40px;
	}
	/*footer*/
	.about-footer{
		margin-top: 50px;
	}
	#footer-section .tweets-footer ul li,
	#footer-section .tweets-footer ul li a{
		font-size: 13px;
	}
	/*login*/
	.registerModel .consultant-section {
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 767px) {
	/*header*/
	.nav-top,.mhide{
		display: none !important;
	}
	.mshow{
		display: block !important;
	}
	.header-align .navbar-right li {
		margin-top: 20px;
		margin-left: 10px;
	}
	.header-align .navbar-collapse {
		background-color: #fff;
	}
	.header-align .profile-dropdown .caret {
		position: inherit; 
		margin-bottom: 19px;
	}
	.header-align .dropdown-menu li a{
		color: #d03135 !important;
	}
	/*banner*/
	.banner-content .start-img{
		width: 210px;
	}
	#banner-section .banner-content h1 {
		font-size: 35px;
	}
	#banner-section .banner-content p {
		font-size: 16px;
		padding: 0px 5px;
	}
	#banner-section .featured-work .featured-desc{
		margin-bottom: 20px;
	}
	#banner-section .featured-work .featured-desc img {
		width: 60px;
	}
	#banner-section .featured-work .featured-desc label {
		font-size: 16px;
		padding: 5px;
	}
	#banner-section .featured-work .heading h5 {
		margin-bottom: 30px;
	}
	#banner-section .featured-work {
		margin: 15px auto;
	}
	/*impression section*/
	#impression-section .impression-desc h1 {
		font-size: 25px;
		margin-bottom: 10px;
	}
	.mpad0{
		padding: 0px;
	}
	/*testimonial*/
	#testimonial-section .testimonial-heading h1 {
		font-size: 25px;
	}
	.testimonial-container .tesimonial-part .person-desc p{
		margin-top: 15px;
	}
	/*form section*/
	#interested-section .form-interest{
		width: 100%;
	}
	#interested-section .get-started{
		width: auto;
		font-size: 16px;
	}

	/*header*/
	.shownav{
		display: block !important;
		position: absolute;
		top: 20px;
		right: 108px;
	}
	.shownav li,.shownav li a{
		font-family: 'ubuntulight';
		font-size: 12px;
		color: #000;line-height: 24px;
	}
	.shownav li a{
		color: #d03135;
	}
	.featured-desc {
		margin-bottom: 30px;
	}
	/*loginModal*/
	.loginModal .modal-dialog {
		width: 450px;
		margin: 0 auto;
	}
	.modal-content{
		height: 100vh;
		overflow: auto;
	}
	.registerModel .modal-dialog{
		margin: 0px;
	}
}
@media only screen and (max-width: 520px) {
	/*header*/
	.header-align .navbar-brand img {
		width: 90px;
		margin-top: 25px;
	}
	.invest-details .invest-area {
		width: 100%;
	}
	.shownav{
		right: 60px;
	}
	/*footer*/
	#subfooter-section ul,#subfooter-section label{
		text-align: center;
		float: none !important;
		display: block;
	}
	/*login model*/
	.loginModal .modal-dialog{
		width: auto;
		margin: 0 auto;
		display: block;
	}
	.loginModal .modal-title {
		font-size: 16px;
	}
}
@media only screen and (max-width: 420px) {
	/*impression*/
	#impression-section .impression-desc h1 {
		font-size: 20px;
	}
}