/*common*/

* {
    font-family: 'OpenSansRegular';
}

label {
    font-weight: normal;
}

.pad0 {
    padding: 0px;
}

.margin0 {
    margin: 0px;
}

.mshow {
    display: none !important;
}

::selection {
    background-color: #d03135;
    color: #fff;
}

.text-center {
    text-align: center !important;
}

.shownav {
    display: none !important;
}

.margint20 {
    margin-top: 20px;
}

.modal .close {
    position: absolute;
    right: 15px;
    top: 11px;
}

.heading-mark {
    font-size: 35px !important;
}

textarea,
input,
button {
    outline: none !important;
}

.sign-gurantee {
    width: 20px;
}

.display-block {
    display: block;
}

.mt10 {
    margin-top: 10px !important;
}

a:focus {
    outline: 0px;
}

.pad40 {
    padding-right: 40px;
}


/*active class*/

.active-member {
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
    border-top: 2px solid #d03135 !important;
}


/*errors*/

.form-control {
    color: #000 !important;
}

.error {
    color: #d03135;
    font-family: 'OpenSansRegular';
    font-size: 13px;
}

.form-control.error {
    border: 2px solid #d03135;
}


/*button*/

.get-started,
.resource-scroll,
.membership-btn {
    background-color: #d03135;
    color: #fff;
    font-family: 'UbuntuM';
    font-size: 16px;
    padding: 10px 40px;
    border: 1px solid #d03135;
}

.membership-btn {
    font-size: 24px;
}

.get-started:hover,
.resource-scroll:hover,
.membership-btn:hover {
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}

#banner-section .get-started {
    font-size: 16px !important;
}


/*header css*/

.header-align {
    margin-bottom: 0px;
    height: 90px;
    border-top: 2px solid #d03135;
    background-color: #fff;
}

.header-align .navbar-brand {
    padding: 0px;
}

.header-align .navbar-brand img {
    margin-top: 5px;
}

.header-align .navbar-brand {
    position: relative;
    z-index: 999;
}

.header-align .navbar-right li {
    color: #000;
    font-family: 'OpenSansRegular';
    font-size: 16px;
    padding: 0px 10px;
    cursor: pointer;
    margin-top: 50px;
}

.header-align .navbar-right li a {
    font-family: 'OpenSansRegular';
    padding: 0px;
    color: #d03135;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.header-align .nav-top {
    position: absolute;
    right: -5px;
    top: 10px;
}

.header-align .nav-top li {
    display: inline-block;
    font-family: 'UbuntuM';
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30px;
    font-weight: 300;
}

.header-align .nav-top li a {
    font-family: 'OpenSansRegular';
    font-weight: 700;
    padding: 5px 10px;
    border: 1px solid #d03135;
    position: relative;
    top: 0px;
    cursor: pointer;
    text-decoration: none;
    color: #d03135 !important;
    font-size: 14px;
}

.header-align .navbar-toggle {
    border: none;
    margin-top: 25px;
}

.header-align .navbar-toggle:hover {
    background-color: #fff;
}

.header-align .navbar-toggle .icon-bar {
    background-color: #d03135;
    width: 20px;
    height: 3px;
}

.header-align .navbar-collapse {
    border: none;
    position: relative;
}

.navbar-header button {
    margin-top: 20px;
}

.header-align .profile-dropdown {
    top: -13px;
    border: 1px solid #f6f6f6;
    height: 40px;
}

.header-align .profile-dropdown .dropdown-toggle {
    padding: 0px;
    border: none;
}

.header-align .profile-dropdown .dropdown-toggle .profile-img {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 0%;
    background: #ccc;
}

.header-align .profile-dropdown .dropdown-toggle:hover,
.header-align .profile-dropdown .dropdown-toggle:active:hover,
.header-align .profile-dropdown .dropdown-toggle:focus {
    background-color: transparent;
}

.header-align .profile-dropdown .dropdown-toggle .profile-img img {
    width: 100%;
}

.header-align .profile-dropdown .caret {
    position: absolute;
    top: 20px;
    right: -14px;
}

.header-align .profile-dropdown ul li {
    margin-top: 0px;
    line-height: 30px;
    padding: 0px;
}

.header-align .profile-dropdown ul li a {
    padding: 10px;
}

.header-align .profile-dropdown .dropdown-menu {
    right: -20px;
}

.btn:focus,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    background-color: #d03135;
    color: #fff;
    border: none;
}


/*banner section*/

#banner-section {
    margin-top: 90px;
    position: relative;
}

#banner-section .get-started {
    margin-top: 20px;
}

#banner-section .banner-content {
    margin-top: 13%;
}

#banner-section .banner-content h1 {
    font-family: 'UbuntuM';
    color: #fff;
    font-size: 35px;
}

#banner-section .banner-content p {
    font-family: 'OpenSansRegular';
    color: #fff;
    font-size: 24px;
}

#banner-section .featured-work {
    width: 1000px;
    margin: 0 auto;
    margin: 50px auto;
}

#banner-section .featured-work .heading h5 {
    font-family: 'UbuntuM';
    color: #fff;
    text-decoration: underline;
    font-size: 24px;
    margin-bottom: 60px;
}

#banner-section .featured-work .featured-desc img {
    display: block;
    margin: 0 auto;
}

#banner-section .featured-work .featured-desc label {
    font-family: 'OpenSansRegular';
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

#banner-section .blockquote-reverse {
    border-right: 0px solid #eee;
}

.banner-content .start-img {
    width: 210px;
}


/*impression-section*/

#impression-section {
    background-color: #000;
    padding: 80px 0px;
}

#impression-section .impression-desc h1 {
    font-family: 'UbuntuM';
    color: #fff;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#impression-section .impression-desc ul {
    padding-left: 20px;
}

#impression-section .impression-desc p {
    font-family: 'OpenSansRegular';
    color: #fff;
    font-size: 24px;
}

#impression-section .impression-desc ul li {
    font-family: 'OpenSansRegular';
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.6px;
}


/*amplify section*/

.ampliy-section#impression-section,
#testimonial-section,
#portfolio-section {
    background-color: #CCCCCC;
    padding: 80px 0px;
}

#impression-section.ampliy-section .impression-desc h1,
#impression-section.ampliy-section .impression-desc p,
#impression-section.ampliy-section .impression-desc ul li {
    color: #000;
}

#impression-section.ampliy-section .impression-desc ul li {
    font-family: 'OpenSansRegular';
}


/*testimonial-section*/

#testimonial-section {
    padding-bottom: 30px;
}

#testimonial-section .testimonial-heading h1,
#portfolio-section .testimonial-heading h1,
#membership-section .features-heading h1,
#customized-membership .features-heading h1,
#features-section .features-heading h1 {
    font-family: 'UbuntuM';
    color: #000;
    font-size: 35px;
    margin-top: 0px;
}

#testimonial-section .testimonial-heading p,
#portfolio-section .testimonial-heading p,
#membership-section .features-heading p,
#customized-membership .features-heading p,
#features-section .features-heading p {
    font-family: 'OpenSansRegular';
    color: #333333;
    font-size: 16px;
}

.testimonial-container .tesimonial-part .person-img {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 20px;
}

.testimonial-container .tesimonial-part .person-img img {
    width: 100%;
}

.testimonial-container {
    background-color: #EFEFEF;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}

.testimonial-container .tesimonial-part .person-desc {
    display: inline-block;
    width: 70%;
    padding-left: 10px;
    padding-top: 14px;
    padding-bottom: 10px;
}

.testimonial-container .tesimonial-part .person-desc p,
.testimonial-container .tesimonial-part .person-desc span {
    font-family: 'OpenSansRegular';
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}

.testimonial-container .tesimonial-part .person-desc label {
    display: block;
    font-family: 'UbuntuM';
    color: #000;
    font-size: 16px;
}

.testimonial-container .carousel-control.right:hover,
.testimonial-container .carousel-control.left:hover {
    color: #d03135;
}

.testimonial-container .carousel-control.right {
    position: absolute;
    margin-right: -50px;
    top: 50px;
    right: -60px;
    cursor: pointer;
}

.testimonial-container .carousel-control.left {
    position: absolute;
    margin-left: -50px;
    top: 50px;
    left: -60px;
    cursor: pointer;
}

.testimonial-container .carousel-control.right,
.testimonial-container .carousel-control.left {
    background-image: none !important;
}


/*talkto us*/

/**#interested-section {
    background-color: #CCCCCC;
    padding: 40px 0px;
}**/

#interested-section .get-started {
    background-color: #d03135;
    color: #fff;
    font-family: 'UbuntuM';
    font-size: 24px;
    width: 50%;
    padding: 10px;
}

#interested-section .form-interest {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

#interested-section .form-success {
    margin-top: 30px;
}

#interested-section .form-success p {
    font-family: 'UbuntuM';
    color: #d03135;
    font-size: 16px;
}

#interested-section .form-interest .get-started {
    width: 100%;
}

#interested-section .form-interest .form-control {
    border-radius: 0px;
    box-shadow: none;
    font-family: 'OpenSansRegular';
    height: 45px;
}

#interested-section .form-section span {
    font-family: 'UbuntuM';
    font-size: 16px;
    display: block;
    margin: 20px 0px;
}


/*footer section*/

#footer-section {
    background-color: #222222;
    padding: 40px 0px;
    clear: both;
}

#footer-section h2 {
    font-family: 'UbuntuM';
    font-size: 16px;
    color: #fff;
    margin-top: 0px;
}

#footer-section p {
    font-family: 'OpenSansRegular';
    color: #fff;
    font-size: 16px;
}

#footer-section .about-footer ul {
    margin-top: 20px;
}

#footer-section .about-footer ul li {
    line-height: 30px;
    color: #fff;
    font-family: 'UbuntuM';
}

#footer-section .about-footer ul li label {
    font-family: 'OpenSansRegular';
    opacity: 0.6;
    font-size: 16px;
}

#footer-section .about-footer ul li span {
    font-family: 'OpenSansRegular';
    font-size: 16px;
}

#footer-section ul li a,
#footer-section ul li a:hover {
    color: #fff;
    font-family: 'UbuntuM';
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#footer-section .tweets-footer ul li {
    padding-bottom: 15px;
    cursor: pointer;
}

#footer-section .tweets-footer ul li a {
    cursor: pointer;
}

#footer-section .social-footer ul li {
    display: inline-block;
    margin-right: 10px;
}

#subfooter-section {
    background-color: #2a2a2a;
    padding: 10px 0px;
    padding-top: 15px;
}

#subfooter-section ul {
    margin-bottom: 0px;
}

#subfooter-section ul li,
#subfooter-section ul li a,
#subfooter-section ul li a:hover {
    color: #fff;
    display: inline-block;
    font-family: 'OpenSansRegular';
    text-decoration: none;
    opacity: 0.9;
    font-size: 16px;
}

#subfooter-section label {
    color: #fff;
    font-family: 'OpenSansRegular';
    opacity: 0.9;
    font-size: 16px;
}

.portfolio-section {
    margin-top: 50px;
}


/*website page css goes here*/

.website-page#banner-section .banner-content {
    margin-top: 10%;
}

.website-page .blockquote-reverse {
    margin-bottom: 0px;
}

.website-page .blockquote-reverse p,
.website-page .blockquote-reverse footer {
    color: #fff;
    font-family: 'UbuntuM';
    font-size: 16px;
}

.website-page .cariusel-banner {
    width: 750px;
    margin: 0 auto;
    position: relative;
}

.website-page#banner-section .featured-work {
    width: 1000px;
    margin: 0 auto;
}

#banner-section.website-page .featured-work .heading h5 {
    margin-bottom: 20px;
}

.portfolio-section .featured-work label {
    display: block;
    text-align: center;
    font-family: 'UbuntuM';
    font-size: 16px;
    margin-top: 10px;
}

.featured-desc {
    padding: 30px;
    border: 2px solid #ccc;
}

.featured-desc:hover {
    border: 2px solid #d03135;
}

.featured-desc a,
.featured-desc a:hover {
    color: #000;
    text-decoration: none;
}

.invest-details .invest-area {
    border-top: 2px solid #d03135;
    width: 450px;
    margin: 0 auto;
    padding: 20px 0px;
    background-color: #EFEFEF;
}

.invest-details .invest-area .invest-heading h1,
{
    font-family: 'UbuntuM';
    font-size: 24px;
    display: inline-block;
    margin-top: 0px;
}

.invest-details .invest-area .invest-heading label a {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    color: #d03135;
}

.invest-details .invest-area .invest-heading {
    margin: 20px 0px;
}

.invest-details .i-details ul li {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    text-align: left;
    line-height: 26px;
}

.invest-details .invest-img {
    width: 270px;
    padding: 50px 0px;
}

.visit-website {
    position: absolute;
    right: 0px;
    z-index: 999;
    background-color: #d03135;
    padding: 10px;
    bottom: 0px;
}

.visit-website label {
    margin-bottom: 0px;
}

.visit-website label a,
.visit-website label a:hover {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.upfront-label {
    font-family: 'UbuntuM';
    font-size: 16px;
    color: #000;
    display: block;
    margin-bottom: 35px;
}


/*login modal*/

.loginModal .modal-header {
    border-bottom: none;
}

.loginModal .modal-dialog {
    width: 450px;
}

.loginModal .modal-content {
    border-radius: 4px;
    background-color: #efefef;
    padding: 5px 10px;
}

.loginModal .modal-title {
    font-family: 'UbuntuM';
    text-align: center;
    font-size: 24px;
}

.loginModal .login-form .form-group .form-control {
    height: 45px;
    box-shadow: none;
    font-family: 'OpenSansRegular';
    font-size: 14px;
}

.loginModal .get-started {
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.loginModal .forget-label {
    padding-bottom: 10px;
}

.loginModal .forget-label label {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    cursor: pointer;
    color: #d03135;
}

.need-account,
.need-accounts {
    margin: 10px 0px;
    margin-bottom: 0px;
}

.need-account label,
.need-accounts label {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    margin-bottom: 0px;
}

.need-account label span,
.need-accounts label span {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    color: #d03135;
    cursor: pointer;
}

.loginModal .or {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    color: #000;
    text-align: center;
    display: block;
    margin: 20px 0px;
    position: relative;
}

.loginModal .or:before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0px;
    width: 23%;
    background-color: rgba(0, 0, 0, 0.18);
    top: 12px;
    height: 1px;
}

.loginModal .or:after {
    content: '';
    position: absolute;
    display: inline-block;
    right: 0px;
    width: 23%;
    background-color: rgba(0, 0, 0, 0.18);
    top: 12px;
    height: 1px;
}

#signup-modal .or:before {
    width: 22%;
}

#signup-modal .or:after {
    width: 22%;
}

.loginModal .forgetpassword-desc {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 25px;
}

.registerModel .modal-content {
    border-radius: 4px;
    background-color: #efefef;
    padding: 15px 15px;
}

.registerModel .modal-title {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 25px;
}

.registerModel .modal-title label {
    font-family: 'UbuntuM';
}

.registerModel .consultant-section h1 {
    font-family: 'UbuntuM';
    font-size: 24px;
    margin-top: 0px;
}

.registerModel .consultant-section p {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 25px;
    font-size: 16px;
    padding-bottom: 10px;
}


/*errors*/

.login-error {
    padding: 10px 0px;
}

.login-error label {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    color: #d03135;
    display: block;
}


/*tabs link*/

.fixed-tab {
    position: fixed;
    top: 90px;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.tab-links ul {
    margin-bottom: 0px;
    text-align: center;
}

.tab-links ul li {
    font-family: 'UbuntuM';
    font-size: 16px;
    display: inline-block;
    margin-left: 50px;
    letter-spacing: 0.5px;
    cursor: pointer;
    padding: 18px 0px;
}

.tab-links ul li a,
.tab-links ul li a:hover {
    font-family: 'UbuntuM';
    font-size: 16px;
    padding: 20px 30px;
    text-decoration: none;
    color: #000;
}

.tab-links ul li a.active {
    background-color: #d03135;
    color: #fff;
}


/*features*/

#features-section {
    background-color: #ccc;
    padding-bottom: 50px;
}

#features-section .features-heading {
    padding: 30px 0px;
}

#features-section .features-heading p {
    margin-bottom: 0px;
}

#features-section .feature-container {
    background-color: #fff;
    border-radius: 6px;
    margin: 17px 0px;
    padding: 0px;
    height: 300px;
    overflow: hidden;
}

#features-section .feature-container .features-desc h1 {
    font-family: 'UbuntuM';
    font-size: 24px;
    color: #d03135;
    margin-bottom: 0px;
}

#features-section .feature-container .features-desc p {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    padding: 10px 20px;
    color: #333333;
}

#features-section .feature-container .features-desc p a {
    color: #d03135;
}


/*membership section*/

#membership-section {
    /*background-color: #CCCCCC;*/
    padding: 40px 0px;
}

#membership-section .plan-c {
    margin: 40px 0px;
}

#membership-section .plan-container {
    background-color: #efefef;
    border: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-bottom: 10px;
    height: 540px;
    position: relative;
}

#membership-section .plan-container .p-header {
    /*height: 80px;
    overflow: hidden;*/
}

#membership-section .guild-subdesc p {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 0px;
    padding: 10px 10px;
}

#membership-section .plan-container .p-header img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#membership-section .p-price {
    background-color: #dbd8d8;
    text-align: center;
}

#membership-section .p-price label {
    font-family: 'UbuntuM';
    font-size: 35px;
    color: #000;
    padding: 10px 0px;
}

#membership-section .price-desc {
    margin: 20px 0px;
}

#membership-section .price-desc ul {
    padding-left: 10px;
}

#membership-section .price-desc ul li:before {
    content: '';
    width: 5px;
    height: 5px;
    /* border-radius: 50%; */
    background-color: #000;
    display: inline-block;
    position: relative;
    left: 0px;
    top: -3px;
    margin-right: 4px;
}

#membership-section .price-desc ul li {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    display: block;
    padding-bottom: 15px;
    line-height: 23px;
    padding-right: 10px;
    color: #333333;
}

#membership-section .plan-submit {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

#membership-section .plan-submit .get-started {
    width: 95%;
    text-align: center;
    padding: 10px 0px;
}


/*customize members*/

.c-memeber {
    margin: 40px auto;
}

.c-memeber .c-desc {
    margin-bottom: 20px;
}

.c-memeber .c-desc label {
    font-family: 'OpenSansRegular';
    font-size: 16px;
}

.c-memeber .form-control {
    width: 40px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -6px;
    margin: 0px 4px;
    padding: 5px;
    box-shadow: none;
    font-family: 'UbuntuM';
}

.total-cost {
    margin-top: 20px;
}

.total-cost label {
    font-family: 'OpenSansRegular';
    font-size: 16px;
}

.total-cost .form-inline {
    display: inline-block;
}

.total-cost .form-control {
    width: 150px;
    height: 58px;
    display: inline-block;
    margin-top: -8px;
    font-size: 30px;
    font-family: 'UbuntuM';
}

.total-cost .get-started {
    display: inline-block;
    margin-left: 30px;
}


/*email signature*/

.email-c {
    text-align: left;
    width: 100%;
    margin: 25px auto;
}

.email-c .email-img {
    width: 90px;
    height: 90px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.email-c .email-img img {
    width: 100%;
    border-radius: 2px;
}

.email-c .email-desc {
    display: inline-block;
    width: 60%;
    margin-left: 5px;
}

.email-c .email-desc h2 {
    font-family: 'UbuntuM';
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
    margin-top: 0px;
}

.paddingalign {
    margin-left: 0px;
    background-color: #f6f6f6;
    padding: 20px 20px;
    margin-bottom: 0px;
}

.email-c .email-desc label {
    font-family: 'OpenSansRegular';
    font-size: 12px;
    display: block;
}

.email-c .sub-desc-e {
    margin-top: 5px;
}

.web-id a {
    font-family: 'OpenSansRegular';
}

.email-c .sub-desc-e p {
    font-family: 'OpenSansRegular';
    font-size: 12px;
    display: block;
    margin-bottom: 3px;
}

.email-c .sub-desc-e label {
    font-family: 'OpenSansRegular';
    font-size: 13px;
    display: block;
}

.email-c .sub-desc-e span {
    font-family: 'OpenSansRegular';
    font-size: 13px;
    display: block;
}

.email-c .sub-desc-e label.web-id {
    font-family: 'OpenSansRegular';
    font-size: 13px;
    color: #d03135;
    display: block;
}

.align-test {
    padding-bottom: 100px !important;
}

.badge-c {
    background-color: #333;
    width: 90%;
    padding: 15px 0px;
}

.badge-c .email-desc h2,
.badge-c .email-desc label {
    color: #fff;
}

.badge-c .sub-desc-e {
    display: inline-block;
}

.badge-c .sub-desc-e img {
    width: 90px;
    height: auto;
    margin-left: -6px;
}

.badge-c .get-started {
    font-family: 'OpenSansRegular';
    font-size: 14px;
    display: inline-block;
    padding: 7px 5px;
    border-radius: 2px;
}

.badge-c .get-started:hover,
.badge-c .get-started:focus {
    background-color: #d03135 !important;
    color: #fff !important;
    border: 1px solid #d03135 !important;
    font-family: 'OpenSansRegular';
    font-size: 14px;
    display: inline-block;
    padding: 7px 5px;
    border-radius: 2px;
}

.badge-c.email-c .email-img {
    width: 90px;
    height: 90px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    margin-left: 15px;
}

#banner-section.advantage-page {
    height: 480px !important;
}

.total-cost .form-control {
    width: 250px;
    font-family: 'UbuntuM';
}


/*placeholder css*/

.total-cost .form-control::-webkit-input-placeholder {
    color: #000;
    opacity: 0.5;
    font-family: 'OpenSansRegular';
    font-size: 14px;
    position: relative;
    top: -5px;
}

.total-cost .form-control::-moz-placeholder {
    color: #000;
    opacity: 0.5;
    font-family: 'OpenSansRegular';
    font-size: 14px;
    position: relative;
    top: -5px;
}

.form-success {
    margin-top: 30px;
    text-align: center;
}

.form-success p {
    font-family: 'UbuntuM';
    color: #d03135;
    font-size: 16px;
}


/*privacy section*/

#privacy-section {
    margin-top: 100px;
    padding: 0px;
    margin-bottom: 60px;
}

#privacy-section .p-area {
    margin-bottom: 30px;
}

#privacy-section .p-area .privacy-heading {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

#privacy-section .p-area .privacy-heading h1 {
    font-family: 'UbuntuM';
    font-size: 24px;
    color: #000;
    display: inline-block;
}

#privacy-section .p-area .privacy-heading label {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    margin-top: 0px;
    display: block;
}

#privacy-section .p-area .privacy-desc p,
#privacy-section .p-area .privacy-desc ul li,
#privacy-section .p-area .privacy-desc label {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
    line-height: 28px;
}

#privacy-section .p-area .privacy-desc p a,
#eligibility-section .e-heading a,
#apply-section .right-apply .apply-desc label a,
#apply-section a,
.l-desc a {
    font-family: 'OpenSansRegular';
    color: #d03135 !important;
    font-size: 16px;
}

#privacy-section .p-area .privacy-desc h5 {
    font-family: 'UbuntuM';
    font-size: 16px;
    margin-bottom: -5px;
}

#privacy-section .p-area .privacy-desc p label {
    font-family: 'UbuntuM';
    margin-bottom: 0px;
}

#privacy-section .p-area .privacy-desc ul {
    list-style: decimal;
}

#privacy-section .p-area .privacy-desc ul li {
    margin-top: 5px;
}


/*eligibility section*/

#eligibility-section,
#apply-section {
    margin-top: 120px;
    margin-bottom: 100px;
    padding: 0px;
}

#eligibility-section .e-heading h5 {
    font-family: 'UbuntuM';
    font-size: 24px;
    color: #000;
    display: inline-block;
    margin-bottom: 0px;
    line-height: 30px;
}

#eligibility-section .e-heading p {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    color: #333333;
    margin-top: 10px;
    line-height: 28px;
}

#eligibility-section .e-subheading {
    margin-top: 30px;
}

#eligibility-section .e-subheading h5 {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 25px;
    color: #000;
}

#eligibility-section .e-desc {
    margin-top: 20px;
}

#eligibility-section .e-desc ul li {
    margin-bottom: 20px;
}

#eligibility-section .e-desc ul li label,
#eligibility-section .e-desc ul li span,
#eligibility-section .current-avaliable,
#eligibility-section .free-member {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    color: #333333;
}

#eligibility-section .current-avaliable label {
    text-decoration: underline;
}

#eligibility-section .e-desc ul li span {
    color: #000;
}

#eligibility-section .free-member {
    display: block;
    margin: 20px 0px;
}

#eligibility-section .get-started {
    font-size: 16px;
}

#eligibility-section .e-button {
    margin-top: 20px;
}

#eligibility-section .e-button label {
    margin-right: 20px;
}

#eligibility-section .e-button label a {
    font-family: 'OpenSansRegular';
    color: #d03135 !important;
    font-size: 16px;
}


/*applysection*/

#apply-section {
    margin-top: 90px;
    padding: 40px 0px;
    margin-bottom: 0px;
    background-color: #EFEFEF;
    padding-bottom: 100px;
}

#apply-section .apply-heading,
#apply-section .right-apply .apply-heading {
    border-bottom: 1px solid #ddd;
}

#apply-section .apply-heading h5 {
    font-family: 'UbuntuM';
    font-size: 24px;
    color: #000;
}

#apply-section .login-with {
    margin: 30px 0px;
}

#apply-section .login-with img {
    cursor: pointer;
}

#apply-section .or {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 35px 0px;
    margin-bottom: 40px;
    position: relative;
}

#apply-section .or:before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0px;
    width: 37%;
    background-color: rgba(0, 0, 0, 0.18);
    top: 12px;
    height: 1px;
}

#apply-section .or:after {
    content: '';
    position: absolute;
    display: inline-block;
    right: 0px;
    width: 37%;
    background-color: rgba(0, 0, 0, 0.18);
    top: 12px;
    height: 1px;
}

#apply-section .form-group {
    display: inline-block;
    margin: 20px 0px;
    margin-bottom: 0px;
}

#apply-section .form-control {
    box-shadow: none;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 2px;
}

#apply-section textarea {
    height: auto !important;
}

#apply-section .width49 {
    width: 49.5%;
    display: block;
    vertical-align: top;
}

#apply-section .width100 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#apply-section .right-apply .apply-desc p,
.lenses-section .lenses-discount label {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    margin-top: 25px;
    color: #333333;
}

#apply-section .apply-form h5 {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin: 40px 0px;
    margin-bottom: 15px;
}

#apply-section .checkbox {
    margin: 20px 0px;
}

#apply-section .checkbox label {
    font-size: 16px
}

#apply-section .get-started {
    font-size: 16px;
    float: right;
}

#banner-section.lenses-page {
    height: 400px !important;
}
#banner-section.lenses-page.hPage{
    height: 470px !important;
}
#banner-section.lenses-page .banner-content {
    margin-top: 3%;
}
/*.bg-icon{
    width: 32%;
    }*/
    #banner-section.hPage .banner-content h1,
    #banner-section.hPage .banner-content p,
    .business-step ul li span{
        color: #000 !important;
    }

    /*lenses page*/

    .lenses-section {
        padding: 20px 0px;
        padding-bottom: 80px;
    }

    .lenses-section .lenses-heading {
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        margin-bottom: 18px;
    }

    .lenses-section .lenses-heading h1,
    .lenses-section .lenses-discount h1 {
        font-family: 'UbuntuM';
        font-size: 24px;
        color: #000;
        display: inline-block;
    }

    .lenses-section .lenses-heading label {
        margin-bottom: 0px;
        position: relative;
        top: -4px;
    }

    .lenses-section .lenses-heading label img {
        width: 100px;
    }

    .lenses-section .l-desc p {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        line-height: 26px;
        color: #333333;
    }

    .lenses-section .l-desc label {
        font-family: 'UbuntuM';
        margin-bottom: 0px;
    }

    .lenses-section iframe {
        height: 250px !important;
    }

    .lenses-section .lenses-discount {
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }

    .embed-responsive-4by3 {
        padding-bottom: 56% !important;
    }

    .flevy-page .l-desc p {
        margin-bottom: 20px;
    }

    .lenses-section.flevy-page .lenses-heading label img {
        width: 70px;
    }

    .lenses-section.flevy-page .lenses-discount a {
        color: #d03135 !important;
    }

    .lenses-section.flevy-page .l-desc h5 {
        font-family: 'UbuntuM';
        font-size: 16px;
    }

    .lenses-section.flevy-page .l-desc ul li {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        list-style: decimal;
        margin-bottom: 5px;
    }

    .lenses-section.flevy-page .l-desc ul li a {
        list-style: decimal;
        margin-bottom: 5px;
        color: #d03135 !important;
        font-family: 'OpenSansRegular';
        font-size: 16px;
    }

    .lenses-section.flevy-page .l-desc ul {
        margin-left: 0px;
    }

    #banner-section.f-page .banner-content {
        margin-top: 5%;
    }


    /*guaranty page*/

    .g-heading h5 {
        font-family: 'UbuntuM';
        font-size: 24px;
        color: #000;
        display: block;
        margin-bottom: 0px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }

    .g-list {
        margin: 10px 0px;
        margin-bottom: 25px;
    }

    .g-list li {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        list-style-type: disc;
        margin-bottom: 10px !important;
    }

    .gu-desc a {
        color: #d03135 !important;
    }


    /*create section*/

    #apply-section .create-section .form-group {
        display: block;
        margin-bottom: 15px;
    }

    #apply-section .create-section .form-group label {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        margin-bottom: 10px;
    }

    #apply-section .create-section .width49 {
        width: 49.7%;
        display: inline-block !important;
    }

    .create-section select {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #999;
        background-color: #fff;
        border-radius: 2px;
        font-family: 'OpenSansRegular';
        background-position: right 50%;
        background-repeat: no-repeat;
        background-image: url("../images/select.png");
        padding: 6px 1.5em 6px 6px;
        outline: 0;
        margin-bottom: 10px;
        padding-left: 12px;
    }

    .create-section .e-button {
        margin-top: 50px;
    }

    .create-section .e-button label {
        margin-right: 20px;
        margin-top: 10px;
    }

    .create-section .e-button label a {
        font-family: 'OpenSansRegular';
        color: #d03135 !important;
        font-size: 16px;
    }

    .create-section .get-started {
        font-size: 16px;
    }

    .select-price {
        width: 30.9%;
        display: inline-block;
    }

    .enter-price {
        width: 68%;
        display: inline-block;
    }

    .cr-desc h5 {
        font-family: 'UbuntuM';
        color: #000;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .create-right .apply-desc {
        margin-top: 27px;
    }

    #apply-section .cr-desc {
        margin-bottom: 20px;
    }

    #apply-section .cr-desc p {
        font-family: 'OpenSansRegular';
        color: #333333;
        font-size: 16px;
        margin-top: 0px !important;
        line-height: 24px;
    }

    .free-c {
        font-family: 'OpenSansRegular';
        color: #000;
        font-size: 16px;
        margin-left: 5px;
        font-weight: 300;
    }

    #apply-section .create-section .apply-heading h5 {
        display: inline-block;
    }

    .popover {
        background-color: #000;
        color: #fff;
        font-family: 'OpenSansRegular';
        font-size: 16px;
    }

    .popover.right>.arrow:after {
        bottom: -10px;
        left: 1px;
        content: " ";
        border-right-color: #000;
        border-left-width: 0;
    }

    .create-section .file-uploads {
        width: 270px;
    }

    .create-section .mt10 {
        margin-top: -10px !important;
    }

    textarea {
        resize: none;
    }

    .create-section input[type=file] {
        display: block;
        font-size: 13px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 2px;
    }


    /*project view page*/

    .project-overview {
        margin-top: 30px;
    }

    .overview-desc {
        margin-bottom: 35px;
    }

    .overview-desc h5 {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        color: #000;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

    .overview-desc p {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        color: #333333;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .attach-overview a {
        color: #d03135;
    }

    .projectCreated#apply-section {
        margin-top: 50px;
    }

    .overview-desc.created-by a {
        color: #d03135;
    }

    .created-person-img {
        width: 200px;
    }

    .created-person-img img {
        width: 100%;
    }


    /*project list members page*/

    .p-members-table {
        margin-top: 40px;
    }

    .p-members-table h5 {
        font-family: 'UbuntuM';
        font-size: 24px;
        color: #000;
    }

    .p-members-table table {
        margin-top: 25px;
    }

    .p-members-table table tr th {
        background-color: #000;
        color: #fff;
        font-family: 'OpenSansRegular';
        font-size: 16px;
        border-bottom: 0px;
    }

    .p-members-table table {
        border: 0px solid #ddd;
    }

    .p-members-table table tr td {
        padding: 15px 8px;
        font-size: 16px;
        font-family: 'OpenSansRegular';
        color: #000;
    }

    .p-members-table .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #fff;
    }

    .char-limit {
        font-size: 12px;
        font-family: 'OpenSansRegular';
        color: #000;
        position: relative;
        top: 6px;
        right: 3px;
    }

    #projectnew .overview-desc h5,
    #projectnew-view .overview-desc h5 {
        font-family: 'UbuntuM' !important;
    }

    #projectnew .project-overview {
        margin-top: 30px;
        padding-bottom: 20px;
        background-color: #fff;
    }

    #projectnew .overview-desc,
    #projectnew-view .overview-desc {
        margin-bottom: 0px;
        padding: 20px 20px;
        padding-bottom: 0px;
    }

    #projectnew .overview-desc p,
    #projectnew-view .overview-desc p {
        margin-bottom: 10px;
    }

    #projectnew-view .apply-heading {
        background-color: #fff;
    }

    #projectnew-view .project-overview {
        margin-top: 0px;
        padding-bottom: 20px;
        background-color: #fff;
    }

    #projectnew-view .apply-heading h5 {
        padding: 7px 0px;
        padding-left: 20px;
    }

    .interest-section .interest-c {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-top: 4px;
    }

    .interest-section .interest-c img {
        width: 100%;
    }

    .interest-section label {
        margin-bottom: 0px;
        margin-left: 10px;
        position: relative;
        top: 1px;
    }

    .p-names {
        width: 50%;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        top: 7px !important;
    }

    .interest-section {
        clear: both;
        margin: 25px 0px;
    }

    .interest-section .e-button {
        margin-top: 0px;
    }

    .interest-section .e-button .get-started {
        font-size: 14px !important;
        float: right;
        padding: 7px 10px;
    }

    .interest-section .e-button label {
        margin-right: 25px;
        margin-top: 7px;
    }

    .created-person-img .get-started {
        margin-top: 10px;
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-top: 20px;
        float: none !important;
    }

    .guest-signup {
        margin: 40px 0px;
    }

    .g-heading label {
        font-size: 16px;
        font-family: 'UbuntuM';
        color: #000;
    }

    .g-heading {
        margin-bottom: 20px;
    }

    .g-linkedin p {
        font-size: 12px;
        font-family: 'OpenSansRegular';
        color: #000;
        width: 70%;
        line-height: 17px;
        margin: 10px auto;
        position: relative;
        top: 10px;
    }

    #guest-container {
        background-color: #fff;
        padding: 10px 15px;
    }

    .g-linkedin {
        padding: 100px 0px;
        border-right: 1px solid #ddd;
    }

    #guest-container .apply-form {
        margin-top: 40px;
    }

    #guest-container .apply-form .width49 {
        width: 100%;
        margin-top: 0px;
    }


    /*home project page*/

    .business-step {
        text-align: center;
        margin: 0px auto;
        margin-top: 40px;
    }

    .business-step ul li {
        display: inline-block;
        padding: 0px;
        width: 18%;
        vertical-align: top;
    }

    .business-step ul li label {
        font-family: 'UbuntuM';
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: #333333 !important;
        font-size: 16px;
        color: #fff;
        padding: 19px 0px;
    }

    .business-step ul li span {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        text-align: center;
        color: #fff;
        display: block;
    }

    #banner-section .projectHome .banner-getstarted {
        font-size: 16px !important;
        font-family: 'UbuntuM';
    }

    .md-heading h5 {
        margin-top: 10px !important;
    }

    .media-wrapper .memberData.mdData {
        padding: 20px 0px;
    }


    /*client section*/

    .trusted-section {
        margin: 50px 0px;
        background-color: #fff;
    }

    .trusted-heading {
        text-align: center;
    }

    .trusted-heading h5 {
        font-family: 'UbuntuM';
        color: #000;
        font-size: 35px;
        margin-top: 0px;
    }

    .trusted-logo {
        text-align: center;
    }

    .trusted-logo ul li {
        display: inline-block;
        cursor: pointer;
        padding: 20px 0px;
    }

    .trusted-logo ul li:first-child {
        opacity: 0.5;
    }

    .trusted-logo ul li:hover:first-child {
        opacity: 1;
    }

    .trusted-logo ul li img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .trusted-logo ul li img:hover {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        filter: grayscale(0%);
    }

    .trusted-heading h6 {
        font-family: 'UbuntuM';
        font-size: 16px;
    }

    .trusted-section label {
        font-family: 'UbuntuM';
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        display: block;
    }


    /*why guild*/

    .why-guild {
        background-color: #EFEFEF;
    }

    .w-heading h5 {
        font-family: 'UbuntuM';
        color: #000;
        font-size: 35px;
        margin: 40px 0px;
        margin-bottom: 10px;
    }

    .w-heading p {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        color: #333333;
    }

    .why-container {
        text-align: center;
        padding: 50px 0px;
        padding-bottom: 70px;
    }

    .why-container label {
        font-family: 'UbuntuM';
        font-weight: normal;
        text-transform: uppercase;
        font-size: 16px;
        display: block;
        margin: 10px auto;
        margin-top: 20px;
    }

    .why-container span {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #333333;
    }

    .why-container span a {
        color: #d03135;
    }

    .member-wrapper {
        background-color: #fff;
    }

    .memberData {
        padding: 50px 0px;
    }

    .memberData .member-image {
        width: 170px;
        margin: 0 auto;
    }

    .memberData .member-image img {
        width: 100%
    }

    .memberData a {
        text-decoration: none;
    }

    .memberData label {
        font-family: 'UbuntuM';
        font-size: 16px;
        display: block;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 2px;
        color: #333;
        cursor: pointer;
    }

    .memberData label a {
        font-family: 'UbuntuM';
        font-size: 16px;
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }

    .memberData label a:hover {
        color: #d03135;
    }

    .memberData span {
        font-size: 14px;
        display: block;
        text-align: center;
        font-family: 'OpenSansRegular';
        color: #000;
    }

    .post-section {
        background-color: #EFEFEF;
        padding: 50px 0px;
    }

    .post-section p {
        font-family: 'UbuntuM';
        margin-bottom: 30px;
    }

    .media-section img {
        /*width: 100%;*/
    }

    .media-wrapper {
        background-color: #EFEFEF;
        padding: 20px 0px;
        clear: both;
    }

    .media-wrapper .memberData {
        padding: 30px 0px;
    }

    .linkedin-section {
        padding: 30px 0px;
    }

    .linkedin-section iframe {
        width: 100%;
        max-width: 100%;
    }


    /*project proposal*/

    .project-proposal-container {
        padding-top: 30px;
        background-color: #EFEFEF;
        padding-bottom: 50px;
    }

    .project-proposal-container .pp-heading {
        display: block;
        background-color: #000;
        padding: 10px;
    }

    .project-proposal-container .pp-heading label {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        color: #fff;
    }

    .pp-img {
        width: 100px;
        display: inline-block;
    }

    .pp-img img {
        width: 100%;
    }

    .pp-desc {
        padding-left: 15px;
        width: 90%;
        display: inline-block;
        vertical-align: top;
    }

    .pp-desc .pp-name {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

    .pp-desc .pp-name span {
        font-family: 'UbuntuM' !important;
    }

    .pp-desc .pp-name span,
    .pp-desc .pp-name label {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        color: #000;
        display: inline;
    }

    .pp-desc .pp-name span a {
        color: #000;
        text-decoration: none;
        font-family: 'UbuntuM' !important;
    }

    .pp-wrapper {
        padding: 15px 0px;
    }

    .pp-sub {
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .pp-sub label {
        font-size: 16px;
        color: #000;
        margin-bottom: 0px;
        font-family: 'OpenSansRegular';
    }

    .pp-sub span a {
        color: #d03135;
        font-size: 16px;
    }

    .pp-data {
        padding: 10px 10px;
        margin-bottom: 10px;
        background-color: #fff;
    }
/*
.pp-data:hover {
    background-color: #efefef;
    }*/

    #banner-section.project-banner {
        height: 400px !important;
    }

    #banner-section.case-banner {
        height: 400px !important;
    }

    .all-tags {
        display: inline-block;
    }

    .all-tags label {
        font-family: 'UbuntuM';
        color: #fff;
        font-size: 12px;
        background-color: #666666;
        padding: 5px 10px;
        display: inline-block;
        margin-bottom: 10px;
        cursor: pointer;
        text-transform: uppercase;
    }

    .tag-container {
        margin: 20px 0px;
        margin-bottom: 0px;
    }

    .main-tags {
        display: inline-block;
    }

    .tag-lists ul li {
        font-family: 'OpenSansRegular' !important;
        color: #333333;
        font-size: 12px !important;
        background-color:#EFEFEF;
        padding: 5px 10px !important;
        display: inline-block;
        margin-bottom: 10px;
    }

    .tag-lists ul li a {
        font-family: 'OpenSansRegular';
        color: #333333;
        text-decoration: none;
    }
    .tag-lists ul li a:hover {
        font-family: 'OpenSansRegular';
        color: #d03135;
        text-decoration: underline;
    }

    .t-listwrapper {
        border: 1px solid #f6f6f6;
        padding: 20px 0px;
        margin: 0px;
        padding-bottom: 0px;
    }

    .main-tags ul li {
        font-family: 'OpenSansRegular';
        color: #000;
        font-size: 14px;
        background-color: #ccc;
        padding: 5px 10px;
        display: inline-block;
        margin-bottom: 10px;
    }

    .main-tags ul li a {
        font-family: 'OpenSansRegular';
        color: #000;
        text-decoration: none;
    }

    .t-listwrapper {
        margin-bottom: 20px;
        background-color: #fff;
    }

    .nn-img img {
        width: 70px;
    }

    .t-listwrapper ul li a {
        font-family: 'OpenSansRegular';
        color: #000;
        text-decoration: none;
    }

    .t-listwrapper ul li {
        font-family: 'OpenSansRegular';
        color: #000;
        font-size: 12px;
        padding: 5px 5px;
        display: inline-block;
        margin-bottom: 10px;
        width: 24%;
    }

    .dd-data {
        margin: 0 auto;
        display: block;
        padding-bottom: 30px;
    }

    .t-listwrapper ul li:hover {
        background-color: #EFEFEF;
    }

    .t-listwrapper ul li:hover a {
        color: #d03135;
        text-decoration: underline;
    }

    #proposal-page {
        margin-top: 90px;
        background-color: #EFEFEF;
    }

    .pp-page {
        background-color: #fff;
        margin: 50px 0px;
        border: 1px solid #ddd;
    }

    .back-page {
        padding: 15px 0px;
    }

    .back-page label a {
        color: #d03135;
        font-size: 14px;
        font-family: 'OpenSansRegular';
    }

    .pp-heading h5 {
        font-size: 24px;
        font-family: 'UbuntuM';
        padding: 10px 150px;
        line-height: 30px;
    }

    .pp-pic {
        display: inline-block;
        overflow: hidden;
        width: 150px;
    }

    .pp-pic img {
        width: 100%;
    }

    .pp-heading {
        margin-bottom: 20px;
    }

    .pp-profile {
        padding: 20px 30px;
        position: relative;
    }

    .pp-label {
        padding: 10px 30px;
        padding-bottom: 0px;
    }

    .pp-rightside {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding-left: 10px;
        position: relative;
    }

    .pp-rightside h5 {
        font-family: 'OpenSansRegular';
        font-size: 24px;
        color: #000;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .pp-rightside h5 a {
        font-family: 'UbuntuM';
        font-size: 24px;
        color: #000;
        text-decoration: none !important;
    }

    .pp-rightside ul li {
        font-family: 'OpenSansRegular';
        color: #d03135;
        display: inline-block;
        font-size: 16px;
    }

    .pp-rightside ul li a {
        font-family: 'OpenSansRegular';
        color: #d03135;
        display: inline-block;
        font-size: 16px;
    }

    .pp-rightside .ll-data {
        font-family: 'OpenSansRegular';
        font-size: 14px;
        margin-bottom: 0px;
    }

    .pp-rightside .get-started {
        margin-top: 10px;
        padding: 7px 28px;
        display: block;
    }

    .pp-label h5 {
        font-family: 'UbuntuM';
        font-size: 24px;
        padding-bottom: 10px;
        margin-bottom: 0px;
        border-bottom: 1px solid #ddd;
    }

    .pp-label p {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        line-height: 24px;
        padding: 10px 0px;
        margin-bottom: 0px;
        color: #333333;
    }

    .gg-img img {
        width: 24px;
        margin-top: -5px;
    }

    .pp-label p a {
        color: #d03135;
        text-decoration: none !important;
    }

    .cc-data h4 {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        border-bottom: none;
    }

    .cc-data ul {
        padding-left: 0 !important;
        list-style: none;
        list-style-type: inherit;
        margin-left: 20px;
    }

    .cc-data ul li {
        font-family: 'OpenSansRegular';
        font-size: 12px;
        color: #000;
    }

    .cc-data ul li a {
        font-family: 'OpenSansRegular';
        color: #000;
    }

    .cc-data.tag-lists {
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .cc-data.tag-lists ul {
        margin-left: 0px;
        margin-top: 15px;
    }

    .not-quite {
        margin: 20px auto;
        display: block;
        text-align: center;
        padding-bottom: 30px;
    }

    .not-quite label {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        color: #000;
        display: block;
        padding-bottom: 10px;
    }

    .pp-label ul {
        padding-left: 20px;
    }

    .pp-label ul li {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        color: #000;
        padding: 10px 0px;
        padding-bottom: 5px;
    }

    .share-section {
        display: inline-block;
        vertical-align: bottom;
        position: absolute;
        right: 30px;
        bottom: 25px;
    }

    .share-section .get-started,
    .share-section .get-started:hover {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none;
        padding: 0px 10px;
    }
    .share-section .get-started img{
        width: 35px;
    }
    .share-section ul {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    .share-section ul li {
        display: inline-block;
    }


    /*consultant request*/

    .pp-page.consultant_request {
    /*background-color:transparent;
    border:none;*/
}

.consultant_request_heading {
    font-family: 'UbuntuM';
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
}

.cc-request-form {
    margin-top: 30px;
}

.cc-request-form label {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    padding-bottom: 5px;
}

.cc-request-form .e-button {
    margin-top: 15px;
}

.cc-request-form .e-button label a {
    font-family: 'OpenSansRegular';
    color: #d03135;
    margin-right: 20px;
}

.cc-button.get-started {
    background-color: transparent;
    color: #d03135;
    font-family: 'UbuntuM';
    font-size: 16px;
    padding: 7px 20px;
    border: 1px solid #d03135;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 102px;
}

.cc-button.get-started:focus,
.cc-button.get-started:hover,
.cc-button.get-started.active.focus,
.cc-button.get-started.active:focus,
.cc-button.get-started.active:hover,
.cc-button.get-started:active.focus,
.cc-button.get-started:active:focus,
.cc-button.get-started:active:hover {
    background-color: transparent !important;
    color: #d03135 !important;
    font-family: 'UbuntuM';
    font-size: 16px;
    padding: 7px 20px;
    border: 1px solid #d03135 !important;
    display: inline-block;
    box-shadow: none;
}

.cc-button.get-started .fa {
    position: relative;
    top: 2px;
}

.dd-notes h5 {
    font-family: 'UbuntuM';
    font-size: 16px;
    padding-bottom: 5px;
}

.dd-notes {
    clear: both;
}

.dd-notes ul {
    list-style-type: inherit !important;
    margin-left: 20px;
}

.dd-notes ul li {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    padding-bottom: 10px;
    color: #333333;
}

.cc-request-form .form-control {
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.dashTo {
    color: #000 !important;
}

.nn-btn {
    background: #666666 !important;
    border: 1px solid #666666 !important;
}
.crPage{
    border: 1px solid #ddd;
}
.crPages{
    padding: 40px 0px;
}
#banner-section.project-banner .banner-content {
    margin-top: 8%;
}
#banner-section.case-banner .banner-content {
    margin-top: 10%;
}
.btn-aligns{
    position: absolute;
    top: 102px
}
#editor-container {
  height: 375px;
}
.ql-toolbar.ql-snow {
    background-color: #fff;
}
.ql-snow * {
    box-sizing: border-box;
    background-color: #fff;
}
#editor-container.ql-snow,
#editor-container1,
#editor-container2 {
    height: 250px;
}
#banner-section.case-banner.s-banner .banner-content{
   margin-top: 3%;
}
#banner-section.s-banner .banner-content h1,
#banner-section.s-banner .banner-content p{
    color: #000;
}
#banner-section.case-banner.s-banner{
    height: 470px !important;
}

#banner-section.case-banner.site-banner .banner-content{
   margin-top: 6%;
}
#banner-section.project-banner.site-banner .banner-content{
   margin-top: 3%;
}
#banner-section.site-banner .banner-content h1,
#banner-section.site-banner .banner-content p{
    color: #000;
}
#banner-section.site-banner{
    height: 470px !important;
}
/*.site-icon{
    width: 20%;
    }*/
    .ask-expertPage .apply-form .e-button{
        margin-top: 15px;
    }
    .ask-expertPage .tag-container{
        clear: both;
    }
    .ask-heading{
        background-color: #000;
    }
    .ask-heading h5{
        color: #fff;
        font-family: 'OpenSansRegular';
        font-size: 16px;
        padding: 10px 15px;
    }
    .ask-expertPage .pp-desc .pp-name{
        border-bottom: none;
    }
    #withoutimg-l .pp-desc{
        display: block;
        padding-left: 0px;
    }
    .withimg-data{
        display: inline-block;
    }
    .withimg-data .pp-img{
        display: inline-block;
        padding-right: 5px;
        margin-bottom: 10px;
    }
    #upvote-btn{
     border-radius: 0px;
     margin-top: 5px;
     font-size: 14px !important;
     font-family: 'OpenSansRegular';
     width: 100px;
     float: none !important;
     text-align: center;
     padding: 5px 0px;
 }
 #apply-section.ask-expertPage .tag-lists ul li a,
 #apply-section.ask-expertPage .tag-container ul li a{
    font-size: 12px !important;
    color: #333333 !important;
}
#apply-section.ask-expertPage .tag-lists ul li a:hover,
#apply-section.ask-expertPage .tag-container ul li a:hover{
    color: #d03135 !important;
    text-decoration: underline;
}
.mm-data ul li{
    display: inline-block;
    color: #333333;
    font-size: 14px;
}
.smallIcon{
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin-bottom: 0px;
    vertical-align: top;
}
.smallIcon img{
    width: 100%;
}
.ask-expertPage#apply-section {
    margin-top: 0px;
}
#popularTags {
    padding: 10px 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#popularTags .tag-lists{
    margin-left: 0px;
}

#popularTags .tag-lists span{
 font-family: 'OpenSansRegular';
 font-size: 14px;
 display: inline-block;
}
#popularTags .tag-lists ul{
 display: inline-block;
 margin-bottom: 0px;
}
#popularTags .tag-lists ul li{
    font-family: 'OpenSansRegular' !important;
    color: #333333;
    font-size: 12px !important;
    background-color: #EFEFEF;
    padding: 5px 10px !important;
    display: inline-block;
    margin-bottom: 10px;
}
.position-pp{
    font-family: 'OpenSansRegular';
    font-size: 16px; 
}
.pp-rightside.pp-data h5 {
    font-family: 'UbuntuM';
    font-size: 24px;
    color: #000;
    text-decoration: none !important;
}
.pp-rightside.pp-data ul{
    margin-top: 5px;
}
.pp-rightside.pp-data ul li a{
    display: inline-block;
    color: #000;
}
.pp-rightside.pp-data ul li{
    padding-right: 15px;
}
.pp-rightside.pp-data ul li .fa{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.77);
}
.pp-rightside.pp-data ul li .fa:hover{
    color: #d03135;
}
.font19{
    font-size: 19px !important;
}
.insight-img{
    margin: 30px 0px;
    width: 70%;
}
.insight-img img{
    width: 100%;
}
.e-button label a {
    font-family: 'OpenSansRegular';
    color: #d03135 !important;
    font-size: 16px;
}
.myaccount_client .e-button{
    margin-bottom: 30px;
}
.myaccount_client .e-button label{
    margin-right: 20px;
}
/*responsive code*/

@media screen and (min-width: 991px) and (max-width: 1150px) {
    .p-names {
        width: 37%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .paddingalign {
        margin-left: 0px;
    }
    .badge-c.email-c .email-img {
        margin-left: 5px;
    }
    .badge-c .get-started {
        padding: 6px 5px;
        border-radius: 2px;
    }
    .badge-c .sub-desc-e img {
        width: 70px;
    }
    /*create section*/
    #apply-section .create-section .width49 {
        width: 49.5%;
    }
    #guest-container .apply-form .width49 {
        width: 100%;
    }
    /*project proposal page*/
    .pp-desc {
        width: 85%;
    }
}
@media screen and (max-width: 1100px) {
    .cc-button.get-started{
        position: static;
        display: inline-block !important;
    }
}
@media screen and (min-width: 991px) and (max-width: 1024px) {
    /*testimonial*/
    .testimonial-container .tesimonial-part .person-desc {
        width: 70%;
        padding-left: 5px;
        padding-top: 5px;
    }
    .testimonial-container .tesimonial-part .person-desc p,
    .testimonial-container .tesimonial-part .person-desc span {
        font-size: 16px;
        line-height: 21px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /*header*/
    .navbar-right {
        float: right!important;
        margin-right: 11px;
    }
    .header-align .navbar-right li a,
    .header-align .navbar-right li {
        font-size: 13px !important;
    }
    .p-names {
        width: 40%;
    }
    .pp-desc {
        width: 85%;
    }
}

@media only screen and (max-width: 991px) {
    .btn-aligns{
        position: static;
        top: auto;
    }
    .clearboth {
        clear: both;
    }
    /*header*/
    .header-align .container {
        width: 100%;
        padding: 0px 10px;
    }
    .header-align .navbar-brand {
        padding-left: 10px;
    }
    .header-align .nav-top {
        right: 5px;
    }
    .header-align .navbar-right li a,
    .header-align .navbar-right li {
        font-size: 16px;
    }
    .header-align .navbar-right li {
        padding: 0px 8px;
    }
    /*banner*/
    #banner-section {
        height: 420px !important;
    }
    #banner-section .featured-work {
        width: 100%;
    }
    #banner-section .banner-content {
        padding-top: 4%;
        margin-top: inherit;
    }
    /*impression section*/
    #impression-section,
    .ampliy-section#impression-section,
    #testimonial-section {
        padding: 40px 0px;
    }
    #impression-section .impression-desc {
        margin-top: 40px;
    }
    /*testimonial*/
    .testimonial-container {
        background-color: transparent;
        width: 100%;
    }
    .testimonial-container .tesimonial-part .person-img {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .testimonial-container .tesimonial-part .person-desc {
        width: 100%;
        text-align: center;
    }
    .testimonial-container .tesimonial-part .person-desc {
        width: 100%;
        padding-left: 5px;
        padding-top: 15px;
    }
    .testimonial-container .carousel-control.right {
        right: 40px;
    }
    .testimonial-container .carousel-control.left {
        left: 40px;
    }
    /*footer*/
    .about-footer {
        margin-top: 50px;
    }
    #footer-section .tweets-footer ul li,
    #footer-section .tweets-footer ul li a {
        font-size: 13px;
    }
    /*login*/
    .registerModel .consultant-section {
        margin-bottom: 20px;
    }
    /*feature*/
    #features-section .feature-container {
        height: auto;
    }
    /*membership container*/
    #membership-section .plan-container {
        height: auto;
    }
    .total-cost .get-started {
        margin-left: 0px;
        margin-top: 20px;
    }
    #membership-section .price-desc ul {
        margin-bottom: 60px;
    }
    .features-img img {
        width: 40%;
    }
    .sub-desc-e img {
        width: auto;
    }
    #features-section .feature-container .features-desc p {
        font-size: 14px;
        padding: 10px 10px;
    }
    /*badge*/
    .badge-c {
        background-color: #333;
        width: 90% !important;
        padding: 15px 0px;
    }
    .badge-c.email-c .email-img {
        margin-left: 5px;
    }
    .badge-c .get-started {
        padding: 6px 5px;
        border-radius: 2px;
    }
    .badge-c .sub-desc-e img {
        width: 70px;
    }
    #apply-section .get-started {
        margin-bottom: 30px;
    }
    #apply-section {
        margin-top: 70px;
        background-color: #EFEFEF;
    }
    /*lenses page*/
    .lenses-section {
        padding: 20px 15px;
    }
    .lenses-section iframe {
        height: 100% !important;
    }
    .lenses-section .lenses-discount label {
        margin-top: 0px;
        line-height: 27px;
    }
    #apply-section {
        padding-bottom: 50px;
    }
    #apply-section {
        margin-bottom: 0px;
    }
    #eligibility-section {
        margin-bottom: 60px;
    }
    .lenses-section {
        padding-bottom: 50px;
    }
    .pad40 {
        padding-right: 15px;
    }
    #guest-container .apply-form {
        margin-top: 30px;
    }
    .g-linkedin {
        padding: 10px 0px;
        border-right: none;
        border-bottom: 1px solid #ddd;
        text-align: center;
        padding-bottom: 30px;
    }
    #guest-container {
        padding: 30px 15px;
    }
    .g-linkedin p {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-top: 15px;
    }
    .w-heading h5 {
        padding-top: 30px;
    }
    .why-container span {
        padding-bottom: 50px;
        display: block;
    }
    .memberData span {
        margin-bottom: 40px;
    }
    .share-section ul {
        margin-right: 10px;
        margin-bottom: 0px;
        display: block;
        position: absolute;
        top: 8px;
        left: 190px;
    }
    .share-section {
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        right: 0px;
        bottom: -25px;
        width: 100%;
    }
    .pp-heading h5 {
        padding: 10px 10px;
    }
    .t-listwrapper ul li {
        width: 48%;
    }
}

@media only screen and (max-width: 767px) {
    /*header*/
    .nav-top,
    .mhide {
        display: none !important;
    }
    .mshow {
        display: block !important;
    }
    .header-align .navbar-right li {
        margin-top: 20px;
        margin-left: 10px;
    }
    .header-align .navbar-collapse {
        background-color: #fff;
    }
    .header-align .profile-dropdown .caret {
        position: inherit;
        margin-bottom: 19px;
    }
    .header-align .dropdown-menu li a {
        color: #d03135 !important;
    }
    /*banner*/
    .banner-content .start-img {
        width: 210px;
    }
    #banner-section .banner-content h1 {
        font-size: 35px;
    }
    #banner-section .banner-content p {
        font-size: 16px;
        padding: 0px 5px;
    }
    #banner-section .featured-work .featured-desc {
        margin-bottom: 20px;
    }
    #banner-section .featured-work .featured-desc img {
        width: 60px;
    }
    #banner-section .featured-work .featured-desc label {
        font-size: 16px;
        padding: 5px;
    }
    #banner-section .featured-work .heading h5 {
        margin-bottom: 30px;
    }
    #banner-section .featured-work {
        margin: 15px auto;
    }
    /*impression section*/
    #impression-section .impression-desc h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .mpad0 {
        padding: 0px;
    }
    /*testimonial*/
    #testimonial-section .testimonial-heading h1 {
        font-size: 25px;
    }
    .testimonial-container .tesimonial-part .person-desc p {
        margin-top: 15px;
    }
    /*form section*/
    #interested-section .form-interest {
        width: 100%;
    }
    #interested-section .get-started {
        width: auto;
        font-size: 16px;
    }
    /*header*/
    .shownav {
        display: block !important;
        position: absolute;
        top: 20px;
        right: 108px;
    }
    .shownav li,
    .shownav li a {
        font-family: 'OpenSansRegular';
        font-size: 12px;
        color: #000;
        line-height: 24px;
    }
    .shownav li a {
        color: #d03135;
        border: 1px solid #d03135;
        padding: 3px 3px;
    }
    .featured-desc {
        margin-bottom: 30px;
    }
    /*loginModal*/
    .loginModal .modal-dialog {
        width: 450px;
        margin: 0 auto;
    }
    .modal-content {
        height: 100vh;
        overflow: auto;
    }
    .registerModel .modal-dialog {
        margin: 0px;
    }
    /*ytab link*/
    .tab-links ul li {
        margin-left: 0px;
    }
    .tab-links ul li a,
    .tab-links ul li a:hover {
        font-size: 12px;
        padding: 24px 5px;
    }
    #customized-membership .features-heading p {
        padding: 15px;
    }
    /*advantage page*/
    .website-page.advantage-page .banner-content {
        padding-top: 70px !important;
    }
    .website-page.advantage-page .banner-content h1 {
        font-size: 24px !important;
    }
    .website-page.advantage-page .banner-content p {
        font-size: 14px !important;
        padding: 0px 15px !important;
    }
    .align-test {
        padding-bottom: 50px !important;
    }
    #banner-section .get-started {
        font-size: 14px !important;
    }
    .header-align .profile-dropdown {
        border: none;
    }
    #apply-section .width49 {
        width: 100% !important;
    }
    #apply-section .or:before {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0px;
        width: 35%;
        background-color: rgba(0, 0, 0, 0.18);
        top: 12px;
        height: 1px;
    }
    #apply-section .or:after {
        content: '';
        position: absolute;
        display: inline-block;
        right: 0px;
        width: 35%;
        background-color: rgba(0, 0, 0, 0.18);
        top: 12px;
        height: 1px;
    }
    .p-names {
        width: 80%;
    }
    .interest-section .e-button {
        margin-top: 20px;
    }
    .free-c {
        margin-left: 0px;
    }
    #projectnew-view .apply-heading h5 {
        padding-bottom: 0px;
    }
    .business-step ul li {
        margin-right: 0px;
        width: 32%;
        vertical-align: top;
        padding: 0px;
    }
    .business-step ul li label {
        font-family: 'UbuntuM';
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #d03135;
        font-size: 14px;
        color: #fff;
        padding: 6px 0px;
    }
    .business-step ul li span {
        font-size: 11px;
    }
    .projectHome h1 {
        font-size: 18px !important;
    }
    .w-heading h5 {
        padding-top: 30px;
    }
    .pp-desc {
        padding-left: 0px;
        width: 100%;
    }
    .pp-img {
        width: 100px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    #withimg-l .pp-img {
        margin-bottom: 0px;
    }
    .tag-container {
        margin: 20px 10px;
    }
    .pp-desc .pp-name span,
    .pp-desc .pp-name label,
    .pp-sub label,
    .pp-sub span a {
        font-size: 14px;
    }
    .tag-lists ul li,
    .main-tags ul li {
        font-size: 12px;
        padding: 5px 5px;
    }
    .pp-heading h5 {
        font-size: 14px;
        padding: 0px 15px;
    }
    .back-page {
        padding: 15px 10px;
        padding-bottom: 0px;
    }
    .pp-page {
        padding: 0px;
        margin: 10px 0px;
    }
    .pp-profile,
    .pp-label {
        padding: 20px 10px;
    }
    .pp-rightside {
        width: 100%;
        text-align: center;
    }
    .pp-pic {
        display: block;
        overflow: hidden;
        width: 150px;
        margin: 10px auto;
    }
    .not-quite .get-started {
        font-size: 13px;
        padding: 10px 10px;
    }
    .pp-label p {
        font-size: 14px;
    }
    .pp-rightside .get-started {
        display: block;
        margin: 10px auto;
    }
    .t-listwrapper ul li {
        width: 48%;
        font-size: 13px;
    }
    .share-section .get-started img{
        width: 25px;
    }
    #banner-section.case-banner .banner-content {
        padding-top: 20%;
    }
    #banner-section.case-banner {
        height: 300px !important;
    }
    #banner-section.project-banner .banner-content{
        padding-top: 18%;
    }
    .bg-icon {
        width: 300px;
    }
    #banner-section.site-banner{
        height: 450px !important;
    }
    #popularTags {
        padding: 10px 10px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 520px) {
    /*header*/
    .header-align .navbar-brand img {
        width: 90px;
        margin-top: 29px;
    }
    .invest-details .invest-area {
        width: 100%;
    }
    .shownav {
        right: 48px;
    }
    /*footer*/
    #subfooter-section ul,
    #subfooter-section label {
        text-align: center;
        float: none !important;
        display: block;
    }
    /*login model*/
    .loginModal .modal-dialog {
        width: auto;
        margin: 0 auto;
        display: block;
    }
    .loginModal .modal-title {
        font-size: 16px;
    }
    .features-img img {
        width: 60%;
    }
    .sub-desc-e img {
        width: auto;
    }
    #privacy-section .p-area .privacy-desc p,
    #privacy-section .p-area .privacy-desc ul li,
    #privacy-section .p-area .privacy-desc label {
        font-size: 14px;
    }
    #apply-section .or:before {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0px;
        width: 27%;
        background-color: rgba(0, 0, 0, 0.18);
        top: 12px;
        height: 1px;
    }
    #apply-section .or:after {
        content: '';
        position: absolute;
        display: inline-block;
        right: 0px;
        width: 27%;
        background-color: rgba(0, 0, 0, 0.18);
        top: 12px;
        height: 1px;
    }
    /*create section*/
    .enter-price {
        width: 67%;
    }
    .create-section .e-button label a {
        font-size: 14px !important;
    }
    /*project list members page*/
    .p-members-table table tr th {
        font-size: 13px;
    }
    .p-members-table table tr td,
    .p-members-table table tr td a {
        font-size: 13px !important;
    }
    .membership-btn {
        font-size: 14px !important;
    }
    .interest-section .e-button {
        margin-top: 15px !important;
        margin-bottom: 0px;
    }
    .interest-section .e-button .get-started {
        font-size: 12px !important;
        padding: 5px 6px;
    }
    .interest-section .e-button label {
        margin-right: 10px;
        margin-top: 3px;
    }
    .created-person-img .get-started {
        padding: 10px 25px !important;
    }
    .g-linkedin img {
        width: 100%;
    }
    .g-heading label {
        font-size: 13px;
    }
    .loginModal .or:before {
        width: 28%;
    }
    .loginModal .or:after {
        width: 28%;
    }
    #signup-modal .or:before {
        width: 12%;
    }
    #signup-modal .or:after {
        width: 12%;
    }
    .login-with img {
        width: 80%;
    }
    .share-section ul {
        margin-right: 10px;
        margin-bottom: 0px;
        display: block;
        position: absolute;
        top: 0px;
        left: 130px;
    }
    .share-section .get-started,
    .share-section .get-started:hover {
        padding: 2px 10px !important;
        font-size: 14px;
    }
    .consultant_request_heading {
        font-size: 18px;
    }
    .bg-icon {
        width: 300px;
    }
    #banner-section.lenses-page.hPage {
        height: 500px !important;
    }
    #banner-section.case-banner.s-banner {
        height: 500px !important;
    }
    #banner-section.site-banner{
        height: 500px !important;
    }
}

@media only screen and (max-width: 420px) {
    /*impression*/
    #impression-section .impression-desc h1 {
        font-size: 20px;
    }
    /*email signature*/
    .email-c {
        width: 100%;
    }
    .email-c .email-desc {
        width: 60%;
    }
    #eligibility-section .get-started,
    .create-section .get-started {
        padding: 10px 8px;
        font-size: 13px !important;
    }
    #apply-section .create-section .form-group label {
        font-size: 14px;
    }
    .char-limit {
        font-size: 10px;
    }
    .t-listwrapper ul li {
        font-size: 12px;
    }
}

@media only screen and (max-width: 360px) {
    .tab-links ul li {
        padding: 12px 0px;
        padding: 12px 0px;
        margin-top: -4px;
    }
    .tab-links ul li a,
    .tab-links ul li a:hover {
        font-size: 11px;
        padding: 15px 5px;
    }
    .total-cost .form-control {
        width: 220px;
        font-family: 'UbuntuM';
    }
}
@media only screen and (min-width: 1500px) {
    #banner-section.lenses-page.hPage {
        height: 600px !important;
    }
    #banner-section.site-banner{
        height: 600px !important;
    }
}
