<?php
// during registeration from admin as mentors by created by admin
?>
<table>
	<tr>
		<td>Dear
		<?php
		if(isset($data['UserReference']['first_name'])){
			echo $data['UserReference']['first_name'].' '.$data['UserReference']['last_name'];
		}else{
			echo 'xxxx';
		}
		
		?></td>
	</tr>
	<tr>
		<td>
		<p>
			You are now a member of Menotors Guild, and we are proud to have you in our midst.
		</p>
		<p>
			The Guild is a fellowship of experts and experienced professionals,such as yourself, who want to help others succeed. We want to make it easy for you to find high<br>
			quality learners who respect your time and expertise.
		
		</p>
		<p>
		Your login details are belows::<br>
		<b>User :</b> <?php if(isset($data['User']['username'])) echo $data['User']['username'];?><br>
		<b>Password</b> : mentorsguild
		
		</p>
		<p>
		
		<?php e($html->link('Please click here',array('admin'=>false,'controller' => 'fronts', 'action' => 'index')));?>

		</p>
		<p>
		Thank you,
		Iqbal Ashraf
		Executive Director
		Mentors Guild
		</p>
		</td>
	</tr>	
</table>