<?php
if(isset($data['UserReference']['first_name'])){
	$name = $data['UserReference']['first_name'].' '.$data['UserReference']['last_name'];
}else{
	$name = 'xxxx';
}		
?>
<table>
	<tr>
		<td>
		<p>Hello Admin,</p>
		<p>
			There is a new Mentor request on MentorsGuild.com. Please visit the <?php e($html->link('admin panel',SITE_URL."admin/mentors/pending",array('style'=>"color:#f23034;",'target'=>'blank'))); ?> for more details on pending mentors. 
		</p>
		<p><strong>Username : <?php e($data['User']['username']); ?></strong></p>		
		<p>
		<b>Please Note</b> : This is a system generated mail.<br>
			
		</td>
	</tr>	
</table>