<table>
	<tr>
		<td>
		<p>Dear <?php echo ucfirst($user['UserReference']['first_name'])." ".ucfirst($user['UserReference']['last_name']);?>,</p>
		<p>
			Please click or copy-paste the link below to set your password.
		</p><br/>
		
		<a href="<?php echo SITE_URL."users/reset_password?act=".$user['User']['activation_key']; ?>" target="_blank" style="color:#f23034;"><?php echo SITE_URL."users/reset_password?act=".$user['User']['activation_key']; ?></a>
		</td>
	</tr>	
	<tr><td align="left"><img style="padding-top:5px;" src="<?php e(SITE_URL);?>/img/email-logo.png"></td></tr>
</table>