<div class="holder" style="background-color:#eaeaea;">
	<table cellspacing="0" cellpadding="0" border="0" width="100%" style="margin-left:10px; margin-top:10px;">
		<tbody>
			<tr><td align="left"><img style="padding-top:5px;" src="<?php e(SITE_URL);?>/img/email-logo.png"></td></tr>
		</tbody>
	</table>
	<br clear="all"><br clear="all">
	<div class="content">
	sadsa
	</div>
	<br clear="all">
	<div class="Clear"></div>
	<div class="footer" height="50">
	<div style="border-bottom:0px solid #9a9a9a;padding:5px;min-height:50px;">&copy; Copyright cellsolo <a href="<?php echo SITE_URL;?>" target="_blank" rel="nofollow">Cellsolo</a>.</div>
	</div>
<br clear="all"><br clear="all">
<div>