<script type="text/javascript">
mentee_url = 'companylogo';
</script>
<?php echo($this->Html->script(array('fileupload/qr-code-brochure18','fileupload/fileuploader3'))); ?>

<?php echo($this->Html->css(array('fileupload/fileuploader1'))); 
if($this->Session->read('Auth.User.id')!=''):
	echo($this->Form->hidden('User.hash',array('value'=>$this->Session->read('Auth.User.id'),'id'=>'comapanylogo'))); 
else:
	echo($this->Form->hidden('User.hash',array('id'=>'comapanylogo')) ); 
endif;
?>

<div id="vertical_company_logo">
	<noscript>			
		<p>Please enable JavaScript to use file uploader.</p>
	</noscript>         
</div>

<!--  =======image name in input box ============ -->
<span id="userImageList"><span>	
<!--  =======show image name list ============ -->