<script type="text/javascript">
mentee_url = 'mentee';
</script>
<?php echo($this->Html->script(array('fileupload/qr-code-brochure9','fileupload/fileuploader1'))); ?>

<?php echo($this->Html->css(array('fileupload/fileuploader'))); 
if($this->Session->read('Auth.User.id')!=''):
	echo($this->Form->hidden('User.hash',array('value'=>$this->Session->read('Auth.User.id')))); 
else:
	echo($this->Form->hidden('User.hash')); 
endif;
?>

<div id="vertical_logo">
	<noscript>			
		<p>Please enable JavaScript to use file uploader.</p>
	</noscript>         
</div>

<!--  =======image name in input box ============ -->
<span id="userImageList"><span>	
<!--  =======show image name list ============ -->	