<?php header("Cache-control: public"); ?>
<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
      <div id="financial-management">
        <p>
		<span><?php 
		$memCount = count($data);
		$dirCount = count($dUsersFinal);
		$totCount = $memCount + $dirCount;
		if($keyword == ''){
		echo "Browse all";
		}else{
		echo $keyword;	
		}
		?></span> 
		<span style="float: right; font-weight: normal;"> <?php e($totCount." experts");?></span>
		</p>
      </div>
      <div id="mentors-content">
		<?php
			e($this->element('front/search'));
		?>
      </div>
    </div>
  </div> 
<?php 
if(empty($data)){?>
 <script type="text/javascript">
	jQuery(window).bind('load resize',function(){
		if(jQuery("body").height() < jQuery(window).height()){
			jQuery("#footer-wrapper").css({'position':'fixed'})
		}
		
	});
 </script>
 <?php
}?>