	<div id="inner-content-wrapper">
		<?php $noOfUSers = count($dUsersFinal);?>
    	<div id="inner-content-box" class="pagewidth">
      		<div id="user-account" style="margin-bottom: 140px;">
        		<div class="account-form">
        			<div class="heading" id="financial-management">
		              	<p>
							<span><?php 
								if($keyword == ''){
									echo "Experts directory";	
								}
							?></span>
						</p>
		            </div>
		            <?php $counter = 0;
		            $oneThirdUser = ceil($noOfUSers/3);
		            $twoThirdUser = $oneThirdUser + $oneThirdUser;?>
	          		<div class="column first" style="width: 30%;">
	          			<?php foreach ($dUsersFinal as $key=>$value){?>
		            		<div class="subheading careerHOME">
		              			<a href="<?php e(trim($this->General->addhttp($value['Directory_user']['linkedin_url'])));?>" target="_blank"><?php e($value['Directory_user']['last_name'].', '.$value['Directory_user']['first_name']); ?></a>
			              		<input class="expButton1 careerBTN" type="button" value="View Profile" onclick="window.open('<?php e(trim($this->General->addhttp($value['Directory_user']['linkedin_url'])));?>')">
		              			<span title="Open" class="darrow" onclick="showonlyone('box<?php e($value['Directory_user']['id']);?>');"></span>
		              			<div class="openCONTENT" id="box<?php e($value['Directory_user']['id']);?>">
		              				<span title="Close" class="darrowTOP" onclick="showonlyone('box<?php e($value['Directory_user']['id']);?>');"></span>
		              					<table>
		              						<?php if($value['Directory_user']['sendEmail'] == 1){?>
		              						<tr>
		              							<td><img src="<?php e(SITE_URL);?>images/email.png"></td>
		              							<td>I want to consult <?php e($value['Directory_user']['first_name']."  ".$value['Directory_user']['last_name']);?>. <a href="javascript:dir_consult(<?php e($value['Directory_user']['id']);?>);">Email</a></td>
		              						</tr>
		              						<?php }?>
		              						<tr>
		              							<td><img src="<?php e(SITE_URL);?>images/info.png"></td>
		              							<td>I have consulted <?php e($value['Directory_user']['first_name']."  ".$value['Directory_user']['last_name']);?> in the past. <a href="javascript:dir_feedback(<?php e($value['Directory_user']['id']);?>);">Leave Feedback</a></td>
		              						</tr>
		              						<tr>
		              							<td><img src="<?php e(SITE_URL);?>images/user.png"></td>
		              							<td>I am <?php e($value['Directory_user']['first_name']."  ".$value['Directory_user']['last_name']);?>. <a href="<?php e(SITE_URL.'fronts/claim_profile/'.$value['Directory_user']['id']);?>"> Claim your free profile</a></td>
		              						</tr>
		              					</table>
		              			</div>
		              		</div>
			            	<?php $counter++;  if($counter == $oneThirdUser) {
	            					break;
	            				}?>
            			<?php }?>
		            </div>
		            <div class="column last" style="width: 30%; float: left; margin-left: 42px;">
		            	<div class="clear"></div>
		            	<?php while( $counter < $noOfUSers){?>
		            		<div class="subheading careerHOME">
		              			<a href="<?php e(trim($this->General->addhttp($dUsersFinal[$counter]['Directory_user']['linkedin_url'])));?>" target="_blank"><?php e($dUsersFinal[$counter]['Directory_user']['last_name'].', '.$dUsersFinal[$counter]['Directory_user']['first_name']); ?></a>
			              		<input class="expButton1 careerBTN" type="button" value="View Profile" onclick="window.open('<?php e(trim($this->General->addhttp($dUsersFinal[$counter]['Directory_user']['linkedin_url'])));?>')">
		              			<span title="Open" class="darrow" onclick="showonlyone('box<?php e($dUsersFinal[$counter]['Directory_user']['id']);?>');"></span>
		              			<div class="openCONTENT" id="box<?php e($dUsersFinal[$counter]['Directory_user']['id']);?>">
		              				<span title="Close" class="darrowTOP" onclick="showonlyone('box<?php e($dUsersFinal[$counter]['Directory_user']['id']);?>');"></span>
			              				<table>
			              					<?php if($dUsersFinal[$counter]['Directory_user']['sendEmail'] == 1){?>
		              						<tr>
		              							<td><img src="<?php e(SITE_URL);?>images/email.png"></td>
		              							<td>I want to consult <?php e($dUsersFinal[$counter]['Directory_user']['first_name']."  ".$dUsersFinal[$counter]['Directory_user']['last_name']);?>. <a href="javascript:dir_consult(<?php e($dUsersFinal[$counter]['Directory_user']['id']);?>);">Email</a></td>
		              						</tr>
		              						<?php }?>
		              						<tr>
		              							<td><img src="<?php e(SITE_URL);?>images/info.png"></td>
		              							<td>I have consulted <?php e($dUsersFinal[$counter]['Directory_user']['first_name']."  ".$dUsersFinal[$counter]['Directory_user']['last_name']);?> in the past. <a href="javascript:dir_feedback(<?php e($dUsersFinal[$counter]['Directory_user']['id']);?>);">Leave Feedback</a></td>
		              						</tr>
		              						<tr>
		              							<td><img src="<?php e(SITE_URL);?>images/user.png"></td>
		              							<td>I am <?php e($dUsersFinal[$counter]['Directory_user']['first_name']."  ".$dUsersFinal[$counter]['Directory_user']['last_name']);?>. <a href="<?php e(SITE_URL.'fronts/claim_profile/'.$dUsersFinal[$counter]['Directory_user']['id']);?>"> Claim your free profile</a></td>
		              						</tr>
		              					</table>
			            		</div>
			            	</div>
			            	<?php $counter++;  if($counter == $twoThirdUser) {
	            					break;
	            				}?>
            			<?php }?>
       				</div>
       				<div class="column last" style="width: 30%; float: right;">
		            	<div class="clear"></div>
		            	<?php while( $counter < $noOfUSers){?>
		            		<div class="subheading careerHOME">
		              			<a href="<?php e(trim($this->General->addhttp($dUsersFinal[$counter]['Directory_user']['linkedin_url'])));?>" target="_blank"><?php e($dUsersFinal[$counter]['Directory_user']['last_name'].', '.$dUsersFinal[$counter]['Directory_user']['first_name']); ?></a>
			              		<input class="expButton1 careerBTN" type="button" value="View Profile" onclick="window.open('<?php e(trim($this->General->addhttp($dUsersFinal[$counter]['Directory_user']['linkedin_url'])));?>')">
		              			<span title="Open" class="darrow" onclick="showonlyone('box<?php e($dUsersFinal[$counter]['Directory_user']['id']);?>');"></span>
		              			<div class="openCONTENT" id="box<?php e($dUsersFinal[$counter]['Directory_user']['id']);?>">
		              				<span title="Close" class="darrowTOP" onclick="showonlyone('box<?php e($dUsersFinal[$counter]['Directory_user']['id']);?>');"></span>
			              				<table>
			              					<?php if($dUsersFinal[$counter]['Directory_user']['sendEmail'] == 1){?>
		              						<tr>
		              							<td><img src="<?php e(SITE_URL);?>images/email.png"></td>
		              							<td>I want to consult <?php e($dUsersFinal[$counter]['Directory_user']['first_name']."  ".$dUsersFinal[$counter]['Directory_user']['last_name']);?>. <a href="javascript:dir_consult(<?php e($dUsersFinal[$counter]['Directory_user']['id']);?>);">Email</a></td>
		              						</tr>
		              						<?php }?>
		              						<tr>
		              							<td><img src="<?php e(SITE_URL);?>images/info.png"></td>
		              							<td>I have consulted <?php e($dUsersFinal[$counter]['Directory_user']['first_name']."  ".$dUsersFinal[$counter]['Directory_user']['last_name']);?> in the past. <a href="javascript:dir_feedback(<?php e($dUsersFinal[$counter]['Directory_user']['id']);?>);">Leave Feedback</a></td>
		              						</tr>
		              						<tr>
		              							<td><img src="<?php e(SITE_URL);?>images/user.png"></td>
		              							<td>I am <?php e($dUsersFinal[$counter]['Directory_user']['first_name']."  ".$dUsersFinal[$counter]['Directory_user']['last_name']);?>. <a href="<?php e(SITE_URL.'fronts/claim_profile/'.$dUsersFinal[$counter]['Directory_user']['id']);?>"> Claim your free profile</a></td>
		              						</tr>
		              					</table>
			            		</div>
			            	</div>
			            	<?php $counter++;  ?>
            			<?php }?>
       				</div>
      			</div>
    		</div>
		</div>
	</div>
	
<script type="text/javascript">
function showonlyone(thechosenone) {
 jQuery('.openCONTENT').each(function(index) {
      if (jQuery(this).attr("id") == thechosenone) {
    	  jQuery(this).toggle(300); }
      else {
    	  jQuery(this).hide(600); }
 });
}

jQuery(document).mouseup(function (e) {

	var container = jQuery(".openCONTENT");

	if (!container.is(e.target) && container.has(e.target).length === 0){
		  container.hide();
	}
});	
</script>