<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
 <div class="tablewapper2">
                <table width="100%" >	
                    <tr style="outline: 1px solid #bcbcbc;">
                        <td width="10%" align="left" valign="middle"  style="padding-left:9px;font-weight:bold;">Deadline</td>
                        <td width="15%" align="left" valign="middle"  style="padding-left:9px;font-weight:bold;">Media outlet</td>
                        <td width="15%" align="left" valign="middle"  style="padding-left:9px;font-weight:bold;">Category</td>
			   <td width="15%" align="left" valign="middle"  style="padding-left:9px;font-weight:bold;">Subject</td>
			   <td width="15%" align="left" valign="middle"  style="padding-left:9px;font-weight:bold;">Reporter query</td>
			  <td width="15%" align="left" valign="middle"    style="padding-left:9px;font-weight:bold;">Requirement</td>
                          
                    </tr>
                     
          <?php 
                     $currentTime = strtotime("now");

                	foreach(array_reverse($mediaupdates) as $value)
				if(strtotime($value['MediaRecords']['deadline']) > $currentTime){		   
                                
					?>
                      
                         <tr style="outline: 1px solid #bcbcbc;">
                            <td align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">
                                <?php e($value['MediaRecords']['deadline']);?>
                            </td>
                            <td align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">
                                <?php e($value['MediaRecords']['media_outlet']);?>
                            </td>
                            <td align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">
                                <?php e($value['MediaRecords']['category']);?>
                            </td>
                            <td align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">
                                <?php e($value['MediaRecords']['subject']);?>
                            </td>
                            <td align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">
                               <?php e($value['MediaRecords']['reporter_query']);?>
                            </td>
                            <td align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">
                                <?php e($value['MediaRecords']['requirement']);?>
                            </td> 
                             <td align="left" valign="middle" class="Bdrrightbot" style="padding-left:9px;">         

			       <input id="applyNext" class="mgButton" style="width: 130px;" type="Button" value="Respose" onclick='javascript:media_response(<?php e($this->Session->read('Auth.User.id').",".$value['MediaRecords']['id']); ?>)'>
                           </td>
                        </tr>

                <?php }?>


</table>
</div>
</div>
</div>
