<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
        <div id="content-submit" class="thanksCENTER">
        	<h5 style="padding-right:35px;">Thanks!</h5>
        	<p>Your consultation request has been submitted for review.</p>
        	<br/>
        	<div class="button-set">
        		
				<input type="submit" style="margin-right:30px;" class="LTSpreview" value="Back to home" onclick="window.location.href='<?php echo SITE_URL?>'; " name="">
			</div>
	    </div>
    </div>
</div>
	
