<div class="adminrightinner">
     <?php echo($this->Form->create('User', array('url' => array('controller' => 'members', 'action' => 'add'))));?>     
	 <div class="tablewapper2 AdminForm">
<h3 class="legend1">Edit  Admin User   </h3>	 
		<?php echo($this->Element('Admin/form'));?>
      </div>
      <div class="buttonwapper">
				<div>
					<input type="submit" value="Submit" class="submit_button" />
				</div>
				<div class="cancel_button"><?php echo $html->link("Cancel", "/admin/members/index/", array("title"=>"", "escape"=>false)); ?></div>
				</div>
		<?php   echo($this->Form->end());?>	
</div>