	<div class="loginBlock">	
		<div class="LoginContent">		
		<?php $this->Layout->sessionFlash();?>	
			<?php echo($this->Form->create('User', array('url' => array('controller' => 'users', 'action' => 'admin_login'))));?>
			<p><span class="label">Email </span>
			<?php echo $this->Form->input("username", array("type" => "text", "div" => false, "label" => false,'style'=>'width:223px;height: 18px;')); ?>
			</p>
			<p>
			<span class="label">Password</span>
			<?php echo $this->Form->input("password", array("type" => "password", "div" => false, "label" => false)); ?>
			</p>
			<div><span class="label">&nbsp;</span><?php echo $this->Form->submit("Login", array("class" => "login_btn")); ?></div>
			<?php echo $this->Form->end(); ?>
		</div>
	</div>	
	