<div class="adminrightinner">
	<div class="tablewapper2 AdminForm">
	<h3 class="legend1">Admin Personal Information</h3>
		<?php 
			foreach ($data as $key=>$value){
			//prd($value);
		?>
		<table border="0" class="Admin2Table formTable" width="100%">		

			<tr>
				<td>First Name:</td>
				<td><?php echo($value['UserReference']['first_name']);?></td>
			</tr>
			<tr>
				<td>Lsat  Name:</td>
				<td><?php echo($value['UserReference']['last_name']);?></td>
			</tr>
			<tr>
				<td>Created Date:</td>
				<td><?php echo($value['User']['created']);?></td>
			</tr>
			<tr>
				<td>Modified Date:</td>
				<td><?php echo($value['User']['modified']);?></td>
			</tr>
		</table>
		<?php } ?>
		</div>
		<div class="buttonwapper">
			<div class="cancel_button">
				<?php echo $this->Html->link("Back", "/admin/users/index/", array("title"=>"", "escape"=>false)); ?>
			</div>
		</div>
</div>

