<?php 
echo($this->Html->css(array('jquery/jquery.alerts')));
echo($this->Html->script(array('jquery/jquery.min','jquery/jquery.alerts')));
?>


	<div id="" style="background-image: none; padding-left:40px;">
		<div id="inner-content-wrapper">
		  <div id="inner-content-box"> 
				<div class="logotextdot" style="padding-top:15px;">
					<p>
						<b>GUILD</b>
						<span style="font-family:Ubuntu;font-size:16px;color:#2a2a2a;font-weight:normal;"><?php echo Configure::read('Regpopup1');?></span>
					</p>
                                    </div>
					<div class="consultantbox">
						<span style="font-family:Ubuntu,arial,vardana;font-size:16px;color: #2a2a2a;font-weight:bold;">Consultants</span>
						<p style="font-color:#2a2a2a;">
							<?php echo Configure::read('Regpopup2');?>
						</p>

						<p>
                                        <input class="btn"  onclick="window.location.href='<?php echo SITE_URL;?>members/eligibility'" type="submit" value="Apply Now">
					     </p>

                                           </div>
					<div class="vrtLINE"></div>
					<div class="clientbox" style="width:330px;">
						<span style="font-family:Ubuntu,arial, vardana;font-size:16px;color: #2a2a2a;font-weight:bold;">Clients</span>
						<p style="font-color:#2a2a2a;">
							<?php echo Configure::read('Regpopup3');?></p>

                                          <p>
						<input class="btn" onclick="javascript:pricingAuthPopSettingPopup(1);" type="submit" value="Get Started">
					      </p>

                                         </div>
					<div class="clear"></div>
				</div>
			
			<div class="tclose"></div>
		</div>
	</div>


