<div id="inner-content-wrapper">
		<?php $noOfUSers = count($dUsersFinal);?>
    	<div id="inner-content-box" class="pagewidth">
      		<div id="user-account" style=" display: none;">
        		<div class="account-form">
        			<?php if($noOfUSers > 0){?>
					<div class="more-button-search" style="width:81%; float:right; text-align:center">
		              	<p>
                                        <?php if(false !== stripos($keyword,"/"))
                                          $keywords = str_replace("/","_slash",$keyword);
                                           elseif(false !== stripos($keyword,"&"))
                                                $keywords = str_replace("&","_and",$keyword);
                                           elseif(false !== stripos($keyword,"-"))
                                                $keywords = str_replace("-","_or",$keyword);
                                                 ?>
                      

                                                 
							<?php 
                                                        $ab = "Experts";
								if($keyword == '' || (false !== stripos($keyword,$ab))){
                                                         ?>
								  <input type="button" value="Browse other experts" onclick="window.location.href='<?php echo SITE_URL."browse/directory_result/"; ?>';">	
                                                <?php } elseif((false !== stripos($keyword,"/")) || (false !== stripos($keyword,"&")) || (false !== stripos($keyword,"-"))){ 
                                                       ?>
								  <input type="button"  style="font-weight:normal;" value="Other experts for '<?php e($keyword); ?>'" onclick="window.location.href='<?php echo SITE_URL."browse/directory_result/".$keywords; ?>';">	
                                                              
                                                 <?php }else{ ?>
                                                         <input type="button"  style="font-weight:normal;" value="Other experts for '<?php e($keyword); ?>'" onclick="window.location.href='<?php echo SITE_URL."browse/directory_result/".$keyword; ?>';">	
                                                      <?php }
							?>
						</p>
		            </div>
		            <?php }?>

	</div>
		</div>
	</div>
	
</div>
		         