/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);*/
 @font-face {
 font-family: 'ubuntu';
 src: url('ubuntu-r-webfont.eot');
 src: url('ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'), url('ubuntu-r-webfont.woff') format('woff'), url('ubuntu-r-webfont.ttf') format('truetype'), url('ubuntu-r-webfont.svg#ubunturegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'proximanova';
 src: url('proximanova-regular-webfont.eot');
 src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('proximanova-regular-webfont.woff') format('woff'), url('proximanova-regular-webfont.ttf') format('truetype'), url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'proximanova light';
 src: url('proximanova-light-webfont.eot');
 src: url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('proximanova-light-webfont.woff') format('woff'), url('proximanova-light-webfont.ttf') format('truetype'), url('proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'proximanova semibold';
 src: url('proximanova-semibold-webfont.eot');
 src:url('proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('proximanova-semibold-webfont.woff') format('woff'), url('proximanova-semibold-webfont.ttf') format('truetype'), url('proximanova-semibold-webfont.svg#proxima_nova_ltbold') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'proximanova bold';
 src: url('proximanova-bold-webfont.eot');
 src: url('proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('proximanova-bold-webfont.woff') format('woff'), url('proximanova-bold-webfont.ttf') format('truetype'), url('proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'proximanova thbold';
 src: url('proximanova-extrabold-webfont.eot');
 src: url('proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('proximanova-extrabold-webfont.woff') format('woff'), url('proximanova-extrabold-webfont.ttf') format('truetype'), url('proximanova-extrabold-webfont.svg#proxima_nova_thbold') format('svg');
 font-weight: normal;
 font-style: normal;
}
