<div class="adminrightinner">
	<?php if(empty($changedEmails)) {?>
		<h3 class="legend1">All users up to date </h3>
	<?php }else{?>
		<h3 class="legend1">Updated user</h3>
		<?php foreach ($changedEmails as $value) {?>
		<p> <?php e($value);?></p>
		<?php }?>
	<?php }?>
	<?php if(empty($addedExpertise)) {?>
		<h3 class="legend1">No new autocomplete expertise added</h3>
	<?php }else{?>
		<h3 class="legend1">Added following autocomplete expertise</h3>
		<?php foreach ($addedExpertise as $value) {?>
		<p> <?php e($value);?></p>
		<?php }?>
	<?php }?>
</div>

