


	<div  style="background-image: none; padding-left:20px;">

				
		<p style="font-size:large;padding-top:40px;">
                            
                 <p style="font-size:large;">Check the box to accept the <span style="font-weight:bold;">Terms of service</span> and the <span style="font-weight:bold;">Privacy policy</span>.</p>
                                    


					
	</div>
			
	<div class="tclose"></div>