<?php e($html->css(array('regist_popup'))); ?>
<div id="registerationFm" style="width:88%; margin:5px 0 0 45px;">
		<table style="padding:0px;padding-top:10px;border:0px solid red;width:100%;">
			<tr>
				<td style="float:left;">
				Your profile has been deactivated. Please mail <a href="mailto:help@mentorsguild.com" class="delete">help@mentorsguild.com</a> to reactivate.				
				</td>
			</tr>
		</table>
</div>
<div style="clear:both;"></div>