<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
       <div id="content-submit">           
			<?php echo $this->data['StaticPage']['description'];?>
			<div id ="app-button" style="margin-bottom: 80px;">	
				<?php if ($showApply == false) {?>	
				<input type="button" value="Apply to be a member" onclick="window.location.href='<?php echo SITE_URL."members/apply"; ?>'; ">
				<?php } e($html->link('Back to home',array('controller'=>'fronts','action'=>'index'),array('class'=>'backRes'))); ?>
				
			</div>
	  </div>
     </div>
</div>