<?php e($javascript->link(array('front'))); ?>
<div id="header-box" class="pagewidth">
	<div id="header-content">  
		<div id="logo-box">
			<?php e($html->link($html->image('media/logo.png',array('alt'=>'Mentor Guild')),array('controller'=>'fronts','action'=>'index'),array('escape'=>false))); ?>
		</div>					
		<div id="inner-nav-box">
		
			<?php
			if($this->Session->read('Auth.User.id') !='' && $this->Session->read('Auth.User.id') !=1){?>
				<?php				
				if($this->params['action'] !='index'){?>
					<div id="nav-search">
						<form action="" id="searchform" method="get" role="search">
							<input type="text" onfocus="if (this.value == 'Search')
							{this.value = '';}" onblur="if (this.value == '')
							{this.value = 'Search';}" id="s" name="s" value="Search">
							<a href="#" id="sbt"><input type="submit" value="" id="searchsubmit"></a>
						</form>
					</div>			
					<?php
				}?>				
				<div id="inner-nav-list" >
					<?php 					
					if($this->Session->read('User.image') !=''){
						if($this->Session->read('Auth.User.role_id')==Configure::read('App.Role.Mentor')){
							$image_path = '/img/members/profile_images/'.$this->Session->read('Auth.User.id').'/small/'.$this->Session->read('User.image');
						}else{
							$image_path = '/img/clients/profile_images/'.$this->Session->read('Auth.User.id').'/small/'.$this->Session->read('User.image');
						}						
					}else{
						$image_path = 'media/small_Profile.png';
					}?>				
					<a href="#" class="user">
					<?php e($html->image($image_path,array('alt'=>'black','width'=>30,'height'=>30))); ?>
					</a>
					<ul>
						
							<?php
							if($this->Session->read('Auth.User.access_specifier') =='draft'){								
								e($html->link('My Profile',array('controller'=>'members','action'=>'member_full_profile'),array('alt'=>'full')));		
							}else{
							?>
							<li class="user-profile-list"> <?php	e($html->link('Edit Profile',array('controller'=>'users','action'=>'edit_account'),array('alt'=>'edit_account')));  ?> </li>
							<li class="user-profile-list"> <?php	e($html->link('View Profile',array('controller'=>'users','action'=>'my_account'),array('alt'=>'my_account')));?> </li>  
						<?php	}?>								
						
						<li><a herf="#">Account Settngs</a></li>
						<li>
						<?php e($html->link('Sign Out',array('controller'=>'users','action'=>'logout'),array('alt'=>'Sign Out'))); ?>
						</li>
					</ul>
				</div>
				<?php
			}elseif($this->Session->read('Auth.User.id') ==1){?>
				<div id="nav-box">
					<ul>			
						<li>
							<?php e($html->link('Admin Sign Out',array('controller'=>'users','action'=>'logout'),array('alt'=>'Sign Out'))); ?>
						</li>
					</ul>
				</div>						
				<?php			
			}else{?>
				<div id="nav-box">
					<ul>
						<li><?php e($html->link('Login','javascript:loginpopup();',array('alt'=>'login','class'=>'login'))); ?></li>
						<li><?php e($html->link('Register','javascript:register_popup();',array('alt'=>'Registration','class'=>'registeration'))); ?></li>
					</ul>
				</div>			
				<?php						
			}?>
		</div>		
	</div>
</div>			
<!--This Java Script is used only Autocomplte Searching Product name start-->
  <script type="text/javascript">
	  ////file:app/webroot/js/application.js
	 var URL = '<?php e(SITE_URL); ?>/fronts/search';
	jQuery(document).ready(function(){
	// Caching the movieName textbox:
	var username = jQuery('#username');

	// Using jQuery UI's autocomplete widget:
	username.autocomplete({
	minLength    : 1,
	source        : URL
	});

	});

	// A custom jQuery method for placeholder text:

	jQuery.fn.defaultText = function(value){

	var element = this.eq(0);
	element.data('defaultText',value);

	element.focus(function(){
	if(element.val() == value){
	element.val('').removeClass('defaultText');
	}
	}).blur(function(){
	if(element.val() == '' || element.val() == value){
		element.addClass('defaultText').val(value);
	}
	});

	return element.blur();
	}
</script>
<style>
/** //file:app/webroot/css/autocomplete.css **/
/** search container **/
.users{
	width:640px;
	margin:0 auto;
	max-height:180px;
	overflow:auto;
}
#content p{
	width:300px;
	margin:0 auto;
	text-align:center;
	max-height:180px;
	overflow:auto;
}
#username{
	border:1px solid silver;
	padding:3px 10px;
	clear:none;
	width:400px;
	max-height:180px;
	overflow:auto;
}
.input{
	clear:none;
	float:left;
}
.submit{
	clear:none;
	float:right;
	padding:20px 0;
}
/* Styling the markup generated by the autocomplete jQuery UI widget */

ul.ui-autocomplete{
	width:200px;
	background-color:white;
	border:1px solid gray;
	margin-left:3px;
	margin-top:-4px;
	font-family:Helvetica, Arial,sans-serif;max-height:180px;
	overflow:auto;
}
ul.ui-autocomplete li{
	list-style:none;
	border-top:1px solid white;
	border-left:1px solid white;
	margin:0;
	max-height:180px;
	overflow:auto;
}
ul.ui-autocomplete li:first-child{
	border-top:none;
}
ul.ui-autocomplete li:last-child{
	border-bottom:none;
}
ul.ui-autocomplete li a{
	border:none !important;
	text-decoration:none !important;
	padding:2px;
	display:block;
	color:black;
}
ul.ui-autocomplete li img{
	margin-right:4px;
}
ul.ui-autocomplete li span{
}
#ui-active-menuitem{
	background-color:#efefef;
	cursor:pointer;
}
</style>