<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth">
       <div id="content-submit">           
			<?php echo $this->data['StaticPage']['description'];?>
			<div id ="app-button" style="margin-bottom: 80px;">	
					
				<input type="button" value="Send Invitation" onclick='javascript:invitation_popup();'>
				<?php  e($html->link('Cancel',array('controller'=>'users','action'=>'my_account'),array('class'=>'backRes'))); ?>
				
			</div>
	  </div>
     </div>
</div>