
<div id="inner-content-wrapper">
    <div id="inner-content-box" class="pagewidth" style="margin-bottom:50px;">
 	    <div id="user-account">
	      <div class="account-form">	    
		  	<div class="onbanner">
		          <h1>                 
		            <div style="position: absolute;width: 100%;text-align: center;margin: auto;padding: 10px;"><span style="text-decoration: underline;">PR & Media Opportunities For Members</span></div></h1>

	
			</div>

                   </br></br>
          
                  <span style="font-family:'proximanova semibold',Ubuntu;font-weight: normal;font-size: 18px;">Press Release  (<a href="<?php echo Configure::read('presssample');?>" target="_blank" style="font-family: Ubuntu, arial, vardana;font-weight: normal;font-size: 14px;">View sample</a>)</span><br/><br/>
                 <span style="font-family: Ubuntu, arial, vardana;font-weight: normal;font-size: 16px;">Want to send a Press Release? Send an email to <a href="mailto:pr@mentorsguild.com">pr@mentorsguild.com</a>.</span>
                 </br></br> </br>
                <h3><span style="text-decoration: underline;">Media Opportunities</span> (<a href="<?php echo Configure::read('recentsuccess');?>" target="_blank" style="font-family: Ubuntu, arial, vardana;font-weight: normal;font-size: 14px;">Recent success</a>)</h3> <br/> </br> 
          <?php 
                     $currentTime = strtotime("now");
                     $count =0;
                     foreach($mediaupdates as $value){
                      if(strtotime($value['MediaRecords']['deadline']) >= $currentTime){
                          $count++;
                          $total = $count;
                          }
                         }
                	foreach($mediaupdates as $value)

				if(strtotime($value['MediaRecords']['deadline']) >= $currentTime){		   

					?>  
                                      <div id="querybox<?php e($value['MediaRecords']['id']);?>">
                                       </br>
                                       <table style="border: 2px solid #bcbcbc;border-collapse: collapse;width:100%;">

                                 <tr>

                                 <td width="15%"  align="left" valign="middle"  style="padding-left:9px;font-weight:bold;height:25px; border: 1px solid #E6E6E6;">Deadline</td>
                                 <td width="60%"style="border: 1px solid #E6E6E6;"><?php $date = explode(' ',$value['MediaRecords']['deadline']); 
                                    e($date[0]);?></td>
                                 <?php if($this->Session->read('Auth.User.role_id') == '2') {

                                   ?>
                                 <td rowspan="6" width="25%" valign="middle" align="center"><input id="applyNext" class="mgButton" style="width: 130px;" type="Button" value="Respond" onClick='javascript:open_form(<?php e($value['MediaRecords']['id']);?>, <?php e($total);?>);'></td>
                                 <?php }else{

                                 ?>
                                 <td rowspan="6" width="25%" valign="middle" align="center"><input id="applyNext" class="mgButton" style="width: 130px;" type="Button" value="Respond" onclick='javascript:loginpopup();'></td>
                                 <?php }?>

                                 
                                 </tr>
                                  
                                  <tr>
                                 <td width="15%" align="left" valign="middle"  style="padding-left:9px;font-weight:bold;height:25px; border: 1px solid #E6E6E6;">Media outlet</td>
                                 <td width="60%" style="border: 1px solid #E6E6E6;"><?php e($value['MediaRecords']['media_outlet']);?></td>
                                 </tr>
                                 <tr>
                                 <td width="15%" align="left" valign="middle"  style="padding-left:9px;font-weight:bold;height:25px; border: 1px solid #E6E6E6;">Category</td>
                                 <td width="60%"style="border: 1px solid #E6E6E6;"><?php e($value['MediaRecords']['category']);?></td>
                                 </tr>
                                 <tr>
                                 <td width="15%" align="left" valign="middle"  style="padding-left:9px;font-weight:bold;height:25px; border: 1px solid #E6E6E6;">Subject</td>
                                 <td width="60%"style="border: 1px solid #E6E6E6;"><?php { 
                                                                           $subject = str_replace('  ', '&nbsp;&nbsp;',$value['MediaRecords']['subject']); 
											echo $this->General->make_links(nl2br($subject));}?></td>
                                 </tr>
                                 <tr>
                                 <td width="15%" align="left" valign="middle"  style="padding-left:9px;font-weight:bold;height:100px; border: 1px solid #E6E6E6;">Reporter query</td>
                                 <td width="60%"style="border: 1px solid #E6E6E6;"><?php { 
                                                                           $reporter_query = str_replace('  ', '&nbsp;&nbsp;',$value['MediaRecords']['reporter_query']); 
											echo $this->General->make_links(nl2br($reporter_query));}?>
                                 </td>
                                           
                                 </tr>

                                 <tr>
                                 <td width="15%" align="left" valign="middle"  style="padding-left:9px;font-weight:bold;height:40px; border: 1px solid #E6E6E6;">Requirement</td>
                                 <td width="60%"style="border: 1px solid #E6E6E6;"><?php {
                                                      $requirement = str_replace('  ', '&nbsp;&nbsp;', $value['MediaRecords']['requirement']); 
							     echo $this->General->make_links(nl2br($requirement));}?></td> 
                                                          
                                 
                                 </tr>
                            


                         </table>

                     
<br/><br/>

                          <div  style="display:none;" class ="answerBox" id ="ab<?php e($value['MediaRecords']['id']);?>">
        			<div class="clear"></div>
        				<div class="subheading supreFREE" id="box<?php e($value['MediaRecords']['id']);?>">
          					<h2>Your response</h2>
        				</div>
        			<div class="clear"></div>

        			<form  id ="Addform<?php e($value['MediaRecords']['id']);?>" name="Submitform"  method="post" action="<?php echo SITE_URL;?>fronts/media_response" >

        			<div  id="questionContextDiv">
	        			<div class="expertise">
							
							<div class="inputRELATIVE">
		                        <p>
                                         <input type="hidden" id="queryId"  name="data[QueryId]" value="<?php e($value['MediaRecords']['id']);?>">
                                         <textarea id="questionContextBox<?php e($value['MediaRecords']['id']);?>" class="forminput" name="data[EmailBody]" style="width:702px; padding:10px; height:165px;" ></textarea> 
                        	        <div class="showHINT" style="height: 190px;">
                        		     <span></span><!--for left arrow show on hover-->
                        		<p style="text-align: left; margin-top: 10px;">
									1. Respond only if you have relevant expertise.<br/><br/>
									2. Be quick to respond.<br/><br/>
									3. Answer to-the-point, with ready-to-use quotes.<br/><br/>
                                                               4. Avoid generalizations.
                        		</p>
                    		</div>                                        
		                        </p>
	                    	</div> 
	                    </div>
	                    <div id="apply<?php e($value['MediaRecords']['id']);?>" style="float: right;margin-right: 237px;" role="Apply">
							<a style="float: left; margin-top: 13px;margin-right: 10px;" href="javascript: void(0)" id="cancelLink" onClick="on_cancel(<?php e($value['MediaRecords']['id']);?>);">Cancel</a>
							<input id="sendEmail" type="submit" value="Submit"  class="submitProfile" style="padding:7px;  float:right;" onClick="return on_can(<?php e($value['MediaRecords']['id']);?>);">
						</div>
					</div>
        			</form>   
      			</div>

<br/><br/><br/><br/>
</div>
                <?php }?>




</div>
</div>
</div>
</div>


<?php e($html->css(array('plans'))); ?>
<script type="text/javascript">



function open_form(newId, total)
  {

   var box = document.getElementById("ab"+newId);
    if(box.style.display=="block")
    document.getElementById("ab"+newId).style.display="none";
        
    else{
   for(var count = 0; count < total; count++){
   document.getElementsByClassName("answerBox")[count].style.display="none";
   


   }

    document.getElementById("ab"+newId).style.display="block";
    document.getElementById("querybox"+newId).scrollIntoView();

   }
}

function on_can(Id)
  {

    	var flag = 0;

    	      if(jQuery.trim(jQuery('#questionContextBox'+Id).val()) == '') {
			jQuery('#questionContextBox'+Id).css('border-color','#F00');
			jQuery('#questionContextBox'+Id).focus();
			flag++;
		} else {
			jQuery('#questionContextBox'+Id).css('border-color',''); 
		}

		if(flag > 0) {
			return false;
		} else {
                       document.getElementById("apply"+Id).style.display="none";
			  jQuery('#Addform'+Id).submit();
                     
			  return true;
		}

   
}

function on_cancel(cancelId)
  {

    document.getElementById("ab"+cancelId).style.display="none";
    return false;
   
}





</script>

<style>
.showHINT{display:none;width:190px;height:190px;background-color:#434343;color:white!important;padding-left:20px;padding-right:10px;top:-2px;left:735px;}
.showHINT span{border-top:15px solid transparent;border-bottom:15px solid transparent;border-right:20px solid #434343;height:0;left:-18px;position:absolute;top:28px;width:0;z-index:9999;}
</style>
















