


	<div  style="background-image: none; padding-left:30px;padding-right:30px;">

				
		<p style="font-size:large;padding-top:68px;">
                             <span style="padding-left:150px; font-weight:bold;">Response sent!</span></br></br>
				 Regular members can reply to 1 media query per day.</p>
                 <p style="font-size:large;">To respond to unlimited media queries, please <a href="<?php e(SITE_URL)?>members/premium_membership">upgrade to Premium Membership</a>.
		</p>
                                    


					
	</div>
			
	<div class="tclose"></div>
	


