.tbox{position:absolute;display:none;padding:14px 17px;padding-top:43px;z-index:900}
.tinner{padding:15px;-moz-border-radius:5px;border-radius:5px;background:#eee url(images/preload.gif) no-repeat 50% 50%;border-right:1px solid #333;border-bottom:1px solid #333}
.tmask{position:absolute;display:none;top:0px;left:0px;height:100%;width:100%;background:#000;z-index:800}
.tclose{position:absolute;margin-top:30px;top:0px;right:0px;width:30px;height:30px;cursor:pointer;background:url(images/close.png) no-repeat}
.tclose:hover{background-position:0 -30px}
#error{background:#ff6969;color:#fff;text-shadow:1px 1px #cf5454;border-right:1px solid #000;border-bottom:1px solid #000;padding:0}
#error .tcontent{padding:10px 14px 11px;border:1px solid #ffb8b8;-moz-border-radius:5px;border-radius:5px}
#success{background:#2ea125;color:#fff;text-shadow:1px 1px #1b6116;border-right:1px solid #000;border-bottom:1px solid #000;padding:10;-moz-border-radius:0;border-radius:0}
#bluemask{background:#4195aa}
#frameless{padding:0}
#frameless .tclose{left:6px}